[2022-07-15 15:40] ntm opened #1220 "missing CHECKSUMS for indexed_vep_cache/ release 107"
Hello,
updating to VEP 107, I see the same issue previously reported and fixed for v106 (#1163):
please generate and add a CHECKSUMS file in ftp.ensembl.org/pub/release-107/variation/indexed_vep_cache/
Thanks!

[2022-07-18 08:46] #1220 closed, assigned to olaaustine

[2022-07-18 15:50] Addy81 opened #1222 "No HGVS for Structural Variants"
Hello,

I was running VEP (v105) on some CNV data and was wondering if it is meant to output HGVS notation for the CNVs or  not?

The fields are empty so making sure I haven't run it wrongly or missing anything.

My command:
[code]
Example output I get:

[code]

Any input would be greatly appreciated.

Many thanks,

Adriana :)

[2022-07-18 16:41] unitsmanolis opened #1223 "conda installation - install older version and not the current"
## Describe the issue
Hi, when I try to install VEP using conda

conda install -c bioconda ensembl-vep

it came out

Versions:
  ensembl              : 105.f357e33
  ensembl-funcgen      : 105.660df8f
  ensembl-io           : 105.2a0a40c
  ensembl-variation    : 105.ac8178e
  ensembl-vep          : 105.0

How can I install VEP with conda?

[2022-07-19 07:59] nakib103 commented on #1223
Hello @unitsmanolis ,

Unfortunately, I could not understand the query properly.

Did your conda installation failed? What is the exact error message that you received?

Please provide me with some more details.

Best regards,
Nakib

[2022-07-19 08:22] nakib103 commented on #1222
Hello @Addy81 ,

Thank you for your query. There should be support for CNVs albeit limited.

Can you share me your input file so that I can check further.

Best regards,
Nakib

[2022-07-19 08:27] unitsmanolis commented on #1223
Hi @nakib103

everything fixed. In the conda site says that with the command

`conda install -c bioconda ensembl-vep`

should install vep-107 but it was installing the v105 ... I tried to specify the version like

`conda install -c bioconda ensembl-vep=107`

but it gives me dependencies problems.

I solved it adding in the code also the build version.

Thanks for you time.
"unitsmanolis"

[2022-07-19 08:27] #1223 closed

[2022-07-19 08:35] nuno-agostinho commented on #603
Hey @daniel-hui, good morning! Are you still having these issues?

[2022-07-19 08:51] olaaustine commented on #1218
Hi @SowmyaPulapet,
Thank you for sharing the files, I am unable to see any results in the HTML file as you stated. There is no VCF file attached, please can you send that and the command used to see if I can recreate the issue.
Also using the input VCF example you shared earlier and the new gff file and the FASTA file, i tried to recreate the issue and I can not as I can see my output in the html

[2022-07-19 08:59] nakib103 commented on #1222
Hi @Addy81

Thank you for your query. We don't actually support HGVS for SV currently.

Hope that answers your query.

Best regards,
Nakib

[2022-07-19 09:12] Addy81 commented on #1222
Thanks for the response @nakib103 !

Is it in your roadmap to support them in the future?

Many thanks,
Adriana :)

[2022-07-19 10:04] nakib103 commented on #1222
Yes, we do have plan to support them in the future. I cannot comment on the exact timeline right now, but we will let you know once the feature is available.

Best regards,
Nakib

[2022-07-19 10:53] SowmyaPulapet commented on #1218
Hi @olaaustine
   Thank you for your follow up!  I am sharing the command and some lines of the vcf file here.

`./vep -i ../variant_calling/var.vcf --gff Osativa_323_v7.0.gene_exons.gff3.gz --fasta Osativa_323_v7.0.transcript.fa.gz --output_file var_anno.txt --stats_file var_summary.html --synonyms chr_synonyms.txt`

[code]

[2022-07-19 16:05] olaaustine commented on #1218
Hi @SowmyaPulapet,
Thank you for sharing the data. I was not able to recreate the issue but i suggest that you run without the --stats_file option. VEP by default writes [statistics information](https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#output:~:text=polyphen_prediction%2C%20polyphen_score-,Statistics,-VEP%20writes%20an) to an output.
Let us know if that resolves the issue.
Than

[2022-07-20 03:58] SowmyaPulapet commented on #1218
Hi @olaaustine
I  had used the --stats_file option before and I have got the results perfectly. I just wanted to name the statistics file corresponding to the sample.
However, if you are not facing any error could you please share the commands used?

Thanks in advance!

[2022-07-20 07:43] olaaustine commented on #1218
Hi @SowmyaPulapet,
This was the command used
`./vep --input_file x.vcf --fasta Osativa_323_v7.0.transcript.fa.gz --gff Osativa_323_v7.0.gene_exons.gff3.gz --output_file var_anno.vep --synonyms chr_synonyms.txt --force_overwrite`
Thank you
Ola.

[2022-07-20 14:35] olaaustine commented on #1212
Hi @scthree,
I am going to close this ticket now.
Please feel free to open another if you have another query.
Thank you
Ola

[2022-07-20 14:35] #1212 closed

[2022-07-20 14:37] olaaustine commented on #1210
Hi @Navin-techi,
I am going to close this ticket now.
Please feel free to open another ticket if you have any query.
Thank you.
Ola

[2022-07-20 14:37] #1210 closed

[2022-07-21 08:30] asmlgkj opened #1224 "a plugin for cosmic"
cosmic has a file called CosmicMutantExport.tsv.  it has many columns that not exists in the vcf supplied by cosmic

Gene name       Accession Number        Gene CDS length HGNC ID Sample name     ID_sample       ID_tumour       Primary site    Site subtype 1  Site subtype 2  Site subtype 3  Primary histology
       Histology subtype 1     Histology subtype 2     Histology subtype 3     Genome-wid

[2022-07-21 23:00] apregier opened #1225 "HGNC id missing in some variant contexts"
## Describe the issue
Using the --symbol option the hgnc_id is sometimes filled in and sometimes not for certain transcripts in certain variants, depending on what variants come before.  I am able to replicate this on the web version as well

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 1

[2022-07-22 06:56] asmlgkj commented on #1224
thanks a lot, because the information of cosmic vcf is too brief, most information recorded in the tsv file

[2022-07-22 08:40] nakib103 commented on #1224
Hello @asmlgkj,

Thanks for your query and bringing our attention to this. We are looking into this and plan to talk to COSMIC team about possible implementation.

We will let you know if there is any updates.

Best regards,
Nakib

[2022-07-22 13:13] chrisAta opened #1226 "Releases 53 and 54 of Ensembl Genomes Bacterial Cache Files Giving Error 403"
Hello,

I am trying to run the VEP on a set of bacterial VCF files. I attempted to manually download the cache for my species of interest (_Bacillus subtilis 168_ ) using the instructions found [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache).  However, when clicking on the FTP directory for [Bacteria](http://ftp.ebi.ac.uk/ensemblgenomes/pub/bacteria/current/variatio

[2022-07-22 15:23] nakib103 commented on #1226
Hi @chrisAta,

There was an issue with the download links which is fixed now. Can you try and see if the download works now.

Best regards,
Nakib

[2022-07-22 15:33] chrisAta commented on #1226
Hello @nakib103! I've just tried it and it's sorted now, thanks for the quick fix!

[2022-07-22 15:33] #1226 closed

[2022-07-25 13:52] #1074 closed

[2022-07-25 16:45] nuno-agostinho commented on #1225
Hey @apregier, thanks for reporting this issue!

I am not really sure why this is giving inconsistent results, but I am going to look into this.

King regards,
Nuno

[2022-07-26 08:40] nuno-agostinho commented on #868
Hi @fbemm, thanks for your suggestion. Starting from release 108, `transcript_biotype` will be supported in GFF3 files!

Have a lovely day!

Cheers,
Nuno

[2022-07-26 08:40] #868 closed

[2022-07-28 09:03] cksruthi commented on #603
Hi. I am getting a similar error while running VEP.

MSG: Cannot connect to the Ensembl MySQL server at ensembldb.ensembl.org:3306; check your settings & DBI error message: Can't connect to MySQL server on 'ensembldb.ensembl.org:3306' (110)
STACK Bio::EnsEMBL::Registry::load_registry_from_db /home/sruthi/Softwares/ensembl-vep-release-105/Bio/EnsEMBL/Registry.pm:1771
STACK Bio::EnsEMBL::VEP::BaseVE

[2022-07-28 10:10] nuno-agostinho commented on #603
Hey @cksruthi!

Due to maintenance work, the Ensembl services were temporarily unavailable for some time during Tuesday and Wednesday: https://www.ensembl.info/2022/07/20/disruption-to-ensembl-services-4/

Unfortunately, the Ensembl database is still down and we are working to fix it as soon as possible. I am sorry for the inconvenience.

Kind regards,
Nuno

[2022-07-28 10:33] cksruthi commented on #603
@nuno-agostinho Thank you very much for the quick response.

[2022-07-28 14:19] aminhaghparast commented on #935
Hi. I tried with this command :
export PERL5LIB=${PERL5LIB}:/home/mferreira/programs/ensembl-vep/ && perl -e 'use Bio::DB::HTS::Tabix'
and received this one
Can't locate Bio/DB/HTS/Tabix.pm in @INC (you may need to install the Bio::DB::HTS::Tabix module) (@INC contains: /home/main/perl5/lib/perl5/5.34.0/x86_64-linux-gnu-thread-multi /home/main/perl5/lib/perl5/5.34.0 /home/main/perl5/lib/perl5/x86_

[2022-07-28 18:08] marianakhoul opened #1227 "MSG: Can not find internal name for species 'homo_sapiens'"
## Describe the issue
Hello! I installed a local instance of the VEP database on my server. I am passing secure data which is why I can't use the public Ensembl API. I want to pass the hgvs annotation and return a VCF File for the data with the reference and alternate alleles, chromosome and position. I want to pass the RefSeq transcript ID and the CDS Change to get this information as the public

[2022-07-29 10:21] nuno-agostinho commented on #1225
Hey @apregier! Sorry for the delay.

After checking your results, it seems that SDHD is a gene symbol that matches two different gene identifiers in GRCh37:
- [ENSG00000204370](https://grch37.ensembl.org/Homo_sapiens/Gene/Matches?g=ENSG00000204370) with HGNC [10683](https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/10683)
- [ENSG00000255292](https://grch37.ensembl.org/Homo_sapiens/Gene/

[2022-07-29 11:15] nuno-agostinho commented on #935
Hey @aminhaghparast,

Can you confirm in which folder you have VEP installed? Please export that folder with a command similar to `export PERL5LIB=${PERL5LIB}:/path/to/ensembl-vep/ && perl -e 'use Bio::DB::HTS::Tabix'`.

You can also try running our [VEP Docker image](https://hub.docker.com/r/ensemblorg/ensembl-vep) instead, if you prefer.

Best regards,
Nuno

[2022-07-29 13:20] nuno-agostinho commented on #1227
Hey @marianakhoul, thanks for opening this issue.

Reading the documentation on that page, it seems that it doesn't mention the variation database. Have you installed `homo_sapiens_variation_99_37`? This database is required for VEP to run.

Kind regards,
Nuno

[2022-07-29 13:28] nuno-agostinho commented on #1227
Hey @marianakhoul,

I just want to add that you can also run VEP in offline mode with cache. You can read instructions at https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache.

This solution should be easier to use, but tell me if it's not appropriate.

Best,
Nuno

[2022-07-29 14:14] nuno-agostinho commented on #1022
Hey @junhuixiao,

Have you been able to run the gnomAD plugin? Do you need help?

Best regards,
Nuno

[2022-08-01 10:42] mmccorkindale opened #1229 "UTRannotator Plugin Issue"
### Describe the issue
Hi,

I've recently updated to release 107 in an attempt to fix an issue I was having with the UTRannotator plugin. It might be fairly basic, but I have double checked and I'm still getting the same warning.

Basically, it's telling me there is "No such file or directory" for the UTRannotator.pm Plugin, but I have listed the contents of the Plugins directory immediately prior

[2022-08-01 11:30] #1229 closed

[2022-08-01 11:32] diegomscoelho commented on #1229
Glad to hear @mmccorkindale,

Anything else related to `UTRannotator` feel free to reopen this issue or open a new one.

Best, @diegomscoelho

[2022-08-02 04:10] dhruti89 commented on #603
@nuno-agostinho Is the Ensembl database still down? I am still getting this error.

[2022-08-02 08:24] nuno-agostinho commented on #603
Hey @dhruti89!

Unfortunately, the Ensembl database is still down and we are investigating this issue.

In the meanwhile, please try setting VEP `--host` argument to connect to the Ensembl database mirrors from USA (`useastdb.ensembl.org`) or Asia (`asiadb.ensembl.org`): http://www.ensembl.org/info/data/mysql.html

We are trying to get the Ensembl database back online soon. Sorry for the inconveni

[2022-08-02 13:20] dhruti89 commented on #603
Thanks @nuno-agostinho for the quick revert and the workaround

[2022-08-02 15:09] cmccabe0728 opened #1233 "gene annotation discrepancy between two annotators with same in variant position"
In the below the same variant is annotated by vep (line 1) and another (line2) and the results are different. The same gene and transcript is being  used in both, but protein, c., and consequence seem to be different. Thank you :).

    vep --cache --dir_cache path/to/ --cache_version 106 --refseq --offline --fasta path/to --hgvs --symbol -i ${vcf_file} --vcf -o vep.vcf --force_overwrite --exclude

[2022-08-02 15:12] likhitha-surapaneni commented on #1211
Hi @fedkon ,

Thank you for your patience. We resolved this bug in release 108.

I am closing this issue for now. Please feel free to open a new issue if you have any other queries.

Kind regards,
Likhitha

[2022-08-02 15:12] #1211 closed

[2022-08-02 15:16] likhitha-surapaneni commented on #464
Hi @josephhalstead ,

Thank you for your patience. We put in a fix to handle the annotation of mitochondria RefSeq transcripts and it is available in release 108.

Please feel free to open a new issue if you have any further queries.

Kind regards,
Likhitha

[2022-08-02 15:16] #464 closed

[2022-08-02 15:17] likhitha-surapaneni commented on #1208
Hi @asmlgkj ,

I am going to close this issue for now. Please feel free to open a new issue if you have any other questions.

Kind regards,
Likhitha

[2022-08-02 15:17] #1208 closed

[2022-08-02 15:22] #1073 closed

[2022-08-03 07:18] diegomscoelho commented on #1233
Hi @cmccabe0728,

I didn't understand what you mean by "another (line 2)" (is this a totally different annotator?) and what is your question?
Can you post here:
1) VEP version are you using;
2) If you used VEP in both cases, vep command-line in both cases;
3) Your input example;

Best, Diego

[2022-08-03 22:47] asmlgkj commented on #1224
@nakib103   thanks  a lot

[2022-08-04 07:46] diegomscoelho commented on #1213
Hi @dennishendriksen,

Closing this issue now. Any other question related to this, feel free to reopen this issue or open a new one.

Thanks @jethror1 for your help too.

Regards, @diegomscoelho

[2022-08-04 07:51] diegomscoelho commented on #1001
Closing this issue now since it was fixed in PR (https://github.com/Ensembl/ensembl-vep/pull/1170).

Thanks @michaeljon for your help in this issue.

Best, @diegomscoelho

[2022-08-04 07:51] #1001 closed

[2022-08-04 08:12] diegomscoelho commented on #912
Hi @antonkulaga,

Closing this issue now since we don't have access anymore to logs and inputs. If you have this problem again, please feel free to reopen this issue.

Regards, @diegomscoelho

[2022-08-04 08:12] #912 closed

[2022-08-04 08:18] diegomscoelho commented on #618
Hi @DarioS,

Data from gnomAD 3 was added recently to VEP GRCh38 cache in release 107.
Closing this issue now, but feel free to reopen this or open a new one if you have any question.

Regards, @diegomscoelho

[2022-08-04 08:18] #618 closed

[2022-08-04 15:07] fridells51 commented on #603
@nuno-agostinho Are the database connectivity issues still persisting? Same VEP command was working yesterday, and today it's not. I've tried every available configuration of hosts and ports in the page you linked 2 days ago.

[2022-08-04 15:14] nuno-agostinho commented on #603
Hey @fridells51,

I'm sorry to hear that. All Ensembl servers should be working now. You can test the connection to our database with the following MySQL command:

[code]

What is the VEP output that you are getting?

Thanks,
Nuno

[2022-08-04 15:59] marianakhoul commented on #1227
HI @nuno-agostinho,

I am having some issues loading the homo_sapiens_variantion_99_37 db. Working with our DevOps team to resolve the space issue and hopefully get back to you about if loading it worked.

As for the cache files, I tried that previously before setting up a local instance of the DB. When the input file is in hgvs format, we can't use cache files or run ver in offline mode. Is there

[2022-08-04 18:30] fridells51 commented on #603
Hi Nuno,

Thanks for the reply. This is the command I'm running (vep installed in an active conda environment) `vep -i results/annotated/all.vcf.gz --plugin GO,MF,BP  --database  --fasta references/GRCh38.fa.gz`

And this is the output

[code]

[2022-08-05 08:48] likhitha-surapaneni commented on #1217
Hi @dariober ,

Hope you are doing well!

Support for "protein_coding_gene" will be available in release 108. I hope this resolves the issue. Please feel free to open a new ticket if you have any other questions.

Kind regards,
Likhitha

[2022-08-05 08:48] #1217 closed

[2022-08-05 09:35] nuno-agostinho commented on #603
Hi @fridells51,

In your case, I would suggest to check if you have all the dependencies you need to run VEP installed when running the job in HPC.

If your HPC supports running Singularity/Docker containers, you can also use [the official VEP image](https://hub.docker.com/r/ensemblorg/ensembl-vep) that comes with all the dependencies already set up.

Feel free to reach me if you need help from ou

[2022-08-05 09:41] nuno-agostinho commented on #1227
Hey @marianakhoul,

All right, I hope that you can make it work soon!

No, VEP 107 and earlier still cannot accept HGVS in offline mode (we do have plans to change this in the future, but we didn't start working on this yet). In the meantime, you can convert the HGVS symbols using [the online version of Variant Recoder](https://www.ensembl.org/Homo_sapiens/Tools/VR) and output a VCF that you can t

[2022-08-05 10:30] dariober commented on #1217
@likhitha-surapaneni thanks for taking care of this!

Will release 108 only add "protein_coding_gene" or will it include other sequence ontology terms? Ideally, it would be good to support the official sequence ontology tree, including for example the children of "protein_coding_gene", "ncRNA", etc. although I guess that would be quite a feat.

For example, these are the types from one of the GFF

[2022-08-05 16:16] nuno-agostinho commented on #1227
Hey @marianakhoul,

Just to rectify something I said before, you **do not** need to locally install the variation database just to get VEP to use HGVS annotation (as it is a really big database, this may be impractical).

You can instead locally install the `core` and `otherfeatures` databases (`otherfeatures` contains RefSeq information required for your specific case) and VEP can convert HGVS on

[2022-08-05 17:52] marianakhoul commented on #1227
Hi @nuno-agostinho,

thanks for letting me know! I downloaded other features and loaded the DB. I am still getting the same error. This is the command I am using:

./vep -i input.txt -o output.txt  --database  --host XXX.XX.XXX.XXX  --port 3306 -u root --password XXXX --hgvs --fasta /apps/Homo_sapiens_assembly19.fasta --dir /apps/vep --dir_cache /apps/vep --force_overwrite --refseq

thank you,
Mar

[2022-08-06 00:33] aprilydj opened #1237 "Cannot run vep after installation"
Hello,

trying to use VEP for the first time and followed the instruction for mac Ox here: https://uswest.ensembl.org/info/docs/tools/vep/script/vep_download.html

Everything went smoothly then when i tried to run the program, error happened:

`xxx:ensembl-vep ayan$ ./vep --help
Can't locate LWP/Simple.pm in @INC (you may need to install the LWP::Simple module) (@INC contains: /Users/ayan/ensembl-

[2022-08-06 02:50] aprilydj commented on #1237
Found a way to fix that:

Execute the following from the command line:
perl -MLWP::Simple -e 1
If you don't get any output from the above command then the module is installed; if you get an error, it's not installed

to install use:
perl -MCPAN -e'install "LWP::Simple"'
When perl encounters use My::Module it goes over the elements of the built-in @INC module that contains directory names. In each

[2022-08-06 02:50] #1237 closed

[2022-08-08 09:05] madhuripulijala opened #1238 "Ensembl-VEP Installation Failure"
Hi. I am having trouble installing VEP. Can anyone please guide me? Thank you.
Below is the error message:

madhuri@madhuri-VirtualBox:~/ensembl-vep$ perl INSTALL.pl

Hello! This installer is configured to install v107 of the Ensembl API for use by the VEP.
It will not affect any existing installations of the Ensembl API that you may have.

It will also download and install cache files from Ensemb

[2022-08-08 09:19] likhitha-surapaneni commented on #1238
Hi @madhuripulijala ,

I am sorry to hear that you are facing an issue with VEP installation. From the report provided, it looks like the issue is related to HTSLib.

Could you please try to run the installer again `perl INSTALL.pl` and let me know the output for `perl -e "use Bio::DB::HTS::Tabix"`?

[2022-08-08 09:30] madhuripulijala commented on #1238
Hello @likhitha-surapaneni,

Thanks for your reply. I have followed your instructions
Please find the below error:

madhuri@madhuri-VirtualBox:~/ensembl-vep$ perl INSTALL.pl

Hello! This installer is configured to install v107 of the Ensembl API for use by the VEP.
It will not affect any existing installations of the Ensembl API that you may have.

It will also download and install cache files fro

[2022-08-08 10:13] likhitha-surapaneni commented on #1238
Hi @madhuripulijala ,

Thank you for your patience with debugging this issue.

Could you please check if ensembl-vep folder is included within your PERL5LIB environment `echo $PERL5LIB`. If it is not present, could you add it `export PERL5LIB=${PERL5LIB}:~/ensembl-vep`  and rerun ` perl -e "use Bio::DB::HTS::Tabix"` to see if the output changes?

[2022-08-08 10:23] madhuripulijala commented on #1238
Hi @likhitha-surapaneni,
Thanks for your reply. I tried as you mentioned and installed again but it failed.

Please find below:

madhuri@madhuri-VirtualBox:~/ensembl-vep$ echo $PERL5LIB

madhuri@madhuri-VirtualBox:~/ensembl-vep$ export PERL5LIB=${PERL5LIB}:~/ensembl-vep
madhuri@madhuri-VirtualBox:~/ensembl-vep$ perl -e "use Bio::DB::HTS::Tabix"

madhuri@madhuri-VirtualBox:~/ensembl-vep$ perl INSTA

[2022-08-08 10:54] likhitha-surapaneni commented on #1238
Hi @madhuripulijala ,
Could you please try the following two options to see if it works:

- Remove the htslib directory within ensembl-vep and rerunning the installer and let me know if you see the same error
- Remove the htslib directory within ensembl-vep and rerunning the installer with the --NO_HTSLIB flag and let me know if you see the same error

[2022-08-08 11:10] madhuripulijala commented on #1238
Hi @likhitha-surapaneni ,

Thanks for your reply. I tried both the options suggested by you. However, it is showing the same error as posted previously. The difference is "1test failed" this time instead of 2tests.

I have posted below:
adhuri@xxxxx-VirtualBox:~/ensembl-vep$ perl INSTALL.pl --NO_HTSLIB

Hello! This installer is configured to install v107 of the Ensembl API for use by the VEP.
It w

[2022-08-08 11:40] likhitha-surapaneni commented on #1238
Hi @madhuripulijala ,

Thank you for trying out the above options. It is now trying to look for tabix within HTS as shown in your logs:`MSG: ERROR: Cannot use format gff without Bio::DB::HTS::Tabix module installed`

Could you kindly run `perl -e "use Bio::DB::HTS::Tabix"` once again to check if you see an empty output. If the output is empty, could you now install `htslib` and `Bio::DB::HTS `manu

[2022-08-08 11:42] madhuripulijala commented on #1238
Hi @likhitha-surapaneni ,

Thanks for your reply. I have tried the above option and it is not an empty output.

Please find below:

madhuri@madhuri-VirtualBox:~/ensembl-vep$ perl -e "use Bio::DB::HTS::Tabix"
Can't locate Bio/DB/HTS/Tabix.pm in @INC (you may need to install the Bio::DB::HTS::Tabix module) (@INC contains: /home/madhuri/ensembl-vep /etc/perl /usr/local/lib/x86_64-linux-gnu/perl/5.34.

[2022-08-08 11:51] likhitha-surapaneni commented on #1238
Hi @madhuripulijala ,

This error indicates that it cannot locate tabix within HTS. Could you now try installing `htslib` and `Bio::DB::HTS` manually following the steps in https://www.ensembl.org/info/docs/api/api_installation.html#variation and let me know how it goes?

[2022-08-08 12:23] madhuripulijala commented on #1238
Hi @likhitha-surapaneni ,
Sure. I will try that and let you know. Thanks for your help.

[2022-08-09 10:08] likhitha-surapaneni commented on #1217
Hi @dariober ,

We have plans of supporting the other ontology terms from the official sequence ontology tree in the future releases.

Issuing warnings to notify the user about the ignored records during handling of unsupported types is definitely a useful feature. We will let you know once we have an update on that.

Thank you for your time and patience.

Kind regards,
Likhitha

[2022-08-09 13:43] nakib103 commented on #1201
Hi,

I am closing this issue. If you have further issue regarding this - please feel free to create another ticket.

[2022-08-09 13:43] #1201 closed

[2022-08-09 17:37] cmccabe0728 commented on #1233
Hi @diegomscoelho,

I am using vep106 to with the command above annotate (vcf) and the second line in the above post is from a different annotator.

[vcf.txt](https://github.com/Ensembl/ensembl-vep/files/9293404/vcf.txt)

Thanks.

[2022-08-10 07:47] diegomscoelho commented on #1233
Hi @cmccabe0728,

Although annotators agree in most variants results, it's normal to have different results sometimes due to each software logic.

If you have any other question or a more specific about your results, please feel free to post here.

Best, @diegomscoelho

[2022-08-10 10:18] adithirv opened #1239 "Failed to compile plugin DisGeNET: Cannot locate List/MoreUtils.pm"
## Describe the issue
I am trying to run VEP with DisGeNet as one of the plugins. However, I face the following error:

WARNING: Failed to compile plugin DisGeNET: Can't locate List/MoreUtils.pm in @INC (you may need to install the List::MoreUtils module) (@INC contains: /data/db/wes_dbs/vep_caches/Plugins /data/home/arv/arv/software/Miniconda3/envs/sn
akemake/b58306f6314c2821d3081876462863bf/shar

[2022-08-10 13:30] #1239 closed

[2022-08-11 00:56] a1618617 commented on #1196
Hi,

We also experienced this with a variant in the AR gene:

- g.HGVS: NC_000023.11:g.67546751del
- c.HGVS: NM_000044.6(AR):c.1605del
- p.HGVS: NP_000035.2:p.Tyr535Ter

The deletion of the C results in a stop codon at that exact position, and was still annotated as a frameshift.

[2022-08-11 01:34] davmlaw commented on #1196
Bases go from "UAC" > "UAG" (stop)

However - it depends what you mean by "position" - the transcript position is now a stop but the genomic position got deleted, so perhaps technically according to the definition above it wasn't a stop there?

[2022-08-11 04:56] davmlaw commented on #1196
FYI - for NC_000023.11:g.67546751del - [Annovar](https://wannovar.wglab.org/done/376677/u_5EGvr2PkKcq6Ie/index.html) annotated

Gives: ExonicFunc=stopgain

[2022-08-11 13:11] rsalz opened #1240 "filter_vep compare custom annotation"
I have a vcf annotated with both cache (reference) and custom annotation sources. For variants that are missense in both the cache and the custom annotation source, I would like to see which ones have a different amino acid substitution when using the custom annotation versus those when using the cache. Is there a clean way to do this with filter_vep?

Additional information: I have a string ident

[2022-08-11 13:14] Z-Zen opened #1241 "GeneSplicer Warning"
## Describe the issue
Sometimes, running VEP with the plugin [GeneSplicer](https://github.com/Ensembl/VEP_plugins/blob/release/106/GeneSplicer.pm) will generate the following warning:

[code]

## Additional information

### System
- VEP version: 106
- VEP Cache version: 106
- Perl version: v5.26.1
- OS:  Ubuntu
- tabix installed ? Yes

### Full VEP command line
[code]

### Data files

[ERR194147_S

[2022-08-11 22:16] cmccabe0728 commented on #1233
Below is the vep output for that variant position. T have added numerous plugins to the command above (--plugin Downstream,UTRannotator,NearestExonJB,NearestGene,TSSDistance).... the distance is -109 accordioning to the other annotator, but vep doesn't seem to calculate this with the --distance option and the plugins. Is there something else needed? Thank you.

**vep output**
    |upstream_gene_va

[2022-08-12 13:42] likhitha-surapaneni commented on #1240
Hi @rsalz , thank you for reaching out.

The documentation for filter_vep is available [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_filter.html).

Could you please share an example VCF file and the filter output that you would expect?

Kind regards,
Likhitha

[2022-08-12 16:45] rsalz commented on #1240
The documentation does not cover situations where you want to compare within annotation of a variant.

Here is a toy example with 2 variants including their annotations:

`
1       1787378 224718  C       T       .       .ALLELEID=904889;CLNDISDB=Human_Phenotyp
e_Ontology:HP:0002575,MONDO:MONDO:0008586,MedGen:C0040588,OMIM:189960,Orphanet:ORPHA1199;CLNDN=
Tracheoesophageal_fistula;CLNHGVS=NC_00000

[2022-08-14 13:45] madhuripulijala commented on #1238
Hi @likhitha-surapaneni ,

Manual installation of htslib and Bio::DB::HTS worked well and I was able to install VEP successfully. Thank you for your prompt replies and assistance.

[2022-08-15 06:35] dennishendriksen commented on #1213
@jethror1 thank you for the workaround. It does introduce some clutter and overhead to our workflow. @diegomscoelho Might it be worthwhile to fix the actual issue? My naive thought is that it should be a relatively easy fix and potentially beneficial for other users as well. What do you think? Unfortunately I don't speak Perl, otherwise I would have tried fixing the issue myself.

[2022-08-15 07:48] likhitha-surapaneni commented on #1238
Hi @madhuripulijala ,

Glad that you were able to install VEP successfully. I am closing this ticket for now. Please feel free to open a new ticket if you have any other questions.

Thanks and regards,
Likhitha

[2022-08-15 07:48] #1238 closed

[2022-08-15 14:00] marianakhoul commented on #1227
hi @nuno-agostinho ,

any updates?

[2022-08-15 22:15] cmccabe0728 opened #1242 "vep plugin syntax error"
I am running vep 106 in docker on aws. In the below the --plugin seems to produce an error, but the ec2-user is the default location and cannot be changed. It seems like the - is causing an issue but /-/ doesn't seem to be the escape sequence. Thank you.

    --plugin /home/ec2-user/vep-plugin/UTRannotator

     WARNING: Failed to compile plugin /home/ec2-user/vep-plugin/UTRannotator: Unknown rege

[2022-08-16 08:57] olaaustine commented on #1242
Hi @cmccabe0728,
Thank you for your query.
Please can you share your full CLI command?
Thank you
Ola

[2022-08-16 10:24] jvolanen opened #1243 "--check_ref sometimes reports failed ref in 107"
VEP version 107 complains about failed ref for some variants ( < 4%) although the variants are OK. VEP version 106 does not have this problem. Normally we do not use `--dont_skip` parameter, so the effect in our pipeline is that some variants do not get any annotations.

INPUT
[code]

VEP 107
command line:
`docker run -v /tmp:/tmp  --rm ensemblorg/ensembl-vep:release_107.0 vep  --assembly GRCh38 -

[2022-08-16 12:33] cmccabe0728 commented on #1242
vep does run and annotate the vcf, however the --plugin does not compile because of the error above.

     ./vep --cache --dir_cache /home/ec2-user/vep-resources/ --cache_version 106 --refseq --offline --fasta /home/ec2-
     user/vep-resources/fastq/106_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz \
     --hgvs --symbol -i ${vcf_file} --vcf -o ${sample}_vep_output.vcf --force_overwrite --exclude

[2022-08-17 07:56] olaaustine commented on #1242
Hi @cmccabe0728,
To use multiple plugins, you have to call the --[plugin](http://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#:~:text=Output%20fields-,%2D%2Dplugin,-%5Bplugin%20name%5D) option multiple times.
Let us know if this solves the issue.
Thank you
Ola.

[2022-08-17 08:13] likhitha-surapaneni commented on #1241
Hi @Z-Zen ,

Unfortunately, we are not able to replicate this issue on our end. Could you provide us with any other details regarding when this warning occurs, does it occur every time you try to run GeneSplicer plugin with the input file provided?

Thanks and regards,
Likhitha

[2022-08-17 08:37] Z-Zen commented on #1241
Hi @likhitha-surapaneni

Thank you for trying to replicate the issue.

In our case, we launch vep to annotate multiple samples on our Slurm cluster with 7 slaves. Each sample has its mutations divided by the number of chromosomes. And for GeneSplicer, we have defined `tmpdir` to `/dev/shm` in the RAM to speed up the annotation.

Could it be because different samples are being annotated on the same

[2022-08-17 13:39] olaaustine commented on #1209
Hi @abdeljalil-senhaji,
I am going to close this ticket now.
Please feel free to open another if you have any query.
Thank you
Ola.

[2022-08-17 13:40] #1209 closed

[2022-08-17 13:43] olaaustine commented on #1218
Hi @SowmyaPulapet,
I am going to close this issue now.
Please feel free to open another if you have a query.
Thank you.
Ola.

[2022-08-17 13:43] #1218 closed

[2022-08-17 16:50] cmccabe0728 commented on #1242
I modified the command and all the plugins execute, however the distance is not shown for the upstream and downstream variants. The --distance is set for both as well. Is there something else needed? Below is a specific example that is -107bp:

Thank you.

     chr1	1013466	.	T	TA	9571.03	PASS,PASS	|upstream_gene_variant|MODIFIER|ISG15|9636|Transcript|NM_005101.4|protein_coding|||||||||||30|1||Ent

[2022-08-18 08:02] olaaustine commented on #1243
Hi @jvolanen,
Thank you for bringing this to our notice.
We have fixed this issue. You can pull from our release 107 for the fix applied.
I will close this now, please feel free to reopen or open another ticket it if you have another query.
Thank you.
Ola.

[2022-08-18 08:02] #1243 closed

[2022-08-18 09:34] olaaustine commented on #1242
Hi @cmccabe0728,
The  --distance option see [VEP Output options](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#output) is used to modify how VEP annotates the genes within a 5000bp upstream and downstream of the variant, the distance by default is 5000.
And according to the example just shared, it shows distance as 30 which [is the shortest distance from the variant to the tr

[2022-08-18 09:58] diegomscoelho commented on #1233
Hi there,

I will close this issue since same question was answered in another issue (https://github.com/Ensembl/ensembl-vep/issues/1242). I will update new one with some information.

Regards, @diegomscoelho

[2022-08-18 09:58] #1233 closed

[2022-08-18 21:00] cmccabe0728 commented on #1242
I expected the distance to be -107 so was looking for that.... the transcripts do match, but the distance is different. Thank you.

    chr1:1013466     rs3841266    | T → TAc.-107dup

[2022-08-19 09:21] olaaustine commented on #1242
Hi @cmccabe0728,
Considering you are comparing the results between two annotators, can you confirm the distance used in the other annotator ?
Also from your previous message here in #1233, it shows that two different version of the  NCBI reference sequence was used by VEP and the other  (NM_005101.4 and NM_005101.3).
Thank you
Ola.

[2022-08-19 13:29] cmccabe0728 commented on #1242
-107 is the distance of the other annotator, but it may be the version of the transcript as you mentioned. Thank you.

[2022-08-19 13:39] olaaustine commented on #1242
Hi @cmccabe0728,
I will close this now, feel free to open another or reopen this if you have any more queries.
Thank you
Ola

[2022-08-19 13:39] #1242 closed

[2022-08-19 16:26] TymekPieszko opened #1246 "lzma.h library header(s) not found in /usr/include. Please install it and try again."
## Describe the issue
I'm trying to install VEP locally using `git clone https://github.com/Ensembl/ensembl-vep.git`, then  `perl INSTALL.pl` on a Linux HPC cluster. For all the Perl dependencies, I have the following Conda environment:

[code]

However, running the install script from within the environment only gets me as far as:

[code]
I don't want to add --NO_HTSLIB - and have it installed in

[2022-08-19 16:38] dglemos commented on #1246
Hi,
It seems you are missing the liblzma-dev package. Did you try to install it with the command `sudo apt-get install liblzma-dev`?

[2022-08-19 16:43] TymekPieszko commented on #1246
I don't have sudo priveleges... any way of solving this with conda?

[2022-08-19 17:00] dglemos commented on #1246
We didn't set up the Bioconda package so any specific questions should contact the team responsible for the conda package.

As an alternative, you could also try following this discussion on solving the missing package: https://discussions.apple.com/thread/7895857 however not having the permissions could still be a problem.

[2022-08-26 11:37] muhammadali201 commented on #36
Its been five years since this topic was discussed.
Can any one give latest performance analysis of VEP? what is the runtime on latest processors now?
Secondly,
Has there been any effort on using Heterogeneous machines like GPUs / FPGA?

[2022-08-29 13:51] madhuripulijala opened #1247 "SIFT not available"
Hello,
I recently installed vep and no errors while installation. However, I am facing an error message when I test the vep installation (https://asia.ensembl.org/info/docs/tools/vep/script/vep_tutorial.html).
Please find below the error message:

./vep -i examples/homo_sapiens_GRCh38.vcf --cache --force_overwrite --sift b

-------------------- EXCEPTION --------------------
MSG: ERROR: SIFT not a

[2022-08-29 16:11] sharra44 opened #1248 "Install freezing on cache download following "no tabix in" warnings"
Trying to install, getting following output
ello! This installer is configured to install v107 of the Ensembl API for use by the VEP.
It will not affect any existing installations of the Ensembl API that you may have.

It will also download and install cache files from Ensembl's FTP server.

Checking for installed versions of the Ensembl API...done
It looks like you already have v107 of the API in

[2022-08-29 20:41] daniel-hui commented on #603
Hi @nuno-agostinho,

I tried again today and am still having the same issue. I tried `mysql -h ensembldb.ensembl.org -u anonymous` and it gives the error `ERROR 2003 (HY000): Can't connect to MySQL server on 'ensembldb.ensembl.org' (110)`, I tried setting -h to useastdb.ensembl.org and asiadb.ensembl.org and it still gave the same error. Would you know some other steps to try next? Thanks.

[2022-08-30 00:30] edoyango opened #1249 "VEP107 G2P error: Experimental keys on scalar is now forbidden"
## Describe the issue
I'm installing VEP 107 for a user on our HPC system. They want to use the gnomADc with the G2P plugins. I get a warning about `Experimental keys on scalar is now forbidden` (see error message below). Would really appreciate having a look or any advice.

### System
- VEP version: 107.0
- VEP Cache version: 107
- Perl version: 5.32.1
- OS: CentOS7
- tabix installed
[code]

###

[2022-08-30 06:16] dennishendriksen commented on #1213
@diegomscoelho I don't think I am allowed to reopen the issue. Would you like me to create a new (duplicate) issue to discuss my question?

[2022-08-30 07:57] likhitha-surapaneni commented on #1247
Hi @madhuripulijala ,

Sorry to hear that you're facing an issue while running VEP. Could you please look into `info.txt` file in the installed cache directory and check if you have sift related information in the file?

Kind regards,
Likhitha

[2022-08-30 08:04] nakib103 commented on #1248
Hello @sharra44 ,

Thanks for your query!

Can you let us know more about the system you are using - Which perl version you are using and what is the OS?

Thanks,
Nakib

[2022-08-30 08:16] nakib103 commented on #603
Hello @daniel-hui,

Thanks for your query!

I can see the database is up -
[code]

Were you able to connect to the database before or is it your first time connecting? It might be worthwhile to check if your network is blocking this connection.

Best regards,
Nakib

[2022-08-30 10:35] yangyxt commented on #617
I cant remove that warning message. I installed DBD:mysql via conda and still not detected by VEP. How can I solve this? Thanks!

[2022-08-30 10:36] yangyxt commented on #617
BTW, the version of VEP installed is 107

[2022-08-30 10:37] yangyxt commented on #928
Hi, Thank you for the info here. May I ask whether you would consider offering a VEP running in singularity ?

[2022-08-30 10:42] nakib103 commented on #928
Hello @yangyxt ,

You can already run VEP on singularity. Here is a blogpost on how to do that -
https://www.ensembl.info/2021/05/24/cool-stuff-the-vep-can-do-singularity/

Best regards,
Nakib

[2022-08-30 10:52] nakib103 commented on #617
Hello @yangyxt ,

Can you let us know the exact error you are getting? Assuming, by the marked text that you are having the error -
[code]

Did you check if you have the `Module::Build` installed in your system?

Best regards,
Nakib

[2022-08-30 15:49] madhuripulijala commented on #1247
Hi @likhitha-surapaneni ,
Thank you for your reply. I did look into the "info.txt" file in the cache directory. It does seem to have sift information. Please find below the info

assembly        GRCh38
bam     GCF_000001405.39_GRCh38.p13_knownrefseq_alns.bam
polyphen        b
sift    b
source_assembly GRCh38.p13
source_gencode  GENCODE 41
source_genebuild        2014-07
source_polyphen 2.2.2
sourc

[2022-08-30 20:15] sharra44 commented on #1248
Thanks for the help. OS is Centos7 and the perl version is 5.16.3
Ive gone back through past raised issues and tried some solutions, including manual installation of HTS and confirming my PERL5LIB variable contains the correct locations for my libraries, and removing the htslib folder to have it reinstall. None have had any effect

[2022-08-30 21:20] sharra44 commented on #1248
I have solved this issue which was causing the fail condition - the Test::Warnings module was not installed. However, I am still getting all of the
1/? which: no tabix in (/home/centos/bin:/sbin:/bin:/usr/sbin:/usr/bin)
errors, if anyone can point me in the direction of potentially a missing library or package that would be great

[2022-08-31 07:38] dglemos commented on #1249
Hi @edoyango,
Thanks for bringing this issue to our attention.
We have added a fix to the plugin, can you please try rerunning vep?

[2022-08-31 08:14] nakib103 commented on #1248
It seems to me like it is failing to point to tabix under HTS even though there is not tabix installed in the system -
https://github.com/Ensembl/ensembl-vep/blob/7d247b78eeb0e68321bcd12c9a76e81735e4acba/INSTALL.pl#L1103-L1105

I suggest to try one of the following -
- install tabix in the system so it is available in the path - `/sbin:/bin:/usr/sbin:/usr/bin`
or,
- force use HTS tabix (assuming y

[2022-08-31 09:29] dglemos commented on #1139
Hi @dana-obk,
The plugin has been reviewed and we have fixed the parsing of frameshifts/nonsense variants. The updates will be available in the next release which is scheduled for mid-September.
I'm going to close this issue for now but feel free to re-open it if you have more questions.

Best wishes,
Diana

[2022-08-31 09:29] #1139 closed

[2022-08-31 15:56] JakeHagen opened #1250 "Specific transcripts not in output"
## the issue
When annotating with VEP, it seems that certain classes of transcripts get filtered and the consequences are not considered. For example the variant `chr1 95244265 95244265 T/C` falls in the 3` utr of ENST00000604534 but this consequence is not output.
I have looked at several of these "missing" transcript variants and while it makes sense to exclude them for various reasons, I can't

[2022-08-31 19:24] sharra44 commented on #1248
As an update, the tabix issue has been resolved by adding my tabix location to my PATH. However, the system is still freezing when attempting to download the cache files.

[2022-08-31 20:45] sharra44 commented on #1248
Did a clean installation with the above changes and the installation now functions as expected thank you for the assistance

[2022-08-31 20:45] #1248 closed

[2022-09-01 09:29] diegomscoelho commented on #1250
Hi @JakeHagen,

I was able to reproduce your issue. I will post what I found after investigating a little bit more.

Regards, @diegomscoelho

[2022-09-01 15:14] likhitha-surapaneni commented on #1247
Hi @madhuripulijala , thank you for the details provided.

Could you please check if you are able to run using  `--database` option  instead of `--cache`? If it is working as expected, there may be an issue with the downloaded cache and you may want to re-download it following the docs: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#pre

[2022-09-02 00:04] edoyango commented on #1249
Hi @dglemos!
Thanks for looking into this. The G2P error seems resolved, but now I'm getting this error:
[code]
I'm not a VEP user, so I'm not too sure how to debug this. Is this related to any of the options I'm using in the run-script?

[2022-09-02 08:35] dglemos commented on #1249
The error is being caused by the option `af_from_vcf=1`which includes allele frequencies from VCF files (available on the FTP).
Could you please try again?

[2022-09-05 23:46] edoyango commented on #1249
Hi @dglemos
Thanks again for quickly getting back.
I just departed from the team, so I'm no longer able to access the system to test this issue out again.
You're welcome to close the issue as you've resolved the original problem.

[2022-09-06 07:41] #1249 closed

[2022-09-06 23:17] Z-Zen opened #1254 "VEP missing annotation of gnomAD for some variants"
## Describe the issue
When annotating variants, it seems that VEP is missing some variants annotation with gnomAD.

As stated in the [data cache](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html), the gnomAD version used is `v2.1.1` for `GRCh38`.

I used the plugin for [dbNSFP v4.3a](https://github.com/Ensembl/VEP_plugins/blob/release/107/dbNSFP.pm) which also uses `v2.1.1`. The r

[2022-09-07 08:35] diegomscoelho commented on #1254
Hi @Z-Zen,

VEP release 107 will only annotate dbSNP (v154) variants, it seems that two variants that you mentioned are not covered in dbSNP and the third one started being covered in dbSNP (v155 - https://www.ncbi.nlm.nih.gov/snp/rs854560). For annotating those variants with gnomAD information, you can use `--custom` flag with gnomAD original VCFs (https://gnomad.broadinstitute.org/downloads).

A

[2022-09-07 12:49] diegomscoelho commented on #1250
Hi @JakeHagen,

We decided to filter out from cache and database `readthrough` transcripts and `biotype artifacts` transcripts. You can check on our "What's new?" session - https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#new

Code part:
https://github.com/Ensembl/ensembl-vep/blob/release/107/modules/Bio/EnsEMBL/VEP/AnnotationSource/Database/Transcript.pm#L264-L268

Any other q

[2022-09-07 14:22] #1250 closed

[2022-09-08 08:03] diegomscoelho commented on #1254
Hi @Z-Zen.

I mean `dbSNP` is our main variant source, I didn't mean `dbNSFP`. Our cache is limited to some sources, most variants comes from dbSNP. You can check on our cache webpage (https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache) - See `Data in the cache` subsection.
Then, if your variant are not in our cache, it will not be annotated by VEP. As mentioned before, depend

[2022-09-08 08:27] diegomscoelho commented on #1254
Hi again,

[code]

Unfortunately, no.

gnomAD exomes / genomes reported values are limited to intersection with dbSNP v154 variants. So, if your variant exists in gnomAD exomes / genomes but does not exist in dbSNP v154, gnomAD value will not be reported, because this variant will not exist in VEP cache at all. We don't create a `gnomAD cache`, we simply add gnomAD information to our cache, but th

[2022-09-08 08:36] #1254 closed, assigned to diegomscoelho

[2022-09-09 22:30] vagan21 opened #1255 "VEP Installation"
I'm at the step where I need to install Bio::DB::BigFile. I follow the directions as here (https://useast.ensembl.org/info/docs/tools/vep/script/vep_download.html#additional) and it says I have this module installed:

[code]

So why is that when I run the next step (this line of code below), I get an error:
[code]

Also, when I try to run vep, this is the error I get:

[code]

Any help is apprecia

[2022-09-11 00:14] Nickier0510 opened #1256 "Unknown option: af_esp"
## Describe the issue
The vep version=107 had removed the --af_esp option, but this is not mentioned in the changelog above on github, why remove this option?

## System
- VEP version: 107
- VEP Cache version:107

[2022-09-12 08:38] diegomscoelho commented on #1256
Hi @Nickier0510,

`--af_esp` option was removed from our cache since version 107, then we decided to deprecate this option from VEP command line also. We did same with `--af_exac`.

About changelong, we only mentioned in [vep_options](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html), I will make sure we update our changelog to inform this alteration properly. Sorry for this inc

[2022-09-12 08:50] diegomscoelho commented on #1255
Hi @vagan21,

It seems your installation and VEP are not finding `$PERL5LIB` object. Can you check your `$PERL5LIB` using `echo $PERL5LIB`? - You need to make sure that you always `export PERL5LIB` to your `ensembl` directories. This API page also might help you with that [here](https://www.ensembl.org/info/docs/api/api_installation.html).

Regards, @diegomscoelho

[2022-09-12 12:07] nuno-agostinho commented on #1227
Hi @marianakhoul, sorry for the delay in replying back. Have you had any progress with this? Are you still getting the same error?

[2022-09-14 13:29] NuoXu0621 opened #1258 "ERROR: Could not write to warnings file"
**System**
Docker version 18.03.1-ce
VEP version: 107
OS: 18.04.1-Ubuntu

Here is my command,
`sudo docker run -t -i -v $HOME/vep_data:/opt/vep/.vep:Z ensemblorg/ensembl-vep ./vep -i $InputDir/$inVCF -o $outVCF \
    --plugin dbNSFP,$VEPDATA/extdata/dbNSFP4.3a_grch38.gz,Ensembl_transcriptid,Uniprot_acc,VEP_canonical,LRT_pred,SIFT_pred,MutationTaster_pred,Polyphen2_HDIV_pred,Polyphen2_HVAR_pred \

[2022-09-15 00:23] manchengyanyu commented on #724
Hello, this error occurred when I ran the command on the server. I have changed the location and name in the script, but the error is still reported. I hope this problem can be solved, thank you.
The complete command is as follows
perl vcf2maf3.pl --input-vcf 01.somatic.snp.Somatic.hc.vcf --output-maf 01.maf --tumor-id MeA-01B --normal-id species sus_scrofa ZC-01A --vep-path /home/ZMH/miniconda3/e

[2022-09-15 14:26] diegomscoelho commented on #1258
Hi @NuoXu0621,

Can you try to use `--force_overwrite` flag? - It can also be that VEP is not able to overwrite a file.

Regards, @diegomscoelho

[2022-09-15 14:39] diegomscoelho commented on #1213
Hi @dennishendriksen,

Sorry for this late response. We have discussed in our team and we are not implementing this alteration.

`check_existing` behaviour is necessary after running mentioned flags and avoiding part of `check_existing` behaviour (not output CLNSIG, for example) it's a little bit messy and pointless for us. Since part of output can be parsed to be removed after VEP running, we pre

[2022-09-15 14:39] #1213 closed

[2022-09-15 14:43] dennishendriksen commented on #1213
@diegomscoelho thank you for taking the time to discuss this issue within your team and sharing your motivation to keep behaviour as it is. Regards, @dennishendriksen

[2022-09-19 21:51] aiqc opened #1263 "Docker image `Can't locate Bio/EnsEMBL/Registry.pm`"
I just pulled the docker image and tried to run an example, but it seems like it is missing a dependency or some kind of configuration

[code]

Error message:
[code]

### System
- Perl version: v5.26.1
- OS: Ubuntu 18.04.6 (docker)
- tabix installed: don't know
- VEP Cache version: [e.g. 98] don't know

[code]

[2022-09-19 21:51] aiqc commented on #1263
Related: https://github.com/Ensembl/ensembl-vep/issues/1255

[2022-09-19 21:59] aiqc commented on #1263
[code]

[2022-09-19 22:13] aiqc commented on #1263
[code]

Following documentation: http://useast.ensembl.org/info/docs/tools/vep/script/vep_download.html#docker
[code]

[2022-09-19 22:18] aiqc commented on #1263
Although there are many `.pm` files inside `Bio/EnsEMBL`, `Registry` is not one of them

[code]

[2022-09-19 22:20] aiqc commented on #1263
Hmm. So there is a `Bio/EnsEMBL/Registry.pm` file in the image
Perhaps that isn't mapped to $PATH or something

[2022-09-20 00:39] aiqc commented on #1263
Note that a previous release produces different results:

[code]

however, it still can't reach this external repo/service

[code]

to be honest, all of this stuff should already be inside the container already. sure people can make their own image, but a container should be ready when spun up at a moment's notice.

[2022-09-20 03:47] NuoXu0621 commented on #1258
Sorry for replying so late, I found the solution by modifying the $VEPDATA from $HOME/vep_data to /opt/vep/.vep, which is the default path of vep docker image, I think. Then it ran successfully.
But I found another question: my input data is a population VCF file of about 30G, and it took 5 hours to complete the annotation. Is there any advice for optimizing runtime? By the way, I set buffer size

[2022-09-20 08:56] dglemos commented on #1263
Hi @aiqc,
Could you please try again? The Ensembl FTP was down which could have caused some of the problems.

[2022-09-20 16:05] aiqc commented on #1263
@dglemos thanks for responding. got my annotation and filtering pipeline all squared away now.

I did not know it was THAT large. Still, one has to download it either way. You could have 1 fully-ready latest human image and 1 slim image.

thanks

[2022-09-20 16:05] #1263 closed

[2022-09-20 23:58] leowill01 commented on #600
Has there been any update to this? Is the current workaround to retain all possible SVs to just set the max size to a very large number (e.g. the size of the genome)?

[2022-09-22 07:38] robertzeibich opened #1264 "VEP RUNS BUT I AM NOT HAPPY WITH INDEL ANNOTATIONS"
## Describe the issue
A clear and concise description of what the bug is.

**VEP RUNS BUT I AM NOT HAPPY WITH INDEL ANNOTATIONS**

**1. BUG) Allele does not match ALT**
chrX    111744725       .       TACCACCACCACCACCACCACCACC       **TACCACCACCACCACCACCACCACCACC**,T  688.87  PASS    AC=1,1;AF=0.008929,0.008929;AN=112;BaseQRankSum=0.779;DP=1088;ExcessHet=0.0393;FS=1.252;InbreedingCoeff=-0.0265;MLE

[2022-09-22 07:51] diegomscoelho commented on #1258
Hi @NuoXu0621,

Try setting buffer_size * fork til max out your RAM. For example, if you have 32GB of RAM, you can use --buffer_size 5000 (already default) + fork 6 = 30 GB of RAM are going to be used. I would always left some space to not ran out of memory, last example was 2GB.

If you have any other question, please feel free to comment here again or close this issue.

Regards, @diegomscoelho

[2022-09-22 10:46] dglemos commented on #1264
Hi @robertzeibich,
Your question is related to the different types of variant representation. Your input file is in the VCF format, I recommend you read how variants are represented in this format. Please find here the VCF format documentation: https://samtools.github.io/hts-specs/VCFv4.2.pdf

1) In your first example, TACCACCACCACCACCACCACCACC/TACCACCACCACCACCACCACCACCACC is the same as ACCACCACC

[2022-09-22 13:55] robertzeibich commented on #1264
Thanks for the response. Sometimes the first letter is removed (1.), therefore not present in ALT and sometimes it isn't (2.), therefore present in ALT. This seems inconsistent. When I use bcftools +split-vep, how can I extract the Allele that is also present in the ALT?

[2022-09-22 14:11] dglemos commented on #1264
In example 2, VEP should output alt allele GC instead of TGC. The symbol `*` in ALT could be causing issues.
Can you please rerun VEP with the variant `chr1 153934830 . T TGC,TGCTGC,C` to confirm which alt alleles are returned?

The following command returns the info from ALT:
`bcftools +split-vep variant_effect_output.vcf -f '%CHROM:%POS %REF/%ALT %Consequence\n'`

[2022-09-22 23:10] robertzeibich commented on #1264
I put a VCF together that contained an entry with the OVERLAP (*) and without the OVERLAP. Then, I executed the following code:
[code]
The output remain the same: TGC instead of GC.
**NOTE:** I added the '.txt' so that I could upload the files. Please remove if you try to rerun my case.
[vep.allele.test.vcf.txt](https://github.com/Ensembl/ensembl-vep/files/9629775/vep.allele.test.vcf.txt)
[vep.all

[2022-09-23 01:50] robertzeibich commented on #1264
If I just execute `chr1 153934830 . T TGC`, I can find GC as Allele in my output now. I can work with that. I will just use bcftools to convert a VCF file with multiallelic variants into a VCF file with that contains biallelic variants only.

[2022-09-23 16:05] dglemos commented on #1189
I could replicate the issue using version 1.15 - currently, we don't have a fix.
Before you run VEP, I recommend removing the unsupported character from `PlasmoDB-52_PbergheiANKA`.

Let me know if you have more questions.

Best wishes,
Diana

[2022-09-26 02:09] #1258 closed

[2022-09-26 10:11] diegomscoelho commented on #1255
Hi @vagan21,

I will close this issue now, feel free to comment and ask to reopen this issue if you still need some help.

Regards, @diegomscoelho

[2022-09-26 10:11] #1255 closed

[2022-09-26 14:45] sharra44 opened #1265 ""Failed to fork" for any fork value"
Getting the error below for any value of --fork(tried 1, 2, 4, 8, and 20). Input file is from 1000genomes, normalized through bftools and with tabix run on it. Program has been running with no forks for about 3 days now without stopping, so I definitely need the ability to speed up the process. \
-------------------- EXCEPTION --------------------
MSG: ERROR: Failed to fork

STACK Bio::EnsEMBL::VE

[2022-09-26 22:27] vagan21 commented on #1255
Hello! This is what I get when I echo $PERL5LIB:

[code]

I installed the API, so I have the cache files needed in `/mnt/iquityazurefileshare1/bin/ensembl-vep/cache`. Now the error I am getting when I try to call VEP is:

[code]

Am I still missing a module?

Thanks for the help.

[2022-09-27 08:20] olaaustine commented on #1265
Hi @sharra44,
Thank you for your query.
I have not been able to recreate this issue but can you use the [option ](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_merged:~:text=%2Dbuffer_size%20%5Bnumber%5D) --buffer_size. The default is 5000 so reducing the buffer size will allow VEP to fork correctly.
Please let us know if this solves this problem.
Thanks
Ola.

[2022-09-27 17:32] sharra44 commented on #1265
My current buffer size is set to the default - should i be using a lower value?

[2022-09-28 08:10] olaaustine commented on #1265
Hi @sharra44,
Can you try with either --buffer_size 5000 or  --buffer_size 50?
Let us know if this error still occurs
Thank you
Ola.

[2022-09-28 18:31] sharra44 commented on #1265
Both 5000 and 50 still failed to fork. I have attempted to reinstall on a new ec2 thats larger (m5.12xlarge) and am now getting the following error when attempting to fetch the cache ERROR: Could not connect to FTP host ftp.ensembl.org
Net::FTP: connect: timeout

[2022-09-28 19:18] sharra44 commented on #1265
Both 5000 and 50 failed to fork as well

[2022-09-29 09:24] olaaustine commented on #1265
Hi @sharra44,
Can you share your input VCF file so I can use it to try to recreate the issue.
Thank you
Ola

[2022-09-29 10:14] hkarakurt8742 opened #1268 "AncestralAllele Plugin data for GRCh37 cannot be found in Ensembl FTP"
Hello everyone,
I am using VEP on my local computer via Docker (version 107). I am using GRCh37 as my reference. I want to use the AncestraAllele plugin in offline mode and I need to download data to use it. I looked for the homo_sapiens_ancestor_GRCh37.fa.gz in the FTP server but could not found. I checked current, version 107 and 105 folders. Isn't it possible to use AncestralAllele plugin GRCh3

[2022-09-29 13:18] olaaustine commented on #1268
Hi @hkarakurt8742,
Thank you for your query
The data files we have available for AncestralAllele plugin is only in GRCh38 as we do not support data files for GRCh37 for this plugin.
For GRCh38 - the data files can be found [here](https://ftp.ensembl.org/pub/current_fasta/ancestral_alleles/homo_sapiens_ancestor_GRCh38.tar.gz).
We will improve the documentation.
Thank you for bringing this to our no

[2022-09-29 13:58] hkarakurt8742 commented on #1268
Thank you for your answer. As I know the older version of VEP (like 85) have GRCh37 version of ancestral alleles (http://ftp.ensembl.org/pub/release-85/fasta/ancestral_alleles/). Is it possible to use with version 107 (or 105) ?
Also similar to custom annotations, can I download an external ancestral allele (from 1000Genomes) and use it as written in AncestraAllele.pm file?

Thank you in advance.

[2022-09-29 15:24] olaaustine commented on #1268
Hi @hkarakurt8742,
Thank you for sharing the link but the link shared is not for GRCh37.
As this is not something we have tested in regards to using external files, we can not guarantee that the results obtained will be accurate.
Thank you.
Ola

[2022-09-30 13:05] olaaustine commented on #1265
Hi,
I am still unable to recreate this issue using the VCF and following your pre-processing steps
Do you have tabix installed? If you already have tabix installed on the cluster, this might be causing a clash with tabix installed in VEP
Thank you
Ola.

[2022-10-03 10:03] hkarakurt8742 commented on #1268
Thank you for your e-mail. I think I need to risk it because my need is little urgent. I found another version from Ensembl FTP server "ftp://ftp.ensembl.org/pub/release-75/fasta/ancestral_alleles/homo_sapiens_ancestor_GRCh37_e71.tar.bz2". I think it is from Ensembl VEP 71. Is it possible to use it?

[2022-10-03 10:10] olaaustine commented on #1268
Hi @hkarakurt8742,
According to the [README](http://ftp.ensembl.org/pub/release-71/fasta/ancestral_alleles/homo_sapiens_ancestor_GRCh37_e71.README) it contains ancestral sequences for GRCh37.\\
Thank you
Ola.

[2022-10-03 11:24] Krutik6 opened #1269 "VEP running in slurm HPC failing for some users but not others"
## Describe the issue
Dear VEP engineers, I work in a team of informaticians and we have been having a recurring issue with VEP 107 for the past month. Simply put our vep installations work fine for myself and I get the expected output, however vep does not work for any colleagues. Our vep is installed in a slurm based HPC, and we believe this issue comes from our HPC rather than from vep. We were

[2022-10-03 12:03] hkarakurt8742 commented on #1268
So is it possible to use this FASTA file with VEP 107 (or 105) for ancelstral allele plugin?
Thank you.

[2022-10-03 13:41] olaaustine commented on #1268
Hi @hkarakurt8742,
If you follow the pre processing steps as documented in the Ancestral allele plugin documentation, this should work.
We advise users to use the latest version of VEP available.
Thank you,
Ola.

[2022-10-03 13:46] likhitha-surapaneni commented on #1269
Hi @Krutik6 , I am sorry to hear that you are facing an issue with VEP installation. I am trying to understand what might be different for different users. Can you please confirm if the slurm nodes used by different users have the same configuration?

In order to understand what might be going wrong with running VEP by other users, can you and your colleagues try the following and see if the error

[2022-10-03 14:59] sharra44 commented on #1265
Hello -
I have managed to successfully run the program by increasing the size of my ec2 to a 12xlarge. Thank you for your assistance.

[2022-10-03 15:08] olaaustine commented on #1265
Hi @sharra44,
Thank you very much for letting us know.
I will close this ticket now. Please feel free to reopen or open another if you have another query.
Thank you,
Ola

[2022-10-03 15:08] #1265 closed

[2022-10-05 15:55] likhitha-surapaneni commented on #1241
Hi @Z-Zen , I hope the issue got resolved. Please feel free to open a new ticket if you have any further queries.

Thanks and regards,
Likhitha

[2022-10-05 15:55] #1241 closed

[2022-10-05 15:56] #1247 closed

[2022-10-05 20:45] mshumilova opened #1270 "VEP does not work properly using dbNSFP plugin neither custom gnomAD (running from Docker)"
## Describe the issue

I did not get the statistics after VEP annotation using dbNSFP plugin. I thought maybe I did something wrong during my preparation of the database and decided to use another metric using custom gnomAD plugin. Unfortanutely I had got the same result without any statistics.

## Additional information
### System
- VEP version: 107.0
- VEP Cache version: I do not know how to che

[2022-10-06 16:27] dglemos commented on #1246
I'm going to close this issue. Feel free to open a new issue if you have more questions.

Best wishes,
Diana

[2022-10-06 16:27] #1246 closed

[2022-10-07 09:33] robertzeibich commented on #1264
Hi Diana,

The * is not causing the issue. The issue can be noticed when more than one alternative allele is listed.

Kind regards,

Robert

From: Diana Lemos ***@***.***>
Sent: Friday, 7 October 2022 3:27 AM
To: Ensembl/ensembl-vep ***@***.***>
Cc: robertzeibich ***@***.***>; Mention ***@***.***>
Subject: Re: [Ensembl/ensembl-vep] VEP RUNS BUT I AM NOT HAPPY WITH INDEL ANNOTATIONS - Allele-ALT mi

[2022-10-07 13:05] barslmn opened #1272 "1kg AF field is empty"
AF columns are empty when run in command line. However, VEP web tool returns value in AF column. (see screenshot)

![image](https://user-images.githubusercontent.com/43095157/194558846-25c69333-1ab5-4e67-bde5-b4deb9196165.png)

Minimal vcf to reproduce:

[code]

Minimal command to reproduce:
[code]

Result of the command line where AF column is empty:

[code]

Additional info:
❯ ensembl-vep/vep --

[2022-10-07 14:32] Krutik6 commented on #1269
Hi @likhitha-surapaneni,

Apologies for the delay in messaging - we have heard back from our slurm HPC maintainer and all accounts at our University have the same privileges and access to memory.

I have attached files which were run when `buffer_size` was set to `500` for:
myself
[slurm-27722165_buffer500_mine.txt](https://github.com/Ensembl/ensembl-vep/files/9734723/slurm-27722165_buffer500_mine

[2022-10-07 17:51] gerasimov-studio commented on #1270
I had the same problem, after two days of torture I changed the tool

[2022-10-10 07:48] mshumilova commented on #1270
Dear developers, I would be grateful if you give me some hint what could be wrong from my side. I am really sorry for disturbing you, I just have some time limits and I really do not want to change the tool as mentioned above by @gerasimov-studio, because I spent more than two days on it) Thank you in advance! Sincerely, Maria.

[2022-10-10 07:53] likhitha-surapaneni commented on #1270
Hi @mshumilova , thank you for your patience and sorry for the delay. I am testing this out to see what might be going wrong in this case.

[2022-10-10 08:55] likhitha-surapaneni commented on #1270
Hi @mshumilova ,

The dbNSFP plugin writes results to your output but only for variants of type: missense_variant, stop_lost, stop_gained or start_lost. Could you please try running them for another  example variant which satisfies the above condition?

[2022-10-10 09:48] likhitha-surapaneni commented on #1270
Hi @mshumilova ,
Regarding  the example with custom annotation, when using "exact" only, annotations whose coordinates match "exactly" those of the variant will be reported. You could check further documentation for custom annotation here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html. This might be the problem why custom annotation may return empty annotation

Thank for your

[2022-10-10 11:42] mshumilova commented on #1270
Dear @likhitha-surapaneni,

I've concentrated on gnomAD annotation. For some reason I get annotation from gnomADg (even with "exact" parameter), but not from gnomADe (tried both parameters).

I've checked all fields of my output test dataset and they are empty for gnomADe.
Example of my output of the fields:

|gnomADe|gnomADe_AF_NFE|gnomADg|gnomADg_AF_NFE
|||rs11121064|3.33511e-04

My current code

[2022-10-10 15:02] nakib103 commented on #1272
Hello @barslmn ,

Thanks for your query.

Can you let us know which VEP version you are using?

Best regards,
Nakib

[2022-10-10 15:11] barissalman commented on #1272
Hi @nakib103,

We are on release/105 rn. Also, this is might be related to issues, #957 and #1010  too.
Best,
B

[2022-10-10 15:13] barslmn commented on #1272
Hi @nakib103,

We are on release/105 rn. Also, this is might be related to these issues, https://github.com/Ensembl/ensembl-vep/issues/957 and https://github.com/Ensembl/ensembl-vep/issues/1010 too.
Best,
B

[2022-10-10 16:20] likhitha-surapaneni commented on #1269
Hi @Krutik6 , thank you for the reports. It still does not seem to be clear why the output is different. In order to get some additional details,
Could you and your colleague try the following and let me know what happens:
1. Run VEP command with minimal options and with a smaller test dataset (with no forks or plugins) to rule out if it is setup/file permission issues
2. Run `perl -e "use Bio::DB

[2022-10-11 08:27] nakib103 commented on #1272
Hello @barslmn ,

The problem you are having is particularly related to the cache.
Can you try the updating both the VEP and cache version to e107 - we have updated the cache to have AF value from version e107 onwards that solves this issue.

[2022-10-11 12:31] barslmn commented on #1272
Hi @nakib103 ,

Yes, updating to the e107 solves this. 🎊

However, while testing further I also came across these variants. I checked some with tabix and nothing returns, my guess is that these ones just don't exist in the 1kg data.

https://www.ensembl.org/Homo_sapiens/Tools/VEP/Ticket?tl=scjguzwmrfysGn81

Variants tested:
[code]

Local VEP command:

[code]

VEP command output
[code]

VEP INFO:
[

[2022-10-11 12:32] #1272 closed

[2022-10-11 12:48] nakib103 commented on #1272
yes, you are right. Those variants don't have 1kg data, e.g. -
https://www.ensembl.org/Homo_sapiens/Variation/Population?db=core;r=1:721908-722908;v=rs75935175;vdb=variation;vf=1983299

[2022-10-12 15:11] ju-mu opened #1275 "REVEL plugin ignores transcript specificity of the scores"
## Describe the issue
The current v1.3 of the REVEL scores with 9 columns, seems to contain transcript specific scores and about 5% of all variants annotated within the source files have more than one REVEL score assigned to the same variant.
The REVEL plugin does not process the transcript info and therefore assigns incorrect REVEL scores to some of the transcript consequences i.e. it seems to ju

[2022-10-12 15:21] ju-mu commented on #1275
Moved to VEP_plugins

[2022-10-12 15:21] #1275 closed

[2022-10-12 16:32] vkorak commented on #1269
Hi @likhitha-surapaneni,

I apologise for the delay and thank you for your response. I am working in the same team as @Krutik6, and I am "colleague 1".

Please see attached the file I run with minimal options (no plugins or forks) for only chr1 (_VEP worked_):
[slurm-27771411_Chr1_no_plugins_colleague1.txt](https://github.com/Ensembl/ensembl-vep/files/9766272/slurm-27771411_Chr1_no_plugins_colleag

[2022-10-17 19:32] davidfstein opened #1277 "HGVS formatted input reduces speed immensely"
## Describe the issue
I am attempting to annotate ~100 million SNVs in HGVS format to determine all possible missense variants in canonical ensembl transcripts. With a VCF formatted input, VEP annotates several 100,000 variants an hour. However, with the HGVS input, which precludes the usage of offline mode, VEP slows to a crawl and no longer leverages all the cores available. I have followed all

[2022-10-18 08:15] likhitha-surapaneni commented on #1269
Hi @vkorak , apologies for the delay in responding.
Since the error happens when locating tabix, it might be worth installing htslib and Bio::DB::HTS manually following the steps in https://www.ensembl.org/info/docs/api/api_installation.html#variation. Please let me know if that solves the issue.

[2022-10-18 09:24] ntm opened #1278 "VEP --mirna annotates more than miRNAs"
## Describe the issue
Hello VEP devs,
I am trying out the --mirna option to VEP, which according to the doc "Reports where the variant lies in the miRNA secondary structure". This sounds interesting, but I would expect it to only annotate variants hitting microRNAs (BIOTYPE==miRNA). However in my tests I get annotations in the "miRNA" field for a variety of BIOTYPEs including snoRNA and snRNA.
For

[2022-10-18 10:09] nuno-agostinho commented on #1277
Hey @davidfstein, hope you are having a wonderful day!

As you noted, VEP currently requires a database connection to convert from the HGVS format, making this option slow when running for a large number of variants. We are looking into making this work offline in a future release.

Meanwhile, the fastest way to run VEP would be to convert from HGVS to VCF so you can run VEP with the `--offline` f

[2022-10-18 10:42] ntm commented on #1042
The original issue I reported has been fixed at some point: with VEP 107 forrs144217347 we now get the correct AF=0.0010 .
Closing as fixed.

[2022-10-18 10:42] #1042 closed

[2022-10-18 14:07] ntm commented on #1278
Hi @nuno-agostinho,
If this is due to mislabelling of snoRNA15 , the problem isn't isolated to this gene: I am seeing a similar behaviour with other ncRNAs that aren't miRNAs. Here are some examples that could be useful:
rs587636794 hitting RNVU1-17 (snRNA)
rs193148354 hitting RN7SKP95 (misc_RNA)
rs184418279 hitting RN7SKP189 (misc_RNA)
Thanks for looking into this.
Nicolas

[2022-10-19 08:29] nuno-agostinho commented on #1277
Hi @davidfstein,

Variant Recoder also requires an online connection (even the command-line version) as they are based on the same code as VEP. I was just suggesting it as it may be easier to convert your HGVS variants to VCF before running VEP.

The max file upload size for our tools is 50MB and they accept zip archives.

Cheers,
Nuno

[2022-10-19 08:29] jamie-m-a commented on #286
Response from Irina seems appropriate, no further follow up so I'm closing this one off.

[2022-10-19 08:29] #286 closed

[2022-10-19 08:39] jamie-m-a commented on #724
Apologies for the delay in following up on this.

@williambrandler - you directory path has . and @ in it, I suspect this is not being parsed correctly - could you try and different path without special characters.

@manchengyanyu This seems to be an unrelated issue, but just to advise that we don't support conda installs of VEP. I would recommend using the docker image we provide instead, instruc

[2022-10-19 13:48] nuno-agostinho commented on #1278
Hey @ntm, just opened PR #1280 that ensures that `--miRNA` only reports structures in ncRNAs with biotype `miRNA`, instead of any ncRNA with structural data. This fix should be available in release 109.

However, this does make me wonder if VEP should show structures for other ncRNAs as well... 🤔

Anyway, sorry for the issue. I'll close this issue after the code has been merged and if you don't ha

[2022-10-19 13:55] jamie-m-a commented on #994
Closing this issue now as no further action is required. Please feel free to reopen if you have any additional questions.

[2022-10-19 13:55] #994 closed

[2022-10-19 14:57] #1106 closed

[2022-10-19 14:59] jamie-m-a commented on #1172
As I haven't received any follow up on this issue I'm going to close it off. But please feel free to reopen it if you want any further information.

[2022-10-19 14:59] #1172 closed

[2022-10-19 15:02] jamie-m-a commented on #1200
Hi @guptapa I don't think I received anything further on this issue. Typically these problems are caused by there being something VEP doesn't like in the GFF. I'll close this off for now, but please do reopen if you haven't managed to resolve the problem or need any further information.

[2022-10-19 15:51] davidfstein commented on #1277
Ok thanks Nuno. I think HGVS format offline would be nice, so I'm looking forward to future releases where that is supported

[2022-10-19 15:51] #1277 closed

[2022-10-20 10:16] nuno-agostinho commented on #981
Hi @sigven, thanks for your suggestion!

We removed the CPAN cache from the Dockerfile and this should be reflected in our future Docker images.

Feel free to suggest other improvements you may think relevant.  Hope you have a nice day!

Cheers,
Nuno

[2022-10-20 10:16] #981 closed

[2022-10-20 13:58] diegomscoelho commented on #600
Hi @leowill01,

Sorry for this late response. If you want to maintain all variants you can increase max_sv_size number, but you might fall into a memory issue problem as described here (https://github.com/Ensembl/ensembl-vep/pull/463).

 We are currently implementing some new SV features in VEP, if I have any news about this `enhancement`, I will post it here.

Regards, @diegomscoelho

[2022-10-20 14:29] olaaustine commented on #1268
Hi @hkarakurt8742,
I am going to close this ticket now.
Please feel free to reopen this or open another if you have any other issue.
Thank you
Ola

[2022-10-21 06:50] migrau opened #1283 "Unable to parse HGVS notation. Frameshifts are not supported for HGVS protein input."
## Description
Trying to annotate (using the [online vep version](https://asia.ensembl.org/Homo_sapiens/Tools/VEP?db=core)) some HGVS protein frameshift mutations, e.g:
ENST00000257430.16:p.Ile1557fs*30
APC:p.I1557fs*30

But I got an error:
![image](https://user-images.githubusercontent.com/6456499/197130635-892d0c87-d79f-4019-8ecc-358ff24c9edb.png)

What is the correct syntax to insert frameshift

[2022-10-21 09:37] dglemos commented on #1283
Hi @migrau,
VEP does not support frameshifts as HGVS protein input e.g. `p.Ile1557fs30`. To annotate frameshift variants you should input their HGVS genomic or coding format.

Let me know if you have more questions.

Best wishes,
Diana

[2022-10-21 10:30] ntm opened #1284 "INSTALL.pl can no longer install caches"
Hi,
a recent commit replaced ftp with https everywhere:
https://github.com/Ensembl/ensembl-vep/commit/6185f08
This includes changing $CACHE_URL , $CACHE_URL_INDEXED and $FASTA_URL from ftp:// to https:// in INSTALL.pl, and this breaks INSTALL.pl: caches and FASTA files can no longer be installed.
Indeed, INSTALL.pl expects the URLs to begin with ftp, eg:
https://github.com/Ensembl/ensembl-vep/blob

[2022-10-21 10:30] ntm opened #1285 "missing CHECKSUMS for indexed_vep_cache/ release 108"
Hello,
same issue as previously for v106 (#1163) and v107 (#1220): could someone please generate and add a CHECKSUMS file in ftp.ensembl.org/pub/release-108/variation/indexed_vep_cache/ ?
Missing this file prevents installing caches when running `perl INSTALL.pl` (once #1284 is fixed)
Thanks!
Nicolas

[2022-10-21 13:21] dglemos commented on #732
Hi,
As mentioned before. this error is caused by miRNA being directly attached to a transcript instead of a gene as supported by VEP. A workaround is either:
- using the VEP cache files for the annotation
- remove miRNA entries from the GFF file before running the VEP job
- if you prefer you can point to branch release/109 which includes a temporary fix for these specific GFF entries

We plan to s

[2022-10-21 13:21] #732 closed

[2022-10-21 13:37] nuno-agostinho commented on #1278
Hey @ntm,

The fix is now merged and is going to be available in release 109, thanks for your help!

Thanks,
Nuno

[2022-10-21 13:37] #1278 closed

[2022-10-21 14:19] dglemos commented on #1082
Hi @jeongmeani,
Sorry for taking so long to reply.
The reason VEP is not annotating the variant `Gen1:p.K707N` is because for the gene Gen1 the aminoacid `K` is not in the protein position `707`.

[2022-10-24 16:17] nuno-agostinho commented on #1285
Hey @ntm, thanks for reporting this issue!

The CHECKSUMS for indexed VEP cache are now available for release 108: https://ftp.ensembl.org/pub/release-108/variation/indexed_vep_cache/

Cheers,
Nuno

[2022-10-24 16:17] #1285 closed

[2022-10-25 09:43] #1284 closed

[2022-10-25 15:11] aschluter opened #1288 "GRCh37 assembly is not available in 108 release"
Hi,
Cache files for homo_sapiens in GRCh37 assembly are not available in 108 release.

https://ftp.ensembl.org/pub/release-108/variation/indexed_vep_cache/

### System
- VEP version: 108
- VEP Cache version: 108

Thank you,

Agatha

[2022-10-25 15:33] nuno-agostinho commented on #1284
Hi @ntm, thanks for notifying us of this issue! We just released VEP 108.1 to patch this problem.

Cheers,
Nuno

[2022-10-25 15:59] nuno-agostinho commented on #1288
Hi @aschluter,

Thanks for mentioning this issue and I'm sorry for the inconvenience. We will make the GRCh38 VEP cache available as soon as possible.

Kind regards,
Nuno

[2022-10-27 07:59] nuno-agostinho commented on #1288
Hi @aschluter, hope you are having a nice day!

You can now find the GRCh37 cache for release 108 in https://ftp.ensembl.org/pub/release-108/variation/indexed_vep_cache/

Please let me know if you find any other issues.

Best regards,
Nuno

[2022-10-27 07:59] #1288 closed

[2022-10-28 08:25] aschluter commented on #1288
Thanks for fixing it so quickly!

Best regards,

Agatha

[2022-10-28 10:31] sveint opened #1291 "Haplosaurus fails to process stop gain variant in start of transcript"
## Describe the issue
Haplosaurus fails to process a vcf if it contains variants generating very short matching sequences, in this case a stop gained variant in the very beginning of the transcript, leading to amino acid sequence being a single stop codon. A stop gain at the next amino acid position would seemingly also create the same issue.

## Additional information

The error `Can't call metho

[2022-10-28 14:42] diegomscoelho commented on #1291
Hi @sveint,

I was not able to reproduce your error. Can you provide me a link to your gtf and fasta? - Besides that, are you using VEP version 98? - If yes, can you test using version 108?

I used VEP version 108 with your VCF input + GTF (https://ftp.ensembl.org/pub/release-108/gtf/homo_sapiens/) + Fasta (https://ftp.ensembl.org/pub/release-108/fasta/homo_sapiens/dna/). Got this as result:

[cod

[2022-10-28 18:09] luyoutao opened #1292 "mouse mitochondrial alternative start AUC annotated as "start_lost""
## Description
Dear developers,

Thanks for developing the software. I'm using it to annotate mouse mitochondrial SNPs and I noticed something unexpected for AUU>AUC. This variant for mouse, according to [Vertebrate Mitochondrial Code](https://www.bioinformatics.org/JaMBW/2/3/TranslationTables.html#SG2) (Alternative Initiation Codon, Mus: **AUA, AUU, AUC**), should be an Alternative Initiation Cod

[2022-10-29 16:01] layne-sadler opened #1293 "gnomad v3 in code, but only v2 in docs. which is default?"
Thank you for your important work. We are going to publish some of our top variants so I am doing a bit of diligence on the hg38 allele frequencies that were annotated using VEP.

---

## Describe the issue

Which gnomAD version is used by default? both?

- [In the documentation about the gnomad plugin, it mentions gnomad v2, but does not mention gnomad v3](https://useast.ensembl.org/info/docs/too

[2022-10-29 16:05] layne-sadler commented on #1293
Within `home_sapiens/107_GRCh38/info.txt` I see

[code]

since my column is `gnomADe_AF` it must be referring to the exomes aka v2

[2022-10-29 16:18] layne-sadler commented on #1293
What's weird is that my column says `gnomADe_AF`, which leads me to think that it is from gnomad v2, but it only shows up in v3

![image](https://user-images.githubusercontent.com/76759666/198841884-c96e2bc2-00c4-43fc-9362-ff08bf406aeb.png)

![image](https://user-images.githubusercontent.com/76759666/198842030-754b6f4d-5b48-4726-ac3c-662e53bb22d5.png)

![image](https://user-images.githubuserconten

[2022-10-30 12:25] KasitC opened #1294 "Cannot install VEP"
## Describe the issue
Hello, I have tried to install VEP, but it failed with the error of lzma.h not found.
Later, I tried installing with the --NO_HTSLIB option, but the installation is also failed.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 108
- VEP Cache version:
- Perl version: v5

[2022-10-31 08:53] xiucz opened #1295 "HGVS.p not annotated"
## Describe the issue
Hi,  when I use vep to annotate "chr19 42384927 ATCCCAGGGCCTGAACCTGGACGACTGCTCCATGTATGAGGACATC  A", it cannot return the p point,  can you help me to check it ?

Thank you.
xiucz

### System
- VEP version: [105]
- VEP Cache version: [105]

### Full VEP command line
[code]

[2022-10-31 10:01] diegomscoelho commented on #1293
Hi @layne-sadler,

Both versions are supported v2 for exomes (gnomAD exomes) and v3 for genomes (gnomAD genomes). You can find this info in [cache](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache).

![image](https://user-images.githubusercontent.com/10541523/198976197-d68dbd02-6b78-4c0d-85d0-d2537d1f4bef.png)

You can also find a brief explanation about difference between `

[2022-10-31 10:14] dglemos commented on #1294
Hi @KasitC,
I'm sorry to hear you are having problems installing VEP.
It looks like something when wrong during the automated installation of htslib through the VEP installation script.
Could you please make sure you installed the prerequisites required by macOS? You can find the instructions on this page: https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#macos

[2022-10-31 12:35] dglemos commented on #1292
Hi @luyoutao,
Thanks for reporting this issue.
VEP is using the vertebrate mitochondrial codon table however it is not using the alternative initiation codons for mouse.
Mouse alternative initiation codons are:
AUA, AUU, **AUC**
Human alternative initiation codons are:
AUA, AUU

I'll let you know when we add a fix.

[2022-10-31 12:53] layne-sadler commented on #1293
Is that not what this is?

![image](https://user-images.githubusercontent.com/76759666/199012390-323d79ca-0cca-46f6-a46a-ca8981e84b57.png)

[2022-10-31 12:58] layne-sadler commented on #1293
I am using GRCh38 whole exome vcfs

[2022-10-31 13:04] layne-sadler commented on #1293
Is it though? If that is the case then why I am seeing `-af_gnomadg` looking results?

thanks for the info!

[2022-10-31 14:06] layne-sadler commented on #1293
Thank you @diegomscoelho I never would have figured out that the gnomad v2 hg37 values were being lifted over! now I see in the gnomad portal v2 shows "Genome buildGRCh37 / hg19." So that is where I was getting stuck

It would be nice if the gnomad section on this page was updated w more info about the different AF commands:
https://useast.ensembl.org/info/docs/tools/vep/script/vep_example.html

t

[2022-10-31 14:37] dglemos commented on #1283
I'm going to close the issue but feel free to open a new one if you have more questions.

Best wishes,
Diana

[2022-10-31 14:37] #1283 closed

[2022-10-31 14:39] dglemos commented on #1189
I'm closing this issue but if you have more questions feel free to open a new one.

Best wishes,
Diana

[2022-10-31 14:39] #1189 closed

[2022-10-31 14:51] diegomscoelho commented on #1293
Hi @layne-sadler,

VEP is not lifting over gnomAD v2, we use already provided liftover from them. You can find more information about `--af_gnomad`, `--af_gnomade` and `--af_gnomadg` on vep options [webpage](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html).

I also can see now that vep_examples are a little bit misleading of how you can get VEP cache gnomAD data. Just to confir

[2022-10-31 14:58] dariober commented on #1189
@dglemos Thanks for looking into this.

Or maybe pass the output VCF to `sed` or similar to fix the invalid tag?

Anyway, if you want to close the issue, that's ok by me. However, I would still consider this a bug since effectively VEP is producing an invalid VCF file from a valid input.

I'm probably making things too easy here... Shouldn't it be easy to sanitize the name of the input file before

[2022-10-31 15:14] nakib103 commented on #1100
Hello @keiranmraine ,

We have some update regarding this issue.

Firstly, the core reason we are getting this issue is because of MySQL. It is default behavior of MySQL to mask SIGPIPE -

And gzip does not like it. It does not seem to be a problem as long as perl handles it properly (some language like python may not like it at all). So, I have a test with several supported Perl version and the z

[2022-10-31 17:47] dglemos commented on #1189
I'm sorry my message wasn't clear, we closed the issue but the update is in our backlog.
We will add it sometime in the future.

[2022-10-31 22:55] KasitC commented on #1294
Hello @dglemos ,

Many thanks! I have tried installing all dependencies again. This time it works!

Best wishes,
Kasit

[2022-11-01 07:52] barslmn opened #1296 "SIFT/PolyPhen getting disabled at GRCh37"
Hi Ensembl Team,
## Describe the issue
SIFT and PolyPhen gets disabled when used with GRCh37. I can see polyphen and sift with GRCh38. Is this related to 107 known bug: https://www.ensembl.info/known-bugs/ensembl-107/

Best,
B

### System
- VEP version: 108.1
- VEP Cache version: 108.1
- Perl version: 5.30
- OS: Ubunru
- tabix installed yes

### Test Cases

ASSEMBLY="GRCh37"
echo "##fileformat=VCF

[2022-11-01 09:26] dglemos commented on #1294
I'm glad it's working now!
I'm going to close the ticket but feel free to open a new one if you have more questions.

Best wishes,
Diana

[2022-11-01 09:50] dglemos commented on #1296
Hi @barslmn,
Unfortunately, I cannot reproduce the issue.
Are you using the cache from this directory http://ftp.ensembl.org/pub/release-108/variation/indexed_vep_cache/?
I tested VEP with cache homo_sapiens_merged_vep_108_GRCh37.tar.gz

[2022-11-01 10:19] jvolanen opened #1297 "Using --minimal flag changes the annotation results for some variants"
## Describe the issue
Using --minimal flag changes the annotation results for some variants: rsid, gnomad population frequencies and custom annotations are missing. We rely on the --minimal flag and cannot remove it from the VEP command line.

## Additional information

### System
- VEP version: docker.io/ensemblorg/ensembl-vep:release_107.0
- VEP Cache version: 107

### Full VEP command line

The

[2022-11-01 10:44] barslmn commented on #1296
Yes, I am installing cache with
perl INSTALL.pl -a acf -s homo_sapiens_merged -y GRCh37
but checking after installation is done there is only the fastq file in the ~/.vep/homo_sapiens_merged/108_GRCh37 folder. However vep seems to work fine :?
I will try to manually download the cache.

[2022-11-01 13:11] dglemos commented on #1297
Hi @jvolanen,
For VCF input VEP assumes the variants are represented at their most 5' representation.
The first variant `A/AT` is represented like that, however the second variant `AT/ATT` is not. When VEP applies the minimal flag  `A/AT` is converted to `-/T` with start = 78011947 and end = 78011948; while `AT/ATT` is converted to `T/TT` start = 78011948 and end = 78011949.

We will investigate f

[2022-11-01 13:12] dglemos commented on #1296
You should have a folder for each chromosome inside 108_GRCh37.
Let me know how it goes after you download the cache manually.

[2022-11-01 14:41] barslmn commented on #1296
Manual download fixed the issue. Thanks a lot.

[2022-11-01 14:41] #1296 closed

[2022-11-01 21:05] HaotingJia1 opened #1298 "ALT=<DEL> lines missing in VEP output for DRAGEN format indel VCF"
## Describe the issue
The output only has lines where ALT field is DUP. I want to get output for lines for DEL. Thank you.

### System
online VEP with all default options.

### Data files (if applicable)
input file:

output:

[2022-11-02 09:06] dglemos commented on #1298
Hi @HaotingJia1,
I cannot reproduce your output, all variants from your input are either incomplete or have invalid alleles.
VEP throws the following warning message:
[code]

Which VEP command did you run?

[2022-11-02 17:33] HaotingJia1 commented on #1298
Hi, thank you. i think the format is changed when i copy from my input file to here. What i did is to upload this `test.txt` file to https://useast.ensembl.org/Tools/VEP and hit run. The output only contains results of lines where ALT=<DUP>.

[test.txt](https://github.com/Ensembl/ensembl-vep/files/9922843/test.txt)

[test_ouput.txt](https://github.com/Ensembl/ensembl-vep/files/9922844/test_ouput.t

[2022-11-02 21:54] dglemos commented on #1298
Thanks for sending the files, now I can reproduce the warning. The variants with type <DEL> are being skipped:
[code]

For type DEL, VEP uses the `END` coordinate defined in the `INFO` field to determine the end of the deletion. Another way to know the end coordinate is to use the field `SVLEN`, however in your file none of these are defined meaning VEP is not able to determine the end coordinate.

[2022-11-03 06:06] migrau commented on #1143
A question related: Can the VEP cache files be redistributed?

[2022-11-03 15:13] dglemos commented on #1298
ALT is correct, what you need to do is add the end coordinate to the INFO column: `END=56998`
Something similar to:
`chr1	46499	DRAGEN:LOSS:46499:56998	N	<DEL>	34	PASS	END=56998	SM:CN:BC:PE	0.650742:1:21:2,4`

Here you can read more about the VCF format: https://samtools.github.io/hts-specs/VCFv4.2.pdf

[2022-11-03 18:40] HaotingJia1 commented on #1298
Thank you. I will try doing this.

[2022-11-10 09:28] likhitha-surapaneni commented on #1270
Hi @mshumilova ,

I am closing this issue for now since there are no outstanding problems. Please feel free to open a new issue for any further queries.

Thanks and regards,
Likhitha

[2022-11-10 09:28] #1270 closed

[2022-11-10 09:29] likhitha-surapaneni commented on #1269
Hi @vkorak and @Krutik6  ,

I hope the above steps were useful in solving the issue. Please feel free to open a new ticket if there are any further queries.

Kind regards,
Likhitha

[2022-11-10 09:29] #1269 closed

[2022-11-14 09:29] diegomscoelho commented on #1293
Hi @layne-sadler,

Closing this issue now! If you have any other question feel free to comment here.

Regards, @diegomscoelho

[2022-11-14 09:29] #1293 closed

[2022-11-14 09:35] diegomscoelho commented on #1291
Hi @sveint,

I'm closing this issue now. If you still have a question, please, feel free to comment here and I will reopen this issue for you.

Regards, @diegomscoelho

[2022-11-14 09:35] #1291 closed

[2022-11-14 10:40] pdl opened #1302 "INSTALL.pl attempts to connect to https service on :21"
## Describe the issue

I am attempting to get the ensembl cache for 108 with INSTALL.pl, but there have been changes to how URLs are retrieved which cause the process to either hang or eventually fail.

It looks like the URLs being retrieved in `download_to_file` are:

    https://ftp.ensembl.org:21/pub/release-108/variation/indexed_vep_cache/homo_sapiens_vep_108_GRCh38.tar.gz

Note that this is p

[2022-11-14 10:43] pdl commented on #1302
Related work by @nuno-agostinho

- https://github.com/Ensembl/ensembl-vep/pull/1286
- https://github.com/Ensembl/ensembl-vep/pull/1284

[2022-11-14 10:47] pdl commented on #1302
[The regex which is inserting the port number](https://github.com/Ensembl/ensembl-vep/blob/release/108/INSTALL.pl#L1768)

[code]

The url matches ftp, even if it begins `https://ftp.ensembl.org...`
should this read `if $url =~ /^ftp:/ && $url !~ /\:21/;`?

[2022-11-14 11:26] nuno-agostinho commented on #1302
Hey @pdl, hope you are having a great day!

Thank you for your detailed report and narrowing down the issue. We intend to fix this as soon as possible.

In the meantime, you can change the URLs used to fetch cache and FASTA like so:
[code]

Please feel free to reply back if you find any other issues. Thanks again!

Kind regards,
Nuno

[2022-11-14 12:30] pdl commented on #1302
@nuno-agostinho Thanks - in case it's relevant for the fix and for others, that doesn't work for me as it fails `is_url` on https://github.com/Ensembl/ensembl-vep/blob/release/108/INSTALL.pl#L1274 and therefore jumps to the copy, which fails as it's not a filesystem path.

[2022-11-14 15:28] zhx828 opened #1304 "Support multi-platform docker images"
## Describe the issue
This is not an issue but a feature request. Our team at MSK that builds cBioPortal, OncoKB, Genome-Nexus etc. is interested to deploy our apps on AWS graviton processors. In order to do that, we need to build all docker images based on at least linux/amd64, linux/arm64. Our app Genome-Nexus is built on top of VEP, therefore I'm reaching out to see whether multi-platform image

[2022-11-16 11:49] nuno-agostinho commented on #1304
Hey @zhx828,

Let me start by thanking you for your interest in VEP Docker for ARM platforms!

We are currently using DockerHub's Automated Builds to build the image based on our GitHub repo's [Dockerfile](https://github.com/Ensembl/ensembl-vep/blob/release/108/docker/Dockerfile). Unfortunately, DockerHub doesn't allow to build for multiple platforms, despite [feature requests from multiple users]

[2022-11-17 03:36] davmlaw commented on #833
Hi, I am unable to re-open this issue.

Thanks for identifying the RefSeq GFF

Unfortunately there is still no way to see that the Ensembl GRC37 GFF is still in effect v87 - it always lists it as the current Ensembl release, even though this is not true, ie:

http://ftp.ensembl.org/pub/grch37/release-108/gff3/homo_sapiens/ has the 87 GFF

[2022-11-17 04:09] davmlaw commented on #833
Also - the date RefSeq release date was 2020-10-22. The date it was loaded into Ensembl - ie 2020-10-26 17:03:42 is close to this but you have to do some work to figure it out.

Ideally - you'd include the URL of where to get the GTF - that would work for both RefSeq and ensembl, ie GRCh38 108 could just link to

Ensembl - http://ftp.ensembl.org/pub/grch37/release-108/gff3/homo_sapiens/Homo_sapien

[2022-11-18 15:11] #1302 closed

[2022-11-18 17:01] nuno-agostinho commented on #1302
Hi @pdl,

We released [VEP 108.2](https://github.com/Ensembl/ensembl-vep/releases/tag/release%2F108.2) to fix the issues reported in this thread.

Thanks for reporting them and sorry for the inconvenience!

Best regards,
Nuno

[2022-11-21 08:40] pdl opened #1307 "SIFT not available on GRCh38"
## Describe the issue

After installing 108.2, on GRCh38 (not 37) I have the error `SIFT not available` when attempting to annotate variants. It looks like there is a file on the FTP server for sift/polyphen for 107 which is not available from the equivalent 108 location:

https://ftp.ensembl.org/pub/release-107/variation/sift_polyphen/
https://ftp.ensembl.org/pub/release-108/variation/sift_polyph

[2022-11-21 09:27] pdl commented on #1307
Two thoughts:

- the file should be present on the FTP and it would be good if there were a post-release check on Ensembl's side to make sure that the files on the FTP are the ones expected, as it seems to be a recurring issue that not everything is there: #932 #1152 #1220 #1285 #1288
- It also feels odd that INSTALL.pl succeeds when the file is not present

[2022-11-21 13:28] nakib103 commented on #1307
Hi @pdl,

Thanks for your query!

First of all, the FTP file you are looking at is only published for e107. In e107 SIFT and Polyphen-2 scroes for new transcripts were missing. That's why we published a separate db with those predictions which could be used with `PolyPhen_SIFT` VEP plugin. In e108 this has been fixed.

The issue you are facing seems to stem from the cache. Could you please look in

[2022-11-21 16:40] pdl commented on #1307
Ah, apologies, and thanks for that prompt @nakib103: it looks like the install failed silently: info.txt is missing; looking a bit deeper, not all the chromosomes are there either. I've added some code on my end to check whether the info.txt file exists rather than assuming the return value of INSTALL.pl is sufficient. I'll dig into why it's not working and perhaps open a separate issue if require

[2022-11-21 16:40] #1307 closed

[2022-11-23 07:53] QANGFQ opened #1309 "What is the difference between cache files for homo_sapiens?"
Hello,
I have a question about cache files for species/files.

There are three types of cache files for homo sapiens GRCh37 :
1. homo_sapiens_merged_vep_105_GRCh37.tar.gz
2. homo_sapiens_refseq_vep_105_GRCh37.tar.gz
3. homo_sapiens_vep_105_GRCh37.tar.gz

What is the difference between them?
Is this difference a variant notation(nomenclature)?

Does "_refsetq_vep" file notate it like NM_number?
Doe

[2022-11-23 08:42] diegomscoelho commented on #1309
Hi @QANGFQ,

Refseq cache will use RefSeq transcripts nomenclature, VEP will use Ensembl transcripts nomenclature and merged will use both. Refseq cache has not all information from VEP only cache. And "Yes" for last three questions.
You may check more information on:
https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache
https://www.ensembl.org/info/docs/tools/vep/script/vep_othe

[2022-11-23 10:24] QANGFQ commented on #1309
Thanks for the quick and detailed reply and your advice!

Regards,
QANGFQ

[2022-11-23 21:01] yanlolo opened #1312 "ensembldb.ensembl.org NOT accessible"
## Describe the issue
I run the VEP command as below
[code]

but get the error
[code]

Then I also tried to ping ensembldb.ensembl.org and failed
[code]

Could you please help? Thanks a lot

Regards,
Yiqing

[2022-11-24 09:08] diegomscoelho commented on #1309
Hi @QANGFQ,

If you have any other question, please feel free to comment here. I'm closing this issue now.

Regards, @diegomscoelho

[2022-11-24 09:08] #1309 closed

[2022-11-24 13:31] nakib103 commented on #1312
Hello @yanlolo ,

I tried re-producing your issue but failed -
[code]

Were you able to run vep successfully before?
One reason could be you are blocked by firewall at `3306` port. Can you connect to the database manually using -
`mysql --host=ensembldb.ensembl.org --user=anonymous` ?

Best regards,
Nakib

[2022-11-24 15:36] nakib103 commented on #1312
Can you try using the mirror server listed here - https://www.ensembl.org/info/data/mysql.html, If any of them works for you.

You can change the database server  in VEP using the following options - https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#dbopt

[2022-11-28 14:26] stefandiederich commented on #782
Hi there,
I know its a quite old post, but I also run into an "ERROR: Can't detect input format" error. I realised that there was a BND Type SV in the first line of my input VCF. If I copy that to the second line, VEP is working and annotating.
Is this an intended behaviour or some kind of a bug?

Bests
Stefan

[2022-11-28 15:09] nuno-agostinho commented on #782
Hey @stefandiederich,

As you mentioned, VEP fails when loading a VCF input file whose first line is BND-type SV. As VEP is not currently prepared to properly handle BND variants, it would be best to simply filter them out from your VCF file for now.

We are working on improving support for BND variants (hopefully to be released soon). Sorry for the inconvenience!

Thanks,
Nuno

[2022-11-29 10:38] dglemos commented on #1297
Could you please let us know how did you get these variants? The second variant is the same as the first variant just with a different representation. Is there a reason for you having the same variant twice?

According to the VCF format specification, an insertion should include the preceding allele as you have in the first variant **A**/**A**T but in your case the second variant includes two alle

[2022-11-29 10:40] dglemos commented on #1298
Hi @HaotingJia1,
Did you try running VEP with an updated version of the input file?

[2022-11-29 17:52] HaotingJia1 commented on #1298
Yea I solved it thank you!

Best,
Haoting

[2022-11-29 18:00] dglemos commented on #1298
I'm glad the issue is solved. I'm going to close the issue but feel free to open a new one if you have more questions.

Best wishes,
Diana

[2022-11-29 18:00] #1298 closed

[2022-11-30 08:06] rosaricla opened #1316 "Incorrect pHGVS annotation for variant"
## Describe the issue
VEP performed incorrect pHGVS annotation for the variant `NM_173660.5:c.1124_1127dup (rs606231128)` .
VEP annotated the variant as `NP_775931.3:p.Ala377ProfsTer31` when the correct annotation should be `NP_775931.3:p.Ala378Serfs*30`

## Additional information
Links to the variant with correct annotation:
- [CLINVAR](https://www.ncbi.nlm.nih.gov/clinvar/variation/1273/?new_evi

[2022-11-30 11:39] jvolanen commented on #1297
Hi @dglemos

The variants are from a BWA-Mutect2 pipeline. We don't know why we sometimes get different representations for a variant.
At the moment we are investigating to add `vcf-annotate -n` to the pipeline.

[2022-11-30 12:32] nvnieuwk opened #1318 "Can't call method "db" on an undefined value"
## Describe the issue
When running VEP I encountered a vague error, which I can't seem to solve. I've tried running it with a normal and a merged cache (of the same version) on several VCFs, but I always get the same error.

### System
- VEP version: 105.0
- VEP Cache version: 105
- Perl version: 5.32.1
- OS: Ubuntu
- tabix installed ? YES

### Full VEP command line
[code]

### Full error message

[2022-11-30 12:50] nvnieuwk commented on #1318
Duplicate of https://github.com/Ensembl/ensembl-vep/issues/1120

[2022-11-30 12:50] #1318 closed

[2022-11-30 16:23] nuno-agostinho commented on #1316
Hey @rosaricla, hope you are having a nice day!

Could you please send me the VEP command that returns that output? Did you use shifting arguments (e.g., `--shift_genomic`)?

Kind regards,
Nuno