[2021-10-02 05:38] asmlgkj opened #1060 "will hgvs affect clinvar annotation"
## Describe the issue
A clear and concise description of what the bug is.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version:104
- VEP Cache version: 104
- Perl version: [e.g. 5.26]
- OS: CentOS
- tabix installed :yes
<>
hgvs is 3' rule, but databse like clinvar is left normalized, so will this

[2021-10-03 14:34] asmlgkj opened #1061 "EGFR select NM_005228.5 but not NM_005228.3"
## Describe the issue
A clear and concise description of what the bug is.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 104
- VEP Cache version:104
- Perl version: 5.26
- OS: CentOS
- tabix installed yes

in LRG, egfr select 	NM_005228.3, but vep is NM_005228.5, annovar is NM_005228.4, is

[2021-10-04 13:54] dglemos commented on #1060
Hi @asmlgkj,
The HGVS being shifted should not interfere with the ClinVar results on VEP. Could you please provide an example?

[2021-10-04 14:05] asmlgkj commented on #1060
@dglemos
thanks a  lot.
it is just a guess,
how vep use the data in clinvar, because the 3 rule will also need to change the position of ref,
for example
<>
On the transcript, c.1_2delAT deletes AT from …AGGATGCG…, resulting in …AGGGCG…. There’s no ambiguity about what sequence was actually deleted.

c.1_3delATG deletes ATG, resulting in …AGGCG…. Note that you could also get this result by deletin

[2021-10-04 15:07] Hardlearn commented on #1057
Hi, have you found where the problem is? Looking forward to your reply.

[2021-10-05 08:50] dglemos commented on #1061
Hi @asmlgkj,
The RefSeq transcripts available in VEP are imported from NCBI. We try to keep the data updated.
To download the latest transcript IDs, you can use the file GFF or GTF file available here: https://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/annotation/annotation_releases/109.20210514/GCF_000001405.39_GRCh38.p13/

[2021-10-05 08:58] asmlgkj commented on #1061
thanks  a lot
@dglemos

[2021-10-05 11:21] dglemos commented on #1057
Hi,
Thank you for sending the input file again.
The issue is in your input VCF which is missing the header. You can check if the VCF is valid with vcf-validator https://vcftools.github.io/perl_module.html#vcf-validator
Also, the genotype data doesn't look correct. In the VCF file:
`GT      0       0 ...`
Haplosaurus uses phased genotypes which should be something like:
`GT      0|0       0|0 ...`

[2021-10-05 11:23] dglemos commented on #1058
The next release 105 should be out in early November.

[2021-10-05 12:41] #1061 closed

[2021-10-05 15:55] dglemos commented on #1060
Thank you for the example. The output can have missing ClinVar results when using the ClinVar data ([here](ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/)) as custom annotation.
VEP does not left-normalize insertion or deletion variants in repetitive sequence however, the ClinVar VCF is left normalized.
As an example, for the VCF input:
[code]
The VEP output using ClinVar custom annotation doe

[2021-10-05 23:41] asmlgkj commented on #1060
Thank you for the example.
I havae 2 questions here.
1
tools like vt or bcftools norm do left norm, just like database clinvar, they do the same behaviour
hgvs do 3 rule (right norm) , your example seems to does not have something to do with hgvs
<>
2
I make a fake variant in vcf, the first record in my vcf.
both vt and bcftools will report the Reference allele mismatch at chr21:37490194 .. REF_SE

[2021-10-06 08:33] quentin67100 opened #1062 "VEP cache error"
Hello,

When i try to use vep 104.3 with the option --cache i get this error
MSG: ERROR: No cache found for homo_sapiens, version 103

Even if i add the option --dir_cache to point to the directory with cache.
The cache is here : $HOME/.vep/homo_sapiens/104_GRCh38

What could be the issue and how to solve it ?

[2021-10-06 18:23] quentin67100 commented on #1062
Hi @helensch

ensembl-vep          : 104.3

Command example:
[code]

I precise that it's a conda based module from an hpc environnement. I also add a singularity image from the docker image and with this and the same cache it's work... So i don't understand

[2021-10-08 15:04] helensch commented on #1062
Hi @quentin67100

Thank you for the information. As it works with a docker image, it is probably related to how vep was installed for the command line version.

If as you suggest it is  Bioconda installation, we don't officially support installation through Bioconda. While an ensembl-vep Bioconda recipe exists, it wasn't set up by us so you may need to ask them for assistance.

Having said that if

[2021-10-11 17:55] jethror1 opened #1063 "Differing behaviour between ./filter_vep --filter and vep --transcript_filter"
## Describe the issue
When filtering using `./filter_vep`, the same behaviour from `vep --transcript_filter` does not seem possible.

When running vep and directly filtering on a defined number of transcripts with `--transcript_filter stable_id match {transcript}` the following works:
[code]

What I would like to do is run vep without any transcript filter, then filter afterwards for different lis

[2021-10-13 08:29] #1063 closed, assigned to dglemos

[2021-10-13 09:17] jpuntomarcos opened #1064 "Wrong HGVSc when using RefSeq transcripts"
## Describe the issue
HGVSc annotations are not correct when the NM sequence differs from the GRCH37 sequence. For [example](http://grch37.ensembl.org/Homo_sapiens/Tools/VEP/Results?tl=NKtCInmQ2I4SATOE-7714002), If I use VEP online (GRCH37) to query 11:64572018_A/C variant with refseq transcripts, I get:
![image](https://user-images.githubusercontent.com/1809574/137103554-27d05842-1193-41b3-b046-5

[2021-10-13 13:16] rsalz commented on #1059
I can't share the variants. So I tried the annotation again with a [publicly available variant set](https://github.com/Illumina/PlatinumGenomes) (NA12878) and had the same error

[2021-10-14 08:17] gudeqing commented on #1055
Yes, I think VEP should behave more like Haplosaurus and take other variants into account.  In most cases, in a tumor-normal paired analysis, we get somatic variants and germline variants separately, And, when comes to variant annotation, currently, most researchers will annotate somatic variants one by one with tools like vep, annovar and snpeff.  However, a long transcript may contains multiple

[2021-10-14 13:16] rsalz commented on #1059
Neither of these actions fixed my error

[2021-10-14 14:10] dglemos commented on #1059
How much time does it take for the job to fail?

[2021-10-15 14:50] dglemos commented on #1064
We have a plan to improve the HGVS calculation, however I can't give you an exact date when it will be done.

[2021-10-17 12:12] asmlgkj commented on #1060
is this issue still being in follow?
thanks a lot

[2021-10-19 01:18] asmlgkj commented on #1060
thanks a lot
my question is here
<br>
<br>
thanks a lot.
it is just a guess,
how vep use the data in clinvar, because the 3 rule will also need to change the position of ref,
for example
<>
On the transcript, c.1_2delAT deletes AT from …AGGATGCG…, resulting in …AGGGCG…. There’s no ambiguity about what sequence was actually deleted.

c.1_3delATG deletes ATG, resulting in …AGGCG…. Note that you coul

[2021-10-19 16:42] srynobio opened #1065 "Misspelling in SpliceAI"
## Describe the issue
A misspelling in SpliceAI that incorrectly set the hash key to `svn` in VEP version 1.04.

## Additional information

I review the original SpliceAI code and after running `Data::Dumper` on the following:

[code]

The above shows that `svn` is used instead of `snv` which you check for here:

[code]

### System
- VEP version: 104.3
- VEP Cache version: 104.3
- Perl version: v5

[2021-10-20 14:18] Stikus opened #1066 "Missed sorting of Consequence field"
## Description
We found similar differences as described [here](https://github.com/Ensembl/ensembl-vep/issues/1031) - now in `Consequence` field.

### System
- VEP version: 104.3
- VEP Cache version: 104
- Perl version: 5.26.1
- OS: Ubuntu 18.04
- tabix installed : yes

### Full VEP command line
[code]

### Data files (if applicable)
[code]

[code]

Here are the differences:

- `-|splice_donor_var

[2021-10-20 14:44] #1065 closed, assigned to helensch

[2021-10-26 11:00] DarioS opened #1067 "Cache Size Not Shown Before Download Starts"
INSTALL.pl should show the size of cache files in brackets before the user starts a download. Only filename shown.

[code]

I wasn't expecting it to bomb my home directory (12 GB hard limit).

[code]

The download is automatically deleted when it hits the limit and I am under the limit automatically. The quota output above is from a few seconds before that happened.

[2021-10-28 15:38] rsalz opened #1069 "adding individuals to VEP output"
I'm annotating a file that contains a large amount of individuals. I would like to see back in my VEP output _which_ individuals had the variant (annotation) in question. I know that there is an option `--individual all`, which I use, but due to the large number of individuals, I have a huge output file where there are lots of lines that are completely the same except for the 'IND' field.

Wouldn'

[2021-10-29 18:13] reliscu opened #1070 "Variant classification output is empty"
## Describe the issue
I'm requesting the "variant classification" field in my command, but the output in this field for all my variants is empty, e.g.:
[code]
However, looking at the variant class breakdown in the [summary .html file](https://drive.google.com/file/d/1hDerCzUaIODo_xr9z7SAYeBases5fDiN/view?usp=sharing), my variants _are_ broken down by variant class.

How can I get this information

[2021-11-01 05:10] Hardlearn commented on #1057
Unfortunately, I still failed to do so even though I added the header for my input VCF.

[2021-11-01 08:31] rsalz commented on #1069
In each line of the output, there is something along the lines of:

IND=PERSON1;ZYG=HOM;IMPACT=MODIFIER;STRAND=-1; ...

I would prefer if you had an option where you could have more than 1 individual in the line, such as:

IND=PERSON1;ZYG=HOM;IND=PERSON2;ZYG=HOM;IND=PERSON3;ZYG=HOM;IMPACT=MODIFIER;STRAND=-1; ...

Since everything after the 'IND/ZYG' part is the same for a given variant!

I am anno

[2021-11-01 22:21] helensch commented on #1070
Hi @reliscu

To output the the Sequence Ontology variant class in VEP the ```--variant_class``` option is needed.

https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_variant_class

Regards
Helen

[2021-11-01 22:29] reliscu commented on #1070
Hi @helensch,

Ah, thank you very much! I thought I looked closely at the documentation, but apparently not.

[2021-11-01 22:30] #1070 closed

[2021-11-04 09:36] lacek commented on #498
This is indeed a great suggestion.

The idea of using bracket to indicate predicted protein change isn't something new. According to HGVS website, it was there back in 2004:
* (2004) examples protein-level: https://web.archive.org/web/20041212151916/http://www.hgvs.org/mutnomen/examplesAA.html#general

* (2004) FAQ: https://web.archive.org/web/20041018100648/http://www.hgvs.org:80/mutnomen/FAQ.htm

[2021-11-04 19:47] Madelinehazel opened #1071 "No canonical flags"
## Describe the issue
I have specified the --canonical flag, but the flag is not present anywhere in the output vcf.

## Additional information
Is this because I am annotating against both RefSeq and Ensembl transcripts (i.e. --merged)?

### System
- VEP version: [104]
- VEP Cache version: [104]
- OS: [linux]
- tabix installed ? yes

### Full VEP command line
[code]

[2021-11-05 15:26] helensch commented on #1071
Hi @Madelinehazel

Please could you provide an example of a variant where the canonical flag is not being returned in the output VCF.

The canonical flag will be returned when using the ```--merged ``` option.

For example the variant ```1  230710048  rs699  A  G``` will flag transcripts as CANONICAL. Example given below is from tab-output for easier viewing
[code]

The header information in the V

[2021-11-05 15:52] helensch commented on #498
Hi @lacek

Thank you for your comments. I have noted your suggestion that using brackets to indicate predicted protein change be an optional feature for consideration on the task list for supporting other HGVS terminologies.

Regards
Helen

[2021-11-08 07:00] DarioS opened #1072 "Website Tabular Format Output and Multi-sample VCF Input"
The TXT output file format as can be obtained from the website interface could be more informative if it kept details about the samples and which sample has which genotype for each variant.

[2021-11-08 13:38] dglemos commented on #1057
Could you send the first lines of the new input file?

[2021-11-08 16:29] dglemos commented on #1072
Hi @DarioS,
VEP will only keep your input genotypes with the VCF output format.

Input VCF file:
[code]

Output VCF file with genotypes:
[code]

In the command line there is one option `--individual` which will return the genotypes for each individual. More info can be found [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#output).

[2021-11-08 19:52] Madelinehazel commented on #1071
Hi Helen,
Thank you for the detailed response! I had thought that that flag itself was CANONICAL, and when grepping for this did not return any variants, thought that it was not annotated- I see now that the flag is YES, and is indeed incorporated into the annotations.
Thanks
Madeline

[2021-11-08 19:52] #1071 closed

[2021-11-09 09:28] jethror1 opened #1073 "Duplicated IDs with custom annotation source"
## Describe the issue
When annotating with Cosmic VCF using `--custom`, duplicates of the ID are recorded in the INFO field. This seems to correspond to the number of entries for that same variant in the input VCF(s). This behaviour is not a wrong as such, and I can understand the rationale for some people wanting this, but since a Cosmic ID is unique to a genomic change it feels redundant to stor

[2021-11-09 14:11] vasicek58 commented on #603
Apologies for the long silence, it turned out to be an issue on our side. Thanks for your reply!

[2021-11-10 08:35] Adrian-Howard opened #1074 "GFF format for custom Bacterial genome"
Hello,

I am trying to run vep offline mode with a bacterial genome but variants that fall in a cds region are printed as intergenic.

My reference files where downloaded directly from NCBI genome and have prepared them ass suggested in the link https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff

This is an example of my gff file:
CP054425.1	RefSeq	gene	1	1503	.	+	.	ID=gene-EE56

[2021-11-10 09:28] dglemos commented on #1073
Hi @jethror1,
Thanks for the detailed explanation. Getting duplicated IDs such as your example is not ideal - we will have a look at your suggestion and will let you know more.

Best wishes,
Diana

[2021-11-10 12:17] dglemos commented on #1069
Thank you for your example.
It makes sense to optionally return all individuals in the same line without duplication of variants in the output. We will create a plan to add an option in the future to report individuals in the same output line.

Best wishes,
Diana

[2021-11-10 14:28] dglemos commented on #1074
Hi @Adrian-Howard,
Bacterial genomes in NCBI are annotated with only CDS which means in the GFF file the CDS is directly attached to the gene without any transcript and exons that is why the variants are being annotated as intergenic.

Could you try again with the following GFF example:
[code]

[2021-11-10 16:57] dglemos commented on #1003
Hello @bishemma1,
The reason why some variants are being annotated as intergenic even when they overlap a gene is that bacterial genomes in NCBI are annotated with only CDS. In the GFF file the CDS is directly attached to the gene without any transcript and exons. A workaround is to edit the file to link the gene to the transcript and the exons.

[2021-11-11 14:31] MGCarta opened #1076 "filter_vep --only_matched doesn´t work as I expected"
Hello! I encounter this warning when I try to filter with filter_vep a vcf file already annotated by vep:
**MSG: The script 'filter_vep' couldn't find the VEP annotations INFO field CSQ in 28 lines of the input file**.

In addition the option --only_matched doesn´t work as I expected and I don´t know if is related to the problem above.
I would like to filter only the consequences reported below an

[2021-11-11 14:35] MGCarta commented on #1076
[output_vep.txt](https://github.com/Ensembl/ensembl-vep/files/7521115/output_vep.txt)

[2021-11-11 15:12] dglemos commented on #1076
Hi @MGCarta,
In your input file you have 28 variants without VEP annotation that is why the command throws the warning.
For example, these variants are not annotated by VEP:
[code]
Which VEP command did you run?

[2021-11-11 15:26] dglemos commented on #1076
I noticed you are filtering only variants that pass the filter `FILTER is PASS`. In your file only two variants match this filter and none of these variants match the consequences you want to filter.

If you want to keep the blocks that are not included in the filter, you shouldn't use flag `--only_matched`. This option will remove blocks that do not pass the filters.

[2021-11-11 15:53] MGCarta commented on #1076
Hi @dglemos , thank you for your clarification about the use of --only_matched!
The vep command that I used is the following:
vep --offline \
	--cache \
	--assembly GRCh37 \
	--refseq \
	--force_overwrite \
	--hgvs \
	--numbers \
	--pubmed \
	--no_intergenic \
	--clin_sig_allele 1 \
	--af \
	--af_1kg \
	--af_gnomad \
	--vcf --filter_common \
	--freq_freq 0.025 \
	--dir /vep/.vep \
	--fasta /homo_s

[2021-11-11 16:09] dglemos commented on #1076
The command looks alright. The error message you posted above is thrown when you run the VEP command?
[code]

[2021-11-12 07:56] MGCarta commented on #1076
No, this error message only occurred because I gave the wrong path to the output folder, never mind.
Instead the message that appears when i run vep is this one:

**2021-11-12 08:48:11 - INFO: BAM-edited cache detected, enabling --use_transcript_ref; use --use_given_ref to override this**

 and it seems correct to me.

[2021-11-12 08:42] ntm commented on #1069
Hi,
alternately you could ask VEP to output VCF, you'll get the annotations in the CSQ= INFO field and keep the genotypes of all your individuals in the data columns following FORMAT .
Having multiple instances of IND= and ZYG= tags with different values doesn't seem right.

[2021-11-12 16:33] dglemos commented on #1076
The message is related to the RefSeq cache, nothing wrong with that.

Some variants are not being annotated by VEP because of this option `--no_intergenic` - the intergenic variants are the ones without annotation. For the filter_vep to work you can do one of the following:
- remove `--no_intergenic` from the VEP command and filter these variants with filter_vep
- include `--no_intergenic` in the

[2021-11-15 14:45] asmlgkj opened #1077 "add support for CADD and MutationTaster"
## Describe the issue
thanks a lot for continous update of vep,  does vep support CADD and MutationTaster

[2021-11-16 09:45] helensch commented on #1077
Hi @asmlgkj

CADD and MutationTaster are available via VEP Plugins.

For information on VEP Plugins see:
https://www.ensembl.org/info/docs/tools/vep/script/vep_plugins.html

MutationTaster is available via the dbNSFP VEP plugin.
For an example of use see the dbNSFP example on
https://www.ensembl.org/info/docs/tools/vep/script/vep_example.html

The Ensembl Blog post also gives an overview
https://w

[2021-11-16 09:47] asmlgkj commented on #1077
Thanks a lot.
how can I used it in command , can you give an example?

[2021-11-16 10:26] helensch commented on #1077
Hi @asmlgkj

For information on running VEP Plugins see
https://www.ensembl.org/info/docs/tools/vep/script/vep_plugins.html#plugins_use

Each VEP Plugin contains information on how to run and  any data needed.

There are links to the VEP Plugins from:
https://www.ensembl.org/info/docs/tools/vep/script/vep_plugins.html

For CADD e104:
https://github.com/Ensembl/VEP_plugins/blob/release/104/CADD.pm

[2021-11-16 10:30] asmlgkj commented on #1077
thanks a lot

how can I download file like  /FULL_PATH_TO_CADD_FILE/whole_genome_SNVs.tsv.gz,/FULL_PATH_TO_CADD_FILE/InDels.tsv.gz

[2021-11-16 11:48] asmlgkj commented on #1077
The exac seems to has a new version  release1 instead of currennt

[2021-11-16 14:56] helensch commented on #1077
Hi @asmlgkj

From: https://github.com/Ensembl/VEP_plugins/blob/release/104/CADD.pm
" The plugin works with all versions of available CADD files. The plugin only
 reports scores and does not consider any additional annotations from a CADD
 file. It is therefore sufficient to use CADD files without the additional
 annotations. "

 The version will depend on your use case and assembly.

 The https://

[2021-11-16 15:44] helensch commented on #1077
Hi @asmlgkj

The information for CADD download is at the top of the page
https://cadd.gs.washington.edu/download
above
Developmental release: v1.6 [release notes]
From the page:
"Due to the large file sizes, we highly recommend a download manager or another tool that allows you to continue interrupted downloads (e.g. wget -c). Note that the latest versions also have a separate download option via

[2021-11-16 15:47] asmlgkj commented on #1077
Thanks a lot.
I also see that.
I am asking file

All possible SNVs of GRCh37/hg19 | US | DE (78G) | US | DE (2.6M)
All possible SNVs of GRCh37/hg19 incl. all annotations | US | DE (248G) | US | DE (2.6M)

<br>
which snv file is needed for  vep

[2021-11-16 15:53] helensch commented on #1077
Hi @asmlgkj

As noted : https://github.com/Ensembl/VEP_plugins/blob/release/104/CADD.pm
" The plugin works with all versions of available CADD files. The plugin only
reports scores and does not consider any additional annotations from a CADD
file. It is therefore sufficient to use CADD files without the additional
annotations. "

So the file without the additional annotations can be used i.e. All

[2021-11-16 15:54] asmlgkj commented on #1077
Thanks a lot

[2021-11-17 09:46] AnneBoshove opened #1079 "Issue when running VEP using custom annotation"
When trying to run VEP with a custom gff file, it prints lots of lines including:
"Use of uninitialized value $phase in numeric eq (==) at /home/WUR/bosho009/miniconda3/envs/vep/share/ensembl-vep-104.3-1/modules/Bio/EnsEMBL/VEP/AnnotationSource/File/BaseGXF.pm line 784, <__ANONIO__> line 90033."
Sometimes instead of $phase it's $exon_phase or $start_phase.

And finally ends after about a minute wi

[2021-11-17 11:11] MGCarta commented on #1076
@dglemos  thank you for the explanation, now it´s clearer!

[2021-11-17 20:55] helensch commented on #1079
Hi @AnneBoshove

Are the warning messages regarding "uninitialised values"  getting printed for all variants being run?

The messages suggest there may be problems parsing the exons in the GFF file.

Does the format of your gff follow the "GFF format expectations" on
https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff

Please could you try
- running for a variant that was success

[2021-11-17 21:42] AnneBoshove commented on #1079
Hi @helensch ,
Thanks for your reply!

The warning messages do not seem to occur for every single variant. I got around ~10k warning lines for the ~80k variants it managed to run.

As far as I can tell the GFF file has the proper format, sometimes it has additional info in the 9th column, could that be an issue?

I tried to run it on the couple of variants before and after the one it stopped on on

[2021-11-18 15:15] bibinf commented on #1064
Hi @dglemos ,

I'm not quite sure if my issue is related to this one, but I've also some strange behavior with a bam-edited annotation:

http://grch37.ensembl.org/Homo_sapiens/Tools/VEP/Results?tl=yJr1DXAflVyUlOCG-7819531

![image](https://user-images.githubusercontent.com/78489997/142440869-b7f4b69c-17f1-4bdb-8bb8-cb1b1cbd285a.png)

The calculated HGVS.c and HGVS.p states synonymous_variant, NM_0

[2021-11-18 16:55] dglemos commented on #1069
In the VCF output we get the genotypes in the column FORMAT however when using the option `--individuals` variants are being reported multiple times which we want to avoid.

That is correct, we should avoid duplication of keys (IND or ZYG). All the individuals could be reported as a list in the same tag/key.

[2021-11-19 03:45] bishemma1 commented on #1003
Hi @dglemos, thank you for your reply. I did attempt converting using some of the tools listed [here ](https://github.com/NBISweden/GAAS/blob/master/annotation/knowledge/gff_to_gtf.md) and through manual edits but it doesn't seem like an easy fix. I think it could be done though given enough trial and error. Might I suggest not listing GFF3 files as supported at this time, or at least not for geno

[2021-11-19 03:45] #1003 closed

[2021-11-19 17:30] dglemos commented on #1064
Hi @bibinf,
The HGVSc is not using the reference modification as it should, see your example NM_000130.5:c.1601A>G.
You are correct, in your example the amino acid change should be p.Arg534Gln (G>A and not G>G). This issue needs to be addressed - thank you for reporting it.

Best wishes,
Diana

[2021-11-21 14:32] bibinf commented on #1064
TOP 😅

Am Fr., 19. Nov. 2021 um 18:30 Uhr schrieb 'Diana Lemos' via bioinformatik <
***@***.***>:

--

Mit freundlichen Grüßen

Christian Decker, M.Sc.
Leitung Bioinformatik

Institut für Medizinische Diagnostik GmbH
Humangenetik / Ingelheim
Konrad-Adenauer-Straße 17
55218 Ingelheim
Tel.: 06132 781 - 133
Fax: 06132 781 - 194
***@***.***
www.bioscientia.de

--

Gesellschaft mit beschränkter Haftung

[2021-11-23 23:00] rached-97 opened #1081 "Error downloading VEP cache using singularity build"
## Describe the issue
Cannot download vep cache and plugins using signularity build (built today on centOS following instructions here https://www.ensembl.info/2021/05/24/cool-stuff-the-vep-can-do-singularity/) due to a curl related error. curl seems to work fine within the singularity shell

[code]

## Additional information

### System
[code]
CentOS Linux release 7.9.2009 (Core)

[2021-11-24 12:01] jamie-m-a commented on #1081
Hi rached-97,

I've tested this internally, though not on CentOS and the command is working fine. Perhaps you are having a transient issue with you internet connection - have you retried?

[2021-11-24 15:42] rached-97 commented on #1081
I don't think it's an obvious connection issue as curl work fine when I run it from the singularity shell. Please see below:

[code]

[2021-11-24 21:08] rached-97 commented on #1081
Does this help?

[code]

[2021-11-24 21:31] rached-97 commented on #1081
I think I figured out the issue -- I simply had to bind /etc in my singularity command

[2021-11-24 22:20] rached-97 commented on #1081
confirming that binding /etc resolved the issue I described above. Thank you for your time.

[2021-11-24 22:20] #1081 closed

[2021-11-25 02:19] jeongmeani opened #1082 "vep 1 HGVS notation to genomic coordinate - not find"
## Describe the issue
Hi,
using VEP web api, i'm about to find some specific genomic coordinate from HGVS.
but some of them, vep could not find these.
for example, Gen1:p.K707N was not found on BALB_cJ_v1 data.
i check this gene on BALB_cJ_v1.

is there chance to fix it?

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible

[2021-11-25 13:15] AnneBoshove commented on #1079
I eventually managed to solve the problem by using a gtf file instead of a gff file for annotation, so i'll close this issue now.

[2021-11-25 13:15] #1079 closed

[2021-11-25 20:11] helensch commented on #1079
Hi @AnneBoshove

Thank you for sending your example files and letting us know you managed to solve the problem using a gtf file instead.

Initial investigation showed that that VEP reported an error for a few exons in the GFF and stopped running.

We will add this issue onto our task list to investigate further.

Thank you for raising this issue.

Regards
Helen

[2021-11-26 12:53] jethror1 commented on #1073
Hi Diana, is there any update on this issue?

Best wishes,

Jethro

[2021-11-26 13:32] dglemos commented on #1073
Unfortunately no updates yet.

[2021-11-29 15:30] #1038 closed

[2021-12-01 11:33] jamie-m-a commented on #1037
Issue resolved, closing this one off.

[2021-12-01 11:33] #1037 closed

[2021-12-01 13:26] jamie-m-a commented on #1035
Hi @Nagasundaram620,

I'm going to close this issue now. If you need any furtehr information or help please reopen it, or raise a new issue.

Thanks,
Jamie.

[2021-12-01 13:26] #1035 closed

[2021-12-01 19:15] Danisov opened #1083 "Combine the same variants between the samples in the same line (question)"
Dear colleagues

I used VEP to annotate a multisamples vcf file, but I get separate lines of the same variant, which corresponds to each sample.

here is an example of output

[code]
I would like to get a single row for each variant, like this:

[code]

Or

[code]

Do you have an idea ?

[2021-12-02 10:59] dglemos commented on #1083
Hi @Danisov,
At the moment, VEP reports separate output lines for each sample.
As described in this ticket: https://github.com/Ensembl/ensembl-vep/issues/1069 we have a plan to add an option in the future to report samples in the same output line.

Best wishes,
Diana

[2021-12-02 19:02] 11Dmitriy11 opened #1084 "installation error, Do I need some perl libs?"
## Describe the issue
Hello! This installer is configured to install v104 of the Ensembl API for use by the VEP.
It will not affect any existing installations of the Ensembl API that you may have.

It will also download and install cache files from Ensembl's FTP server.

Checking for installed versions of the Ensembl API...done
It looks like you already have the following API modules installed:

e

[2021-12-02 21:21] #1084 closed

[2021-12-03 16:31] Danisov opened #1085 "Annotation bed file with --custom"
I would like to use OMIM with --custom,

I have a txt file and I wanted to use it in --custom. This file contains the following headings

` # Chromosome Genomic Position Start Genomic Position End Cyto Location Computed Cyto Location MIM Number Gene Symbols Gene Name Approved Gene Symbol Enter Gene ID Ensembl Gene ID Comments Phenotypes Mouse Gene Symbol / ID`

 I followed the steps mentioned here

[2021-12-03 16:33] Danisov commented on #1083
Thank you for your feedback !
I opened another issue about --custom with the bed file of OMIM would it be possible to see it?

[2021-12-03 17:34] dglemos commented on #530
I'm going to close this ticket. Please feel free to open a new one if you have more questions.

Best wishes,
Diana

[2021-12-03 17:34] #530 closed

[2021-12-03 17:38] dglemos commented on #675
I'm going to close this ticket. Please feel free to open a new one if you have more questions.

Best wishes,
Diana

[2021-12-03 17:38] #675 closed

[2021-12-04 08:29] tinyboxio opened #1086 "Installing problems on macOS Monterey"
I get an error. Please help. I added environmental variables, etc. I didn't turn off HTSLIB compiling, was just too much to copy/paste.

[code]

[2021-12-06 11:38] dglemos commented on #1082
Hi @jeongmeani,
Could you please send the VEP command?
Is Gen1:p.K707N the input format?

[2021-12-06 21:40] helensch commented on #1085
Hi @Danisov

From https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html
"BED : a simple tab-delimited format containing 3-12 columns of data. The first 3 columns contain the coordinates of the feature. If available, VEP will use the 4th column of the file as the identifier of the feature. "

The options of the custom annotation are given in
https://www.ensembl.org/info/docs/tools/vep/

[2021-12-06 22:26] helensch commented on #1086
Hi  @tinyboxio

The message "MSG: ERROR: Cannot use format gff without Bio::DB::HTS::Tabix module installed"
suggests that the  Bio::DB::HTS::Tabix cannot be found.

When you ran the VEP installer, was the installation of htslib and Bio-DB-HTS successful?

Please could you check that the following exist in your VEP installation directory
[code]

Please could you run the following commands

[code]

[2021-12-07 23:12] jeongmeani commented on #1082
Hi,

i ran this task on VEP web interface like below image
![image](https://user-images.githubusercontent.com/26432983/145120013-695c8d20-b2d0-4e92-9624-1101c4bef031.png)

yes the input is **Gen1:p.K707N**

Best regards.

Jeongmin

[2021-12-08 05:43] gandham71 opened #1088 "Some Variants not being process"
In the html output, out of the total variants few of them are not processed.
We wanted to know the reason for the same and as well get the list of the unprocessed variants

[2021-12-08 15:07] dglemos commented on #1060
Thanks for reporting the issue. There is a mismatch of alleles between Clinvar and VEP, we are going to work on a fix sometime next year. I'll let you know when there is any update.

Best wishes,
Diana

[2021-12-08 15:11] dglemos commented on #1076
I'm glad it's clearer now.
I'm going to close this issue but feel free to open a new one if you have more questions.

Best wishes,
Diana

[2021-12-08 15:11] #1076 closed

[2021-12-08 15:22] #1057 closed

[2021-12-08 15:47] #683 closed

[2021-12-09 14:31] NKlsADN opened #1089 "Singularity cache issue"
Hi,
I am trying to use VEP (_Ensembl API version = 104_) using the docker image on a HPC that only allows singularity.
So following [this](http://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#installer) tutorial about docker, I just used the same command using _Singularity 3.7.1_:

[code]

After that I tried to run a test command:

`singularity exec -B $PWD/vep_data:/opt/vep/.vep en

[2021-12-09 14:33] Z-Zen opened #1090 "ERROR: Could not eval VEP plugin config file (VEP 105)"
## Describe the issue
When trying to build VEP version 105, I get an error for installing all the plugins by giving the parameter `./INSTALL.pl -a p --PLUGINS all`.

### System
- VEP version: 105
- Perl version: 5.24
- OS: Debian 9
- tabix installed ? Yes

### Full VEP command line
[code]

### Full error message
[code]

[2021-12-09 19:26] helensch commented on #1090
Hi @Z-Zen

Thank you for reporting this installation error. A fix has been made to correct the VEP plugin config.

Please could you try re-running the INSTALL.pl

Regards
Helen

[2021-12-09 20:34] helensch commented on #1088
Hi @gandham71

Thank you for your query.

Do you have examples of variants being skipped?

Are there warnings being written to the  warning file ```--warning_file [filename]```

Are you using VCF format as input and output? By default VEP will skip non-variant lines of input (where the ALT allele is null).

Enabling the ```--allow_non_variant```  option the lines will be printed in the VCF output

[2021-12-09 23:50] davmlaw commented on #728
FYI - a NMD plugin was added on September 20th

https://m.ensembl.org/info/docs/tools/vep/script/vep_plugins.html#nmd

[2021-12-10 03:36] NKlsADN commented on #1089
Hi Helen,
Thanks a lot for your quick feedback, I wasn't aware about this resources and it helped me a lot. I was able to run the INSTALL.pl. Now everything is running thanks to you.

However, for curiosity I tried again to download the cache manually and I still have and error. Using the curl command you send me I have: `(56) Recv failure: Connection reset by peer`
Using wget I get `HTTP request

[2021-12-10 03:36] #1089 closed

[2021-12-10 08:49] Z-Zen commented on #1090
@helensch Thank you for the quick fix! Now, I am getting a warning:

[code]

But the installation proceeds with installing the plugins.

[2021-12-13 08:36] jamie-m-a commented on #13
Hi @martiliasf I'm closing this issue as I believe Will provided a solution and there has been no follow up in several years.

[2021-12-13 08:36] #13 closed

[2021-12-13 11:39] jamie-m-a commented on #256
Hi @bb-so , @edmundlth and @007vasy

Because of the age of this ticket and also because we are not able to reliably reproduce the issue internally, I am going to close off this ticket. However, if you have updates or are still encountering the issues please feel free to reopen, or open a  new ticket and we can review.

Cheers,
Jamie.

[2021-12-13 11:39] #256 closed

[2021-12-14 14:33] Stikus commented on #1031
I assume it is fixed in VEP 105, but I've found nothing in release description. Is it really fixed? If yes - we can close this issue.

[2021-12-14 14:42] Stikus commented on #1034
Hello, any news?

I've found closed PR related to this issue: https://github.com/Ensembl/ensembl-vep/pull/1044

We cannot use latest VEP releases in our production due to this problem because without `--no-stats` runtime is twice longer, and we don't have time for such long pipeline.

[2021-12-14 16:57] ntm commented on #1034
Until the issue is fixed, as a workaround you could try a solution similar to https://github.com/ntm/grexome-TIMC-Secondary/blob/master/3_runVEP.pl
This is designed for the N+1 case, where you regularly run VEP on new VCFs comprised mostly of variants that were seen in your older VCFs. Briefly, this script constructs/updates a private cache of VEP CSQs for each "chr:pos:ref:alt". Then when parsing

[2021-12-14 17:35] dglemos commented on #1031
Hi @Stikus,
It has been fixed. I'm going to close the issue but feel free to re-open it if you find any more issues.

Best wishes,
Diana

[2021-12-14 17:35] #1031 closed

[2021-12-15 08:18] Stikus commented on #1066
Hello, any progress about this? Our internal tests sometimes fail due to missed sorting, even on VEP 105.

Maybe we can help somehow? Looks like somewhere here sorting should be added but i'm bad with Perl: https://github.com/Ensembl/ensembl-vep/blob/release/105/modules/Bio/EnsEMBL/VEP/OutputFactory.pm#L1251

[2021-12-15 09:01] sigven commented on #643
Hi,

I have a somewhat related question regarding the GENCODE basic set. I have assumed that transcripts used by VEP for annotation with the `--gencode_basic` option were restricted to GENCODE transcripts annotated with the `basic` tag.  Meaning for the grch37 version of VEP, which uses GENCODE v19, I thought that transcripts were limited to those listed with `tag "basic"` in the [corresponding GE

[2021-12-15 09:59] jamie-m-a commented on #643
Hi @sigven,

That's also my understanding of how that flag should function. Would you mind providing the command you ran along with the input data and output data, specifically those variants on transcripts that aren't tagged as basic.

Cheers,
Jamie.

The intended functionality is as you'd expect, would it be possible for you to pro

[2021-12-15 11:09] sigven commented on #643
Thanks for the swift response, @jamie-m-a. I just realized my internal check was not fully accurate (I failed to recognize that there are frequently multiple GENCODE tags pr. transcript, so I missed a number of _basic_ tag annotations).

In my [current test result (includes a minor VCF, and output VEP results)](https://www.dropbox.com/sh/atl9kpyz8qe8o1q/AACSIOC7VjajYRPUPB5F08faa?dl=0), which I ran

[2021-12-15 12:41] jamie-m-a commented on #643
Hi @sigven

Thanks for providing the data, I'm glad you managed to clear up part of the issue. With regard to the presence of a pseudogene in the gencode basic set, I believe this is as a result of the methodology used in generating the set, there's a [full description here](https://www.ensembl.org/info/genome/genebuild/transcript_quality_tags.html#basic).

The pertinent part being step 4:

`If, a

[2021-12-15 12:46] sigven commented on #643
Ah, thanks for clearing that up! Then it all makes sense. I have not come across this documentation site before.

Thanks for very helpful feedback, and close the issue at your convenience.

regards,
Sigve

[2021-12-15 13:01] jamie-m-a commented on #643
Glad I could help, I'll close this ticket down.

Cheers,
Jamie.

[2021-12-15 13:01] #643 closed

[2021-12-15 15:11] jamie-m-a commented on #1029
Hi @nkausthu,

We will investigate whether to implement the genotype info per sample in tab format, but as this information is currently provided through the VCF output option, this would be a low priority change and not likely to occur in the near future.

So, with that being the case, I will close off this ticket, but we will contact you if we do make this change.

Please feel free to reopen the

[2021-12-15 15:11] #1029 closed

[2021-12-15 15:40] jamie-m-a commented on #1034
Hi @Stikus,

We are still working on this I'm afraid, the pull request you refer to was closed because I don't believe it resolved the issue. We will update when a fix is in place. In the meantime, perhaps the workaround suggested by @ntm above can be useful for you.

Cheers,
Jamie.

[2021-12-15 16:29] jamie-m-a commented on #1066
Hi @Stikus,

This one is still being investigated, we shall get back to you when a fix is in place.

Cheers,
Jamie.

[2022-01-04 07:25] stroke1989 opened #1091 "can ensemble-vep 104.0.0 annotate a mutation file that was mapped to GRCH37(hg19)?"
Excuse me:
I'm a new to use vep, I try to use vep to annotate my mutation file. My mutation files were mapping to hg19. The version of ensemble-vep I installed is 104.0.0, VEP Cache version is 104_GRCh37, I don't know whether I could use vep 104.0.0 to annotate my mutation file(mapped to hg19). I saw that GRCH37 stop at ensemble version 75. Hope your response. Appreciate!

[2022-01-04 13:48] dglemos commented on #1091
Hi @stroke1989,
You can annotate your file with VEP cache 104_GRCh37. Ensembl stopped to update the geneset on GRCh37 at release 75. However, the variation and regulation data were updated more recently (dbSNP 154, ClinVar 2020-12, COSMIC 92, HGMD, etc).

Best wishes,
Diana

[2022-01-10 10:52] pdl commented on #1088
Not sure if my issue is the same as @gandham71 's but in 105.0 we have the following behaviour:

[code]
Outputs nothing, and writes the following warning:

[code]

In 104.1, you get a JSON output and no warning.

[2022-01-10 13:11] nuno-agostinho commented on #1088
Hello @pdl,

Thanks for your query.

As you mention, the cache data you are using seems to be incomplete. We already confirmed that the [public cache](http://ftp.ensembl.org/pub/release-105/variation//indexed_vep_cache/) is not truncated in the FTP public server and contains the missing chromosomes you mentioned.

Could you please detail the steps on how you retrieved the data cache to better unde

[2022-01-10 13:19] tedil opened #1092 "vep 100.0 skips VCF record with reason "incomplete" even though it is a valid record"
## Describe the issue
For certain VCF records, ensembl-vep 100.0 reports `WARNING: VCF line on line [n] looks incomplete, skipping:`, even though these records are valid (i.e. not incomplete) VCF records.

Example record that is skipped by vep:
[code]

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP

[2022-01-10 13:29] pdl commented on #1088
I've downloaded the cache files again and it seems to have worked. The script I used was:

```perl /opt/vep/src/ensembl-vep/INSTALL.pl -a cfp -s homo_sapiens -y GRCh38 -g dbNSFP,CADD,SpliceAI```

Possibly unrelated, but I've also noticed a possible issue with the SSL certificate on the FTP (below; have tried from a couple of different machines running Ubuntu, but ftp.ebi.ac.uk works and connecting

[2022-01-10 14:08] pdl commented on #1088
Aha: https://github.com/Ensembl/ensembl-vep/blob/release/105/INSTALL.pl#L1801 - I think my cache extract must have silently failed here (possibly due to a disk space issue): backticks `and die` is not the correct idiom (backticks returns STDOUT); you want `system` `and die` as `system` returns the error code (0 on success).

[code]

Apologies, this is presumably a different issue to the orignal.

[2022-01-10 17:08] nuno-agostinho commented on #1088
Hi again @pdl.

Thanks for opening PR #1093. After making those changes to the file, what happens when running `perl /opt/vep/src/ensembl-vep/INSTALL.pl -a cfp -s homo_sapiens -y GRCh38 -g dbNSFP,CADD,SpliceAI` in your system? Does it now show you the expected error message?

Regarding the SSL certificate issue, thanks for pointing it out. We are looking into that.

[2022-01-10 17:25] dglemos commented on #1092
Hi @tedil,
If END is defined in INFO, VEP is going to use it to determine the end coordinate. In your example the end coordinate is the same as the start `END=88643570` which means VEP cannot determine where the deletion ends. Another way to know the end coordinate is to use SVLEN, however VEP only uses SVLEN if END is not defined which is not the case for your variant.
If you remove the tag END f

[2022-01-11 08:39] tedil commented on #1092
Thanks for the reply!
Indeed, removing `END` resolves the issue (I'll have to find out why `END` is wrong).

Perhaps the warning could be a bit more specific, if possible. E.g. explains why the record is deemed "incomplete", or have a check that POS and SVLEN agree with END, at least for insertions and deletions.

Closing since the issue itself has been solved. Thanks again ;)

[2022-01-11 08:39] #1092 closed

[2022-01-12 23:21] jon4thin commented on #417
Hi, I would like to know how HGVS_OFFSET affects the protein level, or HGVSp?
Wouldnt the protein structure change based on the HGVS offset, especially for insertions, deletions, and frameshift variants?

I am trying to take stop gain variants, see where the terminal codon is introduced based on HGVSp output, then convert back to chromosomal positions so I am worried about this.

Bests,

JFK

[2022-01-13 17:23] nuno-agostinho commented on #417
Hey @jon4thin,

I am looking into this and I'll try to answer as soon possible. Sorry for the inconvenience.

Kind regards,
Nuno

[2022-01-13 19:23] jon4thin commented on #417
I guess the HGVS offset is only on the HGVS output and that is used for variant reporting purposes. I am not clear if the HGVS protein output is affected and how.

The HGVS offset can actually be seen in a difference between the CDS_position given by VEP and that in HGVSc output..

[2022-01-14 08:10] yangyxt commented on #908
I'm a bit confused about these two options --fasta and --assembly. Is only one of them necessary?
If I provide --fasta , then --assembly is not used? If yes, will this help improve performance ?

[2022-01-14 10:46] yangyxt commented on #79
Found this post in 2022 and wonder whether there are new features available. A bit curious why inversion is not analysed like other basic structural variants. I can convert small INVs to the indel format, but for some predicted big INVs, VEP just doesn't accept that.

[2022-01-14 11:11] nuno-agostinho commented on #908
Hello @yangyxt,

* `--fasta` allows to specify a FASTA file or a directory containing FASTA files to use to look up a reference sequence.
    * It is required if fetching HGVS annotations (`--hgvs`) or checking reference sequences (`--check_ref`) in offline mode (`--offline`).
    * It is optional with some performance increase in cache mode (`--cache`).
    * [More information on FASTA files](htt

[2022-01-14 16:44] jon4thin commented on #417
Thank you for your reply @nuno-agostinho.
I will be looking this information over but had a followup question:

Using command line VEP, it does not seem like the CDS_position column output is shifted, instead the HGVSc output seems to be the one that is shifted. I would like to confirm/deny this. For example, I have frame-shift deletioon:
Input var (hg 38): chr1:942151:GC:G
Output:
CDS_position: 8

[2022-01-15 03:18] yangyxt commented on #804
Hi I just found my VEP command using tons of memory... with fork at 4.
It's just insane that annotating a 1.5 Mb VCF file with around 30k variants would cause up to 200 GB peak memory....
I make sure my input vcf file is sorted bgzipped and tabix indexed.

And also I found that sometimes the top record more than 4 processes (like 6) derived by the vep and here is the screenshot:
![image](https://u

[2022-01-15 03:28] yangyxt commented on #908
Thanks for the reply. So I can basically understand that two arguments are used in different ways and I should provide them both when available.

[2022-01-15 03:28] yangyxt commented on #556
Hi I just found my VEP command using tons of memory... with fork at 4.
It's just insane that annotating a 1.5 Mb VCF file with around 30k variants would cause up to 200 GB peak memory....
I make sure my input vcf file is sorted bgzipped and tabix indexed.

And also I found that sometimes the top record more than **4 processes (like 6)** derived by the vep and here is the screenshot:
![image](https

[2022-01-17 02:38] yangyxt commented on #804
Just to add more info here, I adjust the buffer size, from 100 to 1000, still, every time the trial ends with memory leakage, where I allow maximum 100 GB RAM usage. I also decrease the fork number from 4 to 2 and the memory still is not enough.

[2022-01-17 16:17] nakib103 commented on #804
Hello @yangyxt ,

Thank you for your queries!

Can you try running in `--offline` mode if that resolves your issue?

I could not reproduce your issue. Can you please share -
- the input file and custom annotated file you are using
- the value of the variables so that I can have the exact command you are trying
- which version of VEP you are using?

Also, here you will find some ways you can run VE

[2022-01-18 07:33] yangyxt commented on #804
Hi, Thank you for the reply. I already run in offline mode but failed to paste the argument here.

Any way I found the issue here. After I remove the custom annotation with a GERP bigwig file, using your conservation score plugin instead. The memory leakage does not happen again.

[2022-01-18 17:04] keiranmraine opened #1100 "likely cause of `gzip: stdout: Broken pipe`"
## Describe the issue

Same as #720 (`gzip: stdout: Broken pipe`), however I am reporting the likely cause:

https://github.com/Ensembl/ensembl-vep/blob/5aa4f5c8bdcdeb4dc27ba114497601dacdc66e73/modules/Bio/EnsEMBL/VEP/Utils.pm#L432

It is likely that the file handle is being destroyed before the gzip stream is exhausted/closed which would result in this type of error. However it's difficult to cre

[2022-01-19 08:13] nakib103 commented on #804
Hi @yangyxt ,

It is great to hear that you have solved the issue! Please feel free to reach us if you face any further issues in the future.

Best regards,
Nakib

[2022-01-20 14:04] nakib103 commented on #1100
Hello @keiranmraine  ,

Thanks you for looking into this and proposing a solution!

I have successfully reproduced what you mentioned. We are looking more into this to see if we can integrate this solution to VEP.

Best regards,
Nakib

[2022-01-21 03:05] mikpom commented on #1072
If got @DarioS suggestion correctly, then having the ability to connect each line of VEP output with an input line would suffice because one could parse out required genotype information downstream.
JSON output has very handy 'input' field. Source information is also obviously retained in VCF output. However in tabular and default outputs (which seem to be the most performant) this information is

[2022-01-21 11:07] dglemos commented on #1072
We will investigate whether to implement the genotype info in tab and json output formats, but as this information is currently provided through the VCF output option, this would be a low priority change and not likely to occur in the near future.
With that being the case, I will close off this ticket, but we will contact you if we make this change.

Please feel free to reopen the ticket if you ha

[2022-01-21 11:07] #1072 closed

[2022-01-21 11:17] dglemos commented on #1055
I will close off this ticket, but we will contact you when the change is made.
Please feel free to reopen the ticket or open a new one if you have further questions.

Best wishes,
Diana

[2022-01-21 11:17] #1055 closed

[2022-01-21 11:23] dglemos commented on #1083
I will close off this ticket, but we will contact you when the change is made.
Please feel free to reopen the ticket or open a new one if you have further questions.

Best wishes,
Diana

[2022-01-21 11:23] #1083 closed

[2022-01-23 22:44] phoenix1391 opened #1102 "ensembl-vep installation via conda fails"
I am trying to install ensembl-vep from a conda environment. I cloned it from GitHub following the instructions in this link: https://m.ensembl.org/info/docs/tools/vep/script/vep_tutorial.html. Then I created a conda environment and installed Perl, perl modules, bioperl, gcc, and archive. From this conda environment I am trying to execute Install.pl but keep getting the error mentioned below. Firs

[2022-01-24 08:28] jamie-m-a commented on #1102
Hi @phoenix1391

I'm sorry to hear you're having trouble with the VEP install under conda.

I don't think you've done anything wrong, it looks as though the download of the compressed func-gen repo may have become corrupted and as a result the unzip process is producing an error. I have just tried to download and unzip it using the same link that is produced by the INSTALL.pl script and it works f

[2022-01-24 08:39] MGCarta commented on #876
Hi @helensch,

I am using the VEP  --canonical option but I am not going to filter only the consequences associated with the canonical transcript with filter_vep, because I am interested in keeping all of them.

However, would there be a way to order the consequences associated with a variant, so that the one associated with the canonical transcript is in first position?

I hope I have explained t

[2022-01-24 16:58] phoenix1391 commented on #1102
Hi @jamie-m-a,

Thank you for helping me out in this. I was able to install vep without any further issues. However, it failed to download the cache files. I might need them in future for faster access. I was wondering if there is a way to download the cache files separately?

Here is the error I received while getting the cache files:

[code]

Thanks!

[2022-01-24 18:00] jamie-m-a commented on #1102
Hi @phoenix1391

Glad to hear you got it working. Possibly there was an intermittent issue with the connection, or it may be that you have a firewall preventing you downloading from the ftp. But you can try to manually download the cache files you want by following the instructions on this page: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html

Let me know how you get on.

[2022-01-25 04:27] phoenix1391 commented on #1102
Hi @jamie-m-a,

It was the firewall in my institution which was preventing me from downloading using FTP. I am trying from my home but I keep getting the following error:
[code]
I did try with options 'Connection: keep-alive' and --keepalive-time but it still fails after sometime. Is it possible for you to suggest any other option? I am using the following now:

[code]

[2022-01-25 09:37] jamie-m-a commented on #1102
Hi @phoenix1391

So the caches aren't required in order to run VEP, though having them locally will speed up run time significantly. If the data you wish to annotate is relatively small (few thousand variants), you could try running with out the cache options.

I believe you can attempt to restart a stalled curl command using -C -

So if you current command you're running fails, you can retry it u

[2022-01-25 17:14] jamie-m-a commented on #1102
Hi @phoenix1391

Yes, as you've probably already seen using --database is not compatible with --offline or caching option, a full description of the options available when running VEP can be found here: https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html

If your institute has a more stable/faster internet access than on your personal machine, then I'd recommend using the manual do

[2022-01-25 17:18] phoenix1391 commented on #1102
Thank you @jamie-m-a for providing me with all different options. I will contact my institute to see if they can allow me to download using ftp so that I can access it in a faster way.

[2022-01-25 19:09] hamidghaedi opened #1103 "VEP returns empty columns"
I am facing an issue regarding running VEP:
Using a vcf file and online version of VEP , the returned result got columns filled with "_" and the only annotations that I got are  "Uploaded variant",  "location" and "consequence".
When I tried VEP in docker, it is working and returning information but it's super slow.

I have posted this issue on [Biostar ](https://www.biostars.org/p/9507416/)as wel

[2022-01-26 01:34] ajaarma opened #1104 "Adding G2P annotation using vep"
## Describe the issue
I tried annotating list of variants from chromosome 1 for a subset of cohort. After running the Vep command there was no variants annotated with G2P gene lists.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
Versions:

  ensembl              : 104.1af1dce
  ensembl-funcgen      : 10

[2022-01-26 13:44] hamidghaedi commented on #1103
@jamie-m-a
If you want to look at the file that I used and got the above error, please find that [here](https://raw.githubusercontent.com/hamidghaedi/file_sharing/main/review_by_expert_panel.vcf).

[2022-01-26 14:22] jamie-m-a commented on #1103
Hi @hamidghaedi

Similar to the result my colleague Ben has reported in your Biostars thread, I have been unable to replicate the issue, the results for web VEP appear normally for me.

In terms of resolving the issue with web VEP, perhaps try again using another browser. Or maybe restart your machine and try again in case there is some corrupted data held in your browser's cache.

For running usi

[2022-01-26 14:39] olaaustine commented on #1104
Hi ajaarma,

Thank you for reporting this issue.

Is it possible for you to share your input vcf file to see if we can recreate the issue?

Thank you
Ola.

[2022-01-26 15:27] ajaarma commented on #1104
Hi Ola,

I am attaching test_chr1.tar.gz file with all input file (subset of original chr1 variants) and corresponding output generated.

Hope this helps.

Regards
Ajay
[test_chr1.tar.gz](https://github.com/Ensembl/ensembl-vep/files/7942938/test_chr1.tar.gz)

[2022-01-26 15:44] phoenix1391 commented on #1102
Hi @jamie-m-a, My institution agreed to make create an exception rule to allow downloading from this link. However, they need a source IP to set up this link. Is it possible to provide the source IP for the download of http://ftp.ensembl.org/pub/release-105/variation/indexed_vep_cache/homo_sapiens_vep_105_GRCh38.tar.gz?

Thank you so much.

[2022-01-26 15:53] olaaustine commented on #1104
Hi ajaarma,
Just to confirm, you are using the G2P panel file from 17_11_2021?
Thank you
Ola.

[2022-01-26 16:07] ajaarma commented on #1104
Ya, I downloaded the corresponding version on 17th Nov 2021 hence named DDG2P_17_11_2021.csv. I also issued the same command with 1_12_2021.csv version file downloaded from here: http://ftp.ebi.ac.uk/pub/databases/gene2phenotype/DD/DDG2P_1_12_2021.csv.gz

The result was same.

[2022-01-26 16:50] olaaustine commented on #1104
Hi ajaarma,

Thank you for the information provided.

The genotype field is missing in the input VCF.  https://samtools.github.io/hts-specs/VCFv4.3.pdf

G2P works with the genotype field  .i.e. zygosity reference is defined.

We are taking a look at why VEP returns an empty output when the plugin does not work.

Please let us know if you have any other questions.

Thank you

Ola.

[2022-01-26 17:17] hamidghaedi commented on #1103
Thanks @jamie-m-a ,
Just to keep this thread informative, using the " Show most severe consequence per variant" from the "Restrict results" section caused that kind of result.

[2022-01-26 17:17] #1103 closed

[2022-01-26 22:22] jon4thin opened #1105 "VEP and HGVSp from VEP annotating same variant to 2 different amino acid positions"
When I compare the `Protein_position` column from VEP output to the amino acid position output by HGVSp in VEP, the position differs by 0-27 (~47k variants input). Interestingly, this seems to only occur with my frameshift variants (regardless of size).

I used the `--shift_hgvs 0` flag when running VEP, which I thought would mean that there would not be a difference. When I look at CDS_Postion vs

[2022-01-27 03:56] frahimov commented on #521
Hello,
I stumbled upon this thread, which seems to be relevant to my problem/question.
I ran VEP on 9213 variants, however the html output shows
Lines of input read | 9213
Variants processed | 9365
Lines of input read is correct.
I am curious where the extra variants indicated in the Variants processed came from.
My script looks like this:
vep \
--gencode_basic \
--input_file inputfile \
--format

[2022-01-27 04:00] frahimov opened #1106 "More "Variants processed" than "Lines of input read""
I ran VEP (v104) on 9213 variants, however the html output shows

Lines of input read | 9213
Variants processed | 9365

Lines of input read is correct.
I am curious where the extra variants indicated in the Variants processed came from.
My script looks like this:
vep
--gencode_basic
--input_file inputfile
--format id
--cache
--dir_cache ../cache_dir/
--everything
--output_file outputfile
--tab

Ma

[2022-01-27 08:22] jamie-m-a commented on #1106
Hi @frahimov

Thanks for getting in touch! Would it be possible to share your input data so we can can try and replicate the issue?

[2022-01-27 10:27] jamie-m-a commented on #1102
Hi @phoenix1391

We're in touch with our IT service to confirm the externally facing IP for downloading that file - I should have the answer for you soon.

[2022-01-27 13:38] helensch commented on #876
Hi @MGCarta

There is not a VEP option to order the consequences associated with a variant, so that the consequences associated with the canonical transcript are first.

If your output is ```--tab``` you could look at sorting and using  the CANONICAL field as one of the sort fields.

If your output is ```--vcf```, you could perhaps look at using the Bcftools split-vep plugin
https://samtools.githu

[2022-01-27 14:13] frahimov commented on #1106
Certainly. Could you please provide an email address that I could send you the list of SNPs?

[2022-01-27 15:29] jamie-m-a commented on #1106
You can use our heldpesk contact (https://www.ensembl.org/info/about/contact/index.html), if you specify in your message that you have been in touch with Jamie from variation about your issue already, they can forward it on to me.

[2022-01-28 16:17] jamie-m-a commented on #1105
Hi @jon4thin

Apologies for the delay in responding, I'm just taking a look at this one and will get back to you.

[2022-01-28 16:35] jon4thin commented on #1105
Thank you for your effort, look forward to the response.

[2022-01-28 17:15] jethror1 commented on #1073
Hi Diana, is there any update on this issue?

Best wishes,

Jethro

[2022-01-31 08:52] jamie-m-a commented on #1102
Hi @phoenix1391

Sorry for the delay in responding: the following IP addresses should be added to the whitelist by your institution:

193.62.197.76
193.62.193.139

This should then allow the ftp download to work correctly.

I'll keep this ticket open for a while, in case you have any further issues with the download.

[2022-01-31 15:08] phoenix1391 commented on #1102
Thank you @jamie-m-a for the IPs. I will report it to my institution and give you an update as soon as possible.

[2022-01-31 15:52] MikeHala opened #1107 "filter_vep with on-the-fly calculation?"
Dear VEP Team,

Following https://m.ensembl.org/info/docs/tools/vep/script/vep_filter.html
it is possible to select entries where AFR_AF is greater than EUR_AF by
`--filter "AFR_AF > #EUR_AF"`

Is it possible to select entries where AFR_AF is e.g. at least twice EUR_AF?
I have tried (with no success)
``--filter "AFR_AF > 2 * #EUR_AF"``

Thanks!

[2022-02-01 16:48] dglemos commented on #1107
Hi @MikeHala,
It is not possible to do calculations as you mentioned. The script filter_vep will only use the input value or the value of another field.

[2022-02-03 17:44] phoenix1391 commented on #1102
Hi @jamie-m-a, I was able to donwload without any issues. Thank you so much for your help!

[2022-02-04 10:56] MGCarta commented on #1102
Hi @jamie-m-a,
I´m dealing with VEP from several months and I never encountered any issues.

However, now I need to run VEP faster. I´m annotating vcf files in --offline mode and when I tried to add --fork 4 in order to use more than one core I encountered this error:

-------------------- EXCEPTION --------------------
MSG: ERROR: Cache directory /home/carta/.vep/homo_sapiens not found

STACK Bio

[2022-02-04 10:58] MGCarta commented on #876
Thank you Helen for your suggestions!

Best,
Giulia

[2022-02-06 09:51] jamie-m-a commented on #1102
Hi @phoenix1391

That's great to hear! I'm going to close this issue now, but please to get in touch if you run into any further difficulties.

[2022-02-06 09:51] #1102 closed

[2022-02-06 10:12] jamie-m-a commented on #876
@MGCarta Apologies for tagging on to another thread but I couldn't seem to tag you in the issue where you asked your question - it might be simpler in future to just open a new issue.

I´m dealing with VEP from several months and I never encountered any issues.

The path mentioned is the default location that VEP expects when running offline. In order to fully enable the cache, it's best to use th

[2022-02-07 08:23] MGCarta commented on #876
Hi @jamie-m-a,

I deleted the comment because in the meantime I solved the problem. Thank you for your message anyway.

Best,
Giulia

[2022-02-07 11:51] olaaustine commented on #1104
Hi ajaarma,
I'm going to close this issue now.
If you have any further questions, please feel free to reopen it or create a new issue.
Thank you
Ola.

[2022-02-07 11:51] #1104 closed

[2022-02-07 12:32] helensch commented on #1090
Hi @Z-Zen

Thank you for flagging the WARNING message when using ```---PLUGINS all```.

All plugins are looked up and installed when ```---PLUGINS all```  is used.
https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#opt_plugins

I have put in a ticket to remove the WARNING when "all " is used.

I am going to close this issue but feel free to create a new issue if you have more que

[2022-02-07 12:32] #1090 closed

[2022-02-07 13:07] helensch commented on #1086
Hi @tinyboxio

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:07] #1086 closed

[2022-02-07 13:08] helensch commented on #1085
Hi

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:08] #1085 closed

[2022-02-07 13:09] helensch commented on #1077
Hi

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:09] #1077 closed

[2022-02-07 13:18] helensch commented on #1062
Hi @quentin67100

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:18] #1062 closed

[2022-02-07 13:30] helensch commented on #1052
Hi @krunal2406

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:30] #1052 closed

[2022-02-07 13:32] helensch commented on #1045
Hi @idinsmore1

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:32] #1045 closed

[2022-02-07 13:37] helensch commented on #996
Hi @DarioS

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:37] #996 closed

[2022-02-07 13:39] helensch commented on #961
Hi @juliethampstead

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:39] #961 closed

[2022-02-07 13:40] helensch commented on #1027
Hi @Jay-Leung

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:40] #1027 closed

[2022-02-07 13:45] helensch commented on #944
Hi @gwendolinelecuyer

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 13:45] #944 closed

[2022-02-07 14:46] helensch commented on #1011
Hi @worker000000

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-07 14:46] #1011 closed

[2022-02-07 14:51] helensch commented on #894
Hi @anderspitman

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2022-02-09 09:46] davmlaw commented on #728
Hey @dglemos - given that there's a NMD plugin now I think you can close this one

https://m.ensembl.org/info/docs/tools/vep/script/vep_plugins.html#nmd

[2022-02-09 11:40] dglemos commented on #728
Thanks, @davmlaw. That is correct we have a new plugin NMD that predicts if a stop_gained variant allows the transcript to escape nonsense-mediated mRNA decay.
I'm closing the issue but feel free to open a new issue if you have more questions.

Best wishes,
Diana

[2022-02-09 11:40] #728 closed

[2022-02-11 17:52] dglemos commented on #1056
At the moment, release 105 is available. Could you please explain what you mean by random order of allele?

[2022-02-12 12:36] jethror1 opened #1110 "Multiple CSQ fields for one variant with differing columns to format in header"
## Describe the issue
I have a VCF annotated with VEP that has some records with one than one `CSQ=` field in the INFO column, as an example the following variant has 2:
[code]

CSQ 1:
[code]

CSQ 2:
[code]

Format as specified by VEP in the header:
[code]

As you can see for the first CSQ fields the number of fields does not match what is specified in the header, with it having 2 extra at the beg

[2022-02-14 10:36] jethror1 commented on #1110
In addition, if we use PySam to parse these and select the CSQ field it selects only the first (wrong) set of fields:

- Variant in vcf:
[code]

- Parsing with `PySam`:
[code]

[2022-02-14 11:07] dglemos commented on #1056
The order of the alleles has been fixed and it is available in the current release.

[2022-02-14 11:55] nakib103 commented on #1110
Hello @jethror1,
Thank you for your query.

What is the input file you are using - if possible can you share. Also, it will be helpful to get the full command you have used to annotate the VCF file with VEP.

[2022-02-15 04:00] DarioS opened #1111 "No Variants Reported On Alternate Contigs"
I have BAM files aligned to hg38 and its many alternate contigs. The annotated VCF resulting from VEP processing has these contigs in its header.

[code]
but when I tabulate the contigs which the annotated variants are on, I only see the traditional chromosomes (i.e. chr1, chr2, ..., chrY). How can I ensure that variants which might only be on an alternate contig (that also contains a protein-codi

[2022-02-15 12:15] nakib103 commented on #1111
Hello @DarioS,
Thank you for your question.

So, in general, when you are annotating variants with VEP and you have a variant that is described in an contigs/scaffolds like the following -

[code]

You will get the same sequence region name (here #CHROM) in the output file like this -

[code]

So, first thing I would check is, if your input file contains any variants that are in the alternate cont

[2022-02-15 18:28] tushardave26 opened #1112 "VEP variant recoder speedup"
Hello All,

First of all, thank you for implementing the variant recoder tool.

I have a very specific question about speeding up the variant recoder. I have ~21 million variants that I want to query with variant recoder. So, far I tried various methods to speed up the process but did not get any success.

Any thoughts on how can I query 21 million variants with variant recoder.

Happy to provide

[2022-02-16 01:00] DarioS commented on #1111
Yes, the input file I test with contains many such variants. There are 33988. To illustrate a few of them:

[code]

But none of these 33 thousand are annotated.

[code]

Just checking a main chromosome.

[code]

[2022-02-16 13:00] eibol1 opened #1113 "Unable to install Command Line VEP (Non-zero exit status: 255 Parse errors: No plan found in TAP output)"
I am trying to install VEP, but I have the next error that makes fail the installation:
 ` Non-zero exit status: `
 ` Parse errors: No plan found in TAP output`

Also tried with sudo and got the same fail.

Here is all I got:

ensembl-vep git:(release/105) ✗ perl INSTALL.pl
WARNING: DBD::mysql module not found. VEP can only run in offline (--offline) mode without DBD::mysql installed

http://www.e

[2022-02-16 13:34] nakib103 commented on #1113
Hello @eibol1 ,

Looks like the actual reason for installation failure is -
`MSG: ERROR: Cannot use format gff without Bio::DB::HTS::Tabix module installed`

Could you please:
1. Check that the Bio::DB::HTS::Tabix module is located in the ensembl-vep directory at: /ensembl-vep/Bio/DB/HTS/Tabix.pm
2. Check that your ensembl-vep folder is included within your PERL5LIB. If not, you can add it with:

[2022-02-16 17:39] nakib103 commented on #1111
That is interesting,

It can be that those specific contigs are not in the annotation sources that is being used, that is why VEP is failing to annotate them.  Do you get warnings like this -
`WARNING: Chromosome chr1_KI270762v1_alt not found in annotation sources or synonyms on line X`

Also, what is the full command that you are using when running VEP?

[2022-02-16 19:42] jon4thin commented on #1105
Any updates @jamie-m-a ?

[2022-02-17 08:25] eibol1 commented on #1113
Hi @nakib103,

Thanks for the quick reply.

I followed you steps:

1. I checked that Tabix.pm file is in that directory. 👍
2. I exported PERL5LIB like this:

ensembl-vep git:(release/105) ✗ `export PERL5LIB=${PERL5LIB}:/Users/abelgd/Bioinfo/ensembl-vep`

3. I rerun the code without and with **sudo** and I still have the same error, but without **sudo** it couldn't unlink and restore a large list o

[2022-02-17 08:28] eibol1 commented on #1113
Maybe I have to rerun the installation with --NO_HTSLIB or maybe I have to install before Bio::Root::Version module?

[2022-02-17 12:06] nakib103 commented on #1113
There can be an issue with `BioPerl` downloaded by VEP. It can happen if there is a clash between version of `BioPerl` downloaded using VEP and if there is another one downloaded by cpanm ( #345 ).

Can you confirm if any other version is installed by cpanm? You can follow this step to resolve the issue -

1) Uninstall the cpanm module Bio::Root::Version (should be as simple as `cpanm —uninstall B

[2022-02-17 12:42] eibol1 commented on #1113
Hi Nakib,

I followed the instructions here: [http://m.ensembl.org/info/docs/tools/vep/script/vep_download.html](url) "Using VEP in Mac OS".

I did the steps: **Perlbrew, xz, MySqL, BioPerl, Final Dependancies and Installing VEP.**

In the step **Installing VEP**, I type `sudo perl INSTALL.pl --NO_TEST ` and overwrited existing files, but i didn't install cache files because this step gave me some

[2022-02-17 13:32] nakib103 commented on #1113
Hello @eibol1 ,

It's great to hear that you have resolved the issue!

To manually setup cache you can refer to this page -
https://github.com/Ensembl/ensembl-vep/issues/url

And, you can also find details how to run VEP with cache here -
https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html

In general you will see errors go to `STDERR` when running VEP in command line in case somet

[2022-02-17 14:35] eibol1 commented on #1113
Thank you so much @nakib103 , I close this issue! Have a nice day

[2022-02-17 14:35] #1113 closed

[2022-02-17 14:40] eibol1 opened #1114 "How Can I install Cache directory and Cache Files manually?"
Hi,

I thought that I installed well but then I try: `./vep --help` and I got:

Can't locate Try/Tiny.pm in @INC (you may need to install the Try::Tiny module) (@INC contains: /Users/abelgd/Bioinfo/ensembl-vep/modules /Users/abelgd/Bioinfo/ensembl-vep /Users/abelgd/src/bioperl-1.6.924 /Users/abelgd/Bioinfo/ensembl-vep/BioPerl-1.6.924 /Users/abelgd/perl5/perlbrew/perls/5.26.2/lib/site_perl/5.26.2/d

[2022-02-17 14:44] eibol1 commented on #1114
Here I put all the lines of the installation:

ensembl-vep git:(release/105) ✗ sudo perl INSTALL.pl --NO_TEST
Password:
WARNING: DBD::mysql module not found. VEP can only run in offline (--offline) mode without DBD::mysql installed

http://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#requirements
Installation on OSX requires that you set up some paths before running this installer.

[2022-02-17 16:52] jamie-m-a commented on #1105
Hi @jon4thin

I'm very sorry for the delay in getting back to you. I can replicate the issue you've reported and we are currently looking into the cause of it. I'll update on here when I have more information.

[2022-02-18 02:00] DarioS commented on #1111
To simplify the issue, I decided to use the web server. I am using the default Assembly: GRCh38.p13. When I type in `chr1_KI270762v1_alt 4826 4826 C/T 1` and I click on Run Instant VEP on This Line, I get

![image](https://user-images.githubusercontent.com/631218/154601392-1404096d-2665-41b3-b226-46c9e5206a77.png)

It looks like the annotation sources are missing this contig. However, [this contig

[2022-02-18 13:11] nakib103 commented on #1114
Hello @eibol1,

It seems you have some missing Perl libraries. Can you try installing them with -
`sudo cpanm install Try::Tiny`

and try running VEP again. Let me know if this fixes your error.

Best regards
Nakib

[2022-02-18 14:21] dglemos commented on #1112
Hi @tushardave26,
Thank you for your feedback, it's good to know Variant Recoder is helpful.
The Variant Recoder queries the database for variant lookup. I'm afraid at the moment there is no way to speed up the queries. We recommend splitting the input into smaller files and only using the necessary options as each option increases the run time.

[2022-02-18 14:29] tushardave26 commented on #1112
Hello @dglemos,

Thank you for your response.

I tried splitting up the files into chunks (n=100,1000,100000). Then, I tried running a variant recoder command line (with docker) on Kubernetes. One Kubernetes job runs one chunk. Unfortunately, we immediately receive the errors. Seems, like the servers on your end can not handle that many requests. Any thoughts on how can we make this work?

[2022-02-18 15:01] dglemos commented on #1112
Which errors message do you get?

[2022-02-18 15:13] tushardave26 commented on #1112
It's been a while. But I vaguely remember that the error was related to database connection. We fired up 1500 Kubernetes jobs at the same time and we succeeded with only 20. All others just failed.

[2022-02-18 15:14] tushardave26 commented on #1112
We are launching them now to give you a better idea of the error messages.

[2022-02-18 15:33] dglemos commented on #1112
That is a considerable number of jobs, a very high number of jobs is going to reduce the server performance.
I would suggest you run only 50 jobs at a time and reduce this number if the error persists.

[2022-02-18 15:35] tushardave26 commented on #1112
We tried 20 at the time and got the error. Now we are trying 5. I will keep you posted.

[2022-02-18 15:41] dglemos commented on #1112
Can you run just one job?

[2022-02-18 15:47] dglemos commented on #1112
I can see you are using version 104, we had a bug in this version that could be related to your error.
I would suggest you update to the latest version 105 and try to run 50 jobs again.

[2022-02-18 17:41] dglemos commented on #1112
If you take just one of the input files that failed and run only it with Variant Recoder, how much time does it take for the job to run?

[2022-02-18 17:50] dglemos commented on #1112
What format is the input, is it the variant ID or HGVS?

[2022-02-18 17:53] tushardave26 commented on #1112
All the variants are in default vep input format.

[2022-02-21 09:04] eibol1 commented on #1114
Hi @nakib103,

Done what you said and it looks like it works:

➜  ensembl-vep git:(release/105) ✗ `./vep --help `
#----------------------------------#
# ENSEMBL VARIANT EFFECT PREDICTOR #
#----------------------------------#

Versions:
  ensembl              : 105.525fbcb
  ensembl-funcgen      : 105.660df8f
  ensembl-io           : 105.2a0a40c
  ensembl-variation    : 105.ac8178e
  ensembl-vep

[2022-02-21 09:09] eibol1 commented on #1114
Ok Nakib,

I've found how to in this URL https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#pre

Can you tell me if with the message I put in the comment above VEP is well installed?

[2022-02-21 15:23] tushardave26 commented on #1112
We launched one Kubernetes job with one file including 1000 variants. It took almost 4.5 hours to finish. We use ensembl-vep docker image with tag 105.

[2022-02-22 09:01] nakib103 commented on #1114
Hello @eibol1 ,

It greats it has solved your issue. The output of `./vep --help` shows your installation is successful.

Great you found the page - https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#pre that is the correct place to go to when you want to download vep cache.

Let me know if you face any other issues.

Best regards,
Nakib

[2022-02-23 07:49] JiguuP opened #1117 "Can't locate Bio/EnsEMBL/IO/Parser/VCF4.pm in @INC"
Hello, I tried to figure out this error, but cannot sovled it.

my code is
`/home/jisoojihyun/ensembl-vep/vep --no_stats -vcf --force --symbol --terms SO --tsl --hgvs --fasta /home/sysbioinfo1/.vep/homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa --offline --pick --transcript_version --cache --plugin Downstream --plugin Wildtype --no_check_variants_order --buffer_size 20000 --dir_cache /ho

[2022-02-23 18:07] tushardave26 commented on #1112
@dglemos - any idea on how many API post requests we can do at the same time? I am referring to this API call:  http://rest.ensembl.org/documentation/info/variant_recoder_post

[2022-02-23 20:11] Filago4 opened #1118 "Cryptic warnings when installing VEP"
## Describe the issue
Hello,
I installed VEP (V105) and received no error during installation, but a lot of **warnings** when building the HTS-Lib. What to do?

### System
- VEP version: 105 (hg37)
- Perl version: e.g. 5.32
- OS: Linux/Fedora

### Full error message
building HTSLIB in ./htslib
In /home/myname/ensembl-vep/htslib
echo '/* Default config.h generated by Makefile */' > config.h
echo '#

[2022-02-24 08:48] FelixMoelder opened #1119 "VEP does not annotate HGVSg for some variants"
## Description
When annotating variants using VEP in some cases no HGVSg value is annotated while I would expect that that value should always be annotated.
The cache has been downloaded first by `vep install`, while version `105` of the plugins was downloaded from the github repo.
An example variant and the annotated output is attached.

### System
- VEP version: 105
- VEP Cache version: 105
- Pe

[2022-02-24 09:06] matthdsm opened #1120 "VEP fails when using `--spdi` flag"
## Describe the issue
Vep fails with error message when using `--spdi` flag. Runs fine without `--spdi`

## Additional information

### System
- VEP version: 105
- VEP Cache version: 105
- Perl version: v5.32.1
- OS: Ubuntu
- tabix installed: True

### Full VEP command line
[code]

### Full error message
[code]
### Data files (if applicable)
They include:
- The input file: https://github.com/Ensem

[2022-02-24 10:27] diegomscoelho commented on #1118
Hi @Filago4,

It's normal to have some **warnings** during installation. Did you test `vep` after that to see if it's working?

Regards, @diegomscoelho

[2022-02-24 12:18] dglemos commented on #1112
The REST API has a limit of 15 requests per second. You can find more info about the rate limit here: https://github.com/Ensembl/ensembl-rest/wiki/Rate-Limits

[2022-02-24 17:17] diegomscoelho commented on #1120
Hi @matthdsm,

Looking at your input you are using a standard VCF file.
`--spdi` flag is meant to be used as a different input file parser (https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#spdi).
Using `--spdi` will not add or alter any new information to your output.

Probably, we should put an error log when someone are not using SPDI structure as input to avoid this problem.
Thanks

[2022-02-24 18:01] diegomscoelho commented on #1120
Hi @matthdsm,

We were able to replicate your error. We are investing source of this error and probably posting a bug fix at some point.

Thank you for helping us.

Regards, @diegomscoelho

[2022-02-24 21:42] diegomscoelho commented on #1119
Hi @FelixMoelder,

I was able to reproduce your problem. We are looking this issue and I will send an update here.

Thank you for reporting us.

Regards, @diegomscoelho

[2022-02-25 00:50] williambrandler commented on #680
I am getting the same issue

[code]

`MSG: ERROR: Cache directory /root/.vep/homo_sapiens not found
`

On Databricks using Docker to manage the environment.
Note: this used to work before and now it does not with no changes to the code.
I assume something has changed in Databricks but I was wondering what the root cause it so I can figure out how to solve the issue

[2022-02-25 00:53] williambrandler commented on #724
I am getting the same issue

[code]

`MSG: ERROR: Cache directory /root/.vep/homo_sapiens not found
`

On Databricks using Docker to manage the environment.
Note: this used to work before and now it does not with no changes to the code.
I assume something has changed in Databricks but I was wondering what the root cause it so I can figure out how to solve the issue

[2022-02-25 08:47] Filago4 opened #1122 "Reinstall VEP"
Hello,
is there any option to remove vep from my system (Linux) and reinstall it completely from zero?
Is it an option to just delete all files in the ensembl-vep and ./vep folders, created during installation (are there any other files/folders created by vep)?

Many thanks for your help :)

[2022-02-25 10:33] diegomscoelho commented on #1122
Hi @Filago4,

If you delete your cloned repo `ensembl-vep` and your `.vep`, your probably good to go. Also check if BioPerl repo was installed with `ensembl-vep`, you can delete this also if you find it.

Hope this helped you, any other questions about this issue you can comment here.

Regards, @diegomscoelho

[2022-02-25 10:40] Filago4 commented on #1122
Many thanks for your answer!

Do you know, how to locate BioPerl on linux/Fedora?

Many thanks in advance!

[2022-02-25 11:16] diegomscoelho commented on #1122
Hi @Filago4,

If you have installed BioPerl or other ensembl repos separately, you should delete them. If you just used, ensembl-vep installation, you just need to delete `ensembl-vep`.

Hope this helped you.

Regards, @diegomscoelho

[2022-02-25 23:21] jon4thin commented on #1105
Just me pinging this conversation again :P
@jamie-m-a

[2022-02-28 08:32] jamie-m-a commented on #1105
Hi @jon4thin

Apologies again for the delay, but I believe I can explain the issue now.

So after looking into this further and consulting with the team, we believe that the shifting of HGVSp is appropriate behaviour due to the sequence context. So, for example:

15 75352332 75352332 T/TC

Reference seq: ATC_CCC_CCC_TTT -> Ile_Pro_Pro_Phe
With insertion:ATC_CCC_CCC_CTT -> Ile_Pro_Pro_Leu

-> a C i

[2022-02-28 17:08] jon4thin commented on #1105
Oh wow yes, this makes perfect sense now. I am embarrassed I overlooked this.
And the Ter2 references 2 AA downstream of the first changed AA (Phe191) and not the site of the genetic variation (188).

Thanks so much sorry about that.

[2022-02-28 17:08] #1105 closed

[2022-03-01 13:26] seru71 commented on #954
Hi @aparton,
has this issue been resolved?

[2022-03-01 16:20] jamie-m-a commented on #954
Hi @seru71

We have not yet updated VEP to more appropriately report on these multi gene spanning CNVs. This work is very much still on our radar, and I will update on this thread when we have implemented new consequence reporting - thanks for you patience.

[2022-03-02 18:38] williambrandler commented on #724
update: I am getting this issue on Azure only, not on AWS. No idea why yet

[2022-03-02 18:49] jamie-m-a commented on #724
Hi @williambrandler

I'll reopen this issue and we'll take a look into it.

[2022-03-02 18:57] williambrandler commented on #724
thanks @jamie-m-a

here is the full exception we see on Azure,

`-------------------- EXCEPTION --------------------
MSG: ERROR: Cache directory /root/.vep/homo_sapiens not found

STACK Bio::EnsEMBL::VEP::CacheDir::dir /opt/vep/src/ensembl-vep/modules/Bio/EnsEMBL/VEP/CacheDir.pm:311
STACK Bio::EnsEMBL::VEP::CacheDir::init /opt/vep/src/ensembl-vep/modules/Bio/EnsEMBL/VEP/CacheDir.pm:227
STACK Bio::

[2022-03-03 18:20] amizeranschi commented on #932
Hello @aparton,

I'm getting a similar error when trying to install a Bos Taurus cache for UMD3.1 (Ensembl version 94):

[code]

[2022-03-04 08:54] seru71 commented on #954
Thanks for the update

[2022-03-04 17:02] jamie-m-a commented on #932
Hi @amizeranschi

Sorry to hear you're having a problem with that download, we'll take a look at that and get back to you. I'll reopen this issue in the meantime.

[2022-03-04 17:09] amizeranschi commented on #932
@jamie-m-a

Thanks for looking into this! My guess is that you guys just need to create the file ftp.ensembl.org/pub/release-94/variation/indexed_vep_cache/CHECKSUMS, for the Ensembl 94 version.

I know that's a bit old, now, but it's the latest that'll get me my Bos Taurus UMD3.1 genome, so there's that...

[2022-03-04 21:09] Danisov opened #1123 "VEP filter"
HI
I have a csv file (I also have the vcf) containing the annotation results of the varians from VEP of several samples. To facilitate prioritization I would like to add a column summarizing in which the variant was identified as homozygous and another column for the heterozygous variants. VEP can add this option? if not, do you have any suggestions?

[2022-03-07 13:13] Z-Zen opened #1124 "Can I use dbNSFP v4.3 with VEP v105 ?"
## Describe the issue
Like the title says, it is possible to use the current version of VEP (v105) and the [dbNSFP plugin of VEP](https://github.com/Ensembl/VEP_plugins/blob/release/105/dbNSFP.pm) with the latest data of dbNSFP (v4.3)?

## Additional information
[dbNSFP v4.3](https://sites.google.com/site/jpopgen/dbNSFP) have updated the versions of dbSNP and ClinVar. REVEL is now transcript-speci

[2022-03-07 18:35] dglemos commented on #1123
Hi @Danisov,
VEP does not have the functionality you are asking for. There is one option `--individual all` which only works with VCF files containing individual genotype data. This option returns the zygosity of the variant however not in the format you requested.

[2022-03-07 18:56] amizeranschi commented on #932
@jamie-m-a great, thanks for looking into this!

[2022-03-08 09:47] dglemos commented on #1124
Hi @Z-Zen,
The current dbNSFP plugin works with version 4.3 however, the results will not be transcript-specific.

Best wishes,
Diana

[2022-03-08 11:12] dana-obk opened #1125 "VCF file header missing in VEP vcf output"
Hello,

I am running the following command line in vep for a vcf file with 300 individuals prior inputting it gemini.

[code]

In my output file the header of a vcf file like this is missing, why is that? and how to get it?

`#CHROM  POS     ID      REF     ALT     QUAL    FILTER  INFO    FORMAT  sample_1    sample_2   sample_3  ...  sample_n `

This is the output I get
[code]

[2022-03-08 12:00] jamie-m-a commented on #932
Hi @amizeranschi

Yes, as you surmised, we just need to generate the missing CHECKSUMS. I've been in contact with the people responsible for this and I'll update on here once the CHEKSUMS have been created.

[2022-03-08 12:46] dglemos commented on #1125
Hi @dana-obk,
I cannot reproduce your issue. Could you please send your input file?
If you run the command without the `--fields`, is the header still missing in the output?

[2022-03-08 13:04] dana-obk commented on #1125
@dglemos Sorry, it is a very stupid mistake, for some reason the header was not present in the original vcf file.
thank you for your answer and time anyways.

[2022-03-08 13:04] #1125 closed

[2022-03-09 11:26] Ojami opened #1126 "Installation error: HTS.so: undefined symbol"
I can't instal VEP using ` perl INSTALL.pl`

[code]
Also, this is the output I get from `perl -e 'print $ENV{PERL5LIB}'`:
[code]

### System
- VEP version: 105
- Perl version: 5.30.0
- OS: Ubuntu (WSL2)
- tabix installed ? Yes

Thanks!
Oveis

[2022-03-09 13:27] #907 closed

[2022-03-09 13:30] dglemos commented on #1126
Hi @Ojami,
The test failures appear to be related to HTSLib.
Did you install tabix separately from the VEP installation?

Please could you run the following commands in the same environment you are running the VEP installer:
`perl -MBio::DB::HTS -e 'print "$Bio::DB::HTS::VERSION\n"'`
`perldoc -l Bio::DB::HTS`

[2022-03-09 13:38] Ojami commented on #1126
Hi @dglemos

Yes, I have tabix installed before:
[code]

[code]

[code]

I tried to remove the ensembl directory and re-install vep, but still the same issue.

Thanks!

[2022-03-09 14:39] dglemos commented on #1126
What do you get when you run `perl -e "use Bio::DB::HTS::Tabix"`?

[2022-03-09 14:46] Ojami commented on #1126
This error:
[code]

[2022-03-09 18:06] dglemos commented on #1126
Could you please try to run the installer again `perl INSTALL.pl` and check `perl -e "use Bio::DB::HTS::Tabix"`. If the output is still empty you could install HTSLib and Bio::DB::HTS manually, as described here: https://www.ensembl.org/info/docs/api/api_installation.html#variation

[2022-03-09 18:33] Ojami commented on #1126
Thanks! This fixed the issue!
But, what was the problem?

[2022-03-09 21:53] jethror1 commented on #1110
Apologies, came back to this and realised VEP had been run on an already annotated VCF, hence the duplication. Will close this since it's just an issue of me not paying attention...

[2022-03-09 21:53] #1110 closed

[2022-03-10 08:02] serge2016 commented on #1066
Hello!
I faced with the same issue. Could you give us any ETA, please?

[2022-03-10 08:19] serge2016 commented on #1034
Dear authors!
Could you please add sorting to this place? I hope to see this fix very much!

[2022-03-10 08:38] dana-obk opened #1127 "Problem with dbNSFP plugin"
Hello,

I am running VEP using dbNSFP plugin like this:

[code]

But I get an error:

[code]

I tried to run `perl dbNSFP.pm` from plugin directory but I get the following error:

[code]

When I try to download dbNSFP manually like this, I get an error as well. How to solve the problem with this plugin?

[code]

[2022-03-10 08:56] jamie-m-a commented on #1066
Hi @serge2016

Sorry for the delay on this. We have a couple of incidences where sorting has been affecting the VEP output, generally under specific circumstances. We believe it's related to the version of Perl being used and we are attempting to resolve all these sorting bugs together. I hope to have a more useful update on this for you soon - in the mean time thanks for your patience.

While I c

[2022-03-10 08:59] jamie-m-a commented on #1034
Hi @serge2016

Rather than repeating, can I point you to my answer on ticket 1066 (https://github.com/Ensembl/ensembl-vep/issues/1066) as it also applies to this issue.

[2022-03-10 09:25] ntm commented on #1124
Hi,
check out this PR, is this what you want?
https://github.com/Ensembl/VEP_plugins/pull/461

[2022-03-10 09:30] dglemos commented on #1126
For some reason, VEP wasn't installing Bio::DB::HTS correctly. In these cases it's worth trying a manual installation.

[2022-03-10 09:38] nakib103 commented on #1127
Hello @dana-obk ,

Thanks for your question.

To run the plugin you need to at least provide the path of the dbNSFP file and the columns from the dbNSFP file that you want in the output. There is example in the [plugin ](https://github.com/Ensembl/VEP_plugins/blob/release/105/dbNSFP.pm) SYNOPSIS -

[code]

You can use "ALL" instead of specifying individual column names which will you give you all

[2022-03-10 09:57] #1126 closed

[2022-03-10 10:53] Z-Zen commented on #1124
@ntm Hello!
Yes, this is exactly what I am looking for. Will it be available on vep release 106 ?
Thanks

[2022-03-10 11:08] dglemos commented on #1124
Hi @Z-Zen,
The updates will be available at the earliest on release 107.

[2022-03-10 11:44] ntm opened #1128 "documentation: new splice_polypyrimidine_tract_variant consequence"
Hi,
VEP produces a new Consequence: "splice_polypyrimidine_tract_variant" (LOW impact AFAICT). This consequence is currently missing from the (very useful) "Calculated consequences" documentation page:
https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html
Updating this webpage with the new consequence would be nice.

[2022-03-10 12:04] dglemos commented on #1128
Hi @ntm,
Thank you for pointing it out. We will update the documentation for release 107.

Best wishes,
Diana

[2022-03-10 13:05] dana-obk commented on #1127
thanks a lot Nakib, I will now try to follow your suggestions and will update. The download of 4.2a version is really slow, I was wondering if this is normal?

[2022-03-10 13:27] nakib103 commented on #1127
Great, let me know if you face any issue.

The download of course depends on the internet speed. And, the file size is ~34GB - so it can take a while to download.

[2022-03-10 16:06] jamie-m-a commented on #932
Hi @amizeranschi

The CHECKSUMS for e94 have been generated. Can you try downloading the Bos taurus cache again and let me know how it goes?

[2022-03-11 09:36] dana-obk opened #1129 "Understanding and parsing multisample VEP output in vcf format"
Hello,

I've annotated multisample (200/300) vcf file with VEP, and got an output in vcf format, e.i. like below. The format is very complicated to understand, like **why do I have several annotations for the same variant (starts with` A|` ?)** etc.
I was wondering it there a way to get a human readable format easy to analyse? I do I have to write a script? I already tried `vep-annotation-reporter

[2022-03-11 12:17] Filago4 opened #1130 "MSG: ERROR: Cannot use format vcf without Bio::DB::HTS::Tabix module installed"
Hello,
I installed VEP V. 105 without any error and can use it without any problems.
However, when I include a custom annotation of gnomad the following error occurs:

`MSG: ERROR: Cannot use format vcf without Bio::DB::HTS::Tabix module installed`

The tabix.pm file is at its right location (ensembl-vep/Bio/DB/HTS/)

[code]

Many thanks for your help in advance!

[2022-03-11 17:40] dglemos commented on #1129
Hi @dana-obk,
VCF is one of the supported output formats, if you prefer a format that is simple to read maybe tab-delimited output would be a better choice. You can read more about the different types of output formats here: http://www.ensembl.org/info/docs/tools/vep/vep_formats.html#output
Here you can read more about the VCF format: https://samtools.github.io/hts-specs/VCFv4.2.pdf

VEP reports m

[2022-03-11 17:45] dglemos commented on #1130
Hi @Filago4,
Could you please check that your ensembl-vep folder is included within your PERL5LIB. If not, you can add it with:
`export PERL5LIB=${PERL5LIB}:/home/user/ensembl-vep/`

[2022-03-14 09:57] dana-obk commented on #1129
thanks for your answer @dglemos , however according to documentation, a multisample vcf annotation is supported only by vcf format, and not tab, so I cannot use a tab delimited format as far as I understood. I find out how to filter overlapping transcripts with `--distance 0` and` --pick` options, then I guess a custom script is needed to parse. Could you pelase confirm?

[2022-03-14 11:05] Jolleboll opened #1131 "Can't have both GRCh38 and 37 at the same time? How do I work around this?"
## Describe the issue

Hello. I'm installing VEP and am excited to use it, I'll be working with human data some of which is older so I need both h37 and h38 "installed". h38 installs fine but then after downloading h37 the INSTALL.pl script throws an error.

## Additional information

### System
- VEP version: 105
- VEP Cache version: 105
- Perl version: 5.26
- OS: OpenSuse
- tabix installed Yes

[2022-03-14 11:23] nuno-agostinho commented on #1131
Hello @Jolleboll!

When you use `INSTALL.pl` to install both GRCh38 and GRCh37 caches, only GRCh38 is installed. However, you can follow [our instructions to manually install GRCh37](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#manual_cache) to VEP cache as well.

Having both caches allows you to run VEP with either GRCh38 or GRCh37 by setting the [`--assembly`](https://www.en

[2022-03-14 16:10] dglemos commented on #1129
That is correct, the sample annotations are only supported in VCF format.
The `--pick` option will pick one line or block of consequence data per variant according to the criteria described here: https://www.ensembl.org/info/docs/tools/vep/script/vep_other.html#pick
You can customise the order the criteria are applied with `--pick_order` described here: https://www.ensembl.org/info/docs/tools/vep/

[2022-03-14 16:12] dglemos commented on #1107
I'm going to close the issue for now but feel free to open a new one if you have more questions.

Best wishes,
Diana

[2022-03-14 16:12] #1107 closed

[2022-03-14 16:13] dglemos commented on #1091
I'm going to close the issue for now but feel free to open a new one if you have more questions.

Best wishes,
Diana

[2022-03-14 16:13] #1091 closed

[2022-03-14 16:15] dglemos commented on #1073
Hi @jethror1,
No updates yet. I will let you know once we make any updates.

Best regards,
Diana

[2022-03-15 09:38] nakib103 commented on #1127
Hello @dana-obk ,

It is unfortunate that your download is failing. There can be number of cause why that might happen. I can suggest you the following -

1. if you were using wget command; you can just use the same command again with the -c flag and it will resume download from where it stopped.
2. you can try downloading from their google drive link. The links can be accessed from this page - ht

[2022-03-16 10:11] thedam opened #1132 "documentation update (calculated consequences)"
Hey in new VEP version 105 (Dec 2021) you have added:
3 new Sequence Ontology terms are reported for more detailed splice consequence annotation
splice_donor_5th_base_variant
splice_donor_region_variant
splice_polypyrimidine_tract_variant

however you didn't update this schema: https://grch37.ensembl.org/info/genome/variation/prediction/predicted_data.html

Cheers:)

[2022-03-16 10:20] nuno-agostinho commented on #1132
Hello @thedam,

Thanks for pointing that out! We will update the documentation in release 107.

As this is a duplicate of issue #1128, I will now close this ticket. Please feel free to suggest any more changes you may find appropriate.

Best,
Nuno

[2022-03-16 10:20] #1132 closed

[2022-03-17 08:14] dana-obk commented on #1127
Thanks for your reply.
I was downloading with -c option, but the connection does not seem to be stable as it breaks and closes.
Anyway, I followed your option 2 and finally managed to download it to my local PC in few hours!!! thanks a lot!

[2022-03-21 08:34] #1131 closed

[2022-03-21 08:39] nakib103 commented on #1114
I'm going to close the issue for now but feel free to open a new one if you have more questions.

Best regards,
Nakib

[2022-03-21 08:39] #1114 closed

[2022-03-21 09:24] Jolleboll opened #1134 "Missing allele frequency interpreted as number, throws error?"
## Describe the issue
When filtering for rare variants, an attempt to interpret the period symbol '.' as a number throws an error. I think.

## Additional information
The gnomAD allele frequency filter is to blame. Maybe I wrote it wrong? See below...
Also while I'm here bothering you, I feel like the columns aren't ordered correctly? Looks like the gnomADg allele frequency is an rs number sometim

[2022-03-21 15:20] pdp10 opened #1135 "VEP 90.10 interrupts the processing after reading 2 or more consecutive deletions"
## Describe the issue
As the title states, we found that VEP interrupts the processing after reading 2 or more consecutive `<DEL>` variants in input VCF. These `<DEL>` variants and any following variant are simply discarded (e.g. `5:540975:C>CGGGAGGGAAGCATCCCGCTCCTGTTAACACACGTGACCACAGCT`, `5:541132:A:G`).

In contrast, if the two `<DEL>` variants are not consecutive, VEP does continues the process

[2022-03-21 16:26] nakib103 commented on #1134
Hello @Jolleboll ,

Thanks for your query.

Your `--filter` string is not wrong (assuming that is what you want in the output). The particular error you are facing is because the `AF_NFE` fields in the gnomAD file contains `.` for some variants and thus why the `<=` operator is complaining as it is getting string instead of number. You can simply ignore this. Or if you do not want the lines that h

[2022-03-22 08:59] Jolleboll commented on #1134
Hello Nakib and thank you very much!
I understand. However, it appears the error implies the line is skipped, there are no '.' in the output, while there are '-'. I suppose '.' means 'missing' or 'no data', just like '-', so it makes no sense to filter the '.' out. I tried this but it makes no difference:
´´´
(gnomADg_AF_NFE eq . or not gnomADg_AF_NFE or gnomADg_AF_NFE <= 0.01)
´´´
Is it not a laz

[2022-03-22 11:16] jamie-m-a commented on #932
Hi @amizeranschi

That's great to hear, I'll close this ticket off now, but do feel free to reopen or raise a new ticket if you have any further issues.

[2022-03-22 11:16] #932 closed

[2022-03-22 13:54] nakib103 commented on #1134
Unfortunately, it is not doing lazy evaluation (not that it would not change the output even it was doing lazy evaluation).

The message you are seeing are only warning which Perl gives when it cannot convert string to number without disregarding some parts. The lines should not be skipped in this case. I am getting `.` in my output and I can see your output file also have them -

[code]

Can you

[2022-03-22 14:09] Jolleboll commented on #1134
Ah... I'm sorry. My bad. My output does indeed include the '.' values for the AF. Everything's apparently fine, then. Thank you :-]

[2022-03-22 15:11] nakib103 commented on #1135
Hello @pdp10 ,

Thanks for your query.

From your input files it seems that end co-ordinates cannot be identified for the imprecise SVs. In such case VEP determines the end co-ordinate from END in the INFO field. And if END is not defined with SVLEN from the INFO field. Can you try adding either of them and re-run VEP.

Best regards,
Nakib

[2022-03-22 17:42] Jolleboll opened #1137 "filter_vep ignores gnomADg AF filter?"
## Describe the issue
I am filtering on the NFE_AF of both gnomAD exomes and genomes, but only the exome AF is actually being taken seriously by the filter.

### System
- VEP version: 105
- VEP Cache version: 105
- Perl version: 5.26
- OS: OpenSuse
- tabix installed

### Full VEP command line
[code]

### Full error message
No errors, although this type of warning but probably
not related:
[code]
#

[2022-03-23 09:06] Jolleboll commented on #1137
Hmmm actually it seems it's not the gnomADg that is the problem. I switched the order of the filters and now the exome AF filter is the one being ignored.

What am I missing here?

[2022-03-23 10:39] Jolleboll commented on #1137
Alright so I think I found the culprit. Or, rather, I managed to eliminate the problem by wrapping all elements of my filter in parentheses, and then joining them on ' and ', instead of using the --filter argument several times. Now it works as expected. Not sure exactly where the bug is, or if it is a bug, maybe I'm just dumb. ^-^

[2022-03-23 10:39] #1137 closed

[2022-03-23 11:27] pdp10 commented on #1135
@nakib103 Thanks for letting me know, that's very helpful. I'll try the latest version.

[2022-03-23 12:08] pdp10 commented on #1135
@nakib103  I executed the input file in VEP v105 (online) and the last variants were annotated. Thank you for your help.

[2022-03-24 14:54] #1128 closed

[2022-03-24 20:39] anderspitman opened #1138 "Please consider supporting byte range requests from your HTTP server"
When downloading the VEP cache files as described here:

https://uswest.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache

If the download fails there's no way to resume it (ie with `curl -C`) because the server does not support [HTTP range requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests). This is a huge problem, especially since the files are relatively large

[2022-03-24 20:51] anderspitman commented on #1138
For context I've had 3 download attempts fail in the last 30 minutes. I'm currently unable to download the cache for release 105. Are there mirrors anywhere by chance?

[2022-03-24 21:01] anderspitman commented on #1138
Using FTP is much faster. Not sure what's going on with your nginx webserver. Here's an example command:

`curl -O -C - ftp://ftp.ensembl.org/pub/release-105/variation/indexed_vep_cache/homo_sapiens_merged_vep_105_GRCh37.tar.gz`

It would still be great if you're able to enable range requests.

[2022-03-25 11:36] nakib103 commented on #1138
Hello @anderspitman

Thanks for your query. Unfortunately I am unable to re-produce your issue.

The server do seems to support range request showing `Accept-Ranges` as `bytes` -
[code]

Also, in my case curl resumes download -
[code]

See that `Total` has reduced from 15.0G to 14.8G in second call.

What is the error you are getting when you are trying to resume download?

Best regards,
Nakib

[2022-03-28 08:38] LightSun commented on #1130
I had met the same issue.  and 'export PERL5LIB' have nothing effect

[2022-03-29 14:59] dana-obk opened #1139 "Error: Use of uninitialized value $aa_string in pattern match (m//) at .vep/Plugins/Mastermind.pm line 280"
Hello,

I am running vep version 105 with this command line:
[code]
But it gives me the following warning. How to solve this? Also is it fine to increase fork to 25 on a server? is it analogous to cpu?

`WARNING: 45629 : Use of uninitialized value $aa_string in pattern match (m//) at .vep/Plugins/Mastermind.pm line 280.`

[2022-03-29 16:08] olaaustine commented on #905
Hi,
I'm going to close this issue now.
If you have any further questions, please feel free to reopen it or create a new issue.
Thanks,
Ola

[2022-03-29 16:08] #905 closed

[2022-03-30 02:43] rastogiruchir opened #1140 "Checksum for homo_sapiens_vep_105_GRCh38.tar.gz is incorrect"
## Describe the issue
During VEP installation, the checksum for homo_sapiens_vep_105_GRCh38.tar.gz does not match the checksum on the FTP site. I've repeated the installation process three times, and I get the same error every time.

### System
- VEP version: 105
- VEP Cache version: 105
- Perl version: v5.16.3
- OS: Scientific Linux 7.9
- tabix installed ? yes

### Full VEP command line
[code]

#

[2022-03-30 08:01] dglemos commented on #1139
Hi @dana-obk,
The plugin doesn't parse correctly nonsense variants - we have a plan to review how the Mastermind plugin parses the frameshifts and nonsense variants. I'll let you know when we make the changes.

[2022-03-30 08:23] nakib103 commented on #1127
I am closing this issue as the problem seems to be resolved. Please feel free to open an issue again if you face any further problems.

Kind regards,
Nakib

[2022-03-30 08:23] #1127 closed

[2022-03-30 08:26] diegomscoelho commented on #1122
Hi @Filago4,

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
@diegomscoelho

[2022-03-30 08:26] #1122 closed

[2022-03-30 08:26] nakib103 commented on #1135
I am closing this issue as the problem seems to be resolved. Please feel free to open an issue again if you face any further problems.

Kind regards,
Nakib

[2022-03-30 08:26] #1135 closed

[2022-03-30 08:27] diegomscoelho commented on #1118
Hi @Filago4,

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
@diegomscoelho

[2022-03-30 08:27] #1118 closed

[2022-03-30 08:28] diegomscoelho commented on #1117
Hi @JiguuP,

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
@diegomscoelho

[2022-03-30 08:28] #1117 closed

[2022-03-30 10:00] olaaustine commented on #1140
Hi rastogiruchir,
You can try installing the module DBD::mysql.
We have tried to recreate the cache file issue but we could not.
Can you try to check the checksum for the file you have.
Also you can manually install the cache by
`curl -O http://ftp.ensembl.org/pub/release-105/variation/vep/homo_sapiens_vep_105_GRCh38.tar.gz`
The documentation can be found [here](http://www.ensembl.org/info/docs/to

[2022-03-30 10:02] dana-obk commented on #1139
Ok, thanks a lot! Please, let me know as we are interested in using this plugin.

[2022-03-30 11:25] quentin67100 opened #1141 "Variant without any annotation"
## Describe the issue
When I use VEP some variants are not annotated and I don't know why. Especially since when I put these variants in the web interface of vep, it annotates them correctly.
For example in the original vcf the variant is like this:

`chr14   56491610        rs12894026      G       A       210.25  PASS    AC=3;AF=0.500;AN=6;DP=329;FS=0.411;MQ=250.00;MQRankSum=9.117;QD=0.64;ReadPos

[2022-03-30 12:49] olaaustine commented on #1141
Hi quentin67100,
Can you try running VEP with just the basic options first to see if you get an annotation in the output.
Thank you,
Ola.

[2022-03-30 13:20] olaaustine commented on #1130
Hi Lightsun,
Apologies for the late response.
Can you check if you have `Bio::DB::HTS::Tabix` installed?
Thank you,
Ola

[2022-03-30 14:01] quentin67100 commented on #1141
After further research it seems that first i misunderstood the "no-intergenic" option (if i understand well it include the variant in output but without any annotations?).
Also, for unannotated variants even with the basic vep options, these are actually variants with a '*' in the ALT field like this:

`chr3    52444767        .       CGCACACAAACACTGCACAT    *       201.14  PASS    AC=4;AF=0.667;A

[2022-03-30 22:45] rastogiruchir commented on #1140
I believe the issue is that the INSTALL.pl script assumes that the user has the UNIX ``sum`` utility installed on their machine. ``sum`` is a legacy utility, so I'm not sure why this is assumed (might be worth using a more modern checksum utility that is built into Perl?). For now, I've found that commenting out lines 1252-1254 is sufficient to avoid the issue.

[2022-03-30 22:45] #1140 closed

[2022-03-31 09:40] olaaustine commented on #1140
Hi,
Thank you very much.
We would take a look at this as we believe this might be a backward compatibility issue.
Thanks,
Ola

[2022-03-31 12:42] nakib103 commented on #1024
Hello,

I am closing this as it is probably not a VEP related issue. This may happen as the files are large and because of network condition and settings.

There are some solutions to this particular error in the internet that might solve the problem in some cases (like keeping `--keepalive-time` timeout [low](https://stackoverflow.com/questions/33522615/curl-transfer-closed-with-outstanding-read-

[2022-03-31 12:42] #1024 closed

[2022-03-31 17:08] horatio-fm opened #1142 "docker VEP v105.0 stalls indefinitely due to large REF field"
Hi,

I am able to run 30 samples with no errors. However, about 5 additional samples get stalled, meaning VEP is running indefinitely with no error.
It turns out that all 5 samples have large REF fields (deletions) on chromosome 7 and for all of them VEP flushes the output up to chromosome 6 and then stalls.

An example of large REF field:
![image](https://user-images.githubusercontent.com/1228343

[2022-03-31 21:49] fahadkh opened #1143 "VEP Cache Licensing Inquiry"
## Describe the issue
Not necessarily a technical issue, but wanted to clarify licensing requirements around the inclusion of COSMIC and HGMD data within the cache files. Please let me know if there's a better forum for these types of questions.

## Additional information
Looking at the [following documentation about the cache files](https://useast.ensembl.org/info/docs/tools/vep/script/vep_other.

[2022-04-01 07:50] LightSun commented on #1130
@olaaustine I  installed vep by conda.  and export the bin dir to path. As you say, Is tabix to be installed separately?

[2022-04-01 08:32] olaaustine commented on #1130
Hi Lightsun,
Thanks for your response.
This issue occurs mostly when there is a multiple version of Bio::DB::HTS installed usually one is installed as part of the VEP installation process.
Can you check if Bio::DB::HTS is already installed on your machine?
I believe this might be causing a conflict if the machine being used already has BIO::DB::HTS installed.
Thanks,
Ola

[2022-04-01 09:31] olaaustine commented on #1143
Hi fahadkh,
Thank you for your enquiry.
Yes, the cache files are useable without acquiring a license.
Do let us know if you have any other questions.
Thank you,
Ola.

[2022-04-01 09:46] likhitha-surapaneni commented on #1142
Hi @horatio-fm , could you please try running the same with v105 (non-docker) and let us know if the issue persists? Could you also provide us with a file containing an example of the large REF field so we can replicate the issue from our side?

[2022-04-01 12:19] likhitha-surapaneni commented on #754
Hi @conanyangqun,

I am closing this issue for now. Please feel free to reopen the issue if the problem still persists.

[2022-04-01 12:19] #754 closed

[2022-04-02 01:40] LightSun commented on #1130
@olaaustine  sorry now I can't . I had use a script to install vep successed which is like your docker file some days ago. Now it works.

[2022-04-04 08:43] olaaustine commented on #1130
Hi @LightSun,
Just to confirm, is the issue now resolved?
If no, can you try to check all the versions of vep you have installed?
Thank you
Ola.

[2022-04-04 17:36] paulrdelg opened #1145 "perl INSTALL.pl gets stuck during cache download"
## Describe the issue
The `perl INSTALL.pl` process gets stuck when I attempt to download cache.

## Additional information

### System
- VEP version: 105
- VEP Cache version: 105 ?
- Perl version: 5.30
- OS: Windows 11 with Ubuntu 20.04 through WSL, Ubuntu 20.04 on a laptop, Ubuntu 20.04 virtual machine
- tabix installed ?

### Full VEP command line
* `perl INSTALL.pl` (the first instruction in R

[2022-04-05 08:07] diegomscoelho commented on #1145
Hi @paulrdelg,

About first error message, downloading cache can take a little bit long, it's a `14Gb` compressed folder. Can you provide me what is inside your `/home/$USER/.vep/` folder? It looks like `vep` command is not finding `homo_sapiens` folder with cache files.

If you have not found cache folder inside `/home/$USER/.vep/` and have not downloaded `homo_sapiens_vep_105_GRCh38.tar.gz`, you

[2022-04-05 13:42] Addy81 opened #1146 "filter_vep with match contents of a file"
Hello,

I was wondering if theres a way to do something similar to this from your docs:

filter using a file of MotifFeatures
--filter "Feature in /data/files/motifs_list.txt"

But instead of match exactly it does a regex match with the contents of the file? Looking into filtering for a chosen transcript without spcifying a version and without writing a really big string to use the Feature match f

[2022-04-05 15:34] nuno-agostinho commented on #1041
Hi @PimPolacko,

I am happy to share with you that LOVD plugin will properly support LRG variants in release 107, so it seems all the issues you reported in this ticket were dealt with!

I'll close this ticket now, but do open a new one if you find any more problems. Thanks for your report!

All the best,
Nuno

[2022-04-05 15:34] #1041 closed

[2022-04-05 19:11] 0xaf1f opened #1147 "upstream_gene_variant with distance 0"
## Describe the issue

We noticed a variant, a single base insertion after the first position of a gene, getting annotated as an upstream_gene_variant with respect to that gene. The distance is then 0 since it's not actually upstream, but why isn't it instead called a frameshift mutation?

This is the problematic annotation:

[code]

## Additional information

### System
- VEP version: 105.0
- VEP

[2022-04-06 01:52] LightSun commented on #1130
@olaaustine I resolve it by reinstall vep with flow the docker file of this project.

[2022-04-06 07:53] olaaustine commented on #1130
Hi @LightSun,
Thank you for letting us know.
I will close this ticket now, please feel free to open another ticket if you have any issue.
Thank you,
Ola.

[2022-04-06 07:53] #1130 closed

[2022-04-06 12:14] diegomscoelho commented on #1146
Hi @Addy81,

Unfortunately `filter_vep` does not support `matches` while using `Feature in /data/to/motif_list.txt`.
But you can try a bash script like this, i.e

[code]

`pattern.txt` can be a file where you store all your patterns on separate lines (as in /data/files/motifs_list.txt"

Thanks for your question. If you still need some help, please, post here in this issue.

Regards, @diegomscoelho

[2022-04-06 15:09] diegomscoelho commented on #1147
Hi @0xaf1f,

We are currently investigating your issue. I will post an answer here shortly.

Thanks for your question.

Regards, @diegomscoelho

[2022-04-06 16:38] Addy81 commented on #1146
Thank you @diegomscoelho for the response.  Thought I'd check in case it was missing from the docs. I anticipate it might be useful feature in the future for other people as well.

[2022-04-06 16:38] #1146 closed

[2022-04-07 00:48] zyh4482 opened #1149 "plugin MaxEntScan, GeneSplicer,SpliceAI do not work"
## Describe the issue
plugin MaxEntScan, GeneSplicer,SpliceAI do not work

## Additional information
All the plugins have been installed in ~/.vep/Plugins

### System
- VEP version: [104]
- VEP Cache version: [104]
- Perl version: [5.22]
- OS: [Ubuntu]

### Full VEP command line
#MaxEntScan#
[code]
#GeneSplicer#
[code]
#SpliceAI#
[code]

### Full error message
#MaxEntScan#

#GeneSplicer#
For this

[2022-04-07 08:55] diegomscoelho commented on #1149
Hi @zyh4482,

I have posted an answer on your last VEP_Plugins issue https://github.com/Ensembl/VEP_plugins/issues/486.

You need to download data from each Plugin and follow a few steps in some cases, i.e,

`SpliceAI`
https://github.com/diegomscoelho/VEP_plugins/blob/b062a0a1ecec2f0f6f25c236153cf08cddccf1c7/SpliceAI.pm#L84-L103

`GeneSplicer`
https://github.com/diegomscoelho/VEP_plugins/blob/b062

[2022-04-07 12:51] nuno-agostinho commented on #1067
Hello @DarioS,

Thanks for your suggestion! We will show the file size of cache files when running `INSTALL.pl` in release 107.

Please feel free to open a new issue if you have further suggestions or issues.

Kind regards,
Nuno

[2022-04-07 12:51] #1067 closed

[2022-04-07 12:59] olaaustine commented on #1143
Hi @fahadkh,
I will be closing this issue now.
Please feel free to open another ticket or reopen if you have any other issue.
Thank you,
Ola.

[2022-04-07 12:59] #1143 closed

[2022-04-07 14:56] anubhabkhan commented on #732
Hey Andrew, just checking if there are any updates on this? Do you think it is okay to simply delete the ncRNA and miRNA lines from vcf before running?

[2022-04-07 18:15] horatio-fm commented on #1142
Hi,

I truncated the REF and ALT fields to

REF_ALT_MAX_LEN = 2048
REF_ALT_MAX_LEN = 4096
REF_ALT_MAX_LEN = 8192
REF_ALT_MAX_LEN = 16384
REF_ALT_MAX_LEN = 32768
REF_ALT_MAX_LEN = 131072

The execution time increased with the threshold with the last one taking 8 hours producing a 800MB vcf where in my case about 10MB is the norm.

The consequence of the variant changed depending on the threshold.

[2022-04-07 19:55] horatio-fm commented on #1142
Hi,

I created a docker VEP for version 89.2 based on Centos7 and the example that stalled indefinitely processed in 30 minutes generating 63 MB vcf.

Please let me know it there are options in VEP v105 that can make it avoid long execution times for large REF/ALT fields.

Thank you.

[2022-04-07 23:36] fahadkh commented on #1143
Thank you!

[2022-04-08 03:11] zyh4482 commented on #1149
@diegomscoelho Thank you so much! The documents are very useful. MaxEntScan could work normally.
I'm testing SpliceAI now with following command:

`vep -i test.vcf.gz -o ../splice_prediction/spliceai.txt --cache --plugin SpliceAI,snv=/home/tomas/SpliceAI/annotation/spliceai_scores.raw.snv.hg38.vcf.gz,indel=/home/tomas/SpliceAI/annotation/spliceai_scores.raw.indel.hg38.vcf.gz`

But it comes with an

[2022-04-08 07:59] likhitha-surapaneni commented on #197
Hi @thedam,

Thank you for your patience. We have added warnings for such input options in release 107.

Please feel free to open a new issue if you have further suggestions or issues.

Kind regards,
Likhitha

[2022-04-08 08:51] diegomscoelho commented on #1149
Hi @zyh4482,

Can you try to include `--force_overwrite` to your command? - i.e,

[code]

I think you are getting this message because you already have a file `../splice_prediction/spliceai.txt_summary.html` and vep will not overwrite by default.

Regards, @diegomscoelho

[2022-04-08 14:13] diegomscoelho commented on #1149
Hi @zyh4482,

I was only able to reproduce your error when I tried to write a file in a directory that I do not have permission to write or create a file.

Can you put your output: `-o ../splice_prediction/spliceai.txt` in a different directory? - To ensure you have access to this, you can try `touch ../splice_prediction/file.txt`. If this solution does not work, could you please post your full co

[2022-04-09 05:13] zyh4482 commented on #1149
@diegomscoelho Thank you very much. I corrected the directory and the error message didn't show again.

[2022-04-09 05:14] #1149 closed

[2022-04-11 15:43] likhitha-surapaneni commented on #1142
Hi @horatio-fm ,

Thank you for the detailed report.

We are trying to replicate the issue from our end. Could you please provide us the file containing an example of the large REF/ALT fields where VEP takes long execution times? This will help us in understanding the underlying issue better.

Kind regards,
Likhitha

[2022-04-11 20:10] horatio-fm commented on #1142
Hi,

I've attached a vcf containing a deletion and 2 tandem duplications.

Thank you.
[large_ref_alt_variant.zip](https://github.com/Ensembl/ensembl-vep/files/8467372/large_ref_alt_variant.zip)

[2022-04-13 07:02] likhitha-surapaneni commented on #1142
Hi @horatio-fm ,

Thank you for providing us the file. We will look into why the issue is caused and will get back to you. Thank you for your patience.

Kind regards,
Likhitha

[2022-04-14 05:26] davmlaw opened #1152 "Missing GRCh37 106 Indexed Cache files"
The [web site](https://asia.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache) lists the latest version of Cache (106) as being supported by both GRCh37 and GRCh38

However the [FTP site](http://ftp.ensembl.org/pub/release-106/variation/indexed_vep_cache/) contains only GRCh38 cache files:

[code]

The equivalent GRCh37 files are missing

[2022-04-14 08:28] dglemos commented on #1152
Hi @davmlaw,
You can find the GRCh37 cache files here: http://ftp.ensembl.org/pub/grch37/release-106/variation/vep/

Best wishes,
Diana

[2022-04-15 07:24] Stikus commented on #1152
Hello, According to previous releases, not only GRCh37 files were present in release folder:
![image](https://user-images.githubusercontent.com/41360525/163538340-e4e0cb65-abfc-4bf3-858c-4bc93f848e17.png)
But release folder for GRCh37 should have `indexed_vep_cache` subfolder - now it is missing:

- Release 105:
![image](https://user-images.githubusercontent.com/41360525/163538716-a83eef70-dc14-49

[2022-04-15 08:16] Stikus opened #1153 "VEP failing tests on version check for release 106"
## Describe the issue
VEP failing tests on version check.

### System
- VEP version: 106.0
- VEP Cache version: 106
- Perl version: 5.26
- OS: Ubuntu 18.04
- tabix installed

### Full VEP command line
[code]

### Full error message
[code]

[2022-04-15 08:29] Stikus commented on #1153
After temporary disabling tests, I've still got error with version (looks like):
[code]

[2022-04-15 09:09] Stikus commented on #1153
Looks like I've found problematic code: https://github.com/Ensembl/ensembl-vep/blob/release/106/modules/Bio/EnsEMBL/VEP/Constants.pm#L55

![image](https://user-images.githubusercontent.com/41360525/163551522-cc988af4-8e85-488b-8a27-375b223885ae.png)

[2022-04-15 16:18] brownmp commented on #1153
Hello,
I am having the same issue as well. It looks like this change to 107 occurred in the following merge: https://github.com/Ensembl/ensembl-vep/pull/1075

[2022-04-19 02:26] liangdy678 opened #1154 "Different Effects of The Same SNP"
## Describe the issue
Sir，

We plan to predict the effect of the SNP( GRCh37: chrX-100085855-A-AG) via VEP Web interface, encountered some problems.

![图片1](https://user-images.githubusercontent.com/103975033/163904736-50128cb4-3a75-4c89-9721-cad7456babcc.png)

As we can see，insert the base [G] at any position (arrow) , results in a consistent effect .
So the SNP can be represented as [chrX-100085

[2022-04-19 02:26] liangdy678 opened #1155 "Different Effects of The Same SNP"
## Describe the issue
Sir，

We plan to predict the effect of the SNP( GRCh37: chrX-100085855-A-AG) via VEP Web interface, encountered some problems.

![图片1](https://user-images.githubusercontent.com/103975033/163904736-50128cb4-3a75-4c89-9721-cad7456babcc.png)

As we can see，insert the base [G] at any position (arrow) , results in a consistent effect .
So the SNP can be represented as [chrX-100085

[2022-04-19 03:16] davmlaw commented on #1152
Stikus is right, to clarify it's the indexed cache files that are missing - I updated the issue title to reflect that

[2022-04-19 06:20] serge2016 commented on #1152
Hello! I hope this would be fixed very soon!

[2022-04-19 06:30] serge2016 commented on #1153
Hello! Can anybody fix this, please?

[2022-04-19 07:50] diegomscoelho commented on #1145
Hi @paulrdelg,

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards,
@diegomscoelho

[2022-04-19 07:50] #1145 closed

[2022-04-19 08:32] dglemos commented on #1152
You are correct, the indexed cache files are missing. We are working on a fix.

[2022-04-19 09:58] nakib103 commented on #1138
I'm going to close the issue for now but feel free to open a new one if you have more questions.

Best regards,
Nakib

[2022-04-19 09:58] #1138 closed

[2022-04-19 10:35] dana-obk opened #1158 "Getting Ensembl and RefSeq ID from VEP"
Dear all,

I am suing` VEP v.105` and human genome` GRCh37`. I am using the default Ensembl cache. But I would also like to find the aligned RefSeq ID. I am using using this option` --xref_refseq`, but in the documentation is says: `The RefSeq and Ensembl transcripts aligned in this way MAY NOT, AND FREQUENTLY WILL NOT, match exactly in sequence, exon structure and protein product`. How to correct

[2022-04-19 11:44] dglemos commented on #1124
I'm going to close this issue but feel free to re-open it in case you have issues with the update in release 107.

Best wishes,
Diana

[2022-04-19 11:44] #1124 closed

[2022-04-19 11:45] nakib103 commented on #1154
Hello, I am closing this issue as it seems duplicate of this one - https://github.com/Ensembl/ensembl-vep/issues/1155.

[2022-04-19 11:45] #1154 closed

[2022-04-19 11:46] dglemos commented on #1123
I'm going to close this issue but feel free to re-open it in case you have more questions.

Best wishes,
Diana

[2022-04-19 11:46] #1123 closed

[2022-04-19 11:58] liangdy678 commented on #1154
ok, I am apologetic for  for the record duplication. o(╥﹏╥)o

[2022-04-19 12:08] nakib103 commented on #1155
Hello @liangdy678 ,

Thanks for the query and bringing this issue to our notice. Currently VEP is not considering the most 3' representation of the variant to be after the exon/intron boundary when calculating consequence. We need to look into this issue in more depth.

Best regards,
Nakib

[2022-04-19 12:32] dglemos commented on #1129
I'm going to close the issue but feel free to re-open it in case you have more questions.

Best wishes,
Diana

[2022-04-19 12:32] #1129 closed

[2022-04-19 12:36] dglemos commented on #882
I'm going to close this issue but when you have a chance to have another look feel free to reopen it.

Best wishes,
Diana

[2022-04-19 12:36] #882 closed

[2022-04-19 12:37] dglemos commented on #914
As this issue is not specific to VEP I'm going to close it for now.

Best wishes,
Diana

[2022-04-19 12:37] #914 closed

[2022-04-19 12:43] nuno-agostinho commented on #1153
Hey everyone, sorry for this issue!

We just published [release/106.1](https://github.com/Ensembl/ensembl-vep/releases/tag/release/106.1) to fix this. All tests are passing now.

Thank you all for reporting!

Best regards,
Nuno

[2022-04-19 13:49] andreupaytuvi opened #1160 "HGVS nomenclature upstream variants"
Hello Ensembl-VEP authors,

I have a question regarding the HGVS nomenclature. Ensembl-VEP provides it as long as the variant is within an exon or an intron. My question is about upstream variants. Is it possible to obtain the HGVS nomenclature for upstream variants, something like the variant rs1246774295, upstream variant reported in dbSNP as NM_001368143.1:c.-537G>A.

Thanks in advance.

[2022-04-19 13:58] nakib103 commented on #1158
Hello @dana-obk,

Thanks for your query.

Actually `--xref_refseq` would be the best way to get both refseq and Ensembl ID both at the same time from VEP. The refseq and Ensembl transcripts would not always exactly match as the warning says.

You can also use `--merged` flag with merged refseq and Ensembl cache but that will give you the results for each transcript in different lines of output.

B

[2022-04-19 14:58] nakib103 commented on #1160
Hello @andreupaytuvi ,

At the moment HGVS is not reported for upstream variants. I have added this as feature request to our backlog - we will look into it for possible implementation.

Best regards,
Nakib

[2022-04-21 10:22] Stikus commented on #1152
Hello again @dglemos, can you give us any ETA for fix? We cannot use latest VEP due to this.

[2022-04-21 10:29] dglemos commented on #1152
Hi @Stikus,
The cache files are available now. Let me know if you have any problem downloading them.

Best wishes,
Diana

[2022-04-21 10:41] Stikus commented on #1152
Thanks for fast answer.
I've found files here:
![image](https://user-images.githubusercontent.com/41360525/164440133-d9f33327-070a-4409-a6be-0bea11a1c54f.png)

But they are still missing here:
![image](https://user-images.githubusercontent.com/41360525/164440506-7acc5512-c5e4-466a-a113-4b4c2b52cd05.png)
![image](https://user-images.githubusercontent.com/41360525/164441245-a891db35-2328-4ec6-9e57-2

[2022-04-21 11:18] eprdz opened #1161 "VEP cannot find internal name for species 'arabidopsis_thaliana'"
I wanted to do variant annotation with a VCF file from _Arabidopsis thaliana_ using this command:
[code]

The thing is that VEP throws the next error:
[code]
Nevertheless, using the next command (the same but in offline mode) there is no error:
[code]

I have set the PERL5LIB path and used the INSTALL.pl script correctly, in case it is useful to know.

Thanks in advance!

[2022-04-21 12:32] dglemos commented on #1152
Could you send the command you're running?

The grch37 cache files are kept in a [separate folder](http://ftp.ensembl.org/pub/grch37/release-106/variation/indexed_vep_cache/). The directory http://ftp.ensembl.org/pub/release-106/variation/indexed_vep_cache/ only contains human assembly GRCh38 which is the one being used by the installer. I would recommend you download the GRCh37 cache files manual

[2022-04-21 15:14] nakib103 commented on #1161
Hello @eprdz ,

Thanks for your query! We are looking into this issue.

Best regards,
Nakib

[2022-04-21 17:01] ntm opened #1163 "missing CHECKSUMS for indexed_vep_cache/ release 106"
## Describe the issue
When installing or updating the VEP cache to release 106 with tabix installed, INSTALL.pl downloads tar.gz files from ftp.ensembl.org/pub/release-106/variation/indexed_vep_cache/ . It then tries to download CHECKSUMS, but this file is missing, and INSTALL.pl dies with:
ERROR: Failed last resort of using HTTP::Tiny to download ftp://ftp.ensembl.org:21/pub/release-106/variation

[2022-04-21 17:41] eprdz commented on #1161
Okay, thank you!

[2022-04-21 18:07] dglemos commented on #1152
We have added the missing homo_sapiens grch37 cache files to that directory.
Could you please rerun the installation?

[2022-04-21 18:11] davidhoover commented on #1152
Thank you!

[2022-04-21 18:15] dglemos commented on #1163
Hi @ntm,
Thank you for bringing this to our attention, we are working on it.

[2022-04-22 07:46] Stikus commented on #1152
Finally:
[code]
Looks like issue can be closed. Thanks.

[2022-04-22 08:11] Stikus commented on #1152
Not closed, sorry. Download failing due to CHECKSUMS missing:
[code]

Release 105:
![image](https://user-images.githubusercontent.com/41360525/164646352-795e706e-38f0-4e7f-a633-4460bc0f7ad9.png)
Release 106:
![image](https://user-images.githubusercontent.com/41360525/164646416-e80a4b64-9e02-4e80-916b-6a521ad2a264.png)

[2022-04-22 11:22] nakib103 commented on #1161
Hello @eprdz ,

Can you run again without `--offline` mode and let us know if you still get the error.

Best regards,
Nakib

[2022-04-22 15:44] dglemos commented on #1152
We added the missing checksums. Could you please check if it's working now?

[2022-04-22 15:45] dglemos commented on #1163
We added the missing checksums. Could you please check if it's working now?

[2022-04-22 15:57] ntm commented on #1163
Hi @dglemos,
all working now, thanks for the quick fix!

[2022-04-22 15:57] #1163 closed

[2022-04-25 00:46] kibalee commented on #1152
Checksums of 105 and 106 version are same.

![image](https://user-images.githubusercontent.com/93112769/165004053-fb7e70b8-6454-4717-9208-3b02d00c4313.png)

[2022-04-25 00:48] kibalee commented on #1152
Checksum of 105 and 106 are same. Please check the file.

![image](https://user-images.githubusercontent.com/93112769/165004177-8420cfa2-a403-4bef-926f-df6953af6de7.png)

[2022-04-25 07:57] Stikus commented on #1152
I have some problems too:
[code]

[code]

And here is my cache folder:
![image](https://user-images.githubusercontent.com/41360525/165045230-a932aa10-3d43-44c3-82d4-3f560d2239a3.png)

Release 105 for the reference:
![image](https://user-images.githubusercontent.com/41360525/165045298-2ec2726d-b70d-4fbf-bad4-93248a75ff3c.png)

[2022-04-25 08:06] Stikus commented on #1152
@kibalee nonindexed files are same too:
![image](https://user-images.githubusercontent.com/41360525/165046654-0358ee7d-601d-4d16-948a-14cd16d2cdde.png)
![image](https://user-images.githubusercontent.com/41360525/165046677-13abe847-f5cb-4113-a5b2-173644ad79e3.png)

[2022-04-25 08:20] dglemos commented on #1152
Hi @kibalee, @Stikus,
There are no updates for the cache files GRCh37, the data is the same between releases 105 and 106.

[2022-04-25 08:48] Stikus commented on #1152
But this is the problem:
![image](https://user-images.githubusercontent.com/41360525/165054160-924c38f5-ffd0-4209-aeaa-96e78b8b8a01.png)

106 archive contains 105 folder and VEP cannot recognize it.

[2022-04-25 08:55] kibalee commented on #1152
Thank you.

[2022-04-25 09:49] dglemos commented on #1152
I'm really sorry for the inconvenience. We are having problems with the public FTP which is causing issues with the human GRCh37 cache files for release 106. In the meantime, you could use the 105 cache files as they are the same as release 106.
I'll let you know when the problem is resolved.

[2022-04-25 13:48] uros-sipetic opened #1164 "Variants labeled as intergenic even though they fall within genes, with a properly formatted GFF"
## Describe the issue
I'm running VEP on bacterial data, but I made sure that my GFF is properly formatted (i.e. that is has proper exon-transcript-gene relations), and all variants that fall on a protein coding gene are labeled as intergenic, but the gene is also annotated.

## Additional information
I'm attaching here an example of the GFF, as well as the VCF with the problematic variants
[code]

[2022-04-25 13:55] stefandiederich opened #1165 "wrong indexed cache file on ftp server"
Hi,
I just installed VEP version 106.1 and downloaded the indexed cache file for grch37 from `http://ftp.ensembl.org/pub/grch37/release-106/variation/indexed_vep_cache/homo_sapiens_vep_106_GRCh37.tar.gz`. By 'untaring' I saw that the folder is version 105. So there migth be some error with the uploaded file, or did I miss something?

Bests
Stefan

[2022-04-25 14:02] dglemos commented on #1165
Hi @stefandiederich,
We are having problems with the cache files for GRCh37 in the public FTP.
As there are no updates in release 106 for assembly GRCh37 could you please use the version from 105 for now?

[2022-04-25 16:04] pdl commented on #1152
Per @Stikus it does look to me like the problem is now that the 105 cache files are the same but should not be (the folder name in the cache file should reference 106), and this causes an error when running `INSTALL.pl` which is a) not fatal and b) prevents the convert script step from running.

In case it is useful, here's my output (I have substituted `[...]` for my current dir),

[code]

I note

[2022-04-26 07:19] eprdz commented on #1161
Hi!

Sorry for my late response, but the error is still appearing.

[2022-04-26 08:06] dglemos commented on #1164
Hi @uros-sipetic,
The consequences are not supposed to be intergenic, could you please also send your fasta file?

[2022-04-26 09:01] uros-sipetic commented on #1164
Yes yes, sorry I forgot in the original post
This is the FASTA from the start up to and including the gene that covers these variants
[TEST.fasta.txt](https://github.com/Ensembl/ensembl-vep/files/8561520/TEST.fasta.txt)

[2022-04-26 10:29] nakib103 commented on #1161
Sorry, I cannot seem to reproduce the issue anymore. There was an issue with database permission which has been resolved. For me it is working correctly. Can you confirm that you are getting the exact same error.

Also, it may not be related but can you provide me the input file to see if I can re-produce the error.

[2022-04-27 09:44] eprdz commented on #1161
I have executed a simplified code:
[code]
And I get the same error:
[code]

The offline mode is working and PERL5LIB is set again.
The file can be downloaded [here](https://drive.google.com/file/d/1RXu9oYSnQ1u2E3cWxjdDBNBRbPQTvW-J/view?usp=sharing)

Thanks in advance.

[2022-04-27 09:49] nakib103 commented on #1161
Thank you. You are not using the `--genomes` flag; it will query the wrong database. You should add the `--genome` flag and try again.

[2022-04-27 10:14] eprdz commented on #1161
Now everything works perfectly.
Thank you for your time!

[2022-04-27 10:14] #1161 closed

[2022-04-27 13:47] dglemos commented on #1164
Thank you for sending the data. We are looking into this issue.

[2022-04-28 02:26] hiudkny opened #1167 "How to remove cache directory"
## Describe the issue
Sorry for noob question. Is there any way to remove the direction that I used for download the cache in Ubuntu 20.04.4 LTS. My issue is the location where I download cache to is very slow to response, even with simple "ls" command takes 30s (I still have plenty of free ram and disk space); and when I tried "sudo rm -rf dir" I got  nothing, no error and the dir is still there.

[2022-04-28 03:08] #1167 closed

[2022-04-28 10:32] olaaustine commented on #789
Hi @chadisaad,
After careful consideration, this is not a feature we can support as the issue is based on Tabix parser which does not currently allow chromosome names containing` :`.
If anything changes in the future, we would update this.
Meanwhile, we suggest that you change the VCF file to have Tabix supported chromosome names.
Please feel free to open another ticket if you have another questio

[2022-04-28 10:32] #789 closed

[2022-04-28 23:00] michaeljon commented on #1001
Opened a PR (https://github.com/Ensembl/ensembl-vep/pull/1169) to address this. We were starting to rely on the statistics display and this was causing concern.

[2022-04-29 10:35] nakib103 commented on #968
`--vcf` cannot be used with `--most_severe` and `--summary`; this changes in doc will appear at Ensembl release e107.

Thank you for reporting.

[2022-04-29 10:35] #968 closed

[2022-04-29 11:11] nakib103 commented on #927
Thank you for reporting this. This information will be available in Ensembl release e107 docs.

[2022-04-29 11:11] #927 closed

[2022-04-29 11:19] nuno-agostinho commented on #1088
Hi @gandham71, could you please warn us if you are still facing the same issue? Thanks!

Hi there @pdl! Thanks for your help with #1093. Is there any other related issues that you want to discuss?

Cheers,
Nuno

[2022-04-29 11:23] nuno-agostinho commented on #912
Hi @antonkulaga!

Could you please send the input/output again? The links are currently not working.

I am sorry for the inconvenience.

Thanks,
Nuno

[2022-04-29 11:28] pdl commented on #1088
Hello - sorry, I had missed your previous comment. I had subsequently re-run `perl /opt/vep/src/ensembl-vep/INSTALL.pl -a cfp -s homo_sapiens -y GRCh38 -g dbNSFP,CADD,SpliceAI` after making sure I had enough disk and it completed and 105.0 is now working fine for me.

[2022-04-29 11:36] nuno-agostinho commented on #1088
Glad to hear that @pdl! I hope that things go smoother now using VEP.

Please feel free to open a new ticket if you have any further issues.

Thanks again so much for your PR! 😊

[2022-04-29 11:39] nakib103 commented on #616
Hello @PlatonB ,

I see that the image now contains the 'output' folder. It is recommended to create this folder along with the other folders mentioned in the image and mount them when creating the docker container.

The command below is designed to work with the recommended directory structure shown in the image. Please let me know if you find anything else needs to be changed in the doc.

Best r

[2022-04-29 13:01] uros-sipetic commented on #1164
Hey it turns it that both a CDS line and an exon line were needed for VEP to annotate properly. I'll paste an example here and close the ticket in case anyone else stumbles on the same problem:
[code]

[2022-04-29 13:01] #1164 closed

[2022-04-29 17:01] PlatonB commented on #616
Hello, @nakib103 !
Over time I have written own annotators, and now, unfortunately, do not have the motivation and time to retest VEP.

[2022-04-29 23:22] jon4thin commented on #407
How do we check if GRCh37 was updated on a newer version of VEP? originally, in 2019, it was said that vep 95 was the last version with VEP updated, how can we  check if there were further developments?

[2022-04-30 12:52] tahi87 opened #1171 "VEP_FILTER"
I installed vep 106 with conda and I do not have any problem with running vep. My issue is with filter_vep that I used for filtering the annotated txt file. I used vep server and downloaded the annotated file (not filtered) in GCRh37 vep online. When I apply below command containing parameters that also applied on vep server and worked there but the out.txt file is empty for me in my linux.
Please

[2022-04-30 19:25] #1171 closed

[2022-05-02 17:31] charwang0440 opened #1172 "Variant Recoder batch request (1million queries)"
Hi,
I am trying to use variant recorder to convert HGVS to RefSeq format (all NPs and alternative isoforms-hgvsp) but I have around 1 million queries. The online tool only supports 20MB of input files and fails after running it for two days. The API and command-line tools are slow and take a long time to process all the queries. The API connection time is also limited, as 1000 queries often discon

[2022-05-04 09:36] olaaustine commented on #883
Hi @mikpom,
We have updated VEP to have the warning saying the contigs do not have data.
This change would reflect in future releases.
Thank you for bringing this to our notice.
I will close this issue now. Please feel free to reopen or create another issue if you have more questions.
Thank you,
Ola

[2022-05-04 09:36] #883 closed

[2022-05-04 12:25] nakib103 commented on #616
Thank you, I am closing this issue. Please re-open another one if you need to raise an issue in the future.

Best regards,
Nakib

[2022-05-04 12:25] #616 closed

[2022-05-04 14:37] Stikus commented on #1152
Hello, any news?
Looks like now 106 GRCh37 cache files are deleted from all locations on FTP.
![image](https://user-images.githubusercontent.com/41360525/166704911-2492dbd7-3eac-4b28-8f29-0d0a815923b5.png)

[2022-05-04 15:36] jamie-m-a commented on #1172
Hi @charwang0440

I'm sorry to hear about the difficulties you've been having with running your queries on variant recoder.

Unfortunately, at present we do require the database connection for this tool to run and as you have noted it may fail when processing large numbers of variants.

As a potential quick fix, I would suggest perhaps splitting your input in to smaller chunks, in order to minimis

[2022-05-04 22:52] hfl112 opened #1175 "Error: no compiler detected to compile 'lib/Bio/DB/HTS.c'."
## Describe the issue
I am actually following https://useast.ensembl.org/info/docs/api/api_installation.html to install VEP,
but encountered an error when trying to install BIO-DB-HTS

### System
- Perl version: 5.26.2
- OS: ubuntu
- tabix installed: yes

### Full error message
[code]

## Additional information
1. $ which gcc
~/Tools/miniconda3/bin/gcc

2. perviously I installed VEP88 through cond

[2022-05-05 03:06] davmlaw commented on #1152
@Stikus - I can see them, http://ftp.ensembl.org/pub/release-106/variation/indexed_vep_cache/

[code]

[2022-05-05 05:48] serge2016 commented on #1152
@davmlaw sorry, there are **GRCh38** files in your place:
![image](https://user-images.githubusercontent.com/18323865/166868887-1c5f289a-e352-41bb-a360-035504cfc39a.png)

And @Stikus asks about **GRCh37** here: http://ftp.ensembl.org/pub/grch37/release-106/variation/indexed_vep_cache/
![image](https://user-images.githubusercontent.com/18323865/166869038-13b37587-c7e5-48c4-a0cc-a2bae0b147ea.png)

F

[2022-05-07 11:37] amizeranschi commented on #441
Hello, it would be great to see some progress with BND genotypes in Ensembl VEP. This still doesn't appear to be supported, as of v.105.

[2022-05-07 12:47] tahi87 commented on #1152
@dglemos,

Please let us know how long should we expect?
tnx

[2022-05-09 13:14] likhitha-surapaneni commented on #1175
Hi @hfl112,

Thank you for your query!

From the details provided, it seems like a problem related to C compiler not being available to the setup. VEP requires gcc, g++ and make to install correctly. Could you please check if g++ and make are available as well?

The error message `MSG: ERROR: Cannot use format vcf without Bio::DB::HTS::Tabix module installed` generally may  occur when either ensem

[2022-05-09 15:40] diegomscoelho commented on #441
Hi @amizeranschi,

Unfortunately, we do not have an update for this implementation, but ticket still in our backlog.
I will discuss with our team again to prioritize this feature, any update I will post it here.

Regards, @diegomscoelho

[2022-05-09 15:44] hfl112 commented on #1175
I think I have somehow solved this problem by update my conda and then updated my old perl lib using App::migrate

[2022-05-09 15:44] #1175 closed

[2022-05-10 14:45] diegomscoelho commented on #1119
Hi @FelixMoelder,

Looking again at your input, we don't actually support `--hgvsg` flag usage for SV. We are going to discuss this new feature in our team, any news I will post it an answer here.

Thank you again.

Regards, @diegomscoelho

[2022-05-10 15:07] nakib103 commented on #1158
Hello,

I am closing this issue. If you face any other issue  in future you can re-open it or create another one.

Best regards,
Nakib

[2022-05-10 15:07] #1158 closed

[2022-05-11 07:13] amizeranschi commented on #441
Hi @diegomscoelho

Thank you for your reply. It's great to know you guys are still considering to add this feature. It would be great to see support for BND SVs in Ensembl VEP, because several SV calling tools can output variants in this format nowadays.

[2022-05-11 23:37] GACGAMA opened #1176 "Argument "ensembl ID" isn't numeric in numeric BaseGXF.pm"
## Describe the issue
I'm trying to run VEP on VCF anottated from RNA-seq experiments with GATK program and Mutect2.
Running VEP online with my VCF runs fine without errors.

### System
Versions:
  ensembl              : 106
  ensembl-funcgen      : 106
  ensembl-io           : 106
  ensembl-variation    : 106
  ensembl-vep          : 106.1

- OS: Ubuntu 22.04 LTS
- tabix installed: Yes

### Full

[2022-05-12 08:09] olaaustine commented on #1176
Hi @GACGAMA
Thank you for your query.
Is it possible for you to share your input file to check if I can recreate the warning?
Thank you
Ola.

[2022-05-12 08:22] dana-obk opened #1177 "Filter_vep for multiple conditions in one command line"
Dear all,

I would like to filter out variants > than MAX_AF 0.05 and all synonymous_variants (but not in case synonymous_variants&intron ecc ecc).
How is it possible to do in one command line using filter_vep?

`perl filter_vep --format vcf --filter "MAX_AF < 0.05" --filter  "Consequence not synonymous_variant"-i {input} -o {output}`

[2022-05-12 08:58] olaaustine commented on #1177
Hi @dana-obk
Thank you for your query. You can use
`perl filter_vep --format vcf --filter "(MAX_AF < 0.05) AND (Consequence != synonymous_variant)" -i {input} -o {output} `
Thank you
Ola.

[2022-05-12 09:47] dana-obk commented on #1177
So If I want to filter out also MODIFIER etc etc, I do like this?
`perl filter_vep --format vcf --filter "(MAX_AF < 0.05) AND (Consequence != synonymous_variant)" AND (IMPACT != MODIFIER)" -i {input} -o {output}`

Thanks a lot! Unfortunately there is no example in vep documentation, so this is very helpful to know.

[2022-05-12 09:57] olaaustine commented on #1177
Hi @dana-obk,
You can also use :
`perl filter_vep --format vcf --filter "(MAX_AF < 0.05) AND (Consequence != synonymous_variant) AND (IMPACT != MODIFIER)" -i {input} -o {output`
The filter_vep documentation is [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_filter.html)
You can also check for what can be filtered on using:
`perl filter_vep --list --format vcf -i {input}`
The [--list]

[2022-05-12 12:33] #1177 closed

[2022-05-12 15:44] GACGAMA commented on #1176
[1.vcf.txt](https://github.com/Ensembl/ensembl-vep/files/8680661/1.vcf.txt)
This is the vcf (just remove the txt extension)

[2022-05-12 15:56] ghost opened #1178 "combination of --check_ref --dont_skip fails to catch problematic lines"
## Describe the issue
With the file below, --check_ref and --dont_skip fail to produce expected string "failed" in the "CHECK_REF" column. Variant where REF is AAT does not match the reference, or does it?

### System
- VEP version: 105
- VEP Cache version: 105
- Perl version: 5.32.1
- OS: Debian
- tabix installed: yes

### Full VEP command line
[code]

### Input
#CHROM	POS	ID	REF	ALT	QUAL	FILTER

[2022-05-13 12:10] olaaustine commented on #1176
Hi @GACGAMA,
Thank you for sharing your VCF file.
I have been unable to recreate this issue.
 I suggest you use our latest FASTA file `http://ftp.ensembl.org/pub/release-106/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz` and our latest GTF file `http://ftp.ensembl.org/pub/release-106/gtf/homo_sapiens/Homo_sapiens.GRCh38.106.chr_patch_hapl_scaff.gtf.gz` as your VEP versio

[2022-05-14 18:32] rached-97 opened #1179 "VEP is not outputting HGVSp predictions for certain variants"
## Describe the issue
For certain variants, VEP is able to predict their effect on CDS, but does not output an HGVSp prediction. For example:
[code]
### Full VEP command line
I used the web interface of VEP on this date with the following VCF input
[code]

[2022-05-15 23:44] #1152 closed

[2022-05-16 09:27] nliorni opened #1180 "Problem with --pick option and human refseq cache"
## Describe the issue
I am using VEP with human refseq caches (v.104 for hg19 and v.106 for hg38).
I am having problems with the --pick option. In particular I am calling and annotating variants on the slc2a1 gene.
Here I report a minimal example of my output:

when **not** using --pick option (default order)

**Consequence** | **IMPACT** | **SYMBOL**| **Gene**| **BIOTYPE**
intron_variant,intron_v

[2022-05-16 10:36] diegomscoelho commented on #1179
Hi @rached-97,

Our feature in `VEP` will not annotate HGVSp which variants falls into intronic regions. Besides that, VEP reports the consequences exactly in the position of the duplication but this change should be described at the 3' most position. After release 100, we introduced new flags so that VEP can optionally convert variant alleles to their most 3’ representation before consequence cal

[2022-05-16 11:50] diegomscoelho commented on #1180
Hi @nliorni,

I'm not able to reproduce your error yet. Can you provide me:
* Full VEP command;
* Input (if small);

Regards, @diegomscoelho

[2022-05-16 11:57] nliorni commented on #1180
Full VEP command:
`bcftools view results/MGM08-1562-II_S2/MGM08-1562-II_S2.filter.vcf | vep --per_allele --everything --custom /software/dataseq/databases/ClinVar/hg19/clinvar.vcf.gz,ClinVar,vcf,exact,0,CLNSIG,CLNVCSO,CLNREVSTAT,CLNDN,CLNVC,CLNVI,CLNDISDB,CLNHGVS,ORIGIN,MC,AF_EXAC,AF_ESP,AF_TGP --fork 8 --format vcf --vcf --offline --cache --dir_cache /software/dataseq/databases/vep/hg19_refseq/ve

[2022-05-16 15:14] diegomscoelho commented on #1180
Hi @nliorni,

I saw you used: `--species homo_sapiens_refseq`. This should not be possible (we will look for a fix for that).
You should use: `--species homo_sapiens --refseq` instead. By doing this I was able to get SYMBOL results with or without `--pick` option flag.

Besides that, you are going to need a FASTA assembly for GRCh37 since you are using `--everything`:
http://ftp.ensembl.org/pub/gr

[2022-05-17 07:03] nliorni commented on #1180
Thank you so much for your time and help @diegomscoelho, it now seems to work properly.

[2022-05-17 07:20] diegomscoelho commented on #1180
Hi @nliorni,

I will close this issue now. Any other question related to this problem, please, feel free to reopen this issue or open a new one.

Regards, @diegomscoelho

[2022-05-17 07:20] #1180 closed

[2022-05-17 10:04] xiucz commented on #1179
@diegomscoelho
Which command option does the `Right align variants prior to consequence calculation: = Right align relative to transcript` refer to?
Thank you,
xiucz

[2022-05-17 11:39] znestor commented on #1178
Hi,
how about using the following as an input file? In my setup, failed reference check does not trigger, while AFAIK position 32900399 in chromosome 13 of build 37 is a C, not an A:
https://grch37.ensembl.org/Homo_sapiens/Location/View?r=13%3A32900399-32900399

#CHROM POS ID REF ALT QUAL FILTER INFO FORMAT S21
chr13 32900399 . AAT A . PASS GT:DP:AF 0/1::0.0138313

This is how originally found out

[2022-05-17 14:31] josephhalstead commented on #464
Any updates for this?

[2022-05-17 14:49] likhitha-surapaneni commented on #464
Hi @josephhalstead ,

Thank you for your patience. We are currently working on it and will soon be available. We will notify you once we have it in place.

Kind regards,
Likhitha

[2022-05-18 09:59] olaaustine commented on #1178
Hi @znestor,
I have been able to recreate this issue with only this REF and ALT allele example.
This is an issue, we are looking into, thanks for bringing this to our notice.
Ola.

[2022-05-18 13:11] diegomscoelho commented on #1179
Hi @xiucz,

It's same as execute vep with option: `--shift_3prime 1`.

Best, Diego

[2022-05-19 11:00] boboshaq commented on #830
Hi,
I have the same problem with installation vep. Running the installation again do not help.
I use cluster and [Environment Modules](http://modules.sourceforge.net/)  to distribute software on the cluster.
First I was installed perl 5.34.1 as env module (in /soft/perl/5.34.1/bin/perl), then I load them and was installed vep dependency perl modules: Archive::Zip, DBI, Set::IntervalTree, JSON, Per

[2022-05-19 11:08] boboshaq opened #1184 "loadable library and perl binaries are mismatched"
yes, it worked. Thank for your time.

_Originally posted by @Caro-Ca in https://github.com/Ensembl/ensembl-vep/issues/830#issuecomment-675684376_

[2022-05-19 11:09] boboshaq commented on #1184
Hi,
I have the same problem with installation vep. Running the installation again do not help.
I use cluster and [Environment Modules](http://modules.sourceforge.net/)  to distribute software on the cluster.
First I was installed perl 5.34.1 as env module (in /soft/perl/5.34.1/bin/perl), then I load them and was installed vep dependency perl modules: Archive::Zip, DBI, Set::IntervalTree, JSON, Per

[2022-05-19 11:12] boboshaq commented on #830
i opened new issue:
https://github.com/Ensembl/ensembl-vep/issues/1184
with similar problem

[2022-05-19 14:04] Jensen416 opened #1185 "Issue running VEP with GTF due to Bio::DB::HTS::Tabix"
## Describe the issue
I am using VEP version 102 to annotate my vcf files.
Prior to running VEP, I index my GTF file using tabix as such:

`grep -v "#" mm10.gtf | sort -k1,1 -k4,4n -k5,5n -t$'\t' | bgzip -c > mm10.gtf.gz
tabix -p gff mm10.gtf.gz`

Then I call VEP:

`./vep --input_file input.vcf --output_file output.vep.vcf --format vcf --vcf --symbol --terms SO --tsl --fasta mm10.fa --gtf mm10.gtf

[2022-05-19 14:17] olaaustine commented on #1185
Hi @Jensen416,
Thank you for your query.
Yes, VEP comes with its own tabix installed and this can cause a conflict which is most likely causing this error as you already have Tabix installed separately.
I suggest that you get a clean checkout of ensembl-vep and install it with the option[ --NO_HTSLIB](https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#:~:text=dir%5D%20vep-,%2D%2D

[2022-05-19 14:25] diegomscoelho commented on #1184
Hi @boboshaq,

I would recommennd:
* Perl version 5.10 or above recommended (tested on 5.10, 5.14, 5.18, 5.22, 5.26). Try using one of our tested versions. Your perl version might be causing some issue with old modules.
* Also, you didn't install `DBD::mysql`. Do you have installed mysql + `mysql_config`. If yes, can you try: cpamn install DBD::mysql again?

Even if not installed, tests should wor

[2022-05-19 16:03] Jensen416 commented on #1185
That worked! Thank you!

[2022-05-19 16:03] #1185 closed

[2022-05-20 17:16] boboshaq commented on #1184
Hi @diegomscoelho,
Thank You for reply. I will try install one of recommended Perl version and I will let You know is installation of vep will pass.

This module is not required, Yes? Vep then will be running in offline mode.

[2022-05-23 06:52] m-blanes opened #1187 "VEP does not get CADD values for certain variants"
## Describe the issue
VEP is working fine with SNPs and with most of INDELs, but for some INDELs it is not getting CADD values.

I have selected 3 of these INDELs in GRCh38 which CADD values (PHRED | RAW) are extracted from "All gnomad release 3.0 InDels to initiate a local setup" file from [CADD webpage](https://cadd.gs.washington.edu/download).

All of their CADD values appear empty in VEP outpu

[2022-05-23 07:10] dana-obk opened #1188 "Filter_vep keep variants with empty MAX_AF"
Dear all,

I am filtering out the variants from vep output (`VEP v.105 with hg19`) that have `MAX_AF` higher than `0.05` like following:

`perl ./filter_vep --format vcf --filter "(MAX_AF < 0.05) AND (Consequence != synonymous_variant)" -i {input} -o {output}`

But this filters out also the empty `MAX_AF` fields, while I would like to keep the fields with empty MAX_AF. How to do that?

[2022-05-23 07:53] dana-obk commented on #1188
This could be a solution, I think. Please, if someone could confirm.

`perl ./filter_vep --format vcf --filter "(MAX_AF < 0.05 or not MAX_AF) AND (Consequence != synonymous_variant)" -i {input} -o {output}`

[2022-05-23 08:36] diegomscoelho commented on #1184
Hi @boboshaq,

Yes, it should run on `--offline` mode without DBD::mysql. If my recommendations does not work, you can also try to insttall `vep` with:
[code]

Regards, @diegomscoelho

[2022-05-23 14:12] dariober opened #1189 "Invalid tag name with custom GFF"
I'm annotating using a custom GFF file named `PlasmoDB-52_PbergheiANKA.gff.gz`. VEP (version 105) adds to the vcf output a tag named after the gff file. In this case, the tag named `PlasmoDB-52_PbergheiANKA.gff.gz` results in bcftools (version 1.15) to issue a warning about an invalid tag name. I guess because of the hyphen in the GFF filename. It's not a big deal but it would be nice to fix it.

[2022-05-23 15:19] dglemos commented on #1187
Hi @m-blanes,
The issue is being caused by the options --hgvs and --hgvsg. We are working on a fix, I'll let you know when the fix is in place.

[2022-05-24 06:13] m-blanes commented on #1187
Hi @dglemos,
Thank you so much for your quick response and solving my doubt.
In that case, I will try to find a temporary solution until the fix is available.

[2022-05-24 12:29] dglemos commented on #1189
Hi @dariober,
Which version of bcftools you're using?
I tried to replicate the issue with `bcftools view` but I'm not getting any warning.

[2022-05-24 13:25] boboshaq commented on #1184
Hi,
I did it, I was install vep!
Now I can't reproduce "loadable library and perl binaries are mismatched" error now but it can be related to few things.
Variable "@INC" is different when we use "sudo" so when I (like normal user) put some path(/path/to/ensemb-vep:/path/to/perl/lib) to $PERL5LIB variable "@INC" does not see it when I use sudo to run "perl INSTALL.pl" command
This situation causing

[2022-05-24 13:25] #1184 closed

[2022-05-25 10:46] olaaustine commented on #1188
Hi @dana-obk ,
I am going to close this issue now.
Please feel free to open it if you have a query regarding filter-vep tool.
Thank you,
Ola.

[2022-05-25 10:46] #1188 closed

[2022-05-26 00:47] xiucz opened #1195 "Can vep give only one canonical transcript result?"
## Describe the issue
I find there are many transcripts in CQS field, it there a parameter to give only one canonical transcript result?
Thank you.
## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 105
- VEP Cache version: 105

Best,
xiucz

[2022-05-26 07:55] dglemos commented on #1195
Hi @xiucz,
There is one option `--canonical` which adds a flag indicating if the transcript is the canonical transcript for the gene. However, the output still includes all the transcripts. To filter the VEP output file you can use the tool `filter_vep` to only include the transcripts that have flag canonical. You can find more info here: https://www.ensembl.org/info/docs/tools/vep/script/vep_filt

[2022-05-26 13:07] #859 closed

[2022-05-26 22:18] leowill01 commented on #936
I'm having this problem only when trying to download `GRCh38 v106`. It installed `GRCm39 v106` fine:

[code]

[code]

At this point I guess it restarts the install process because doing an `exa -l ~/vep_data/tmp` shows the download size for `homo_sapiens_vep_106_GRCh38.tar.gz` went from `19G` when I last checked it to `1.7G` now.

`GRCm39` downloaded and installed very quickly, but even just the d

[2022-05-27 02:34] davmlaw opened #1196 "Protein with Ter (termination) has molecular consequence of frameshift, missing stop_gained"
## Describe the issue

NC_000002.12:g.47480764delT

is annotated by VEP 106 as:

Molecular consequence = frameshift variant

while the protein is given as:  NP_000242.1:p.Cys843ValfsTer49

Expected: If the protein has a "Ter" (termination) - molecular consequence should have stop_gained

### System
- VEP version: 106
- VEP Cache version: 106

This also happens using Ensembl transcript, eg "ENSP000

[2022-05-27 02:38] davmlaw commented on #1165
Hi, I believe this is a dupe of https://github.com/Ensembl/ensembl-vep/issues/1152 and has since been resolved

[2022-05-27 06:57] dglemos commented on #1165
Thanks for pointing it out, this issue is the same as #1152
In the meantime, we have fixed the human GRCh37 cache files. You can find the files for release 106 under:
http://ftp.ensembl.org/pub/grch37/release-106/variation/indexed_vep_cache/
http://ftp.ensembl.org/pub/release-106/variation/indexed_vep_cache/

[2022-05-27 06:57] #1165 closed

[2022-05-27 12:59] #1176 closed

[2022-05-27 16:02] dglemos commented on #1196
Hi @davmlaw,
the notation `p.Cys843ValfsTer49` means it's a variant with Cys843 as the first amino acid changed, shifting the reading frame, replacing it for a Val and terminating at position Ter49. As the reading frame is changed, the consequence is a frameshift variant. This change does not result in a premature stop codon at this position therefore the consequence is not stop gained.
Let me kno

[2022-05-28 03:53] davmlaw commented on #1196
Hi, thanks, though I think my interpretation is possible from the [documentation](https://asia.ensembl.org/info/genome/variation/prediction/predicted_data.html):

perhaps you could change the description slightly to:

[2022-05-28 10:03] FriederikeHanssen commented on #782
Hi! Has there been any progress on supporting `SVTYPE=BND` ? We are trying to annotate manta generated VCFs which keeps failing due to this

[2022-05-28 10:48] amizeranschi commented on #782
@FriederikeHanssen I'm still in the same situation, see: https://github.com/Ensembl/ensembl-vep/issues/441#issuecomment-1120193686

In short: no, there's still no support for this, but they're considering it. In the mean time, if you simply remove the lines with `SVTYPE=BND` from Manta's VCF file, VEP should be able to parse it.

[2022-05-30 03:48] xiucz commented on #1195
@dglemos
Thank you! I will feedback later if I meet other questions.

[2022-05-30 03:48] #1195 closed

[2022-05-30 08:47] Mahmoudbassuoni opened #1197 "Gene Symbol output issue"
## Describe the issue
I have an issue regarding the output of the vep offline as it's not getting me the Gene Symbol as I used to have on the online platform. Although I changed the output format using the flag --fields but still getting me blank column for the Gene Symbol.
## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possib

[2022-05-30 09:12] nakib103 commented on #1197
Hi @Mahmoudbassuoni ,

Thanks for your query. Can you provide me with the input you are using so that I can replicate the issue.

Best regards,
Nakib

[2022-05-30 11:21] nakib103 commented on #1197
Hi, I can see only the `intergenic_variants` that do not have Gene Symbols in the output as it should be. To potentially have them as downstream or upstream gene variant with Gene Symbols you can increase the value for `--distance` argument -

https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_distance

By default it is 5000bp.

As it says in the doc `--fields` option is used

[2022-05-30 11:39] Mahmoudbassuoni commented on #1197
Hi @nakib103
Thanks for the reply, the thing is I am comparing the output of different variant calling tools so I am using the output of Vep to compare the genes results but with the other tools I didn't have to play with that distance so I am afraid not to be consistent regarding the procedure itself. My question now would be, do you have any idea what should be the distance ? and also the other

[2022-05-30 12:52] nakib103 commented on #1197
Hi,

It can vary depending on the work is being done. As, you are comparing different tools it makes sense to keep this parameter same for all of them. So, you should find out what is the distance the other tools are using when annotating a variants against a gene.

I do not understand the question properly. What is the online platform you are talking about - is it related to vep? It would be help

[2022-05-30 12:56] Mahmoudbassuoni commented on #1197
yeah I mean the VEP online tool, I used it with the other vcf files resulted from the other tools. All of them came to be consistent with slight differences as for the variant calling results of each tool but this one result was really questionable so I believe it's because of the VEP offline resutls!

[2022-05-30 13:19] nakib103 commented on #1197
I can see you are using **105 version** for offline, currently Ensembl e106 has been released and the VEP online tool uses the new version. Can you try using the 106 version?

[2022-05-30 13:20] Mahmoudbassuoni commented on #1197
maybe I would try that yes. Thanks @nakib103

[2022-05-31 09:45] Mahmoudbassuoni commented on #1197
Hi @nakib103 I have tried the newer version 106 but still the same. Look at the picture, that's part of the resulted file, what I mean is you can see here the ENSG ID of the Gene but the SYMBOL column always comes to be blank. I am not sure if I am missing a flag to add or what should I do for it to appear?

![Screenshot from 2022-05-31 11-42-43](https://user-images.githubusercontent.com/16631169/

[2022-05-31 10:03] nakib103 commented on #1197
Thanks for checking.
Can you provide me the full command you used to get this result?

[2022-05-31 10:04] Mahmoudbassuoni commented on #1197
`./vep -i /home/bassyouni/Documents/VC/Freebayes/new.vcf -o /home/bassyouni/Documents/Venn_compare/Cancer_Analysis/freebayes_vep_new3.txt --tab  --fields "Uploaded_variation,Location,Allele,Gene,SYMBOL,Existing_variation" --cache`

[2022-05-31 10:51] Mahmoudbassuoni commented on #1197
Hei @nakib103, Thanks Man, it's all working now!!! I have just used the same command above but added `--symbol ` and it came to be added to the output the same like the VEP online platform.
`./vep -i /home/bassyouni/Documents/VC/Freebayes/new.vcf -o /home/bassyouni/Documents/Venn_compare/Cancer_Analysis/freebayes_vep_new3.txt --tab --cache --fork 16 --check_existing --symbol --force_overwrite `

[2022-05-31 10:54] nakib103 commented on #1197
Great that it works! I was just testing the same thing for you.

The `--field` option can only filter out the output (if it is present). It does not actually generate the output for you. `--symbol` actually produce the Gene Symbols as says here -
https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_symbol

[2022-05-31 10:55] #1197 closed

[2022-06-01 15:34] dglemos commented on #936
Hi @leowill01,
The human GRCh38 (homo_sapiens_vep_106_GRCh38.tar.gz) has a size of 14G while mouse GRCm39 (mus_musculus_vep_106_GRCm39.tar.gz) is 1.3G
If the human GRCh38 is taking a long time you could try to download it manually following these instructions: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache

[2022-06-02 20:05] dstephensSD commented on #936
I'm having the same problem as @leowill01.  The download gets to about 19GB and then fails.

[2022-06-06 10:07] EngineerReversed opened #1199 "VEP annotation taking forever with nodes sitting idle in DNAnexus"
Hi,

**Context:**
I am currently working on UKBB 450K WES data processing in DNAnexus environment. My end goal is to generate gene burden matrix table for entire data. Since, it can be costly and time taking, I have split the data into chromosomes and processing them one by one.

**Challenge:**
I have been trying to annotate one of the chromosomes hail matrix table with VEP annotation but it is ta

[2022-06-06 12:57] nuno-agostinho commented on #1199
Hey @EngineerReversed, hope you are having a nice day!

I see that you are using the flag `--everything`. Enabling this flag may slow down VEP by 5 times, so I would recommend to manually select the flags you really want to run instead. The slowest of the flags enabled by `--everything` are:
* the allele frequency calculations (` --af --af_1kg --af_esp --af_gnomad --max_af`)
* `--pubmed`
* `--hgvs

[2022-06-06 17:29] daniel-hui commented on #603
Sorry to necro this thread but I am having this issue now. The exact command I used 6 months ago, which was working then, is giving this error now. I tried it last Friday and today, so perhaps it is not just due to Ensembl's database servers being under load this whole time. Here is the command with paths changed:

`for i in {1..22}; do bsub -o vep_all_chromosomes/base_rv_pick_allele_reg_tab_chr"$

[2022-06-07 15:55] josephhalstead commented on #954
I was worried this bug would apply to my pipeline so took a look. Seems replacing the alt allele <CNV> with an explicit <DEL> or <DUP> solves the issue.

[2022-06-08 09:33] olaaustine commented on #954
Hi @josephhalstead,
I have been able to recreate it and it solves the issue.
Thank you,
Ola

[2022-06-08 09:35] olaaustine commented on #954
Hi @seru71,
Changing the <CNV> to either <DUP> or <DEL> resolves the issue and it reports the right consequence (transcript_amplification)
I will be closing this ticket now, Please feel free to reopen or open another if you have any other query.
Thank you,
Ola.

[2022-06-08 09:35] #954 closed

[2022-06-10 18:05] guptapa opened #1200 "how to run vet for new species?"
Hi,
I want to run vep for a new species for which no database and cache are available. I have genome fasta and gff annotation files but unable to run it in offline mode. Command i'm using:
/home/ensembl-vep-release-106/vep --offline --fork 4 --stats_text --everything -i Sh-new.vcf --gff Sh_new.gff.gz --fasta Sh_new.fasta -o Sh_new-vep-out

gff file is sorted and indexed by following command:
sort

[2022-06-13 07:53] jamie-m-a commented on #1200
Hi @guptapa

Could you advise of the error you encounter when trying to run the command you specify?

The command appears to be correct, but I wonder whether running with --everything might be causing the issue, it switches on various things that you simply won't have available.

[2022-06-13 16:33] guptapa commented on #1200
Hi Jamie,
I got following error:
-------------------- EXCEPTION --------------------
MSG: ERROR: Cache directory /home/genome/vep//homo_sapiens not found

STACK Bio::EnsEMBL::VEP::CacheDir::dir /home/ensembl-vep-release-106/modules/Bio/EnsEMBL/VEP/CacheDir.pm:311
STACK Bio::EnsEMBL::VEP::CacheDir::init /home/ensembl-vep-release-106/modules/Bio/EnsEMBL/VEP/CacheDir.pm:227
STACK Bio::EnsEMBL::VEP::C

[2022-06-13 17:19] guptapa commented on #1200
Hi Jamie,
I tried with this flag but getting the same error again:

--custom "/home/genome/vep/augustus_rnaseq.gff" , "gff" , "exact"

Let me know if I missed anything here or could send you my files.
Thanks,
Parul

[2022-06-14 07:14] jamie-m-a commented on #1200
Hi Parul,

The command looks fine to me, would you mind providing us some sample data to test?

[2022-06-14 12:28] JIBINJOHNV opened #1201 "--domain option not working"
## Describe the issue

During the VEP annotation, I used "--domains," but no domain information was incorporated into the DOMAINS column. Could you please check this?

Furthermore, I would like to know whether the domain information are gene/transcript specifics or variant position-specifics

## Additional information
Please fill in the following sections to help us find the source of your issue a

[2022-06-14 14:28] SimonLi5601 opened #1202 "Where to find the cache data details for different VEP versions"
I can only find the cache data for latest version, but I can't find the older version of all default human cache files
https://useast.ensembl.org/info/docs/tools/vep/script/vep_cache.html

Do you have the detailed release notes? Thanks!

[2022-06-14 16:06] jamie-m-a commented on #1202
Hi @SimonLi5601

To download previous versions of the VEP cache you can access them directly via:

http://ftp.ensembl.org/pub/release-106/variation/indexed_vep_cache/

Just amend the release-XXX to the release you're looking for.

General Ensembl release notes are available through the Ensembl blog here: https://www.ensembl.info/2022/04/12/ensembl-106-has-been-released/

And VEP specific new featu

[2022-06-14 17:17] SimonLi5601 commented on #1202
@jamie-m-a Thanks for your reply. Let's say,  I would like to know what's the exact version of Gencode and Clinvar used for VEP99, I can't seem to find a place for it like the table in the latest version which has all the details. If those information could be placed in the FTP or the history website, that would be very helpful.

[2022-06-14 17:31] raynogu opened #1203 "filter vep does not work"
I used filter vep to extract protein coding SNV from vcf file.

 /bin/bash
#$ -cwd
eval "$(~/miniconda3/bin/conda shell.bash hook)"
conda activate env-vep
filter_vep -i /home/renoguch/input_noguchi/out4.vcf -o out5f.vcf --vcf --filter "Consequence is protein_coding"
conda deactivate

Then, I got error message as below.

-------------------- EXCEPTION --------------------
MSG: ERROR: No valid filte

[2022-06-15 05:14] EngineerReversed1 commented on #1199
Sorry, I was out for a week due to personal reasons and thanks for the detailed reply.
After doing extensive testing(burning 5000+ pounds), we found out that our VEP annotations ran fine for 300-500 GiBs of data while it stayed in pending state for 1+ TiB data.
Based upon my analysis, it seems to be the problem of DNAnexus. Their DNAnexus API count is the limiting factor and we have raised issue t

[2022-06-15 07:59] nuno-agostinho commented on #1199
Hey @EngineerReversed,

Thanks for the update and I hope you can get your problem solved as soon as possible.

I am going to close this ticket now, but please do open new tickets related to future queries.

All the best!

Cheers,
Nuno

[2022-06-15 07:59] #1199 closed

[2022-06-15 08:23] Z-Zen opened #1204 "Downstream plugin: `Use of uninitialized value $pep_end in numeric lt (<)`"
## Describe the issue
The [Downstream](https://github.com/Ensembl/VEP_plugins/blob/release/106/Downstream.pm) plugin gives a warning when annotating a VCF file. Is this warning supposed to be normal ?

## Additional information
Regular exome file of a human patient annotating with hg38.

### System
- VEP version: `106`
- VEP Cache version: `106`
- Perl version: `v5.26.1`
- OS: `Ubuntu 18.04.6 LTS`

[2022-06-15 08:57] jamie-m-a commented on #1202
Hi Simon,

When you extract the cache file, there should be a file called info.txt in the directory it extracts to. This file contains details of the versions of Gencode, Clinvar etc... that were used for the creation of that specific cache file.

For example, for VEP 99:

source_gencode	GENCODE 33
source_ClinVar	201909

We currently don't collate all this information but we will review and discus

[2022-06-15 19:50] raynogu commented on #1203
Thanks! Ola.
I already performed vep exchange against my vcf file.
Then, I performed vep filter. Is it right ? Please tell me to confirm that you have protein_coding as a consequnece.

Ray

[2022-06-16 07:39] olaaustine commented on #1203
Hi @raynogu,
Our list of calculated variant consequences can be found [here](https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html).
Thanks,
Ola.

[2022-06-16 07:54] diegomscoelho commented on #1179
Hi @rached-97,

I am going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards,
@diegomscoelho

[2022-06-16 07:54] #1179 closed

[2022-06-16 08:01] diegomscoelho commented on #1187
Hi @m-blanes,

This issue was fixed in our last PR - https://github.com/Ensembl/ensembl-variation/pull/814. This solution will be released at release/108.

Thanks for reporting this bug,

@diegomscoelho

[2022-06-16 08:01] #1187 closed

[2022-06-16 08:06] diegomscoelho commented on #812
Hi @leonschuetz,

This bug was fixed in our last PR - https://github.com/Ensembl/ensembl-variation/pull/814. This will be released in release/108. Closing this issue, any other question about this feel free to reopen/comment this issue or open a new one.

Regards, @diegomscoelho

[2022-06-16 08:06] #812 closed

[2022-06-16 08:43] diegomscoelho commented on #984
Hi @alanhoyle,

We developed your enhancement. This will be available next release. Any question about this, feel free to comment or reopen this issue.

Regards, @diegomscoelho

[2022-06-16 08:43] #984 closed

[2022-06-16 08:56] diegomscoelho commented on #537
Hi @fgvieira and @matthdsm,

We updated our cache files and gnomAD genomes will be added in our next release (107). Any further question, feel free to comment / reopen this issue.

Regards, @diegomscoelho

[2022-06-16 09:56] diegomscoelho commented on #1120
Hi @matthdsm,

We merged a fix that will be released in future (release/107). Thanks for reporting this bug.

Regards, @diegomscoelho

[2022-06-16 09:56] #1120 closed

[2022-06-17 05:25] matthdsm commented on #818
Hi,
Sorry to hammer this home, but we're running into the same issue since our update to v105. Any updates? This seems like a long standing issue.

Thanks

[2022-06-17 15:00] jamie-m-a commented on #1204
Hi @Z-Zen

Thanks for providing the data I'll take a look into this and get back to you if I need any more information.

[2022-06-20 12:30] nakib103 commented on #1201
Hello @JIBINJOHNV ,

Thanks foe your query!

So the first thing is the refseq support is somewhat limited and it does not provide domain information. As you can see here - https://www.ensembl.org/info/docs/tools/vep/script/vep_other.html#refseq
As you are using refseq cache you are not getting any domain results.

As, for your second question - it is more of a variant-position specific as variant

[2022-06-23 02:00] asmlgkj opened #1208 "get hgvs genomic position"
thanks a lot for this powerful tool.
I input a variant  chr7	55248980	.	C	CTCCAGGAAGCCT  into vep online of grch37.

I get the HGVSc   NM_005228.5:c.2284-5_2290dup
I also want to get the hgvs.g，can you have a look

[2022-06-23 14:45] abdeljalil-senhaji opened #1209 "Problem with custom annotation"
## Describe the issue
Dear community,

I work with Variant Effect Predictor and was wondering if I can use my own genome instead of the predefined genome because I couldn't find the option for that.

## Additional information
I downloaded the GFF and FASTA files from NCBI (https://www.ncbi.nlm.nih.gov/nuccore/FJ616285.1). Therefore, I followed the steps provided (http://www.ensembl.org/info/docs/t

[2022-06-24 07:10] Navin-techi opened #1210 "Error while installing new releases of vep!!"
Would like to know how to bypass the

**_The VEP can either connect to remote or local databases, or use local cache files.
Using local cache files is the fastest and most efficient way to run the VEP
Cache files will be stored in /root/.vep
Do you want to install any cache files (y/n)? y
Cache directory /root/.vep does not exists - do you want to create it (y/n)? y
 - getting list of available ca

[2022-06-24 07:49] likhitha-surapaneni commented on #1208
Hi @asmlgkj ,

Thank you for reaching out to us.

HGVSg can be obtained by running VEP using the command-line with the option --hgvsg . You can check the other options available in https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html

You can also obtain HGVSg by using Variant Recoder tool. Please check https://www.ensembl.org/info/docs/tools/vep/recoder/index.html for further detai

[2022-06-24 13:07] fedkon opened #1211 "--total_length option in JSON mode removes position values instead of adding length"
### The issue

In JSON output mode, --total_length option removes position values from results instead of presenting them in pos/length form as it should.

In standard VEP output mode, --total_length option works fine.

### Likely cause

I guess the position parsing code in JSON output factory does not (yet) take into account a postfix starting with "/" and deletes the non-conforming value whatsoe

[2022-06-24 14:04] olaaustine commented on #1210
Hi @Navin-techi,
Thank you for query.
Can you please start a fresh install of VEP?
Please let us know if there are any more issues.
Thank you,
Ola.

[2022-06-24 14:11] asmlgkj commented on #1208
Thanks  a lot.
I tried the variant recorder. the result is the following picture, in fact it was an insertion in chr7:55248992 due to the insertion was dupliction of genome sequence between 55248980-55248992, variant recorder seems does not fullfil this job
![image](https://user-images.githubusercontent.com/50854682/175553094-8ca3fc67-ab7f-45cd-a3ea-8610567d02ac.png)

[2022-06-24 14:20] olaaustine commented on #1209
Hi @abdeljalil-senhaji,
Thank you for your query.
Will it be possible for you to share the link of the NCBI's gff file being used?
Thank you,
Ola

[2022-06-24 15:07] scthree opened #1212 "lmza.h not found on VEP install"
Dear Ensembl, thank you greatly in advance for your help. I know you're busy and appreciate your time!

## Describe the issue
I'm trying to install VEP without using the --NO_HTSLIB option (because I'd like to use ClinVar and manually download caches downstream). The lzma.h header can't be found in /usr/include but I can't access this folder (I'm on a cluster and don't have root access). Is there

[2022-06-24 22:27] jon4thin commented on #624
Where can this be found?
thank you!

[2022-06-25 13:21] Navin-techi commented on #1210
Hi @olaaustine,
Did try installing with the new version from your git repo. I am still finding the following error.

![Screenshot at 2022-06-25 18-46-10](https://user-images.githubusercontent.com/73836925/175775157-57e500bc-252a-40b8-a321-50627446be04.png)

Would be best if there is a way around it.

These are the following packages requested for this Build.

cpan install Bio::DB::HTS::Tabix
cpan

[2022-06-27 07:48] abdeljalil-senhaji commented on #1209
Hello Ola,
I use the gff file from NCBI, in this link : [https://www.ncbi.nlm.nih.gov/nuccore/FJ616285.1](url)
Sent To > File > Format > GFF3 > Create file.

Thank you,

Abdeljalil

[2022-06-27 10:14] likhitha-surapaneni commented on #1208
Hi @asmlgkj ,

I am sorry to hear that you are facing an issue with Variant Recoder.

Could you please confirm if you are using the the Variant Recoder corresponding to GRCh37: https://grch37.ensembl.org/Homo_sapiens/Tools/VR

[2022-06-27 11:37] asmlgkj commented on #1208
@likhitha-surapaneni  yes, I am using grch37

[2022-06-27 13:37] olaaustine commented on #1210
Hi @Navin-techi,
As a workaround, Can you say "n" instead and then manually install cache files?
[code]
Thank you,
Ola

[2022-06-28 06:58] dennishendriksen opened #1213 "VEP output contains unwanted CLIN_SIG field"
## Describe the issue
We are running VEP without `--check_existing` but with `--custom` to annotate from a recent ClinVar annotations file. The VEP VCF output now contains both a CLIN_SIG field containing 'old' ClinVar annotations and fields with the 'new' ClinVar annotations which is rather confusing. Furthermore I'm not aware of a workaround to remove individual VEP fields in a post-processing s

[2022-06-28 08:20] olaaustine commented on #1209
Hello @abdeljalil-senhaji,
Thank you for pointing me to the file.
I have been able to recreate this issue.
For a workaround, do this step before the steps above.
`grep -v "" sequence.gff3 > sequence.gff`
Let me know if there is still any issue.
Thank you,
Ola

[2022-06-28 08:33] olaaustine commented on #1212
Hi @scthree,
Thank you for your query.
As this is a cluster, can you confirm that tabix(HTSLIB) is not already installed on the cluster?
Thank you,
Ola.

[2022-06-28 09:25] abdeljalil-senhaji commented on #1209
Hello Ola,

the tabix is working fine now.
but when I run the command line again, it shows me another error below:

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
vep -i CMV_PEPPER_Margin_DeepVariant.vcf --gff
./cytomegalovirus/genes_out.gff.gz --fasta
./cytomegalo

[2022-06-28 11:18] olaaustine commented on #1209
Hello @abdeljalil-senhaji,
The error is due to the fact that in offline mode, VEP automatically uses cache as its annotation source.
Can you rerun the command using an example as stated [here](http://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache:~:text=./vep%20%2Di%20input.vcf%20%2D%2Dcache%20%2D%2Dgff%20data.gff.gz%20%2D%2Dfasta%20genome.fa.gz).
If your cache is not `/home/abdel

[2022-06-29 07:53] #1178 closed

[2022-06-29 07:54] olaaustine commented on #1203
Hi @raynogu,
I am going to close this ticket now.
Please feel free to open another or reopen this if you have any other query.
Thank you,
Ola.

[2022-06-29 07:54] #1203 closed

[2022-06-29 16:10] likhitha-surapaneni commented on #1211
Hi @fedkon ,

Thank you for the detailed report.

I can confirm that I see the same results. We will try to add a fix for parsing the pos/length correctly.

Kind regards,
Likhitha

[2022-06-30 13:58] likhitha-surapaneni commented on #1208
Hi @asmlgkj ,

Thank you for your patience.

According to HGVS recommendations for sequence variants (https://varnomen.hgvs.org/recommendations/general/), duplication takes precedence over insertion. In this case, 55248981_55248990dup takes precedence over 55248992 insertion.

Please let us know if you have any other questions!

Kind regards,
Likhitha

[2022-07-12 12:01] dariober opened #1217 "Make VEP understand sequence ontology features (e.g. gene -> protein_coding_gene)"
I'm working with [GFF annotations](https://plasmodb.org/common/downloads/release-58/PbergheiANKA/gff/data) from VEuPathDB where the "gene" feature (3rd column) is marked as "protein_coding_gene" and VEP doesn't recognize "protein_coding_gene" as a valid feature type.

Since "protein_coding_gene" is a valid [sequence ontology](http://www.sequenceontology.org/browser/current_release/term/SO:0001217)

[2022-07-13 04:30] SowmyaPulapet opened #1218 "VCF only have intergenic variants"
## Describe the issue
I am using ensembl VEP to annotate my VCF files, but the resultant annotated VCF only have intergenic variants  ! I am using the GFF file and Fasta file from Phytozome. Earlier I had an issue as chromosome names of VCF and GFF were not matching, then I created chr_synonyms.txt. It did work but the result is not desirable. Would you please help me?
## Additional information
Pl

[2022-07-13 10:12] olaaustine commented on #1218
Hi @SowmyaPulapet,
Thank you for your query.
Is it possible for you to share the GFF and FASTA file being used so we can recreate the issue.
Thank you,
Ola.

[2022-07-13 10:39] SowmyaPulapet commented on #1218
Hi @olaaustine
 Thank you for your response. Here I am attaching zip file with the data. Please tell me if you are not able to use it.
link :
[download.20220713.160644.zip](https://github.com/Ensembl/ensembl-vep/files/9101291/download.20220713.160644.zip)

[2022-07-13 12:24] olaaustine commented on #1218
Hi @SowmyaPulapet,
Thank you for the folder shared, I can find the FASTA file used Osativa_323_v7.0.transcript.fa.gz.
Please can you share the gff file again?
Thank you
Ola.

[2022-07-13 12:38] SowmyaPulapet commented on #1218
Hi @olaaustine
  Sorry, I uploaded the wrong zip. This one contains the GFF file.
[download.20220713.180118.zip](https://github.com/Ensembl/ensembl-vep/files/9102141/download.20220713.180118.zip)

[2022-07-13 13:06] jethror1 commented on #1213
As a workaround to remove that field and keep a valid VCF file, you can use the `+split-vep` to get the CSQ string as distinct INFO fields, then use `bcftools annotate` to remove that column.

[code]

- `--columns -` selects all columns
- `-a CSQ` selects the CSQ string to split
- `-p 'CSQ_'` will add a prefix of CSQ_ to all split fields - not essential but prevents conflicts in case of any pre-ex

[2022-07-13 15:19] olaaustine commented on #1218
Hi @SowmyaPulapet,
Thank you for sharing!
Please can you share the chr_synonyms.txt file created?
Thank you.
Ola.

[2022-07-14 04:17] SowmyaPulapet commented on #1218
Hi @olaaustine
I am attaching the chr_synonyms.txt as well.
Thank you.
Sowmya.
[chr_synonyms.txt](https://github.com/Ensembl/ensembl-vep/files/9108363/chr_synonyms.txt)

[2022-07-14 10:21] likhitha-surapaneni commented on #1217
Hi @dariober ,

Thank you for reaching out to us. I am going to discuss with my team regarding supporting "protein_coding_gene" sequence ontology and will keep you updated on the same.

Kind regards,
Likhitha

[2022-07-14 13:17] dglemos commented on #867
Hi @segoerge,
We have updated the Refseq release version in the vep cache file.
In the current release 107, the version included in info.txt is the same as the Refseq version.

Best wishes,
Diana

[2022-07-14 13:17] #867 closed

[2022-07-15 04:16] SowmyaPulapet commented on #1218
Hi @olaaustine
Yes, As I had mentioned earlier in the issue I got the following warning:

`WARNING: No exons found for protein_coding transcript LOC_Os12g01020.1.MSUv7.0`

The warnings.txt had a couple of warnings similar to this and a vcf file with only intergenic variants. The INFO field was empty. I am also sharing my results here. Hope you would be able to find me a solution.

[RS_3360_anno.zi

[2022-07-15 10:49] olaaustine commented on #1218
Hi @SowmyaPulapet,
Thank you!
The gff file does not contain any exon information, thats why VEP annotates all the variants as intergenic_variant.
I suggest that you use another gff file as your annotation source.
Thank you
Ola.

[2022-07-15 11:19] asmlgkj opened #1219 "vep online does not support normalized variants"
Dear professor
I used the vep online tool to annotate variants,
when I input the normalized (chr3	37059092	37059092	-	C), it does not have a result.

but when I input the unnormalized variant (chr3	37059092	37059092	T	TC), it works,
is there any option to make it supp oert for normalized variant

[2022-07-15 11:59] olaaustine commented on #1219
Hi @asmlgkj,
Thank you for your query.
This is because the variant `-/C` does not follow the [VCF specification](https://samtools.github.io/hts-specs/VCFv4.1.pdf).

Please let us know if you have any other questions.
Thank you

[2022-07-15 13:13] asmlgkj commented on #1219
thanks a lot @olaaustine
so there has to be the vcf format?

[2022-07-15 13:36] olaaustine commented on #1219
Yes, the REF should be `.` not `-` as above.
Let us know if this fixes the problem.
Thank you,
Ola

[2022-07-15 13:49] asmlgkj commented on #1219
thanks  a lot

[2022-07-15 13:51] SowmyaPulapet commented on #1218
Hi @olaaustine
Thank you for the suggestion. I tried with a gff3 containing exon information. I got the result but the .html file is about 16 mb and I am unable to open it. I assume something is not right ! Would you be able to look into this? I will share the vcf and html files here.

[RS_3360.zip](https://github.com/Ensembl/ensembl-vep/files/9121348/RS_3360.zip)

[2022-07-15 13:52] SowmyaPulapet commented on #1218
The gff3 file I used:

[Osativa_323_v7.0.gene_exons.gff3.gz](https://github.com/Ensembl/ensembl-vep/files/9121354/Osativa_323_v7.0.gene_exons.gff3.gz)

[2022-07-15 14:37] olaaustine commented on #1219
I am going to close this issue, please feel free to open this if you have more questions about this or reopen another if you have another query.
Thank you
Ola

[2022-07-15 14:37] #1219 closed