[2019-10-23 09:51] ima23 commented on #627
Hi Ulrika,

I see your point. Can you give me a specific example to double check the case?

Thanks,
Irina

[2019-10-23 10:02] lbeltrame opened #628 "Allow to override CACHE_URL_INDEXED in INSTALL.pl"
Currently the `-u` option only sets CACHE_DIR, not CACHE_DIR_INDEXED. The result is that even if you have the (heavy!) cache files downloaded, they will get downloaded again: with slow connections (like the one at my institution) this can be extremely painful.

Looking at https://github.com/Ensembl/ensembl-vep/pull/613 and `INSTALL.pl` (but my Perl knowledge is very basic) it seems to me that ther

[2019-10-23 10:55] CWYuan08 commented on #627
Hi, I have found a structural variant (deletion) in two of our samples, it is the same one but one has been reported as transcript ablation the other one as above, both with same OverlapBP and OverlapPC=100, why this is? (I can send you the screenshoot by email)

Thank you again

[2019-10-23 11:45] ima23 commented on #627
Hi @CWYuan08,

I would only need the structural variants in the format described [here](https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#sv) to check them. For example:
[code]
Is it possible to write the 2 structural variants in this format and share them here?

Thanks,
Irina

[2019-10-23 12:13] CWYuan08 commented on #627
Hi Irina
Sorry I have run VEP with the genome and annotation of our organism of interest which is not in the VEP database, can I send you the result?

Best
Ulrika

[2019-10-23 13:17] ima23 commented on #627
Hi Ulrika,

in principle VEP will annotate with transcript_ablation structural variants (SVs) that remove the region covering the specific transcript.

I can have a look tracing this. Can you please share:

-  the structural variation in the input format
- the structural variation vep results in the 2 runs
- vep commands
- genome annotation of the ablated transcript for the 2 samples (Is this a gf

[2019-10-23 13:51] CWYuan08 commented on #627
Hi Irina,
the input is: chrIII 10192119 10201100 DEL
relevant part of the result for this problem is:
Location Allele Consequence Strain OverlapBP OverlapPC
1 chrIII:10192119-10201100 deletion transcript_ablation LKC34 1460 100
2 chrIII:10192119-10201100 deletion transcript_ablation LKC34 1620 100
3 chrIII:10192119-10201100 deletion transcript_ablation LKC34 1627 100
4 chrIII:10192119-10201100 del

[2019-10-23 14:42] aparton commented on #628
Hi,

Thanks for this report, you're right, this functionality isn't working correctly for indexed cache files.

I'll prepare a fix and let you know when it's in place.

Kind Regards,
Andrew

[2019-10-23 18:50] rajkump opened #631 "ERROR: SIFT not available--- during test"
Hi ,
  I am following the instructions given here _[https://gist.github.com/ckandoth/5390e3ae4ecf182fa92f6318cfa9fa97]_ to install **vep**. Everything seems to be fine. When I tested the installation I get this ERROR message,

`./vep --species homo_sapiens --assembly GRCh37 --offline --no_progress --no_stats --sift b --ccds --uniprot --hgvs --symbol --numbers --domains --gene_phenotype --canonical

[2019-10-23 19:19] kolabx opened #632 "No HGVS annotations"
Hi Ensembl-vep team,

For some reason, I am not able to get any hgvs output when I specifiy the -e flag or the --hgvs flag. My command was (on a docker instance):

./vep -i /opt/vep/.vep/input.vcf -o /opt/vep/.vep/output4.txt --vcf --offline --e --fasta /opt/vep/.vep/homo_sapiens/98_GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz --force_overwrite --pick 1

And output has no hgvs, sift or po

[2019-10-23 20:33] rajkump commented on #632
Hi,
   You probably need to include `--sift` and `--polyphen` option
http://uswest.ensembl.org/info/docs/tools/vep/script/vep_options.html

[2019-10-23 22:33] kolabx commented on #632
Thanks for replying Praveen.

I included the '-e' or --everything option which --sift and --polyphen is a part of.

[2019-10-23 23:52] rajkump commented on #632
Please also reply for my issue regarding Sift not available.

On Wed, Oct 23, 2019 at 6:33 PM kolabx <notifications@github.com> wrote:

--

Regards,

Praveen K. Raj Kumar, Ph. D.

Bioinformatics Scientist

Chan Soon-Shiong Institute of Molecular Medicine at Windber

620 7th St., Windber, PA 15963

https://scholar.google.com/citations?user=9D0x0_AAAAAJ

[2019-10-24 08:45] kai-21 opened #633 "question"
Dear sir,

I couldn't find the right place to ask a question about VEP, so I write here.

These are my questions..

The result from VEP annotation sometime have more than one consequences like below. I think some consequence combinations does not make sense (missense variant could not be located in splice_region). How could this consequences have made?
'missense_variant,splice_region_variant',
'st

[2019-10-24 12:10] dglemos commented on #633
Hi @kai-21,
The definition of a splice region variant is "A sequence variant in which a change has occurred within the region of the splice site, either within 1-3 bases of the exon or 3-8 bases of the intron".
It can happen that there's a substitution of one base pair in one of these regions. One example is rs781551140, for transcript ENST00000354383 this variant has consequence "missense_variant

[2019-10-25 12:49] dglemos commented on #632
Hi @kolabx,
As @rajkump said you need to include the flags for sift, polyphen and hgvs or --everything which includes those three.
If it's still not working for HGVS, you can send an example and we'll check what's happening.

Best regards,
Diana

[2019-10-25 13:01] dglemos commented on #631
Hi,
vep checks if sift is available by reading the info.txt file in your cache directory, probably under path_to_cache/homo_sapiens/95_GRCh37/info.txt. The file should contain a line: sift b

[2019-10-25 18:06] rajkump commented on #631
Hi,
   Glad to report it is solved now. The problem is that 'info.txt' is not present in that dir. So I 'untar' the file '$VEP_DATA\homo_sapiens_vep_95_GRCh37.tar.gz' to get 'info.txt'. This solved the problem. A fix to 'perl INSTALL.pl --AUTO f --SPECIES homo_sapiens --ASSEMBLY GRCh37 --DESTDIR $VEP_PATH --CACHEDIR $VEP_DATA' is needed.

[2019-10-25 18:06] #631 closed

[2019-10-25 19:34] kolabx commented on #632
Hi @dglemos,

As I said in my reply to @rajkump, I used the --everything flag and still got no hgvs output. My command was:

./vep -i /opt/vep/.vep/input.vcf -o /opt/vep/.vep/output4.txt --vcf --offline --e --fasta /opt/vep/.vep/homo_sapiens/98_GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz --force_overwrite --pick 1

[2019-10-28 09:37] dglemos commented on #632
I run your command line and got HGVS output. Can you send an example of a variant for which you don't get hgvs?

[2019-10-29 16:24] kolabx commented on #632
I have found the source of the problem - it seems I had a badly formatted vcf. Thanks @dglemos & @rajkump for your input.

[2019-10-29 16:24] #632 closed

[2019-11-05 06:00] DarioS opened #634 "Unnnecessary Plugins Prompt"
The installation command I ran was `perl INSTALL.pl -c cache/ --PLUGINS dbNSFP,CADD,G2P` but during the procedure I was asked to specify the plugins anyway

Plugins will be installed in cache//Plugins
Do you want to install any plugins (y/n)? y

[2019-11-05 09:59] dglemos commented on #634
Hi @DarioS,
To run your command you have to run it with flag `--AUTO` which runs the installer without prompts. You can read more about installation options [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#installer)

[2019-11-05 15:44] aparton commented on #610
Hi,

Thanks for this report. You're correct, I've submitted a PR to adjust this.

Kind Regards,
Andrew

[2019-11-05 19:00] DarioS commented on #634
I overlooked the need for `--AUTO`.

[2019-11-05 19:00] #634 closed

[2019-11-06 22:15] LemuelRacacho opened #636 "VEP Uninitialized value in VariationTabix.pm line 184"
## Describe the issue
Output file is generated but lacking annotations that should be added by using "--everything"

### System
- VEP version: 98
- VEP Cache version: 98
- Perl version: v5.18.2
- OS: Ubuntu 14.04.5 LTS, Trusty Tahr
- tabix installed: ensembl-vep/biodbhts/lib/Bio/DB/DB/HTS/Tabix.pm

### Full VEP command line
[code]

### Full error message

Use of uninitialized value in subtraction

[2019-11-07 10:22] dglemos commented on #636
Hi @LemuelRacacho,
Could you provide an example of a variant from your output file?

[2019-11-07 14:40] LemuelRacacho commented on #636
Thanks for looking into my issue. Here is a partial .txt output file generated by the command above:

#Uploaded_variation	Location	Allele	Gene	Feature	Feature_type	Consequence	cDNA_position	CDS_position	Protein_position	Amino_acids	Codons	Existing_variation	Extra
rs116645811	21:26960070	A	54148	NM_017446.3	Transcript	intron_variant	-	-	-	-	-	-	IMPACT=MODIFIER;STRAND=-1;VARIANT_CLASS=SNV;SYMBOL=MRP

[2019-11-07 14:49] LemuelRacacho commented on #636
This format might be better...

#Uploaded_variation | Location | Allele | Gene | Feature | Feature_type | Consequence | cDNA_position | CDS_position | Protein_position | Amino_acids | Codons | Existing_variation | IMPACT | DISTANCE | STRAND | FLAGS | VARIANT_CLASS | SYMBOL | SYMBOL_SOURCE | HGNC_ID | BIOTYPE | CANONICAL | MANE | TSL | APPRIS | CCDS | ENSP | SWISSPROT | TREMBL | UNIPARC | REFSEQ_MA

[2019-11-07 15:00] LemuelRacacho commented on #636
Hi Diana,
I posted a partial output at Github.
Thank you very much for looking into the issue!!
Cheers
Lem

[2019-11-07 17:13] cccnrc opened #637 "VEP Debian installation bug"
I followed the guide (https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html) but VEP INSTALL.pl keeps failing the tests during intallation on my Debian 9 machine:

perl INSTALL.pl
----------------------------------------------------------------------------------------------------------------------
### ... rest of output ...
./t/Haplo_AnnotationSource_Cache_Transcript.t ........ 1/?

[2019-11-07 17:28] aparton commented on #636
Hi,

It looks like tabix isn't working correctly, however I'm not entirely sure why. Could you please run

tabix ~/.vep/homo_sapiens_refseq/98_GRCh37/11/all_vars.gz 11:119854-119854

And let me know what the output is?

Kind Regards,
Andrew

[2019-11-07 17:40] LemuelRacacho commented on #636
Thanks for helping out! Am I supposed to run tabix on the cache files? Here is the output:

[tabix] failed to load the index file.

[2019-11-08 00:56] hadjie01 opened #638 "9th column of GTF file"
Hello,

I am trying to run VEP with my custom GTF file. Currently, only gene_id and transcript_id are included in the 9th column of my GTF file. Do I need to include more features? are exon number, exon id and biotypes mandatory?

Thanks a lot,
Evi

[2019-11-08 08:53] dglemos commented on #638
Hi @hadjie01,
If you don't include the biotype VEP will try to interpret the 2nd column as the biotype.
[Here](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff) you can read about the format expectations.

[2019-11-08 11:01] aparton commented on #636
Hi,

Yes, running tabix on the command line on an all_vars.gz file within the cache should test if colocated variants are being found correctly by VEP.

It looks as if something unusual has happened with your index files. Can you please run

_ls -l ~/.vep/homo_sapiens_refseq/98_GRCh37/22/all_vars*_

and let me know the output?

If these files look unusual, then redownloading the cache file from ft

[2019-11-08 11:22] aparton commented on #623
Hi,

Apologies for the delay in getting back to you. This warning message seems to be due to the multiple HTSLib versions on your machine, however VEP should still work normally in this situation.

Removing your other version of HTSLib from your $PERL5LIB and rerunning the installer should remove this message, however it's not necessary for you to do so, VEP will still run as normal.

Kind Regards

[2019-11-08 13:17] LemuelRacacho commented on #636
Thank you. Here is the output from the run:

-rw-r--r-- 1 lracacho lracacho 111959524 Aug 27 13:31 /home/lracacho/.vep/homo_sapiens_refseq/98_GRCh37/22/all_vars.gz
-rw-r--r-- 1 lracacho lracacho     24633 Aug 27 13:31 /home/lracacho/.vep/homo_sapiens_refseq/98_GRCh37/22/all_vars.gz.csi

[2019-11-08 14:10] aparton commented on #637
Hi,

I've been unable to reproduce this error today with a Debian 9 virtual machine - could you please send me the complete output of your INSTALL.pl command?

Kind Regards,
Andrew

[2019-11-08 14:36] aparton commented on #636
Hi,

Thanks for this. These files look normal, suggesting an issue with tabix itself.

Next step in diagnosing your issue, could you please run:

_tabix --version_

_which tabix_

And let me know the output of both lines?

Kind Regards,
Andrew

[2019-11-08 15:20] LemuelRacacho commented on #636
OUTPUT 1: "tabix --version"
tabix: invalid option -- '-'
tabix: invalid option -- 'v'
Program: tabix (TAB-delimited file InderXer)
Version: 0.2.5 (r1005)
Usage:   tabix <in.tab.bgz> [region1 [region2 [...]]]
Options: -p STR     preset: gff, bed, sam, vcf, psltbl [gff]
         -s INT     sequence name column [1]
         -b INT     start column [4]
         -e INT     end column; can be identical

[2019-11-08 15:31] aparton commented on #636
Hi,

Thanks for this, that seems to be the problem. There’s an older version of tabix on your machine that doesn’t recognise the index files used within the cache file.

Updating this version of tabix should hopefully resolve your issue.

Kind Regards,
Andrew

[2019-11-08 16:06] hadjie01 commented on #638
Hi Diana,

Thanks a lot for the fast response!

Here is an example of my gtf file:
chr12   PacBio  transcript      14522   31411   .       -       .       gene_id "ENSG00000226210.3"; transcript_id "PB.8092.4";
chr12   PacBio  exon    14522   15153   .       -       .       gene_id "ENSG00000226210.3"; transcript_id "PB.8092.4";
chr12   PacBio  exon    15913   16065   .       -       .       gene_

[2019-11-08 16:11] cccnrc commented on #637
Here you go.
This is a simply:
`perl INSTALL.pl &> vep_installation_debian9.log`
Looking forward to hearing from you.
[vep_installation_debian9.log](https://github.com/Ensembl/ensembl-vep/files/3825337/vep_installation_debian9.log)

[2019-11-08 17:01] aparton commented on #637
Hi,

Thanks for this. It looks like the Ensembl API has been correctly downloaded and configured, but perl can’t find it. Could you please add the ensembl-vep directory to your PERL5LIB environment variable, with something like:

PERL5LIB=${PERL5LIB}:/home/enrico/vep/ensembl-vep

And try running the installer again?

Kind Regards,
Andrew

[2019-11-08 17:09] cccnrc commented on #637
same problem (see file attached)
[vep_installation_debian9.log](https://github.com/Ensembl/ensembl-vep/files/3825521/vep_installation_debian9.log)

[2019-11-08 17:39] aparton commented on #637
Hi,

Thanks for this. It looks like your @INC hasn’t been updated with the PERL5LIB change, did you perhaps update your PERL5LIB in one window and run the installer in another?

Kind Regards,
Andrew

[2019-11-08 21:31] LemuelRacacho commented on #636
Hi Andrew, thank you! I noticed that tabix is also located at ~/ensembl-vep/htslib/ which was created during recent version 98 install.

[2019-11-09 20:10] cccnrc commented on #637
No, same session (checked with echo $PERL5LIB). Do you have any clue?

Thanks in advance,

Enrico

[2019-11-11 13:00] dglemos commented on #638
VEP is building the annotations from the GFT file using the different IDs (gene -> transcript -> exon/CDS -> ...).
The warning means that those gene IDs are missing from your GTF file and you have annotations referring to these genes (gene_id attribute) in their 9th column.

You should have something like this:
`chr12 PacBio gene _start end_ . - . gene_id _"A"_; transcript_id _"B"_;`
`chr12 PacBio

[2019-11-17 02:08] jmo616 opened #640 "v98.3 missing polyphen2 --humdiv option"
Hello,

I am using ensembl-vep release 98.3, and it does not seem to export any polyphen predictions when using the --humdiv option (although polyphen predictions for the humvar models using --polyphen [p|s|b] do export properly). All other annotations from the cache seem to export properly, so it seems to be specific to the --humdiv option.

I am using the 'homo_sapiens_GRCh38.vcf' provided in th

[2019-11-18 08:57] marc-sturm opened #641 "VEP crash in parallelization"
## Describe the issue
VEP annotation crashes with the error `read-through of cross-process communication detected`
Maybe related to #256

## Additional information
We run into this error regularly since we updated from VEP 96.3 to 98.3 last week.
Nothing has changed in terms of custom annotation files, only VEP and VEP cache was updated.
Thus, I think this is bug in 98.3.

The error is not reprodu

[2019-11-18 10:35] fgvieira commented on #580
Dear all,

I'm re-opening this issue since I just saw this behavior again with VEP 98.3 when running `filter_vep`:
`filter_vep --input_file input_cnv_germline_annot.vcf.gz --gz --filter "gnomAD_SV_AF < 0.05 or not gnomAD_SV_AF" --only_matched`

It starts with a memory usage of ~3 Gb, but it keeps increasing until ~80Gb:
`27847 filipev   20   0   79.7g  79.6g   2428 R 100.0 63.3  10:28.14 perl filt

[2019-11-18 12:37] aparton commented on #641
Hi,

Thanks for this report. No direct changes have been made to the forking code since release 91, so this one might be a little tricky to debug. I’ve attempted to reproduce this issue this morning with your VEP command and I’ve been unable to do so.

A couple of questions to help us debug this issue:
Could you please try running your command with the parameter ‘—buffer_size 500’ and let me know

[2019-11-18 13:15] marc-sturm commented on #641
Hi Andrew,

we switched back to VEP 96.3, to I can tell you tomorrow if it's definitely VEP 98, or some general server problem (which is unlikely since all other tools run smoothly).

I will test the buffer size parameter tonight.

All the files should be sorted, but I will check again.

Best,
  Marc

[2019-11-18 14:23] aparton commented on #580
Hi,

Sorry to hear that you're still having this issue. Could you please either send the input vcf to helpdesk@ensembl.org (or submit it via https://www.ensembl.org/Help/Contact), and we can pick it up from there and take a look.

Kind Regards,
Andrew

[2019-11-18 15:50] fgvieira commented on #580
Hi Andrew,

sure, just sent it to helpdesk email

[2019-11-18 16:05] aparton commented on #640
Hi,

Thank you for your query. To obtain humdiv annotations, you also need the —polyphen flag to specify whether you want the prediction term and/or the score. So for example:

perl vep -i examples/homo_sapiens_GRCh38.vcf --database --polyphen s -o nohumdiv.txt
perl vep -i examples/homo_sapiens_GRCh38.vcf --database --polyphen s --humdiv -o humdiv.txt

should provide you different polyphen scores.

[2019-11-18 17:47] jmo616 commented on #640
Hello,

Thanks for the reply--I tried out the suggested changes to the commands as shown below, and still only seem to get one polyphen score (regardless of whether I use the ensembl database or the cache files). My output files are attached, and please let me know if you have any questions.

Thanks!

./vep --cache --dir_cache .vep/ -i examples/homo_sapiens_GRCh38.vcf --polyphen s --humdiv -o outp

[2019-11-18 19:25] cccnrc commented on #637
Still nothing?

[2019-11-19 00:50] stellaoh opened #642 "Hi, I can't understand this phenomenon."
Dear VEP team.

Hi, I have a question.

![image](https://user-images.githubusercontent.com/33537478/69106431-a6abfd80-0ab1-11ea-868b-781c8d8780e9.png)

In this figure, white highlighted "1.47&1.47" is FATHMM_score.

I can't understand why the score was separated with "&".

The header of this vcf file is shown below.

"##FATHMM_score=(from dbNSFP) FATHMM default score (weighted for human inherited-

[2019-11-19 09:34] marc-sturm commented on #641
Hi Andrew,

here an update on the issue.

I now compared 96 to 98 and I saw that 98 way slower (~6x the runtime) and takes much more memory (also ~6x). Maybe it's a memory problem after all.

The input file is sorted imo.
Is there any special order required for chromosomes or variants at the same position?

Then, I tested without any custom annotations and plugins, and that's fast and takes less m

[2019-11-19 09:38] aparton commented on #640
Hi,

That's correct - whether you use the cache or the database to obtain your humdiv predictions, VEP will use the PolyPhen output field to display these annotations. VEP wont provide both the humVar and the humDiv score at the same time.

Kind Regards,
Andrew

[2019-11-19 10:28] aparton commented on #641
Hi,

Thanks for the update. If your files are sorted by chromosome and start position then you should be fine, as long as VEP doesn't have to jump around a lot.

If it turns out to be a custom annotation file that's causing your issue, I can take a closer look if you can send me the file concerned.

Kind Regards,
Andrew

[2019-11-19 10:29] leonschuetz opened #643 "RefSeq and ensemble Gencode_basic annotation"
## Describe the issue
I would like to annotate a VCF file with RefSeq transcripts and ensemble transcripts which belong to the gencode basic data set. Currently I use the merged data set but if I use the --gencode_basic I'm missing the RefSeq transcripts. Is there any way to achieve this with VEP?
I also didn't find any optional field which indicates if a annotated transcript belongs to gencode ba

[2019-11-19 11:09] aparton commented on #637
Hi,

Sorry for the delay in getting back to you. Your output shows that your @INC variable doesn't contain the _/home/enrico/vep/ensembl-vep_ path, which is why the VEP tests cannot find the Ensembl API modules that they expect.

Running _perl -V_ should provide a detailed summary of your perl configuration, including your PERL5LIB and your @INC variables. Could you please run this command and sen

[2019-11-19 11:14] cccnrc commented on #637
Here you go, thanks to you in advance

[perl.V.txt](https://github.com/Ensembl/ensembl-vep/files/3863444/perl.V.txt)

[2019-11-19 11:16] helensch commented on #642
Hi

The scores are separated by & in VCF format as
- the dbNSFP plugin replaces occurrences of ';' with ','
https://github.com/Ensembl/VEP_plugins/blob/release/98/dbNSFP.pm

- for VEP output commas in fields are replaced with ampersands (&) to preserve VCF format.
https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#vcfout

The field description in VCF is taken from the dbNSFP file as indi

[2019-11-19 11:52] aparton commented on #637
Hi,

Everything in there looks normal as far as I can tell. Next fiddly test, just incase you have multiple perl versions installed, could you please run:

_perl -e 'print $ENV{PERL5LIB}'_

and send me the output?

Thanks,
Andrew

[2019-11-19 12:00] cccnrc commented on #637
I got no output from this command.

If I have multiple perl versions installed, how can I keep only the interesting one?

[2019-11-19 12:18] aparton commented on #643
Hi,

Thank you for this query. As you've noticed, the --gencode_basic flag works as a filter to remove all non-gencode-basic transcripts from VEP output, and as such it's also removing all RefSeq transcripts.

Unfortunately, there is no easy way to add this information on as an optional field within VEP output. Your easiest two options to get the annotations you're looking for quickly are:

1) Run

[2019-11-19 13:38] aparton commented on #637
Hiya,

Excellent, thanks, we're getting somewhere. It may not be a multiple perl version issue after all. Can you please run:

_echo 'PERL5LIB=${PERL5LIB}:/home/enrico/vep/ensembl-vep' >> ~/.bashrc_
_source ~/.bashrc_
_perl INSTALL.pl_

And let me know if that fixes the initial issue?

Thanks,
Andrew

[2019-11-19 14:49] cccnrc commented on #637
Same error as before, attached the file

[install_log_2.txt](https://github.com/Ensembl/ensembl-vep/files/3864354/install_log_2.txt)

[2019-11-19 15:52] LemuelRacacho commented on #636
I found that downloading the indexed file independent of INSTALL.pl worked for me. Thank you.

[2019-11-19 15:52] #636 closed

[2019-11-19 15:53] aparton commented on #636
Hi,

Excellent, I'm glad that you were able to resolve your issue.

Kind Regards,
Andrew

[2019-11-19 18:03] genomics-geek commented on #622
Hi @dglemos not sure if this is what I need.  In SnpEff, one could (commands below) to get the latest refseq build from UCSC.  Is there something similar for VEP?

[code]

[code]

followed by:

[code]

[2019-11-19 19:39] jmo616 commented on #640
Hi Andrew,

Thanks very much for clarifying--these changes worked as intended.

[2019-11-19 19:39] #640 closed

[2019-11-20 07:57] marc-sturm commented on #641
Hi Andrew,

the runtime problem is caused by the GeneSplicer plugin. If I removed it and change nothing else, the runtime if VEP 98 is similar to VEP 96 (with GeneSplicer).

The memory problem is not caused by GeneSplicer. I'm still looking into that...

Best,
  Marc

[2019-11-20 08:50] Stikus commented on #610
Thanks for answers and for your work

[2019-11-20 08:50] #610 closed

[2019-11-20 10:10] cccnrc commented on #637
Any clue?

[2019-11-20 11:12] dglemos commented on #580
Hi @fgvieira,
Thanks for sending the file. However, it's too large for the helpdesk system. Could you load it somewhere (dropbox for instance) and send the url instead?

[2019-11-20 11:36] leonschuetz commented on #643
Ok, then I will have to run it twice. Thank you for your response.

Best Regards,
Leon

[2019-11-20 11:54] marc-sturm commented on #641
Hi Andrew,

the excessive memory use occurs only if I annotation AF (--af or --af_gnomad).
VEP 98 uses ~5x the memory of VEP 96.
It scales linearly with the buffer size.

Looks like something is not cleaned up or there is a memory leak.

Best,
  Marc

[2019-11-20 14:54] fgvieira commented on #580
Hi @dglemos

I've uploaded it [here](https://fil.email/9sCVNLDs). Can you try to download it?
The link will only be active for 7 days though...

[2019-11-20 14:57] dglemos commented on #580
It works, thanks.
I'll try to reproduce the issue and will let you know.

[2019-11-20 16:31] aparton commented on #641
Hi Marc,

Thanks for these reports. I've done some digging into this issue, and there's quite a lot going on.

1) I've been able to reproduce the GeneSplicer slowdown, and it seems to be caused by a known issue in the Ensembl API when accessing sequence data. We're aware of the issue, and working on a fix.

The usual workaround for this issue is to provide a FASTA file, however this is something t

[2019-11-20 16:44] aparton commented on #637
Hi,

Thanks for providing these logs, they've been very helpful. I suspect that the last command that I asked you to run should have contained an export.

Could you please:

1) Remove the line _PERL5LIB=${PERL5LIB}:/home/enrico/vep/ensembl-vep_ from your ~/.bashrc file

2) Run:
echo 'export PERL5LIB=${PERL5LIB}:/home/enrico/vep/ensembl-vep' >> ~/.bashrc
source ~/.bashrc
perl INSTALL.pl

And let me

[2019-11-20 17:53] dglemos commented on #622
Hi,
the most similar thing in VEP is to use the refseq cache with option `--refseq` (read [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#cacheopt)) to output the consequence relative to refseq transcripts in place of the default Ensembl transcripts.
How to download [refseq cache](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache)

[2019-11-20 19:10] PedroBarbosa opened #644 "filter_vep --only_matched is not working as it should"
Hi,

I want to keep blocks of consequences belonging to a single gene, but apparently VEP is not removing the unwanted genes.

- VEP version: 97
- VEP Cache version: 97

CMD:
[code]
Example input variant:

[code]

output variant:
[code]

Thanks in advance,
Pedro

[2019-11-20 19:42] genomics-geek commented on #622
I am using  the cache for RefSeq, I just noticed some newer transcript ids are in RefSeq and not in the cache.  I was just curious if there was a way to update it.

[2019-11-20 20:54] dglemos commented on #622
I didn't notice you were already using vep cache. Sorry about the mistake.
The cache is updated every release, it's not possible to update it in between. However, you can run vep with custom annotation using a file that contains the features you want - read more [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html).

[2019-11-21 01:44] genomics-geek commented on #622
Thanks @dglemos. That makes sense now.  I didn't realize it was updated each release.

[2019-11-21 07:28] marc-sturm commented on #641
Hi Andrew,

1)
Yes, I was using the --fasta option.
The base command for all tests was:
[code]

2)
This is the command for the test:
[code]
I'm actually not sure if the cache files are indexed. From the release notes I assumed that index cache is installed by default since v97. Is there a command I can test it with?

I have installed Set::IntervalTree but not ensembl-xs.
Here is the installation s

[2019-11-21 10:00] aparton commented on #644
Hi Pedro,

I suspect this issue is caused by an issue with the header lines in your VCF file. Could you please send me the full VEP command that you used to generate your input line?

Kind Regards,
Andrew

[2019-11-21 13:23] cccnrc commented on #637
some new errors and some new output, attached the files
[install_log_3.err.txt](https://github.com/Ensembl/ensembl-vep/files/3874851/install_log_3.err.txt)
[install_log_3.txt](https://github.com/Ensembl/ensembl-vep/files/3874852/install_log_3.txt)

Thank you very much for the moment

[2019-11-21 13:56] aparton commented on #637
Hi,

Excellent, we’re making progress! Looks like the perl module Test::Warnings is missing. If you have cpanm installed, you can install this with:

cpanm Test::Warnings

Kind Regards,
Andrew

[2019-11-21 14:11] sarahhunt commented on #622
@genomics-geek - just to clarify, the GRCh37 transcript set is not updated frequently. RefSeq transcripts are not built from the genome sequence and do not always match the genome sequence. This means mappings back to the genome can be ambiguous. For this reason, we only ever use NCBI's mappings.

New transcript annotation from both Ensembl and RefSeq has been released solely on GRCh38 for some ye

[2019-11-21 15:22] dglemos commented on #580
I run the same command with your file and I get the same memory issue. It looks like some of your variants have a lengthy CSQ field. For instance:
`1  16945702  INV00000354  C` overlaps more than 3500 features and as a consequence this line has length=594206. Long lines are not well handled by `filter_vep`.
We're looking into a way to improve this but in the meantime, as the gnomAD frequency is no

[2019-11-21 15:23] cccnrc commented on #637
think it worked! than you very much, the only thing: I still get some "Possible precedence issue with control flow operator at ..." (attached log file)

Do you know why? What does it mean? (and if you can briefly explain what the problem was
[install_log_4.txt](https://github.com/Ensembl/ensembl-vep/files/3875393/install_log_4.txt)
)

[2019-11-21 18:27] PedroBarbosa commented on #644
Hi @aparton ,

Please find my VEP command below:

[code]

Best,
Pedro

[2019-11-23 13:13] cccnrc commented on #637
any news?

[2019-11-25 08:36] aparton commented on #637
Hi,

Excellent, I’m glad it’s finally working. The warning message you’re seeing is a known issue on certain setups and can be safely ignored.

Kind Regards,
Andrew

[2019-11-25 08:40] cccnrc commented on #637
Hi Andrew thank you very much, so what was the problem?

[2019-11-25 09:55] aparton commented on #637
Hi,

The problem was that VEP was unable to find the Ensembl API. Perl will look in its own @INC variable for all modules required to run VEP, and this variable didn’t include the path to these required modules.

The reason for this is that in perl versions after 5.22, the @INC variable no longer includes the current directory. Once we added the VEP directly to @INC via PERL5LIB, then the installa

[2019-11-25 09:57] cccnrc commented on #637
Thank you very much again Andrew!

[2019-11-25 09:57] #637 closed

[2019-11-25 10:56] iranmdl opened #646 "Haplosaurus generates an unexpected additional haplotype"
Hi there,
After running haplosaurus with the following variants in my vcf:
[code]

and the following command:
`perl /src/vep/haplo --cache --merged --offline --force_overwrite --json --dir /src/vep/cache --species homo_sapiens --assembly GRCh38 -i input.vcf -o output.json`

using ensembl version 95 and GRCh38 human genome assembly.
If you take a look to the output file (see haplo_output_json.txt a

[2019-11-25 16:47] fgvieira commented on #580
Hi @dglemos, the reason gnomAD frequency is not in the CSQ is mostly because VEP uses a lot of memory, so I had to use another program.

As for your suggestion, I am not sure what you mean... you suggest filtering the VCF while setting `--vcf_info_field` to the gnomAD field, and then incorporate the gnomAD info into the CSQ. Is that it?

[2019-11-26 18:11] cccnrc opened #647 "vep no errors displayed, blank -o file created"
I am working with several plugin in VEP v98 and I noticed that if I use commands with a big number of plugins VEP does not output any ERROR/WARNING but a totally blank file is created.

Command:
`
time ./vep
     -i /home/enrico/vep/ensembl-vep/examples/homo_sapiens_GRCh37.vcf
     --cache --dir_cache /media/enrico/vep_disk/vep_files/caches --merged --use_given_ref
     --fasta /media/enrico/vep_d

[2019-11-27 13:36] dglemos commented on #580
As gnomAD frequencies are not stored in CSQ, I was suggesting to set CSQ to empty and run the filter. After the file is filtered you could add the CSQ again. In the meantime, a fix has been to merged into version 99. If you run your command again you should have a result without having memory issues.

[2019-11-27 14:05] cccnrc commented on #647
sorry to bother, any news?

[2019-11-27 16:30] ima23 commented on #647
Hi @cccnrc,

I'm looking into the issue. Can you please share 1 or 2 variants as input example?

Thanks,
Irina

[2019-11-27 16:34] ima23 commented on #647
@cccnrc : just noticed you are using the example input file. At first glance I can't see why you would get an empty output. Do you have more information at what point/ after how many plugins it stops working?
Thanks.

[2019-11-27 20:18] cccnrc commented on #647
It seems quite casual, as example:

`
time ./vep -v
     -i /home/enrico/vep/ensembl-vep/examples/homo_sapiens_GRCh37.vcf --format vcf
     --cache --dir_cache /media/enrico/vep_disk/vep_files/caches --merged --use_given_ref
     --fasta /media/enrico/vep_disk/vep_files/fasta/GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz
     --dir_plugins /media/enrico/vep_disk/vep_files/vep_plugins

[2019-11-27 20:49] at7 commented on #647
Thank you for the extra information. The G2P plugin requires genotype data as input which the example file doesn't have. The G2P plugin sets the --individual flag and filters out everything without genotype data in the output file. You therefore need to remove the G2P plugin from your options.  There could also be a problem in recognising the input format of the example file. Adding --format vcf s

[2019-11-27 21:54] cccnrc commented on #647
Yes it seems to work with the other plugins but `G2P`. It would be nice to have an advise just in case to know the analysis failed. I'll try other combinations, thank you very much for the moment

[2019-11-27 21:54] #647 closed

[2019-11-28 10:08] leonschuetz opened #648 "Pfam release"
## Describe the issue
Hello,
I am using VEP with the --domains parameter and found out that some of the Pfam IDs are outdated. Is there any way to find out which Pfam release is used in VEP 96? I checked the website and did not find it.

Best Regards,
Leon

### System
- VEP version: 96.3
- VEP Cache version: 96
- OS: ubuntu

[2019-11-28 11:12] dglemos commented on #646
Hi @iranmdl,
Thank you for reporting this issue. We are looking into the issue.

[2019-11-28 11:18] ima23 commented on #648
Hi @leonschuetz,

VEP Cache 96 is based on Ensembl release 96 which had Pfam 31.0 imported.

We recommend using the most recent release if possible to ensure the latest data is used, for example the latest Pfam release 32.0 was available in Ensembl release 97 and is also available in the latest release 98.

Kind regards,
Irina

[2019-11-28 11:30] leonschuetz commented on #648
Thank You

[2019-11-28 11:30] #648 closed

[2019-11-28 12:41] fgvieira commented on #580
Just tried the new script and it seems to be using much less memory. :+1:
Haven't compared the results, tough...

thanks!

[2019-11-28 12:57] fgvieira opened #649 "filter_vep return empty files if input VCF has only header"
## Describe the issue
When VCF has no variants (only headers), `filter_vep` returns an empty file.
I think if there are no variants, `filter_vep` should just print out the header anyway...

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 98.3
- VEP Cache version: 98.3
- Perl version: 5.24
-

[2019-11-28 13:37] ima23 commented on #649
Hi @fgvieira,

Indeed `filter_vep` will not return anything if the input file contains only the header.
The script will however return the header if the input file contains at least one empty line after the header. Is this of use in your case?

Kind regards,
Irina

[2019-11-28 13:40] dglemos commented on #580
Good to know it worked. If you find anything wrong with your results please let us know.

Best regards,
Diana

[2019-11-28 16:07] #580 closed

[2019-11-28 16:10] fgvieira commented on #649
Well, not really since I cannot control that.
The input to `filter_vep` comes from other programs and, sometimes, there are not variants.

Would it be possible to have `filter_vep` to always print out the header?

[2019-11-28 16:15] ima23 commented on #649
Hi @fgvieira,

I see, that makes sense. We will look into updating `filter_vep` to print the header out and let you know when the change is in.

Thanks,
Irina

[2019-11-28 16:57] aparton commented on #644
Hi Pedro,

Thanks for this. I've taken a look this afternoon and I'm unable to reproduce this issue. I suspect that it's an issue with your header lines. Would it be possible for you to send me example VEP output that causes this filter issue with the full header lines included?

Kind Regards,
Andrew

[2019-11-29 08:58] ima23 commented on #649
Hi @fgvieira,

Good news. We updated the `filter_vep` script to print the header in the mentioned empty case. The change is on `release/99` branch.

Kind regards,
Irina

[2019-11-29 10:56] aparton commented on #641
Hi Marc,

Apologies for the delay in getting back to you. I've had a look at the install script you linked, and that tells me what I need to know regarding your setup. I should now be able to reproduce the issue in a VM.

Please correct me if I've missed anything, but there are 3 separate issues here:

1) The GeneSplicer speed issue - we have developed a fix for this issue that will be available i

[2019-11-29 11:57] marc-sturm commented on #641
Hi Andrew,

Thanks for looking into this and keeping me informed!

1)

The output of perl -V is:
[code]

I did not know that a gbzipped FASTA file is possible.
If I use an unzipped FASTA file, it will still use the FAI index, right?
I will try if using a gzippped FASTA improves runtime...

2)

There is only the HTSlib version of VEP installed:
[code]

Since the runtime does not differ much when I

[2019-11-29 15:12] fgvieira commented on #649
Great!
thanks,

[2019-11-29 15:12] #649 closed

[2019-12-02 09:02] matthdsm opened #652 "Performance tweaking: cache vs db"
Hi,

Quick question wrt to performance tweaking.
Which cache option should provide the most performance gains?
1. Using a tabix index (converted) cache on a fast local disk
2. Use a local version of the db

Or am I getting something wrong and do both add different data?

Thanks
M

### System
- VEP version: 95, or whatever
- VEP Cache version: 95, or whatever
- Perl version: 5.26
- OS: Ubuntu
- tab

[2019-12-02 09:31] aparton commented on #652
Hi Matthias,

Thanks for your query. We recommend using a cache file to optimise VEP performance.

A list of additional potential optimisations to maximise speed can be found here: https://www.ensembl.org/info/docs/tools/vep/script/vep_other.html#faster <https://www.ensembl.org/info/docs/tools/vep/script/vep_other.html#faster>

Kind Regards,
Andrew

[2019-12-02 09:33] matthdsm commented on #652
Hi Andrew,

Thanks for the info! So I assume the db provides no extra value when using a local cache?

Cheers
M

[2019-12-02 09:33] #652 closed

[2019-12-02 09:41] aparton commented on #652
Hi,

Most of the time, that’s correct, however the cache file does have some limitations. The cache file is not suitable when using rsIDs or HGVS format as input, and overlapping structural variants are not included in the cache files. You can find more information on these limitations here: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#limitations <https://www.ensembl.org/info

[2019-12-02 14:32] cruckert opened #653 "Add identifier to tabular input of structural variants"
As far as I know there is currently no possibility to add variant identifiers when inputting structural variants in tabular input format, as it is possible for small variants. When using vcf as input format the ID column is correctly taken over to the output (vcf as well as tabular).

This would be very helpful.

[2019-12-03 07:54] marc-sturm commented on #641
Hi Andrew,

another update on issue 1:
There is no real runtime change when using bgzipped/plain FASTA input.

Best,
  Marc

[2019-12-03 10:38] at7 commented on #653
Hello,
thank you for reporting this. This will be fixed for our next release which is planned for either later this year or very early next year.
Best wishes,
Anja

[2019-12-04 18:16] aparton commented on #641
Hi Marc,

Thanks for letting us know. We're still looking into it, I'll let you know when we make any progress.

Kind Regards,
Andrew

[2019-12-05 12:46] PedroBarbosa commented on #644
Hi @aparton

I just looked again at this issue. I run VEP again (latest docker image) and apparently the issue was solved. Now when I filter by gene name, only the right blocks of consequences are kept, as expected.

I'll close the issue for now. I'll reopen in the future if necessary.
Best,
Pedro

[2019-12-05 16:22] rbatorsky commented on #464
Hello,

I am seeing something similar for variants on chrM using the GRCh38 cache for version 98.

When use the --refseq flag and cache, chrM variants do not get SYMBOL or transcript annotation, they appear with Consequence "intergenic_variant".

For these same variants, when I switch to the Ensembl/GENCODE cache the chrM variants are annotated with a gene and transcript.

Can you confirm whether

[2019-12-05 16:53] benjraspl opened #654 "Question w/ HGVS Protein notation"
Hi VEP Team,

I have a question regarding the HGVS protein annotation given by the vep. When detecting a frameshift variant, will the vep always give the newly generated terminal aminoacid AND the predicted distance until termination? Or is it possible for any of the information to be missing? So far I have only been seeing the complete notation w/ new terminal amino acid and distance until termin

[2019-12-05 18:18] aparton commented on #654
Hi,

In general, that's correct, however there are a couple edge cases where the annotations can be slightly different.

1) If an insertion instantly creates a stop codon, then HGVS considers the variant to be a substitution instead:

i.e. _perl vep -id '3 10200392 . T TA' --database --hgvs_ provides **HGVSp=ENSP00000256458.4:p.Cys101Ter**

2) When VEP cannot find a new stop codon within the new r

[2019-12-06 15:17] at7 commented on #464
Dear Rebecca,
I can can confirm that we haven't imported mitochondrial genes from the RefSeq gene set. I'm currently investigating if we can import those genes for release 100. I will get back to you as soon as I know more.

Best wishes,
Anja

[2019-12-08 22:03] PlatonB opened #655 "MSG: ERROR: Could not write to output file"
Elementary OS 5.1
Docker version 18.09.7, build 2d0083d
ensembl-vep latest fcfda10

`sudo docker run -t -i -v $HOME/vep_data:/opt/vep/.vep:Z ensemblorg/ensembl-vep`
`./vep --cache -e --vcf --force_overwrite --no_stats --dir_cache /opt/vep/.vep/ -i /opt/vep/.vep/input/vep_test_input.txt -o /opt/vep/.vep/output/vep_test_output.vcf`

[code]

[2019-12-09 09:13] wentgithub opened #656 "ERROR: Failed to parse command-line flags"
## Describe the issue
ERROR: Failed to parse command-line flags

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
Versions:
  ensembl              : 87.f547798
  ensembl-funcgen      : 87.0577dd0
  ensembl-io           : 87.48cb128
  ensembl-variation    : 87.314c4e3
  ensembl-vep          : 87.27
- Perl ve

[2019-12-09 09:29] aparton commented on #656
Hi,

Thank you for your query. The flags --hgvsg and --transcript_version are not available in version 87 of VEP. Updating to the latest version of VEP (v98) will allow you to add these annotations to your output.

Kind Regards,
Andrew

[2019-12-09 09:44] aparton commented on #655
Hi,

Thank you for reporting this issue. This issue occurs when the VEP output is directed into a folder that doesn't exist. Making the directory '/opt/vep/.vep/output/' and rerunning your query should fix your issue.

I've had a look at our Docker documentation, and it could be a little clearer regarding the directory structure included within the docker image. I'll take a look at making some imp

[2019-12-09 10:13] PlatonB commented on #655
There are _/home/platon/vep_data/input/_ and _/home/platon/vep_data/output/_ folders. As far as I understand, `$HOME/vep_data:/opt/vep/.vep:Z` should make _/home/platon/vep_data/output/_ equivalent to _/opt/vep/.vep/output/_.

[2019-12-09 12:07] Hoeze commented on #530
Please re-open.
I got the same problem for VEP 98.3.
My input:
`vcf_df.select(["contigName", "start", "end", "referenceAllele", "alternateAlleles"]).filter("contigName == '22'").orderBy(["contigName", "start", "end"])`
It is definitively sorted.

[2019-12-09 13:26] Hoeze opened #658 "How to fetch JSON column header?"
Hi, is there a way to get the VEP field description for a certain command-line call?

Example call:
`vep --no_check_variants_order --dir_cache [...] --assembly GRCh37 --format vcf --output_file STDOUT --sift b --polyphen s --af_gnomad --no_stats --cache --offline --json --merged`

Is there a command to get the JSON field description?
What I'd expect would be something like this:
[code]

### System

[2019-12-09 13:47] aparton commented on #530
Hi @Hoeze,

Are you also using the gnomad dataset as your input file, or are you using your own file? If you're using your own file, could you please send a copy to helpdesk@ensembl.org so that I can take a closer look?

Kind Regards,
Andrew

[2019-12-09 14:00] ima23 commented on #627
Hi @CWYuan08,

Thank you for your patience, the fix has been now applied. If you reinstall VEP 98 updating the API, the change will get applied to your local installation.
Please don't hesitate to contact us if you are experiencing issues.

Kind regards,
Irina

[2019-12-09 14:24] aparton commented on #658
Hi,

Thanks for your query. VEP does not have the ability to provide JSON schema descriptions in this manner. To attempt to answer your query in a more generic way, VEP will attempt to ’numberify’ all JSON output fields that look like numbers, excluding the fields:

seq_region_name
id
gene_id
gene_symbol
transcript_id

Additionally, you can find information on all VEP output fields here: https://w

[2019-12-09 14:48] Hoeze commented on #530
@aparton I debugged the problem a little bit:

- [test.vcf.gz](https://drive.google.com/open?id=1yMlqJgTzFid6SgHK4sFF5GVXYFMUfRJz)
  This file has multiple alleles per line
- [normalized_test.vcf.gz](https://drive.google.com/open?id=1PBSGvdITep5NREbi-7qll45EnNUTbuJb)
  This is the same dataset but with normalized variants and only one alternate allele per line

The normalized one works without pro

[2019-12-09 15:51] Hoeze commented on #658
Thank you for your answer, Andrew.
Would it be possible to add this feature?

Not knowing the fields VEP will return requires to always read through the whole VEP output, once to infer the columns and a second time to actually read it.

The best case where this matters might be `hail`.
There you have to [hand-code the field description](https://hail.is/docs/0.2/methods/genetics.html?highlight=vep#

[2019-12-09 16:03] aparton commented on #530
Hi,

Thanks for these files. The file test.vcf.gz appears to be unsorted:

gunzip -c test.vcf.gz | head -n 10

##fileformat=VCFv4.2
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO
22	16135229	.	G	A	.	.	.
22	16091037	.	A	G	.	.	.
22	16086704	.	G	C	.	.	.
22	16133562	.	A	G	.	.	.
22	16124028	.	C	T	.	.	.
22	16122309	.	G	A	.	.	.
22	16163196	.	A	T	.	.	.
22	16151958	.	C	A	.	.	.

Sorting this file by position should

[2019-12-09 16:04] wentgithub opened #659 "can I install different version of vep in different directory?"
thanks for this powerful tool.
I have two questions,
 if I intall from git clone, and do the perl install.pl to install an old version before.

and now I want to install from conda of a new version,
1 will it affect the old version usuge?
 2  how can I set the version of my vep to keep the same version on different machines
conda install -c bioconda/label/cf201901 ensembl-vep

where can I find the

[2019-12-09 17:11] aparton commented on #655
Hi,

Thanks for this. If /opt/vep/.vep/output exists, then I suspect it's a permissions issue that's preventing docker from writing to $HOME/vep_data. Could you please run:

_chmod a+rwx $HOME/vep_data/output_

and try again?

Kind Regards,
Andrew

[2019-12-10 03:14] wentgithub commented on #659
the most important question is that I want to make the vcf output showing NM number, like
NM123.5(containing small version), I found there are two arguments maybe connected to this

**--merged and --refseq**
but I still do not find the file to download.

I used conda to install the vep, after excute `vep`, it shows

Possible **precedence issue** with control flow operator at **/data/ngs/softs/cond

[2019-12-10 08:01] wentgithub commented on #659
MSG: ERROR: Cannot map to LRGs in offline mode

command line arguments  contains ` --offline --cache_version 87  --lrg `

but if connect to the internet, it is too slow, is there some easy way to use the lrg resource?
thanks a lot

[2019-12-10 09:06] helensch commented on #659
Hi

Thank you for your queries.

With reference to your initial queries.

If the vep github installation and conda installation are in different locations you should be able to have both versions installed. I recommend updating to the latest version of VEP (v98)
While conda/bioconda installations of VEP exist, they are not maintained by us and as such not fully supported.

Get genomic HGVS nomencl

[2019-12-10 10:48] wentgithub commented on #659
thanks a lot @helensch.
1  there is a sentence in your link [](https://www.ensembl.org/info/website/tutorials/grch37.html ) The human assembly GRCh37 (also known as hg19), so the reference genome from gatk **(ucsc.hg19.fasta)** can also replace GRCH37_p13.fa, because I use  **(ucsc.hg19.fasta)** in bwa , am I right
<br>
<br>
2  how can I use the lrg , is there something I need to download
<br>
<br

[2019-12-10 11:35] ima23 commented on #659
Hi @wentgithub,

To answer you second set of questions and will answer the lrg question in your last message:

You can download the `merged` and `refseq` cache using INSTALL.pl and selecting the corresponding cache number. Alternatively you can download them manually. More information can be found the cache section: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache

The prece

[2019-12-10 14:45] wentgithub commented on #659
thanks a lot @helensch

no, because about one year ago, I used the vep, and I forget the details why I install  cache_version 87, maybe beacause at that time, I misunderstanded the GRCH37 version will stop at version 87,
<br>
1  though I have run the command line successfully , I am still a little confused.
homo_sapiens_vep_87_GRCh37.tar.gz is a more fast replacement of GRCh37_p13.fa or ucsc.hg19.

[2019-12-10 15:36] ima23 commented on #659
Hi @wentgithub,

If there is no particular reason to use cache 87, then we recommend you use 98 GRCh37 cache, this will have the latest data. For example ClinVar data, one of the sources you highlighted in your first post, is from 2019 in 98 vs 2016 in 87.

1. No. homo_sapiens_vep_87_GRCh37.tar.gz is not a replacement of GRCh37_p13.fa or ucsc.hg19.fasta. The tar.gz is the cache for variation data

[2019-12-11 10:12] PlatonB commented on #655
Now it works. Thanks!

This is not critical, but I would like to inform you that the output file has a "locked" icon.
![VCF_output_locked](https://user-images.githubusercontent.com/25541767/70611768-c8168a00-1c16-11ea-8bf2-9f8c50d48ed8.png)

[2019-12-11 13:23] wentgithub commented on #659
Thanks a lot for your answer @ima123.
I have another several questions want to confrim with you.
<br>
<br>
1  just like you proveide the Calculated variant consequences list in https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html, is there a **BIOTYPE list** detailed as that.
<br>
**BIOTYPE** rfefered to the following
<br>
##INFO=<ID=ANN,Number=.,Type=String,Description="Co

[2019-12-11 13:56] wentgithub commented on #659
then it detailed explanation of these exonic_variant_functoin annotations
![image](https://user-images.githubusercontent.com/48668142/70627406-249e9700-1c61-11ea-898e-583d260a9650.png)

3 here I want to ask whether the Consequence **synonymous_variant** is Exactly the same as **synonymous SNV** provided by annovar, because I need to exclude synonymous SNV in Tumor **Mutational Burden (TMB)** calca

[2019-12-11 15:22] CWYuan08 commented on #627
Dear @ima23,

thank you for getting back. Has the one in docker container also got updated? I need to run it through docker.

Best
Ulrika

[2019-12-11 15:32] ens-emily commented on #659
1. A list of Biotypes used to describe Ensembl transcripts can be found here: https://www.ensembl.org/info/genome/genebuild/biotypes.html

2. The box you indicate contains the sequence ontology consequences that cannot be plotted against that gene model. The table below the diagram on the documentation page lists the descriptions of the consequence terms: https://www.ensembl.org/info/genome/variat

[2019-12-11 16:00] wentgithub commented on #659
thanks a lot. vep team is really a great team.

so which one is recommend?
thanks a lot

[2019-12-11 16:01] ima23 commented on #627
Hi @CWYuan08,

The docker image will not automatically get this change in. To get the change in you will need to run `docker pull ensemblorg/ensembl-vep`.

Regrads,
Irina

[2019-12-11 16:03] ens-emily commented on #659
It really depends what is more important to your downstream analysis. If it is important that the annotation reflects the change to the RefSeq sequence as it is, --use_transcript_ref. If it is important that the annotation reflects the change to the reference genome sequence, --use_given_ref.

[2019-12-11 16:21] wentgithub commented on #659
I am a little Entanglement.
both seems important, I am more concerned which is more close to hgvs, is there a recommended one now, maybe hard for you too, but I think you are more experienced.
thanks

[2019-12-11 16:26] ens-emily commented on #659
We cannot make recommendations on this, only explain the options.

[2019-12-11 16:55] benjraspl commented on #654
Thanks a lot for answer, this is what I needed to know! I do have another question - but regarding another vep function! Do you want me to open a new issue for this?

[2019-12-11 16:57] aparton commented on #654
Hi,

Up to you, we'll do our best to answer it either way! If it's related, then it may be suitable here, however if it's unrelated then it may be best to open a new issue.

Kind Regards,
Andrew

[2019-12-11 17:30] benjraspl opened #660 "Use database w/ vep for HGVSg annotation"
Hi,
I have the problem of having to convert a set of cDNA variants (e.g. ENST00000375550.4:c.1143G>A)  to corresponding HGVS genome variants. Since this requires to not use local cache (at least thats what I figured) I added the --database flag and removed all flags leading to offline usage of the tool but I still get the following error:

STACK Bio::EnsEMBL::Registry::load_registry_from_db /mnt/S

[2019-12-11 17:31] benjraspl commented on #654
Hi, I just opened a new issue with my question!

Best, Benjamin

[2019-12-11 17:31] aparton commented on #654
Hi,

Excellent, I'll take a look. I'll close this issue now.

Kind Regards,
Andrew

[2019-12-11 17:31] #654 closed

[2019-12-11 18:03] aparton commented on #660
Hi,

It’s definitely possible to generate annotations as you describe with VEP, and as you’ve ascertained, you cannot use a cache file with HGVS as input. So you’ll need to use the database, which will be slower, but will work. I believe your connection issues are firewall related however.

If you want to connect to our GRCh37 database, then you need to add the parameter ‘—port 3337’ to your VEP c

[2019-12-11 20:14] benjraspl commented on #660
Hi,
so adding the --port=3337 flag did not help me, and I neither could access your database using the mysql command you provided. I will talk to an administator to figure things out on my side - thanks yet again for your help!
I will reply as soon as I know more about this!

Best,
Benjamin

[2019-12-11 23:41] PedroBarbosa opened #661 "Problems updating to VEP 98 cache"
Hi,

I'm having problems with the update, both for the GRCh37 and GRCh38 versions
My command is pretty simple:

```srun shifter -V=/mnt/nfs/lobo/IMM-NFS/ensembl_vep/cache:/media --image=ensemblorg/ensembl-vep:latest INSTALL.pl -c /media -a cfp -s homo_sapiens -y GRCh38 -g all```

[code]
On another trial:
[code]
Actually this last one is still running but it's taking way longer than what usually ta

[2019-12-12 09:55] aparton commented on #661
Hi Pedro,

It looks like Net::FTP is having trouble connecting to our FTP site to download the cache files. Could you please try to access the cache file directly with:

curl -O ftp://ftp.ensembl.org/pub/release-98/variation/indexed_vep_cache/homo_sapiens_vep_98_GRCh38.tar.gz

Additionally, are you able to access the cache file directly outside of the shifter image?

Kind Regards,
Andrew

[2019-12-12 10:32] dglemos commented on #633
I am closing this issue, but if you have any more questions please feel free to reopen it.

Best regards,
Diana

[2019-12-12 10:33] #633 closed

[2019-12-12 10:42] PedroBarbosa commented on #661
Hi,

Yes, usually when the update runs fine i can always access the cache on the server filesystem.

[code]
This one above didn't finish as well. now I checked the log:
[code]

Meanwhile, i'm downloading cache files directly as you suggested.
Best,
Pedro

[2019-12-12 11:13] aparton commented on #658
Hi,

I've had a discussion with the team about this request and it's something that we're going to look into. Thank you for the suggestion.

Kind Regards,
Andrew

[2019-12-12 11:13] ima23 commented on #626
I am closing this issue, but if you have any more questions please feel free to reopen it.

Best regards,
Irina

[2019-12-12 11:13] #626 closed

[2019-12-12 11:17] benjraspl commented on #660
So I just had talk with an administrator! The problem is that we have an authenticating proxy server running on our side. Does VEP support requests through those kind of proxies?

And another question: Since I have to annotate a rather large amount of variants I wondered if the file size restrictions for online requests through the command line tool are the same as when using the web interface bas

[2019-12-12 11:55] aparton commented on #660
Hi,

Unfortunately we do not support database connections of this type.

To allow you to use VEP to convert your HGVSc to HGVSg, I believe your options are:

1) Convince your systems administrator to make an exception for VEP - which may or may not be possible.

2) You could use web VEP to convert your HGVSc input into VCF format. You could then use this VCF with command-line VEP using the —cache,

[2019-12-12 13:23] benjraspl commented on #660
Thanks, unfortunitely making an exception for vep is not an option - i will go for the second option you suggested! Thanks for your help on this!

[2019-12-12 14:26] Hoeze commented on #658
Thanks a lot, Andrew!

[2019-12-12 16:14] wentgithub commented on #659
is there two columns like in annovar "funcRefgene", "exonicfuncRefgene" in vep result, it seems that there is only Consequence corresponding to "funcRefgene", but there is no region corresponding to "exonicfuncRefgene".

The exonic region includes anything that falls within the boxes in the diagram, both the coloured and non-coloured boxes. This means that the 5' and 3' UTR variants, and anything

[2019-12-12 16:38] MatthewPearsonRA opened #662 "VEP Results for Most Severe Consequence"
## Describe the issue
Using the VEP web interface for trying to find the "most severe consequence per variant" it returns all the consequences for the given variants, instead of returning only the most severe consequence for each given variant.

### Data files
Input:
rs1018434
rs1018430
rs1003878
Output Attached:
[rVxf3frVkFXc43bc.txt](https://github.com/Ensembl/ensembl-vep/files/3956843/rVxf3frVk

[2019-12-12 17:07] Hoeze opened #663 "VEP JSON output format for v98.3?"
Hi, I just tried to annotate variants with af_gnomad and return it as JSON.
However, I found that the actual output format differs from the [documentation](https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#json):

[code]

How do I interpret this? The gnomAD AF is missing as far as I can see.
Is gnomAD-AF just missing and  "--JSON" drops missing values from the output?

### System
- VEP

[2019-12-12 18:02] aparton commented on #662
Hi,

Thanks for this report. The --most_severe functionality provides a single consequence by ranking all consequences across all transcripts overlapped by the variant at a particular location. All transcript-specific columns are then left blank.

Each of the 3 variants you have provided map to multiple locations on the genome. While we normally exclude these variants from our output due to this a

[2019-12-12 18:37] aparton commented on #663
Hi,

We use gnomAD exomes v2.1 within our grch37 cache files. VEP cannot find a variant at that location in our gnomad files, and as such doesn’t return any data.

gnomAD genomes v2.1 does contain this variant however. If you would like to add gnomad genomes to your VEP output, you can see how to do that here: https://www.ensembl.org/info/docs/tools/vep/script/vep_example.html#gnomad <https://www.

[2019-12-12 18:54] Hoeze commented on #663
Ah, I see. Thank you for explaining :+1:

[2019-12-12 18:54] #663 closed

[2019-12-12 19:34] PedroBarbosa commented on #661
Hi,

The manual download also failed :/ there may be some problems with the FTP server..

`curl: (18) transfer closed with 4658457590 bytes remaining to read`

[2019-12-13 00:37] 4ureliek opened #664 "only vep_45 on ensembl for bacteria, not 98"
I am trying to run VEP on the species `haemophilus_influenzae_10810`.
I ended up making it work with `--fasta` and `--gff`, but I was more generally wondering if there was a way to use the cache?

I found these files for the cache:
ftp://ftp.ensemblgenomes.org/pub/bacteria/current/variation/vep/bacteria_20_collection/haemophilus_influenzae_10810_vep_45_ASM21087v1.tar.gz

### Docker:
`docker run -t

[2019-12-13 09:27] ima23 commented on #664
Hi @4ureliek,

Indeed the latest bacteria cache release is 45. Running your command with `-cache_version 45` should do the trick.
More info on how to run VEP with non-vertebrate species can be found here: https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#basic

Kind regards,
Irina

[2019-12-14 13:47] 2236529177 commented on #659
there are many annotaton has  **%3D**, I tried to find something with this, but failed. can you help me to figure out what it mean?
thanks a lot
<br>
![image](https://user-images.githubusercontent.com/25199946/70849548-d84e9380-1eba-11ea-8b5b-6fd64286bd33.png)

[2019-12-16 06:33] 2236529177 commented on #659
a variant "chr12   25398285        .       C       G", annovar gives the NM_004985.5，and the Reference answer is also NM_004985.5。
<br>
but vep version 98(both vep command version 98 and homo_sapiens_refseq_vep_98_GRCh37.tar.gz, homo_sapiens_vep_98_GRCh37.tar.gz) gives the
<br>
ANN=G|missense_variant|MODERATE|KRAS|3845|Transcript|NM_004985.3|protein_coding|2/5||NM_004985.3:c.34G>C|NP_004976.2:p.Gl

[2019-12-16 10:40] ens-emily commented on #659
@wentgithub All of the terms listed in the boxes that point to a rectangle, either a coloured rectangle or an empty rectangle are exonic. That means everything in the three boxes you have highlighted plus 5' UTR and 3' UTR.

[2019-12-16 10:46] ens-emily commented on #659
@2236529177

"%3D" is the ASCII code for "=", see http://www.asciitable.com/. Somehow the application you've opened this in has converted this. It means the variants are synonymous.

The VEP will give you every effect on every transcript a variant hits, which is why you see multiple results. The GRCh37 database is out of date, so only gives you data for the older versions of that RefSeq transcript

[2019-12-16 11:48] aparton commented on #660
Hi,

I'm glad we were able to come up with a workaround. I'm going to close this issue now. If you have any other questions, please feel free to reopen it or create a new one.

Kind Regards,
Andrew

[2019-12-16 11:48] #660 closed

[2019-12-16 11:49] aparton commented on #655
Hi,

Excellent, I'm glad that it's now working. Thanks for reporting the locked icon, we'll look into it.

I'm going to close this issue now. If you have any more questions, please feel free to reopen it or open a new one.

Kind Regards,
Andrew

[2019-12-16 11:49] #655 closed

[2019-12-16 15:38] 2236529177 commented on #659
yes, I see that,  I also do not know why not =, but %3D, no matter in linux, or visual studio, or office, it shows %3D.
<br>
as you know, annovar also has grch37 and grch38 version, but it gives the right version, and in clinical gene test, grch37 is the most widely used, so I have to use 37 insetead of 38. I guess it maybe something else that vep misses the very transcript

thanks a lot

[2019-12-16 17:12] aparton commented on #661
Hi Pedro,

We've had reports of issues with our FTP server last week that now appear to be resolved. Could you please try manually downloading the cache files again?

Kind Regards,
Andrew

[2019-12-16 17:20] PedroBarbosa commented on #661
Hi @aparton ,

Yes, it's now solved, thank you.
Best,
Pedro

[2019-12-16 17:20] #661 closed

[2019-12-17 12:58] at7 commented on #653
Hi @cruckert,

could you please share some of your input please? I'm testing with the following input:
1 160283 471362 DUP 1 ID1
1 1385015 1387562 DEL 1 ID2

And the variant IDs are added to the output file. First row of my output:
#Uploaded_variation Location  Allele  Gene  Feature Feature_type  Consequence cDNA_position CDS_position  Protein_position  Amino_acids Codons  Existing_variation  Extr

[2019-12-17 13:34] cruckert commented on #653
This way it works for me too, I only tried the identifiers as fifth column.

Maybe you can improve the example at https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#sv by adding a variant with these two extra columns, just as in the "Default VEP input" section

[2019-12-17 13:34] #653 closed

[2019-12-17 13:48] at7 commented on #653
We will update the example for our next release.

Best wishes,
Anja

[2019-12-17 16:09] aparton commented on #623
Hi,

I'm going to close this issue now. If you have any more questions, please feel free to reopen it or open a new one.

Kind Regards,
Andrew

[2019-12-17 16:09] #623 closed

[2019-12-17 16:09] aparton commented on #621
Hi,

I'm going to close this issue now. If you have any more questions, please feel free to reopen it or open a new one.

Kind Regards,
Andrew

[2019-12-17 16:09] #621 closed

[2019-12-17 16:10] aparton commented on #617
Hi,

I'm going to close this issue now. If you have any more questions, please feel free to reopen it or open a new one.

Kind Regards,
Andrew

[2019-12-17 16:10] #617 closed

[2019-12-17 16:23] helensch commented on #642
Hi

I am going to close this issue now. If you have any more questions, please feel free to reopen it or open a new issue.

Helen

[2019-12-17 16:23] #642 closed

[2019-12-17 16:28] dglemos commented on #638
I am closing this issue, but if you have any more questions please feel free to reopen it.

Best regards,
Diana

[2019-12-17 17:20] #625 closed

[2019-12-24 10:35] KoenDebackere opened #665 "Installation failure."
## Describe the issue
I try to install ensembl-vep according to the [instructions provided for macOS](https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html). All the prerequisites are installed according to the instructions. When running INSTALL.pl, all tests failed initially, but this could be overcome by installing Try::Tiny.
Now I get more or less the same errors as mentioned in

[2019-12-24 10:53] at7 commented on #665
Dear @KoenDebackere,
thank you for your detailed error report. Is it possible that you have already installed BioPerl? The errors look like there is a conflict with an existing BioPerl installation on your computer.
If that is the case we have previously suggested to:
1) Delete the ensembl-vep directory
2) Reclone VEP with ‘git clone https://github.com/ensembl/ensembl-vep
3) Ensure that the path t

[2019-12-24 11:21] KoenDebackere commented on #665
Dear @at7  Anja,

Thanks for your reply.  I already did that. I have a manual installation of BioPerl 1.6.924 and the path is correctly stored within my PERL5LIB variable:

`~$ echo $PERL5LIB
/Users/u0062120/perl5/BioPerl-1.6.924`

When I try another reinstall, I get the same error.

Moreover, since the installer installs BioPerl 1.6.924 as well, I ran the INSTALL.pl script in an new session witho

[2019-12-24 11:26] at7 commented on #665
The "Possible precedence issue with control flow operator" message can be ignored. I'm concerned about the second error related to the AnnotationSource::File::GFF and AnnotationSource::File::GTF tests. However, if you are not planning to use the custom annotation option I would suggest that you try running VEP regardless of those messages and we will look into it and get back to you with a solutio

[2019-12-27 03:37] ghost opened #666 "the gtf parameter is unavailable"
## Describe the issue

when using GFF/GTF transcript annotations as an annotation source, the VEP cannot proceed.
Error:
Can't locate object method "new" via package "Bio::EnsEMBL::VEP::AnnotationSource::File::GFF" at ~/ensembl-vep/modules/Bio/EnsEMBL/VEP/AnnotationSource/File.pm line 167.

## Additional information
Please fill in the following sections to help us find the source of your issue as

[2019-12-27 13:40] PedroBarbosa commented on #644
Hi,

I need to reopen this issue since I keep struggling with filtering consequences. I can't see what does the header has to do with the problem.

Instead of using filter_vep script I tried now apply the `--transcript_filter`option while running vep. In my case I selected `--per_gene --pick_order canonical --transcript_filter "SYMBOL is MYBPC3"`

All that I get is intergenic consequences. I can't

[2019-12-30 15:51] sabrunel opened #667 "Gene symbol missing in VEP output"
## Describe the issue
Gene symbol is missing for RefSeq transcripts on specific genes (eg. SCN2A, SYNJ1) when using the latest VEP release via both command lines (on Refseq cache) and the web interface.

## Additional information

We routinely use VEP release 96 for vcf annotation and initially encountered the bug on a SCN2A variant (chr2:g.166165305G>A) when running the command line below. We sin

[2020-01-02 09:43] sabrunel commented on #667
Downsampled input and output files can be found at: https://gist.github.com/2c0d1bb02df8f39b7d461c26ad5a8508

[2020-01-02 11:36] aparton commented on #666
Hi,

Thank you for your query. I've had a look this morning and I'm unable to reproduce this issue.

Could you please try running your query with this GTF file - ftp://ftp.ensembl.org/pub/release-98/gtf/homo_sapiens/Homo_sapiens.GRCh38.98.gtf.gz - and let me know if you get any errors?

If this file works successfully, could you please send me a sample of your GTF file that reproduces this issue?

[2020-01-03 00:45] liangdyGao commented on #666
Sir，&nbsp;
thanks for your anwer&nbsp;

&nbsp; The gtf file I used was download​ from gencode, the version is&nbsp;GRCh37(32). The gtf file the you suggested cannot&nbsp; seem to improve the&nbsp; situation, although the version isnot suitable for my annotation And the problem remains.

&nbsp; I think that the big thing is not the gtf or gff file, but the module which can't create variables via th

[2020-01-03 05:51] GSYongWu commented on #519
Dear Irina,
Is it resolved now? I found the same problem in the v98.3 version, or are there any special parameters?

Best regards,
Yong

[2020-01-03 16:24] aparton commented on #519
Hi Yong,

This update is not currently available. It is currently scheduled to be available in April.

Kind Regards,
Andrew

[2020-01-03 16:45] aparton commented on #667
Hi,

Thanks for this report. I've been able to reproduce the bug at this end. We'll look into getting a fix in place and I'll keep you up to date on its progress.

Kind Regards,
Andrew

[2020-01-03 17:32] aparton commented on #666
Hi,

It looks as if VEP can find some modules within Bio::EnsEMBL::VEP, but not others, which leads me to suspect that something has gone wrong within the installation process. Could you please reinstall the ensembl api by running:

 perl INSTALL.pl --AUTO a

and send me the full output of this command?

Kind Regards,
Andrew

[2020-01-03 17:55] aparton commented on #644
Hi Pedro,

Could you please send me a copy of your input file where you'd expect to see variants matching that filter, and I can take a closer look?

Kind Regards,
Andrew

[2020-01-06 09:46] at7 commented on #665
Hi @KoenDebackere,
how have you been getting on? Considering that you have already installed htslib through homebrew could you please try running the VEP installation with perl INSTALL.pl --NO_HTSLIB?
Thank you,
Anja

[2020-01-06 21:15] serge2016 opened #668 "Bio-HTS --> Bio-DB-HTS"
Hi.
Here https://github.com/Ensembl/ensembl-vep/blob/release/98/INSTALL.pl#L898 there is an old link to the repo: https://github.com/Ensembl/Bio-HTS. Now it is https://github.com/Ensembl/Bio-DB-HTS.

Moreover, I think the code in https://github.com/Ensembl/ensembl-vep/blob/release/98/INSTALL.pl#L921 is unnecessary for current version (3.01) of `Bio-DB-HTS`.

And in the line https://github.com/Ense

[2020-01-07 01:18] liangdyGao commented on #666
Sir，

I  reinstalled the ensembl api by running: perl INSTALL.pl --AUTO a. Unfortunately, something went wrong. I had no idea what was happening.

The output is shown below.

        I'm sorry that I caused you any trouble.

Sincerely yours
Liangdy

-------------------- EXCEPTION --------------------
MSG: ERROR: Cannot use format gff without Bio::DB::HTS::Tabix module installed

STACK Bio::EnsEMBL

[2020-01-07 09:01] serge2016 opened #669 "check_api() should be executed before api()"
Hello!
For now, in AUTO mode API is installed without any checks for already installed components. Maybe it would be better at least run `check_api()` before?

[2020-01-07 14:16] ima23 commented on #668
Hi @serge2016 ,

Thanks for the pointers, we will have a look and revise the script.

Thanks,
Irina

[2020-01-07 14:26] ima23 commented on #669
Hi @serge2016,

Thanks for the message. AUTO runs is meant to run without any additional prompts.
If you want to only run specify parts of the install, you can use the AUTO options, for example **c** for cache:

`perl INSTALL.pl --AUTO c`

The other AUTO options are listed [here](http://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#installer).

Thanks,
Irina

[2020-01-07 14:44] serge2016 commented on #669
@ima23, I do know the options pretty well)
I suggest adding autodetection of already installed modules in the AUTO mode. At least a part of such functionality is already implemented in `check_api()`, why not to reuse it?

[2020-01-08 12:19] KoenDebackere commented on #665
Hi Anja,
I have been using VEP despite the errors and so far everything seems OK. I use VEP in combination with an adapted version of vcf2maf.pl to annotate vcf4.1 files from VarScan2 and convert them tw .maf files for visualisation with the Maftools package.
I will try to reinstall with --NO_HTSLIB out of curiosity.

Best regards,

Koen

[2020-01-08 13:14] #662 closed

[2020-01-08 21:55] hadjie01 commented on #638
Hello Diana,

I noticed that the ExAC plugin available for GRCh38? If not, could it be possible to make it available?
I appreciate your help!

Best Regards,
Evi

From: Diana Lemos <notifications@github.com>
Sent: Tuesday, December 17, 2019 11:29 AM
To: Ensembl/ensembl-vep <ensembl-vep@noreply.github.com>
Cc: Hadjimichael, Evi <evi.hadjimichael@mssm.edu>; Mention <mention@noreply.github.com>
Subjec

[2020-01-09 11:18] dglemos commented on #638
Hello @hadjie01,
The ExAC plugin is only available for GRCh37, we don't have plans to support it for GRCh38.
We recommend to users that they use gnomAD frequency data as built into our cache files, as an alternative to ExAC, or to retrieve the frequency data using custom annotation. You can read more here: https://www.ensembl.org/info/docs/tools/vep/script/vep_example.html#gnomad

Best regards,
Di

[2020-01-09 11:56] aparton commented on #667
Hi,

I've looked into this issue over the last couple of days. In short, this is an issue that we expect to fix with our planned GRCh37 projected RefSeq annotations update for release 100 - currently scheduled for release in early April.

In a little more detail, this issue appears only when you're using the GRCh37 data with the flags --cache and --refseq, and for specific transcripts. In human, w

[2020-01-09 12:09] aparton commented on #666
Hi,

Happy to help! Could you please:

1) Check that the Bio::DB::HTS::Tabix module is located in the ensembl-vep directory at:  /home/biosoft/soft/lib/vep/ensembl-vep/Bio/DB/HTS/Tabix.pm

2) Check that your ensembl-vep folder is included within your PERL5LIB. If not, you can add it with:

export PERL5LIB=${PERL5LIB}:/home/biosoft/soft/lib/vep/ensembl-vep

3) Rerun your initial command, and send m

[2020-01-10 15:17] borissim opened #671 "Contributing variants missing in JSON output"
## Describe the issue
Running Haplosaurus on:
[code]

The generated JSON file in the `protein_haplotypes` field reports an empty list for the `contributing_variants` for both protein haplotypes, even though both variants are applied in one. It is then harder to programmatically decide if and which haplotype contains a mutated protein sequence.

### System
- VEP version: 95
- VEP Cache version: 95

[2020-01-13 11:19] aparton commented on #668
Hi @serge2016,

Thanks for the suggestions. Regarding the old repository and the Build.PL patching, both of these changes would be improvements to our installation scripts and pull requests have been submitted to add these.

Regarding adding a HTSLIB_DIR check, if a user has a previously installed HTSLIB on their machine then we don't want to use it by default as we've had compatibility issues in

[2020-01-13 13:07] at7 commented on #671
Dear @borissim,

thank you for the report. I can reproduce the error and have suggested a fix. I will let you know once the fix has been merged into our VEP code base.

Best wishes,
Anja

[2020-01-13 14:09] at7 commented on #671
I have merged the bug fix into the release/99 branch. We are planning to have the 99 release this week. I will let you when the release is out. Could you upgrade your code base and cache files to the latest version after the release?

[2020-01-13 14:16] borissim commented on #671
Thanks Anja!
I can test the latest release when it is out.

[2020-01-14 11:29] genomics-geek commented on #622
@sarahhunt thanks for the info. So if I understand correctly in the March release VEP will update RefSeq?

I understand how to use the BAM in VEP, but I don’t see in the docs how to use the GFF file for RefSeq. Maybe I missed it in the docs?

[2020-01-14 11:37] aparton commented on #622
Hi,

You can use GFF files with VEP with the --custom flag. You can read more information about it here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html

And yes, our March/April release will include the newer RefSeq set for GRCh37.

Kind Regards,
Andrew

[2020-01-14 12:48] genomics-geek commented on #622
Thank you @aparton

[2020-01-14 15:14] genomics-geek opened #674 "Annotation is different with more variants in VCF"
## Describe the issue

When a VCF has additional variants, it seems to annotate differently.  For example, the variant (2:166170271 G/A) does not have gene_symbol annotation when the VCF has more variants.

### System
- VEP version: 97.3
- VEP Cache version: 97
- Perl version: 5.26
- OS: RHEL7
- tabix installed: yes

### Full VEP command line for scenario one (properly annotated)

[code]

### Data

[2020-01-14 15:58] at7 commented on #674
Dear Michael,

thank you for your detailed error report which helped to quickly reproduce the problem. We are aware of the underlying cause which has been explained in more detail [here](https://github.com/Ensembl/ensembl-vep/issues/667#issuecomment-572529539). We will be fixing the cache files for release 100 expected for the beginning of April. I will create a ticket and send you a message when

[2020-01-14 19:54] nroak opened #675 "Install default options error"
## Describe the issue
I'm trying to install VEP per the instructions and getting an error below:

[code]

I've followed the instructions [here](http://useast.ensembl.org/info/docs/tools/vep/script/vep_download.html) and I had to set up my local Perl libraries per the solution [here](https://github.com/Ensembl/ensembl-vep/issues/149).

### System
- VEP version: 98
- Perl version:  5.20
- OS: Linux

[2020-01-15 11:03] aparton commented on #675
Hi,

The two most common reasons for the VEP version check to fail are:

1) Internet connectivity issues when running the installer
2) Lack of write permissions to the ensembl-vep folder

Could you please check that your internet connection is working properly and that the VEP installer has permission to write in the ensembl-vep directory, and try again?

Failing that, could you please run:

curl

[2020-01-15 15:50] iranmdl opened #676 "VEP VS Haplosaurus results discrepancy"
## Summary
I have run VEP using a custom database providing a GTF file using --gtf argument. VEP annotates the unique provided input variant as frameshift. However, when I try to run haplosaurus in the same way however, I got the following message:

[code]
See the provided input and output files for more debugging.

### Full VEP and haplosaurus command line
[code]

### Full error message
[code]

#

[2020-01-16 11:22] benjraspl opened #677 "VEP not annotating all input variants"
I try to annotate a sorted vcf file using the vep and I require the output to have the same amount of variants as the input. However while my input has 80281 entries, my output only has 80069 and I am clueless as to why this is happening.

My vep version is 98.3 and I am using the following flags for running the job:

```*path2vep*/vep --format vcf -i trash_me.vcf -o annotated_trash_me.vcf --vcf -

[2020-01-16 11:56] at7 commented on #671
Hello,
the new release 99 is now available. Please install the latest version of VEP and try running your input again. Let me know if the problem isn't resolved.

Best wishes,
Anja

[2020-01-16 12:22] at7 commented on #676
Dear @iranmdl,
thank you for your issue report. There are two reasons why you are not getting any results.
1)your input data needs to be [phased](https://www.ensembl.org/info/docs/tools/vep/haplo/index.html#hp_usage)
2)the coordinates of your transcript in your input GTF file don't include all the exons and especially not the exon which overlaps the input variant. VEP and Haplosaurus parse GTF fil

[2020-01-16 12:32] at7 commented on #677
Dear @benjraspl,
have you checked the warnings file for any clues why some of your input variants have been excluded? It should be called annotated_trash_me.vcf_warnings.txt. Are you excluding the header lines in your counts? Could you please run the command again but this time without --plugin, --fields and --custom. This will help me to exclude a few reasons why the variants might be missing.

T

[2020-01-16 12:54] benjraspl commented on #677
Dear Anja,

thanks for your fast reply! The header lines are excluded in the counting of lines and sadly I did not recieve a warnings file for my job. I am currently running the job w/o the plugins, fields and custom flags and also removed to no_stats flag for good measure. I will get back to you as soon as my job is finished!

Best, Benjamin

[2020-01-16 15:13] benjraspl commented on #677
So the jobs just finished and i checked the counts output files, the variants are exactly the same. I also checked the counts again - they did include  header lines (sorry for that) but still the number of variants differ between in and output! (As can be seen in the summary.html). Sadly there weren't any warnings file outputted for any of the jobs.

I uploaded the in- and output files can be foun

[2020-01-16 15:17] at7 commented on #677
Thank you for the input file. That should help me to reproduce your results and hopefully also find the reason for the missing variants. I get back to you as soon as I know more.

[2020-01-16 16:20] at7 commented on #677
Your input file contains 221 variants without an alt allele. The alt is only given as '.' for example:
`17      37822311        177801  A       .       .       .       .`
VEP ignores those input lines and that explains the discrepancy in counts.

Best wishes,
Anja

[2020-01-16 16:38] matthdsm commented on #498
Seconded! IMO, vep should be able to output HGVS notations according to the most recent recommendations.

Cheers
M

[2020-01-16 16:40] matthdsm commented on #537
While you’re at it, whats your stance on updating gnomad to V3? The dataset is hg38 native, which is a huge plus (to me at least).

Cheers
M

[2020-01-20 09:11] sabrunel commented on #667
Hi,

Thank you for your detailed reply, we'll be looking forward to the next release!

Kind regards,
Samantha

[2020-01-20 17:02] iranmdl commented on #676
Thank for the quick answer!
I did not realize about the transcript coordinates! That fixed the issue!
Thank you again!
Best,

[2020-01-20 17:05] at7 commented on #676
Great! Thank you for letting us know.

[2020-01-20 17:05] #676 closed

[2020-01-21 06:16] ZhangXiujuan opened #678 "WARNING: Plugin 'CADD' went wrong: ERROR: No start specified"
Hi，

I am using vep(v97.3) to annotate vcf, and I get the following error:
[code]

command line:
[code]

Any suggestions？
Thanks.

[2020-01-21 11:59] at7 commented on #678
Dear @ZhangXiujuan,

the error message suggests that at least on of your input variants has a start position which is smaller or equal to 2. The plugin uses those input coordinates to fetch data from the CADD file. However, for the start position it subtracts 2 to make sure that indels are included when fetching data from the CADD file. I updated the CADD plugin to check the start position before

[2020-01-22 03:26] ZhangXiujuan commented on #678
I updated the `CADD.pm`, but still reported that error.
And i found a special mutation starting with `1`.

[2020-01-22 15:37] at7 commented on #678
I tested the plugin with a single variant. Could you please use my input file
[pos_one_variant.vcf.gz](https://github.com/Ensembl/ensembl-vep/files/4098061/pos_one_variant.vcf.gz) to see if it is throwing a warning? If it does throw the same warning could you please check that the correctly updated CADD.pm file is used? And if it doesn't throw a warning could you please share your variant starting

[2020-01-27 09:34] MCH74 opened #680 "homo_sapiens not found in --offline mode"
Hi,
I'm trying to run vep in offline mode on a non-model organism, for which I have GFF and genome sequence files stored locally:
~ensembl-vep/vep --offline -i total_filtered.vcf --gff ~GCF_000214255.1_Bter_1.0_genomic.gff --fasta ~/GCF_000214255.1_Bter_1.0_genomic.fna

But I get this error:
-------------------- EXCEPTION --------------------
MSG: ERROR: Cache directory /home/h/harrisom/.vep/homo_

[2020-01-27 12:01] aparton commented on #680
Hi,

Could you please try running VEP without the --offline flag? Running VEP with --gff and --fasta does not require an internet connection, however I suspect that the offline flag is leading to VEP looking for a cache file.

Kind Regards,
Andrew

[2020-01-27 23:36] anderspitman opened #681 "Why is the Dockerfile so complicated?"
Based on the installation instructions, I would expect the Dockerfile to essentially be a thin wrapper around `git clone` and `perl INSTALL.pl`, but it seems to be doing way more than that. How much of it is necessary if I wanted to make my own image? I'm specifically using singularity, not Docker.

[2020-01-28 07:55] ertanyilmaz38 opened #682 "I have crash error VCFCollectionAdaptor.pm"
hello dear Offical:
ı have big problem  my ensembl-vep release/99 not working.

is error message:
`WARNING: Failed to compile plugin G2P: Can't locate JSON.pm in @INC (you may need to install the JSON module) (@INC contains: /home/detagen/.vep/Plugins /home/detagen/Desktop/programlar/ensembl-vep/modules /home/detagen/Desktop/programlar/ensembl-vep /etc/perl /usr/local/lib/x86_64-linux-gnu/perl/5.2

[2020-01-28 08:37] #682 closed

[2020-01-28 09:55] aparton commented on #681
Hi @anderspitman,

Our Docker image is designed to be as lightweight as possible, while still providing full VEP functionality. Modules that are necessary only for installation are removed to reduce the file size of the produced image. Additional modules such as ensembl-xs and Bio::DB::BigFile are included within the Docker image in order to optimise runtimes and allow users to work with bigWig fi

[2020-01-28 19:00] serge2016 commented on #681
Similar question: https://github.com/Ensembl/ensembl-vep/issues/451

[2020-01-29 01:52] jeongmeani opened #683 "Argument "" isn't numeric in numeric eq (==) at VEP.pm"
Hi,
now i'm analyzing WES data.
and i have run Mutect then did annotation using vep.

but it returns message

"" Argument "" isn't numeric in numeric eq (==) at /data/tools/VEP_install/ensembl-vep-release-98/modules/Bio/EnsEMBL/VEP/OutputFactory/VCF.pm line 373. ""

how can i fix this?

my code is
`vep --input_file TNB_33.mutect.filtered.vcf.gz --output_file test.annot2.vep.vcf --format vcf --vcf

[2020-01-29 09:38] aparton commented on #683
Hi,

Could you please run your query without the Wildtype and Downstream plugins, and let me know if this reproduces the message? If it does, could you please send me a copy of your input file so I can take a closer look?

Kind Regards,
Andrew

[2020-01-29 18:55] anderspitman commented on #681
Excellent, thanks for the explanation and linked issue.

[2020-01-29 18:55] #681 closed

[2020-01-30 00:21] jeongmeani commented on #683
i ran my query without the Wildtype and Downstream plugins, and it didn't print error message like above!
was there a problem about plugin?

Thank you!

Best Regards.
Jeongmin

[2020-01-30 10:32] aparton commented on #683
Hi,

Excellent, thanks for this. The Downstream plugin was created by us, however Wildtype was developed by a different group and as such you would need to contact them regarding issues if it transpires that this plugin was causing the issue.

Could you please try running your analyses again with only the Downstream plugin to check which plugin it is that's causing the issue?

Kind Regards,
Andrew

[2020-01-31 01:05] jeongmeani commented on #683
OK!
The run is completed.

With Downstream plugin, it gives message.
and what would i do-?

Thank you!

Best regards
Jeongmin

[2020-01-31 09:37] aparton commented on #683
Hi,

Could you please send me a copy of your input file so I can take a closer look? If it's too large to be sent through here, please email a copy to helpdesk@ensembl.org

Kind Regards,
Andrew

[2020-01-31 15:28] Alasiriab2 commented on #683
I'm facing the same issue right now LoF plugin.

[2020-01-31 15:29] aparton commented on #683
Hi @Alasiriab2,

Thanks for this report. Could you please send me a copy of your input file and I can take a closer look?

Kind Regards,
Andrew

[2020-02-03 04:21] jeongmeani commented on #683
sorry for late reply.
OK!
i send the input file now!

Best Regards.
Jeongmin

[2020-02-03 07:00] DarioS opened #685 "Additional Filtering Using Patient-Matched RNA BAM File"
Labelling a mutation as a Missense Mutation suggests that it is expressed as a protein, so would need to be detectable at the RNA level as a pre-requisite. Could the software allow the user to input a RNA-seq BAM file of the same patient sample for which the VCF file was created from normal and tumour DNA-seq data and filter out SNVs and indels in genes that aren't even transcribed in the particul

[2020-02-04 09:30] aparton commented on #685
Hi Dario,

Thank you for the suggestion. I’ll chat to the team about it later this week and get back to you with our thoughts.

Kind Regards,
Andrew

[2020-02-05 00:18] jeongmeani commented on #683
Hi,

the day before yesterday, i sent you the input vcf file that occurs warning message.
but you don't read the mail so far.
so i guess this mail is sent to your spam.
could you please this mail?

Thanks!

Best Regards.
Jeongmin

[2020-02-05 08:56] aparton commented on #683
Hi,

Thanks for sending on the file. I'll take a look today and let you know when I know more.

Kind Regards,
Andrew

[2020-02-05 10:00] DarioS commented on #685
I'm looking forward to it. I know it's an ambitious feature request.

[2020-02-06 16:19] cruckert opened #688 "Feature with dupl (e.g. NM_001122636.1_dupl17.1) in GRCh37 Refseq cache"
Using VEP version 99 with refseq cache some of my variants get annotated with strange transcripts:

13_114435807_A/G with NM_002929.2_dupl18.1

12_132853709_C/T with NM_001122636.1_dupl17.1
[](url)
There was a [Biostars posting](https://www.biostars.org/p/312593/) 2 years ago  saying it will be fixed and with advice to ignore these annotations, as they are duplicates of the same transcript with an

[2020-02-07 17:46] aparton commented on #688
Hi,

Thanks for this report. I've been able to reproduce this at my end, I'll look into the source of these transcripts and get back to you when I know more.

Kind Regards,
Andrew

[2020-02-10 17:03] ima23 commented on #627
Hi @CWYuan08,

The docker image for the latest Ensembl VEP release 99 contains these changes.
Please let us know if you are experiencing the issue using the latest docker image.

Kind regards,
Irina

[2020-02-12 12:59] fgvieira opened #690 "filter_vep add label to FILTER field"
Dear all,

as it is now, all variants that match the filtering criteria are excluded.
Would it be possible to add an option to add (or replace) a label under the FILTER field? Like `bcftools filter` option `--soft-filter --mode +`. For example, the variant:
`1       17556   .       C       T       64.6    PASS`
would become:
`1       17556   .       C       T       64.6    failed_af`

or, if varia

[2020-02-12 13:47] dglemos commented on #690
Hi @fgvieira,

Just to know if I understand what your suggestion: you mean to change the value in 'FILTER' column (in vcf format) to a value that says this variant passed the `filter_vep` criteria?

[2020-02-12 17:26] fgvieira commented on #690
well, change (or append) the FILTER column to some specific label if it did not match the `filter_vep` criteria.

[2020-02-13 12:13] aparton commented on #688
Hi @cruckert,

Thanks for this report. The BioStars link is correct, these transcripts can be ignored. For both of the example transcripts provided, the associated 'non-dup' transcript is in fact in a different location, so missing the transcript is the correct way to interpret this result.

We are making significant updates to our GRCh37 annotations for Ensembl 100, currently scheduled for releas

[2020-02-13 15:55] dglemos commented on #690
Thank you for the suggestion. We're going to look into adding this option to filter_vep.

[2020-02-13 20:48] nroak commented on #675
This is the output I'm getting for this.
[code]

[2020-02-14 12:06] crispgc opened #691 "Conflicting c.HGVS annotation"
Hi,
I'm annotating human variants with the VEP tool (version 99.1 for cache files and VEP software) and I might have detected an issue with a variant. Concretely, I'm talking about the variant 10:89720852-C-T, from which I've seen diferent cHGVS annotation in different platforms/websites:

- Ensembl-VEP:
  - NM_000314.4:c.1003C>T
  - **NM_000314.6:c.1004C>T**
- ClinVar:
  - NM_000314.7:c.1003C>T (

[2020-02-14 17:23] hadjie01 commented on #638
Hello Diana,

I would like to use the gnomADc frequency data so I downloaded the gnomAD data using the commands provided in gnomADc.pm:

However, I am getting an error with this command and not sure how to proceed .. could you please assist me on this matter? I am pasting the issue below.

Downloaded: 23 files, 1.3M in 0.4s (3.02 MB/s)
[tabix] was bgzip used to compress this file? console.cloud.go

[2020-02-17 11:03] aparton commented on #691
Hi Jonas,

Thanks for this report, it is an issue we are aware of. As you probably know, not all RefSeq transcripts completely match the reference genome. In cases where they don't, we are now using alignment files provided by NCBI to create a new reference, matching the transcript, and use this for consequence calling.

Our HGVS calculation does not currently use this reference modification, but

[2020-02-17 11:14] crispgc commented on #691
Hi @aparton,

As I understand from your answer, the feature would be available for GRCh37?

Best Regards and thanks for the quick answer.
Cristian

[2020-02-17 14:14] dglemos commented on #638
Hi,
The gnomADc plugin retrieves data from coverage files which is probably not what you want to use. The coverage files are TXT format, running tabix on these files generates the error you're seeing.

To get frequency data from gnomAD you need to follow the instructions from [this page] https://www.ensembl.org/info/docs/tools/vep/script/vep_example.html#gnomad). On this page, you can find the lin

[2020-02-18 01:32] hadjie01 commented on #638
Hello Diana,

Thanks for the response!

According to the link below, I’ll need to use the following command to get gnomADc frequency data:
./vep -i examples/homo_sapiens_GRCh38.vcf --cache \
--custom gnomad.genomes.r2.0.1.sites.GRCh38.noVEP.vcf.gz,gnomADg,vcf,exact,0,AF_AFR,AF_AMR,AF_ASJ,AF_EAS,AF_FIN,AF_NFE,AF_OTH

But I am already using a --custom gtf annotation. Can I still use the above comman

[2020-02-18 11:20] dglemos commented on #638
You can use the two commands at the same time. You just add the `--custom gnomad.genomes.r2.0.1.sites.GRCh38.noVEP.vcf.gz,gnomADg,vcf,exact,0,AF_AFR,AF_AMR,AF_ASJ,AF_EAS,AF_FIN,AF_NFE,AF_OTH` to your previous command.

[2020-02-18 11:51] tskir commented on #519
Hi @aparton, it looks like some behaviour which I observe is also related to this issue. Namely, the VEP (GRCh38) reports the most severe consequences as:
* **10:125798142:T:TC** → frameshift_variant
* **10:125798146:C:CC** → splice_acceptor_variant

...even though those two denote exactly the same variant.

Could you give a little more detail on how the update is planned to work — will this be an

[2020-02-18 14:48] aparton commented on #519
Hi @tskir,

For release 100 (currently scheduled for release in late March/early April), insertions and deletions in repeated regions will be shifted as far as possible in the 3' direction before consequence calculations. Initially, this functionality will have to be switched on by adding an optional flag to your VEP command, however we expect that we will switch this behaviour to default in a fut

[2020-02-18 15:47] hadjie01 commented on #638
Hello Diana,

Thank you!

I have a couple of more questions. Can I use gnomAD v3.0 instead of v2.1? In that case I would just need to download the ‘All Chromosomes VCF’ https://gnomad.broadinstitute.org/downloads, right?

In my output file I only get ‘gnomADg=rs904983435;gnomADg_FILTER=PASS’, not frequency values.

Best,
Evi

From: Diana Lemos <notifications@github.com>
Sent: Tuesday, February 18,

[2020-02-18 16:47] dglemos commented on #638
You can use v3.0 downloaded from https://gnomad.broadinstitute.org/downloads for all chromosomes.

When using the file you need to check if the header names match the names in your command, for instance, if in the file header it's `##INFO=<ID=**AC_afr**` your command has to be `gnomad.genomes.r2.0.1.sites.GRCh38.noVEP.vcf.gz,gnomADg,vcf,exact,0,**AC_afr**` an so on for the other columns.

[2020-02-18 17:28] NLSVTN commented on #149
I installed Bioperl, set PERL5LIB and it did not help. I am still struggling with just basic 'perl INSTALL.pl' script. Asked it on biostars:

https://www.biostars.org/p/422309/

[2020-02-18 22:33] NLSVTN commented on #149
The solution to the issue that I was facing was the following:

1. Run `cpanm Module::Build`
2. Set `PERL5LIB=/opt/gris/perl5/lib/perl5/`
3. Run as a root: `yum install enablerepo=rpmforge perl-Try-Tiny`
4. Run `cpanm autodie`

[2020-02-19 10:49] aparton commented on #149
Hi @NLSVTN,

Thank you for this report. I'm glad you were able to resolve your issue.

If you have any other questions, please don't hesitate to open a new ticket.

Kind Regards,
Andrew

[2020-02-19 17:53] cnavery opened #693 "VEP install failure... Bio::DB::HTS module?"
Recently updated VEP from v97  (using INSTALL.pl) and now executing vep results in the following error:

[code]

I'm having trouble understanding why this might be occurring. It looks like it may be an issue with Bioperl, but it's not clear to me if I should try to reinstall or manually install the Bio::DB::HTS module?
Unfortunately, I no longer have the output from the initial install test.

[2020-02-19 17:56] aparton commented on #693
Hi,

Could you please check if the directory /ybod2/cavery/Bin/ensembl-vep/Bio/Ensembl/IO exists?

If it's missing, then it looks like INSTALL.pl has failed for some reason, and in this case could you please run:

perl INSTALL.pl --AUTO a

and send me the output?

Thanks,
Andrew

[2020-02-19 18:29] NLSVTN opened #694 "Debug output issue"
I am having issues debugging **VEP** because it is hanging without giving me any output. I posted the issue on 2 different forums:

https://discuss.hail.is/t/no-vep-debug-output/1302
https://www.biostars.org/p/423083/

Basically what happens is that after certain point while fixing issues (for instance absent cache files) with VEP, it stopped producing any output instead just hanging. When I run i

[2020-02-19 21:24] cnavery commented on #693
The directory doesn't exist, so I reran the install.pl script as you mentioned and got the following:

[code]

Does it look like the object "get_BindingMatrix" could be a common theme?

[2020-02-20 08:54] aparton commented on #694
Hi,

Unfortunately if VEP is working fine then we will be unable to help you debug this issue, as it looks as if it's related to your Hail Luigi pipeline.

However, the VEP command you mentioned on BioStars asks VEP to provide a lot of annotations - with the --everything flag switched on and multiple plugins, then VEP can take a long time to produce a result. A list of possible optimisations can b

[2020-02-20 09:01] aparton commented on #693
Hi,

It looks as if you have multiple versions of the ensembl API installed on your machine, and different versions of different modules are interacting with each other.

Your @INC variable (and presumably PERL5LIB) contains reference to paths such as '/ybod2/cavery/Bin/ensembl-funcgen/modules', which I suspect are being used instead of the Ensembl API modules that VEP has just installed.

Could y

[2020-02-20 15:34] NLSVTN commented on #694
Not really, regular VEP command that you can find in the attached links is not working. So, simple command for testing is working but the real world one is not.

[2020-02-20 17:22] ranijames opened #695 "VEP throwing index error even though the input GTF file is indexed using tabix"
Dear All,
I am trying to use VEP docker image for predicting protein interactions of my variants(.vcf file).
Here is what I tried, within my docker container,

`./vep --cache --offline --format vcf --force_overwrite --gtf /opt/vep/.vep/Homo_sapiens.GRCh38.97.gtf.gz --species homo_sapiens --dir_cache /opt/vep/.vep/ --dir_plugins /opt/vep/.vep/Plugins/ --input_file /opt/vep/.vep/ukb_SPB_50k_exome_se

[2020-02-20 17:37] cnavery commented on #693
I removed the directories from PERL5LIB and it doesn't seem to have changed anything, as per the error below:

[code]

[2020-02-20 18:03] cnavery commented on #693
Your guidance had me thinking and I checked my .bashrc and also removed the paths for perl5 local lib, perl5 bin, etc, not just those in @inc. Turns out this was the problem, as the install now proceeds as usual.
Thank you for your help!
[code]

[2020-02-20 22:26] cnavery commented on #693
Running into an error when executing VEP that I feel might be related to the initial problems I was running into while installing...

[code]

Please let me know if you have any advice on the matter

[2020-02-20 22:39] NLSVTN opened #696 "DBD::SQLite::db prepare failed: no such table: phylocsf_summary"
I am trying to run **loftee** as a part of **VEP** with the following command:

`/vep/ensembl-tools-release-95/vep -i SF0637658_WES_CIDR.vcf --format vcf --json --everything --allele_number --no_stats --cache --offline --minimal --verbose --assembly GRCh38 --dir_cache /vep/vep_cache --fasta /vep/homo_sapiens/95_GRCh38/hg38.fa --plugin LoF,loftee_path:/vep/loftee_grch38,gerp_bigwig:/vep/loftee_data

[2020-02-21 08:57] at7 commented on #696
Hello,
we are not looking after the LoF plugin. Could you please ask questions related to the plugin [here](https://github.com/konradjk/loftee)?
Best,
Anja

[2020-02-21 09:19] at7 commented on #693
Hi,
autodie is a perl module used by the funcgen API which VEP uses for annotating regulatory elements. The module was already required in release/97. Is it possible that you didn't use the --regulatory flag in your VEP command when you were running VEP for release version 97 ? Could you try installing the perl autodie module and try running again?
Thank you,
Anja

[2020-02-21 10:51] at7 commented on #695
Dear Alva,

I can reproduce the problem partly. I'm running docker release_97.4. If my index file is missing I get the following message: Couldn't find index for file /opt/vep/.vep/Homo_sapiens.GRCh38.97.chr.gtf.gz at /usr/local/lib/x86_64-linux-gnu/perl/5.26.1/Bio/DB/HTS/Tabix.pm line 52.
I then have to sort, bgzip and tabix Homo_sapiens.GRCh38.97.chr.gtf.gz. At the the end I created /opt/vep/.ve

[2020-02-21 10:53] #677 closed

[2020-02-21 12:44] ranijames commented on #695
Dear Anja,

Thanks for the reply and for testing the case.

The docker version I am using is `Version:           19.03.5`. The Tag for ensemble VEP image is latest. I have the ` Homo_sapiens.GRCh38.97.gtf.gz.tbi` file in my input folder.

The `tabix -p gff Homo_sapiens.GRCh38.97.gtf.gz ` was successful. As it did not throw any sort of error message. However, I can redo it again. Whether or not the

[2020-02-21 13:09] at7 commented on #695
Let's try compressing and indexing Homo_sapiens.GRCh38.97.gtf again. Could you please:
gunzip Homo_sapiens.GRCh38.97.gtf.gz
try bgzip Homo_sapiens.GRCh38.97.gtf. It should work if Homo_sapiens.GRCh38.97.gtf is sorted. Otherwise you need to sort Homo_sapiens.GRCh38.97.gtf.
I ran:
mv Homo_sapiens.GRCh38.97.gtf Homo_sapiens.GRCh38.97.unsorted.gtf
(grep ^"#" Homo_sapiens.GRCh38.97.unsorted.gtf; grep -

[2020-02-21 14:16] NLSVTN commented on #696
Sounds good, already asked, just that provided files for **loftee** are actually different in **VEP** **README** and **loftee's**

[2020-02-21 16:33] ranijames commented on #695
Hey,
I tried all the steps as you mentioned, as follows,

- `gunzip Homo_sapiens.GRCh38.97.gtf.gz`

- `bgzip Homo_sapiens.GRCh38.97.gtf` #696  it worked without any error, as the GTF file was sorted.

- `tabix -p gff Homo_sapiens.GRCh38.97.gtf.gz`
After the above steps, within the docker container after activating the docker using the following  one-liner,

`docker run -t -i -v $HOME/vep_data:/opt

[2020-02-21 16:35] at7 commented on #695
I just noticed that you are using --gtf /opt/vep/.vep/Homo_sapiens.GRCh38.97.gtf in you vep command. But it must be --gtf /opt/vep/.vep/Homo_sapiens.GRCh38.97.gtf.gz. Could you please update the --gtf option and try running again?

[2020-02-21 16:41] ranijames commented on #695
Yes, I tried as you mentioned,
`./vep --cache --offline --format vcf --force_overwrite --gtf /opt/vep/.vep/Homo_sapiens.GRCh38.97.gtf.gz --species homo_sapiens --dir_cache /opt/vep/.vep/ --dir_plugins /opt/vep/.vep/Plugins/ --input_file /opt/vep/.vep/ukb_SPB_50k_exome_seq_filtered_for_VEP.vcf.gz --output_file /opt/vep/.vep/my_output.vcf `
It is now throwing the first error,

[code]

[2020-02-21 16:44] at7 commented on #695
Could you please check if you can read the file from your directory?: vep@44487d84ba8e:~/src/ensembl-vep
tabix -H /opt/vep/.vep/Homo_sapiens.GRCh38.97.gtf.gz

[2020-02-21 16:45] ranijames commented on #695
it says `Could not read /opt/vep/.vep/Homo_sapiens.GRCh38.97.gtf.gz`

[2020-02-21 16:49] at7 commented on #695
Did you follow the steps from our documentation [page](http://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#docker)?

Create a directory on your machine:
mkdir $HOME/vep_data
Make sure that the created directory on your machine has read and write access granted so the docker container can write in the directory (VEP output):
chmod a+rwx $HOME/vep_data
docker run -t -i -v $HOME/vep_d

[2020-02-21 16:52] ranijames commented on #695
Yes, I followed the permission granting step,

`chmod a+rwx $HOME/vep_data`

The directories have read write and access permissions.

[2020-02-21 16:57] at7 commented on #695
I'm glad the tabix index problem is sorted! For the new warning "Could not write to stats file".  Have you created the output directory under $HOME/vep_data?

[2020-02-21 17:02] ranijames commented on #695
Yes, I have an output directory within the VEP folder.  I see the output directory had no write permission and once I granted that I am able to run the command line. Thank you so much for your patience and support!!!

Now, there is a new issue. This is perhaps to do with the annotation. It would be great if you could guide me here.

`WARNING: Parent entries with the following IDs were not found or

[2020-02-21 17:08] at7 commented on #695
Perfect!
There are some GTF/GFF format expectations which are documented [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff)
Entities are linked by an attribute named for the parent entity type e.g. exon is linked to transcript by transcript_id, transcript is linked to gene by gene_id.
Transcript biotypes are defined in attributes named "biotype", "transcript_biotype" or

[2020-02-24 16:24] hassanfa opened #698 "Variant annotation fails to annotate without warning"
## Describe the issue
VEP fails to annotate a VCF of 19 variants and output file ends up with zero variants. This VCF is a mixture of INDELs and structural variants.

The problem is when individual variants are given to VEP, some get successfully annotated.

I have tried:
--allow_non_variant
--dont_skip

I have also tried this on all major releases of VEP from version 94 to 99, and this happens on

[2020-02-24 16:30] hassanfa commented on #698
This might be related to #677 , the difference is my input file VEP can successfully annotate some but it doesn't unless it is explicitly given those variants. See example 2 in "Full VEP command line" in issue text body.

[2020-02-24 17:19] dglemos commented on #698
Hi @hassanfa,

Thanks for the detailed explanation, it's always very helpful to understand the issue.
Could you try to run only the non-structural variants from your input file? VEP should annotate these variants without any problem.
Your problem seems to be with the SV deletions. The INFO column doesn't have the end coordinate (END) or even the length of the variant (SVLEN) necessary to annotate

[2020-02-24 22:00] NLSVTN opened #699 ".fa.index: Inappropriate ioctl for device"
## Describe the issue
The bug is identical to the previously closed issue where it is not specified how to actually solve it:

https://github.com/Ensembl/ensembl-vep/issues/211

## Additional information
Please, see the comment by **_meyermj_** with the respective stack trace.

### System
- VEP version: 99
- VEP Cache version: 99
- Perl version: 5.16.3
- OS: Red Hat Enterprise Linux Server release

[2020-02-25 05:32] mikpom commented on #540
I realize that you seem to have fixed the issue, but I am facing very similar problems so reporting on it here.
To minimally  reproduce the issue here is DB file
[test_db.vcf.gz](https://github.com/Ensembl/ensembl-vep/files/4248180/test_db.vcf.gz)
and here is a vcf file
[sm.vcf.gz](https://github.com/Ensembl/ensembl-vep/files/4248183/sm.vcf.gz)

Though in DB VCF we have `SIFT_score=0.346,`. in the

[2020-02-25 09:11] hassanfa commented on #698
Thanks for the quick reply Diana.

I looked into the following:
1. After removing all SVTYPE <DEL> , VCF file was annotated successfully.
2. I created another VCF file which has DEL, INV, DUP, and some INDELs. Only DEL variants and all the variants after DEL were not annotated. Again, when i removed SVTYPE=DEL, all of them were successfully annotated.

Input VCF is clearly badly formatted from sou

[2020-02-25 13:12] helensch commented on #699
Hi

Information on using FASTA file with VEP is  described at
https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#fasta

Please could you provide the full VEP command you are using.

Please could you let me know:
- if VEP was used to index the FASTA file
- if you have Bio::DB::HTS installed

Helen

[2020-02-25 14:02] borissim commented on #671
Hi Anja,

The JSON result now contains only the first variant in the protein_haplotypes contributing_variants field.

`..."contributing_variants": ["v2p-0"]...`
Which is still better than [] before, but not completely correct.

The full JSON for one transcript:
`{"cds_haplotypes": [{"aligned_sequences": ["ATGGGCTCCGTGTCCAACCAGCAGTTTGCAGGTGGCTGCGCCAAGGCGGCAGAAGAGGCGCCCGAGGAGGCGCCGGAGGACGCGGCCCGGGCG

[2020-02-25 14:51] NLSVTN commented on #699
From my understanding the first time **VEP** is run, the index will be generated. I just downloaded the actual fasta file and did not really do anything else with it specifically by myself. I checked with `perldoc -l Bio::DB::HTS` and this package is not there.

[2020-02-25 14:59] aparton commented on #540
Hi,

Thank you for your query. In short, adding the flag --custom_multi_allelic to your query will fix your issue.

In long, as your custom annotation data includes a comma-separated list, and the total number of possible alleles matches the number of values in the comma separated list, VEP assumes that each value within the comma separated list corresponds to a possible allele. We introduced the

[2020-02-25 15:39] NLSVTN commented on #699
I installed also `Bio::DB::HTS` with `htslib` but it did not help.

[2020-02-25 16:10] at7 commented on #671
Hi Boris,

v2p-1 is not part of the contributing variants for the protein haplotype because the variant is synonymous with respect to the protein sequence. For a CDS haplotype it is simple to work out which variants have contributed; we simply log them while the sequence is being edited. For a protein haplotype we use information from the variant consequence to determine whether each variant contr

[2020-02-25 16:17] helensch commented on #699
Thanks for the information.

After running the command, was a fasta index file  created in /vep/homo_sapiens/GRCh38/?

After installing Bio::DB::HTS and running the command, what error message did you get?

Please could you try running the command with a small test input file and without using plugins.

[2020-02-25 16:55] NLSVTN commented on #699
Ok, I was able to solve it by:

Then, rerunning **VEP** in the absence of previously generated index works fine.

[2020-02-25 16:57] #699 closed

[2020-02-25 17:09] cnavery commented on #693
Hi there,

I had previously used the regulatory flag on release 97, which got me thinking.
I thought it was odd that autodie would be missing. I un-commented some of the paths pointing to perl5 that I had removed to get a clean install of VEP 99 and it is running again. Not sure why my installs of bioperl are no longer clashing, but things are running fine now.

Thank you for your advice!

[2020-02-25 17:09] #693 closed

[2020-02-26 05:08] mikpom commented on #540
Andrew,
thanks for your prompt response. You solution does work.

However I want to note that INFO field `SIFT_score` has `Number=1` defined in the header. It makes splitting on commas look like a misbehaviour to me.

-Cheers,
Mikhail

[2020-02-26 09:48] aparton commented on #540
Hi Mikhail,

Thank you for your feedback. You're right, if VEP read this value from the number field then it would remove the need for the clin_sig_allele flag. We'll investigate including this in a future release.

Kind Regards,
Andrew

[2020-02-26 14:50] borissim commented on #671
Hi Anja, thanks for the quick reply.

I see what you mean, and I can understand the logic behind this implementation, however in this scenario the synonymous variant actually affects the result because it is downstream from the frameshifting insertion.

When only the frameshifting insertion is the input then the resulting protein sequence would be:
`MGSVSNQQFAGGCAKAAEEAPEEAPEDAARAADEPQLLHGAGICKWFN

[2020-02-26 14:51] #671 closed

[2020-02-26 15:12] dglemos commented on #698
VEP should skip the badly formatted entries and output the other ones. We'll check why it's skipping everything and let you know when we have a fix.

[2020-02-26 15:29] at7 commented on #671
Hi Boris,
thank you for your feedback. We will reevaluate how we determine contributing variants to protein haplotypes. I cannot promise by when this will be done but I can add your git contact to the ticket and we will inform you about any improvements.
Best wishes,
Anja

[2020-02-26 15:31] borissim commented on #671
Thanks Anja, that sounds good.

[2020-02-27 13:09] at7 commented on #695
Dear Alva,
I'm going to close this issue. Please open a new issue if you have any questions with regard to the GTF/GFF file formats.
Best regards,
Anja

[2020-02-27 13:09] #695 closed

[2020-02-27 13:44] ranijames commented on #695
Thanks, Anja for the support. The tool now generates the outputs after applying your comments. I have an additional question, which is not an issue. The output of the file has protein alterations for each transcript/isoform of each gene. I would like to have only the gene-wise alterations. Meaning that for each variant of the gene just specific alteration for that variant position. I have not seen

[2020-02-27 13:54] at7 commented on #695
We have an FAQ [page](https://www.ensembl.org/info/docs/tools/vep/vep_faq.html) and I was wondering if the answer to Q: Why do I see so many lines of output for each variant in my input? might be helpful to address your problem? Let me know if not.

[2020-02-27 17:45] hadjie01 commented on #638
Hello Diana,

Thanks for your help!

I have one more question for you (hopefully this will be the last one) ..
I am using GTF annotation which means I have novel transcripts in my dataset so If I use ExAC pLI I will only get precalculated pLI scores per gene but I want to be able to take into account the effect of the novel transcripts, right?

If this is the case then I thought it might be better

[2020-02-28 13:17] #665 closed

[2020-02-28 13:17] #678 closed

[2020-02-28 13:17] #696 closed

[2020-02-28 13:19] #664 closed

[2020-02-28 13:48] ima23 commented on #668
The code updates have been applied and will be available in release 101. I am going to close this issue for now. I will close this ticket. If you encounter other issues, please feel free to open a new ticket.
Kind regards,
Irina

[2020-02-28 13:48] #668 closed

[2020-02-28 13:59] ima23 commented on #669
@serge2016  Can you give please give an use case example that is not already covered by the current parameter options?  Only `--AUTO a` will install the API, the rest of `AUTO` options will not do that.

Thanks,
Irina

[2020-02-28 14:02] ima23 commented on #659
I will close this ticket now as the questions have been answered. Please feel free to open another ticket or send an email to helpdesk@ensembl.org if you have any more questions.
Kind regards,
Irina

[2020-02-28 14:02] #659 closed

[2020-03-02 11:00] DarioS opened #701 "Documentation of Nonsense Mediated Decay Inference Rule"
I notice that some variants are annotated as stop_gained but others are stop_gained,NMD_transcript_variant. Likewise, I also see some which are missense_variant and others which are missense_variant,NMD_transcript_variant. There's no explanation I can find in the user guide or the journal article about what logic is used to determine if a variant gets NMD status or not. I am hoping to use the NMD_

[2020-03-02 11:46] #622 closed

[2020-03-02 12:00] dglemos commented on #701
Hello @DarioS,

VEP determines a variant is `NMD_transcript_variant` if that variant is in a transcript that is the target of NMD (transcript with nonsense_mediated_decay biotype) and that consequence is added to other consequences the variant may also have.

The documentation about VEP calculated consequences can be found here:
https://www.ensembl.org/info/genome/variation/prediction/predicted_da

[2020-03-02 23:00] DarioS commented on #701
But how is that determined? What decision rules or databases are used to make that statement? I can't find the source documented anywhere.

[2020-03-03 03:59] NTNguyen13 opened #702 "Weird behavior with --cache and --offline flag"
## Describe the issue
I want to annotate my vcf, I have already downloaded the cache and fasta for both GRCh37 and GRCh38.
When I used :
[code]

I got this error:
[code]

Then I used
[code]

and also

[code]

I got this error:
`[E::fai_build3_core] Cannot index files compressed with gzip, please use bgzip
`

I have also check `perl INSTALL.pl` and all dependencies are installed

## Additional info

[2020-03-03 07:10] DarioS commented on #701
I just figured it out. The `NMD_transcript_variant` value has nothing to do with the SNV the user provides for annotation. It it taken directly from the ENSEMBL transcript type database. For example, ENST00000557057.5 has Type "Nonsense mediated decay" which is converted to NMD_transcript_variant by Variant Effect Predictor. I don't think it's a good idea to have stop_gained,NMD_transcript_variant

[2020-03-03 13:37] dglemos commented on #702
Hello @NTNguyen13 ,
1) Does VEP work successfully when connected to the database with `--database`?
2) Did you download the cache files through the installer?
3) What do you get when you run `perl -e 'use Bio::DB::HTS::Faidx'`?

[2020-03-03 13:47] dglemos commented on #701
I wasn't very clear when I tried to explain, sorry about that. But that's right, VEP only uses the term `NMD_transcript_variant` to indicate an overlap with an NMD transcript. It doesn't call a variant NMD_transcript_variant because the variant is likely to be degraded by nonsense-mediated decay.

[2020-03-03 16:54] nroak commented on #675
I'm getting a new error as below:

[code]

[2020-03-04 08:16] NTNguyen13 commented on #702
Hi @dglemos
1, When I change the `cache` with `database`, this error appear:
[code]

2, Yes, I choose both GRCh37 and GRCh38 during installation.

3, This is what I got from running that command
[code]

[2020-03-04 08:20] NTNguyen13 commented on #702
I have tried vep on `-a GRCh38`, it still works fine

[2020-03-04 13:34] dglemos commented on #702
When running VEP you can:
1. connect to the database using `--database` and if you want to use assembly GRCh37 `-a GRCh37` you need to point to the right port with `--port 3337`, that's probably why you get the error for GRCh37 and not for GRCh38.
2. use cache with `--cache` and if you want to run completely offline you can add `--offline` flag.
[Annotation sources documentation here](https://www.

[2020-03-05 09:26] NTNguyen13 commented on #702
I have tried the above command, it has this error:

[code]

Maybe the fasta file has some error, am I right?

[2020-03-05 10:00] NTNguyen13 commented on #702
Hi, I have downloaded a new fasta from ensembl-VEP and the it's working fine now, thank you for pointing out the problem

[2020-03-05 10:00] #702 closed

[2020-03-05 10:02] dglemos commented on #702
Good to know the problem has been solved. If you have any other questions feel free to ask.

[2020-03-05 16:50] aparton commented on #675
Hi,

Apologies for the slow response. I've looked into this issue this afternoon, and it looks like the VEP installer is successfully downloading necessary files, but failing to write them to disk.

Could you please check:

1) Do you have sufficient space on the disk you are attempting to install VEP on?
2) Are there any *.sub files left in your ensembl-vep folder after the installation fails?

Ad

[2020-03-05 17:42] nroak commented on #675
I just confirmed that there is no issue with space and permissions. I will check again if VEP has internet access. That could be a bottleneck. I hope to get answer from our IS team soon.
Here is the output from the command:

[code]

[2020-03-06 15:37] dglemos commented on #698
This issue has been fixed - incomplete lines should be skipped without VEP stopping the annotation. You can find the fixed code here: https://github.com/Ensembl/ensembl-vep/tree/release/100

[2020-03-09 13:52] hadjie01 commented on #638
Hello Diana,

I am just following up on my questions below.

Are LOFTEE & LOEUF available with VEP/97? If yes, which files I should be using?
And what would be the best way to predict pathogenicity for novel transcripts?

Thanks a lot,
Evi

From: Hadjimichael, Evi
Sent: Thursday, February 27, 2020 12:45 PM
To: 'Ensembl/ensembl-vep' <reply@reply.github.com>; Ensembl/ensembl-vep <ensembl-vep@noreply

[2020-03-09 18:31] marianakhoul opened #708 "Can't get GNOMAD Frequency to work Using VEP"
Hello,

I am trying to Run VEP to get the gnomad frequencies for some variants I have that are annotated.
My input file:
#CHROM	POS	ID	REF	ALT
1	1737915	745971	T	C
1	1737915	1346473	T	G
1	1737916	1026499	T	C
1	1737940	116121	T	C
1	1737942	905125	A	G

the IDs are generated at random.
I am Using VEP version 99 and GRCh38.

to get the gnomad frequencies I am using the below command:
./ensembl-vep/vep

[2020-03-09 18:51] aparton commented on #708
Hi,

Thanks for your query. Your reference genomes appear to be mixed up - you state that you’re using GRCh38, however the attached gnomad link you’ve sent is using GRCh37. Additionally, the overlapping transcript that VEP has found is in that location on GRCh38 (so I assume your cache file is for GRCh38), however your fasta file is tagged assembly19.fasta, so I assume that’s using GRCh37.

Ensuri

[2020-03-10 13:40] dglemos commented on #638
Hi,
Sorry for taking so long to reply.
If you're using GTF annotation with novel transcripts with plugins that use pre-calculated scores you will get scores for the transcripts used by the tool and not your transcripts. This will happen with Sift, PolyPhen and as you said Condel integrates the output of these tools and calculates the weighted average of these scores which means these scores will n

[2020-03-10 14:59] hadjie01 commented on #638
Hello Diana,

Thanks a lot for the response!
Is there any other tool/plugin that I could use to calculate pathogenicity for my novel transcripts?

Thanks again,
Evi

From: Diana Lemos <notifications@github.com>
Sent: Tuesday, March 10, 2020 9:41 AM
To: Ensembl/ensembl-vep <ensembl-vep@noreply.github.com>
Cc: Hadjimichael, Evi <evi.hadjimichael@mssm.edu>; Mention <mention@noreply.github.com>
Subjec

[2020-03-12 10:37] dglemos commented on #638
If you want to consider your novel transcripts you should avoid all the plugins that use pre-calculated scores from files. Most of our plugins use these pre-calculated files but you can check the tools used to generate these files and try to use them for your use case. One example is [SpliceAI](https://github.com/Ensembl/VEP_plugins/blob/release/99/SpliceAI.pm) plugin. The plugin uses a file that

[2020-03-12 15:25] marianakhoul commented on #708
Thank you for your reply!
The solution you proposed worked!

There are still cases that aren't being annotated but are present on the Gnomad Website (https://gnomad.broadinstitute.org/). Could this be an issue version? Since VEP uses gnomad v 2.1 and the website is v2.1.1?

[2020-03-13 01:00] martbro opened #711 "DBD::mysql::db selectall_arrayref failed: Access denied"
## Describe the issue
I am trying to use the phenotype plugin for VEP: [https://github.com/Ensembl/VEP_plugins/blob/release/99/Phenotypes.pm](url).

From the documentation: "On the first run for each new version/species/assembly will download a GFF-format dump to ~/.vep/Plugins/" and so requires database connection but it gives me this error: DBD::mysql::db selectall_arrayref failed: Access denied

[2020-03-13 16:36] aparton commented on #711
Hi,

Thank you for your query, Ensembl resources currently have reduced functionality (see http://www.ensembl.info/2020/02/18/reduced-functionality-16th-25th-march-2020/) and this may have affected your VEP command. Could you please try running your command again?

If it's still not working, could you please try running a simple vep query to connect to the database like:

perl vep -id rs699 --data

[2020-03-13 17:36] aparton commented on #708
Hi,

Thanks for this report. I've looked into this variant, and it does indeed look like a versioning issue. While this variant is included within gnomAD 2.1, the variant has been updated in dbSNP and our cache files are only including the updated variant.

Kind Regards,
Andrew

[2020-03-13 20:56] marianakhoul commented on #708
Hello,

That makes more sense now. Is there a gnomAD 2.1.1 in VEP? I am downloading the gnomad.exomes.r2.1.1.sites.vcf.bgz file and I saw that on the website it said I can use the following command:
./vep -i examples/homo_sapiens_GRCh38.vcf --cache \
--custom gnomad.genomes.r2.0.1.sites.GRCh38.noVEP.vcf.gz,gnomADg,vcf,exact,0,AF_AFR,AF_AMR,AF_ASJ,AF_EAS,AF_FIN,AF_NFE,AF_OTH

so would:
./vep -i new

[2020-03-17 10:17] stephan-hutter opened #712 "VEP produces wrong genomic coordinates for HGVS c. duplications"
I have been using VEP to convert between VCF and HGVS representations of variants and ran into an issue when converting from HGVS c. to VCF (and in consequence HGVS g.), the genomic coordinates are wrong. It seems to happen for certain duplications.

This occurs on my local VEP (using Docker VEP 99.2 with the v99 cache and DB), as well as using the web interface. I have extensively tested it for G

[2020-03-18 15:46] jazberna1 opened #714 "web and docker VEP give different annotations for mtDNA GRCh38 variant"
Hello,
## Describe the issue
I am annotating one human mtDNA GRCh38 variant by running VEP from the docker container and from the web tool. Both are giving me different annotations.

The web tool reports:
MT	10471	.	T	C	.	.	DP=63;ECNT=6;MBQ=37,35;MFRL=0,0;MMQ=60,60;MPOS=5;OCM=0;POPAF=2.40;TLOD=0.675;CSQ=C|downstream_gene_variant|MODIFIER|MT-ND3|

The container reports:
MT	10471	.	T	C	.	.	DP=63;ECN

[2020-03-18 17:02] at7 commented on #714
Hello Jorge,
the VEP web tool uses a few more parameters when annotating variants:
This is the command line used by the web tool:

Adding --distance 5000 and --symbol to your docker command will create the same annotation results.

Please let me know if that is not the case.

Best wishes,
Anja

[2020-03-18 19:50] jazberna1 commented on #714
Hello Anja,

I added --distance 5000  and  --symbol  but I still tget he variant as intergenic_variant instead of downstream_gene_variant. I don't get the gene symbol (MT-ND3) either.

Could you think of anything else I am doing wrong?

This is now my current command line:
[code]

Many thanks
Jorge

[2020-03-18 20:03] at7 commented on #714
Hi Jorge,

I was testing with the Ensembl gene set. When I use RefSeq only as you have specified in your docker command I also get only intergenic_variant. I checked and we don't import RefSeq transcripts for the mitochondrial DNA. For now I can only recommend that you use the merged cache file which gives you MT annotations from the Ensembl gene set.

Thanks,
Anja

[2020-03-19 08:56] jazberna1 commented on #714
Hello Anja,

Thanks so much. It's perfect now with the merged cache.

Regards
Jorge

[2020-03-19 08:56] #714 closed

[2020-03-23 11:58] ima23 commented on #627
I am closing this issue now. If you have any related questions please feel free to reopen it and we will look into it.

Kind regards,
Irina

[2020-03-23 11:58] #627 closed

[2020-03-23 14:55] jazberna1 opened #717 "cannot get VEP to annotate from a custom bed file"
## Describe the issue
I am trying to annotate a single MT variant using a custom bed file. However the variant does not get annotated with the information on the fourth column of the custom bed file.

## Additional information
The variant I am annotating is:
#CHROM	POS	ID	REF	ALT
MT	114	.	C	T

The vcf (one based) variant in position 114 matches the first record in the custom bed (zero based) which

[2020-03-23 16:47] at7 commented on #717
Hi Jorge,
thank you for providing everything that is required to debug your problem.

There are two things I noticed:
--the bed file you are providing is called disease.cgi.bed.gz but in your VEP command it is called mitomap.disease.cgi.bed.gz
--in your --custom command you are providing a 1 which forces VEP to output the coordinates of an overlapping custom feature instead of any found identifier

[2020-03-23 17:27] aparton commented on #712
Hi Stephan,

Thanks for this report. I've had a look at this issue today, and you're right. VEP takes HGVS input, converts it into a 'variation feature' object similar to a VCF record, and uses this to generate all of its annotations. This object is using an incorrect reference sequence on creation with HGVSdup input, and it's causing the issue that you're seeing.

I've put a ticket in, and we'll

[2020-03-23 17:34] jazberna1 commented on #717
Hello Anja,

Thanks so much for the quick reply and apologies for the missnaming the of the custom bed file where I have also specify now the mitochondrial chromosome as MT instead of M to fully match the vcf. I have re-attached the files (files.zip).
[files.zip](https://github.com/Ensembl/ensembl-vep/files/4370998/files.zip)

After switching to 0 I still don't get the custom bed identifier for th

[2020-03-23 18:15] at7 commented on #717
I ran your command with your input data and get the expected annotation from your bed file which means that at least your VEP command is correct. VEP's custom annotation requires Bio::DB::HTS to be installed. How did you install VEP and do you know if htslib and Bio::DB::HTS have been installed?

Thank you,
Anja

[2020-03-24 09:57] jazberna1 commented on #717
Hello Anja,

There appeared to be some components missing in my dockerhub ensembl VEP installation. After updating the code with perl INSTALL.pl I now get the expected annotation. That is fixed!

Anja, I get duplicated annotations in the vcf from my custom bed file, one per ensembl transcript. Is there any way to disable the transcript output? I my case I would just like to see the custom annotati

[2020-03-24 12:38] marianakhoul opened #718 "MSG: ERROR: Cannot use format vcf without Bio::DB::HTS::Tabix module installed"
## Describe the issue
A clear and concise description of what the bug is.

I am trying to run the following command:
./ensembl-vep/vep -i ./data/RHP_variant_vep.txt --cache --offline --dir ./vep_data/  --custom gnomad.vcf.gz,gnomADg,vcf,exact,0,AF_AFR,AF_AMR,AF_ASJ,AF_EAS,AF_FIN,AF_NFE,AF_OTH
But I am getting the above error message. I have installed Bio-DB-HTS from git and configured it.
I have i

[2020-03-24 12:58] aparton commented on #718
Hi,

Thanks for your query. Could you please:

- Check that the Bio::DB::HTS::Tabix module is located in the ensembl-vep directory at: /ensembl-vep/Bio/DB/HTS/Tabix.pm
- Check that your ensembl-vep folder is included within your PERL5LIB. If not, you can add it with:
export PERL5LIB=${PERL5LIB}:ENSEMBL-VEP_PATH
- Rerun your initial command, and send me the output if it's still not working correctl

[2020-03-24 13:01] aparton commented on #708
Hi,

Yes, you can use our custom annotation functionality if you're looking to use a different version of ClinVar. You can find more information on our custom annotation functionality here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html

Kind Regards,
Andrew

[2020-03-24 13:06] aparton commented on #691
Hi,

Sorry for the delay in getting back to you. Yes, this feature will be available for GRCh37 in release 100, currently scheduled for release in April.

Kind Regards,
Andrew

[2020-03-24 13:07] marianakhoul commented on #718
Hello,
[code]
 gave the following output:
./ensembl-vep/Bio/DB/HTS/Tabix.pm
I know it is there in that directory but if I write:
[code]
it gives no output.
[code]
[code]
[code]

[2020-03-24 13:09] aparton commented on #680
Hi,

I'm going to close this ticket now - please feel free to reopen it or create a new one if you have any further questions.

Kind Regards,
Andrew

[2020-03-24 13:09] #680 closed

[2020-03-24 13:45] marianakhoul commented on #708
thank you!

[2020-03-24 14:17] at7 commented on #717
Hi Jorge,
I'm glad that you got the custom annotation working. In order to only get one consequence per variant and therefore only one annotation from your bed file per variant you could use the [--pick](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#filt) option.

Best regards,
Anja

[2020-03-24 14:50] jazberna1 commented on #717
Hi Anja,
Thanks so much for your help!!
I am closing this one.
Jorge

[2020-03-24 14:50] #717 closed

[2020-03-24 17:00] marianakhoul commented on #718
starting everything without having prior environmental variables:

[code]
output:
/apps/ensembl-vep/Bio/DB/HTS/Tabix.pm

but then
[code]
gave me this error.

[2020-03-25 18:45] marianakhoul commented on #718
deleted and downloaded everything from scratch. solved the issue

[2020-03-25 18:45] #718 closed

[2020-03-25 18:46] marianakhoul commented on #708
Are the custom file outputs supposed to look like this:
[code]

Or should I be getting a gnomad Frequency value?

thank you,
Maria Nakhoul

[2020-03-25 20:23] #708 closed

[2020-03-26 07:00] DarioS opened #719 "Pick Most Frequent Consequence Type"
There is an option `--most_severe` but what if there are 10 transcripts for a gene and the most severe consequence applies to only one of them but a less severe consequence applies to the other nine isoforms. Chances are that the relevant consequence will be the one that applied to 9 out of isoforms. Could VEP get an option such as `--most_frequent`?

[2020-03-27 15:41] aparton commented on #719
Hi @Dario,

Thank you for your suggestion. I've had a chat about this with the team today, and I don't think it would be prudent to include such a flag within VEP.

While we are aware that providing one transcript per gene can be of significant benefit when reducing the complexity of further analysis, we try to ensure that any potential loss of vital information is kept to a minimum at this point.

[2020-03-28 01:00] #719 closed

[2020-03-30 04:00] DarioS opened #720 "GZip Broken Pipe If Compressed VCF Input"
If I use a GZip-compressed VCF as input, I see `gzip: stdout: Broken pipe` and the VEP software doesn't return to the Linux command line. If I make a small, uncompressed VCF file with a couple of hundred lines, the effects text file is written to disk. If I use the whole somatic SNV VCF file, it seems to never finish and the CPU usage of the process is 5% or less. The output file is growing regula

[2020-03-30 06:00] DarioS opened #721 "Documentation Lacking for Pick and Most Severe"
`--pick` and `--most_severe` sound very similar to each other. Could their descriptions be expanded upon to explain the differences in output more explicitly?

[2020-03-30 09:47] ranijames opened #724 "VEP is throwing Cache directory ** not found, error while it exists"
## Describe the issue

I am trying to run the VEP tool in Nextflow as a docker image by specifying my own cache directory using the `--dir_cache` parameter. The directory exists outside. However, while running the pipeline, it is throwing Cache not error.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
-

[2020-03-30 09:52] aparton commented on #721
Hi @DarioS,

Thank you for your feedback, you can find a more detailed description of the difference between --pick, --most_severe and our other summarising flags here: https://www.ensembl.org/info/docs/tools/vep/script/vep_other.html#pick

Kind Regards,
Andrew

[2020-03-30 10:23] aparton commented on #724
Hi,

Thank you for this report. To help us debug this further, could you please run the following commands inside the docker container and send me the output of:

1) `perl -e '(print -e "/home/Alva.Rani/vep_data/homo_sapiens") && print "\n".$^V."\n"'`
2) ls /home/Alva.Rani/vep_data/homo_sapiens

Kind Regards,
Andrew

[2020-03-30 10:26] ranijames commented on #724
Hi
Thanks for the support
1.  perl -e '(print -e "/home/Alva.Rani/vep_data/homo_sapiens") && print "\n".$^V."\n"'
1
v5.26.1
2. 99_GRCh38

[2020-03-30 10:49] aparton commented on #724
Hi,

The perl -e flag is correctly identifying the existence of the cache directory, which leads me to suspect that the issue is with the configuration of the Nextflow pipeline, which is not something that we have expertise in or are able to support.

To check this, could you please try running the following command:
`perl -e '(print -e "/home/Alva.Rani/vep_data/homo_sapiens") && print "\n".$^V."\

[2020-03-30 10:52] ranijames commented on #724
Hi
Thanks for replying,
The above command gives the following line,
[code]

[2020-03-30 10:55] aparton commented on #724
Hi,

Apologies, could you please run that command from inside the ensembl-vep directory within your container?

Kind Regards,
Andrew

[2020-03-30 10:58] ranijames commented on #724
Hi
[code]

[2020-03-30 11:03] ranijames commented on #724
Actually, the `homo_sapiens` folder is in `/opt/vep/.vep/` , a folder within my docker container, and so if I try the following

`perl -e '(print -e "/opt/vep/.vep/homo_sapiens") && print "\n".$^V."\n"' && perl vep -id rs699 --cache --dir /opt/vep/.vep -o cache_debug_test.txt --no_stats`
Then it throws the following line
[code]
Which is confusing for me. Because I could run the `vep` command line

[2020-03-30 11:14] aparton commented on #724
Hi,

Thanks. Now we’re inside the container, then the perl -e flag is unable to find the folder, which implies configuration issue.

Unfortunately, we’re unable to provide detailed support for what looks like a Nextflow configuration issue, however I can suggest a couple of things for you to try.

1) The directory /home/Alva.Rani/vep_data is the location of your cache file on your host machine, no

[2020-03-30 11:18] ranijames commented on #724
thanks for the detailed response,
For the first question, yes it is mounted
`ls`
gives out the following directories
`homo_sapiens  input  output  Plugins`
In this case, what would you suggest as to go forward?
Thanks

[2020-03-30 11:20] aparton commented on #724
Hi,

If you run inside the container:

`perl -e '(print -e "/opt/vep/.vep/homo_sapiens") && print "\n".$^V."\n"' && perl vep -id rs699 --cache --dir /opt/vep/.vep -o cache_debug_test.txt —no_stats`

Do you still receive the error?

Thanks,
Andrew

[2020-03-30 12:25] helensch commented on #720
Hi

VEP can read a compressed (gzipped) input file.

Please could you provide:
- the version of VEP you are using
- the full VEP command being run

You report using a small uncompressed VCF successfully. Have you run using a small compressed (gzipped) VCF file successfully.

Helen

[2020-03-30 13:38] ranijames commented on #724
yes, even inside the container it is throwing the same error as I mentioned above...

[2020-03-30 22:00] DarioS commented on #720
I have version 99.2 of VEP installed and server uses Debian 10. The command that I used is:

[code]

Even though I see the error message on the compressed file a few seconds after executing it, it outputs an apparently complete table of consequences anyway.

[2020-03-30 23:00] DarioS commented on #721
Ah, I never would have thought to look in a section named Other Information! It's a good example.

[2020-03-31 16:53] etapanari opened #725 "Output of VEP (variant_effect_output.txt) for covid-19 has only 1 variation consequence while tool snpEff gives 12 variation consequences"
Hi there,

I have ran VEP for covid-19 using
1) a gff file
2) genome reference file
3) variation file of ensembl format

and I get back a very poor variation annotation.

Is it something that I am doing wrong?
Is it maybe that VEP doesn't work properly for viral genomes?

A colleague tried another variation annotation tool snpEff and it gave her a much richer annotation for the variations.

I have

[2020-03-31 16:56] aparton commented on #725
Hi,

VEP does support the use of GFF files for custom annotations with the —custom flag. You can find more information about this here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html <https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html>

If you’re still having trouble, if you could send me a copy of your GFF file and your input then I can take a closer look.

Kin

[2020-03-31 17:02] etapanari commented on #725
Thanks Andrew,
I run VEP like this:

singularity exec vep.simg vep -i covid_19_variation_vep.txt  -gff covid_19.gff.gz  --fasta NC_045512v2.fa.masked.gz --verbose --species covid-19

Do  I need to add the flag --custom ?

[2020-03-31 17:04] aparton commented on #720
Hi Dario,

I'm glad to hear that VEP outputs full data despite the warning.

I've had a look at this issue this afternoon and I'm unable to reproduce it with VEP 99 and Debian 10. Could it potentially be an issue with the VCF file itself? If you create a sample gzipped VCF file using the VCF file in ensembl-vep/examples/homo_sapiens_GRCh38.vcf, do you see the same issue?

Kind Regards,
Andrew

[2020-03-31 17:12] aparton commented on #725
Hi Electra,

Your current input looks good. The —gff flag uses the —custom functionality, so your input command looks fine.

I’m happy to take a closer look if you’re able to send me a sample of your input files which I can use to reproduce the issue.

Kind Regards,
Andrew

[2020-03-31 17:15] etapanari commented on #725
Hi Andrew,

Thanks so much for the prompt reply.
This is a head of the gff file which I have ordered,compressed and tabixed:

NC_045512v2	RefSeq	five_prime_UTR	1	265	.	+	.	ID=id-NC_045512v2:1..265;gbkey=5'UTR
NC_045512v2	RefSeq	region	1	29903	.	+	.	ID=NC_045512v2:1..29903;Dbxref=taxon:2697049;collection-date=Dec-2019;country=China;gbkey=Src;genome=genomic;isolate=Wuhan-Hu-1;mol_type=genomic RNA;na

[2020-03-31 17:17] aparton commented on #725
Hi,

If it would be possible, could you please send the files to helpdesk@ensembl.org and I can pick them up from there?

Thanks,
Andrew

[2020-03-31 17:17] etapanari commented on #725
sure!

[2020-03-31 23:00] DarioS commented on #720
It seems like a good guess. Compressing the file in the example directory and annotating it does not trigger the error message. I attach [a file](https://github.com/Ensembl/ensembl-vep/files/4411866/somatic.vcf.gz) which does trigger the error. Can you reproduce and pinpoint?

[2020-04-01 16:15] d2389758 commented on #724
Hi,
I have the same issue. However, I ran it with singularity.
I downloaded cache files and provided the path of cache directory.
My codes to run singularity as followed:
[code]

The error msg was:
`MSG: ERROR: Cache directory /cluster/work/pausch/fang/vep_99/bos_taurus not found`

[2020-04-02 12:00] aparton commented on #720
Hi @DarioS,

I've had a look at your VCF file and I can reproduce the error. I'm not entirely sure what's going on here, your VCF file passes vcf-validator tests, there doesn't seem to be anything obviously faulty with the file.

If I test the .vcf.gz file with `gzip -tv somatic.vcf.gz` then I see multiple copies of the warning:
_gzip: somatic.vcf.gz: extra field of 6 bytes ignored_
However I susp

[2020-04-02 13:23] aparton commented on #724
Hi,

While my singularity and NextFlow knowledge is slim, I suspect that both issues are caused by the filesystem not being mounted within the container as expected. The docker exec (or singularity exec) command will need to contain a bind mapping between the directory on the host that contains the cache file, and the corresponding directory on the container. Currently, the --dir flag contains the

[2020-04-02 15:40] d2389758 commented on #724
Hi Andrew,

Thanks a lot for the suggestion.
I fixed the issue now.
For ppl who might run into the same issue in the future, my code to run vep in singularity is as followed.
[code]

[2020-04-05 14:04] stefanucci-luca commented on #717
Dear Anja,

I am running into a similar problem.

I checked the installation of ```API + Bio::DB::HTS/htslib``` .
If I run:
```perl INSTALL.pl --AUTO a```
I get the report:
[code]
So, it looks like the installation was successful.

If I run the command:
[code]
and the command run with now problem.

If I check the output:
 ```cat variant_effect_output.txt | grep my_data```
I get:
[code]
The header

[2020-04-05 15:32] stefanucci-luca opened #726 "vep doesn't output --custom bed annotation"
## Describe the issue
I am trying to annotate a gvcf file with a bed file. The vcf output has the annotation in the header, but not in the variants. I checked that there is a minimum overlap between the 2.

## Additional information
I checked the installation of ```API + Bio::DB::HTS/htslib``` .
If I run:
```perl INSTALL.pl --AUTO a```
I get the report:
[code]
So, it looks like the installation wa

[2020-04-06 08:00] DarioS opened #727 "Variant Simultaneously Start Lost and Start Retained Consequence"
I see some variants that are annotated as both losing the start codon and retaining. It doesn't seem realistically possible. For example,

[code]

Is it a bug?

[2020-04-06 09:00] DarioS opened #728 "Predict NMD Status for Frameshift Indels"
Could Variant Effect Predictor output estimated consequences for frameshift indels regarding whether they would be degraded or not? Perhaps something like in [American Journal of Human Genetics](https://www.cell.com/ajhg/fulltext/S0002-9297(18)30203-9)

It would be convenient to see `frameshift_variant,stop_gained`

[2020-04-06 13:45] dglemos commented on #728
Hello @DarioS,
Could you give an example?
About NMD prediction VEP predicts a variant is 'NMD_transcript_variant' when it overlaps a transcript that is the target of NMD (transcript with nonsense_mediated_decay biotype).

[2020-04-06 15:33] at7 commented on #726
Dear Luca,

thank you for providing  your files. It makes debugging the problem a lot easier. You are choosing VCF as your output format and results are reported in the format as described in the header of your output file:
##INFO=<ID=CSQ...Format: Allele|Consequence|IMPACT|SYMBOL|Gene|Feature_type|Feature|BIOTYPE|EXON|INTRON|HGVSc|HGVSp|cDNA_position|CDS_position|Protein_position|Amino_acids|Codo

[2020-04-06 15:57] aparton commented on #727
Hi @DarioS,

Thanks for this report. This is one that we've looked into and debated in the past within the team, and the conclusion that we've arrived at is that, while it looks unusual, it's technically correct.

We take our consequence terms and descriptions from the Sequence Ontology database, and we see the following start-codon-associated ontology terms:

start_retained: http://www.sequenceon

[2020-04-06 16:20] stefanucci-luca commented on #726
Dear Anja,

Thank you very much for your answer,
I was expecting a labels as my=data="4th column bed", but I was wrong.

Cheers,

Luca

[2020-04-06 22:00] DarioS commented on #727
Quirky!

[2020-04-06 22:00] #727 closed

[2020-04-07 06:57] dj10086 opened #730 "vep recorder use offline?"
Dear professor,
I want tot find  a easy way to convert a variant to hgvs annotation, and vep really can be helpful.
but If I used annovar first, I need to use vep again, so I want to find a concise programme to convert a variant to hgvs anotation(vep is too big to some degree, I am not pointing its shortcommings), so I find https://www.ensembl.org/info/docs/tools/vep/recoder/index.html  **Variant

[2020-04-07 09:00] DarioS commented on #728
As an example, consider NM_000546 and the base position in hg38 chr17:7676268 is deleted. This single base deletion would introduce a stop codon 22 bases further along in the direction of transcription in the same exon (chr17:7676244-7676246 in reference genome coordinates before deletion). This is a long way away from the normal stop codon, therefore it could be annotated as also causing a new st

[2020-04-07 11:52] dglemos commented on #730
Hello @dj10086,
Unfortunately, there isn't any other offline tool to convert to hgvs. You can use **vep** in offline mode which should annotate your variants quickly or use **variant recoder** which is part of the vep package ([installation instructions](https://www.ensembl.org/info/docs/tools/vep/recoder/index.html#vr_dl_install)) but needs database connection to run.

[2020-04-07 11:56] dj10086 commented on #730
thanks a lot. I also want to ask a question. annovar always updates database, but it seems vep does not, is this because of some reason?

[2020-04-07 12:00] aparton commented on #725
Hi,

Apologies for the delay in getting back to you. I've taken a look at these differences this morning, and it seems as if the issue is with the GFF file - VEP is expecting lines of type 'transcript' and 'exon' to allow it to construct the transcript model required to annotate your variants.

You can see an example of the gene, transcript, exon and CDS model format that VEP expects within GFF fi

[2020-04-07 14:56] dglemos commented on #730
We support database updates for GRCh38 in every Ensembl release which is every 3 months.
If you're using GRCh37, the Ensembl geneset hadn't been updated since the release 76 but we update variant and regulation data once a year. The new update is going to be next release probably the end of April.

[2020-04-07 17:45] dglemos commented on #728
Thank you for the example.
This is something we need to look into. It's not something we will do for the next releases but it could be an interesting feature for some time in the future.

[2020-04-07 19:55] Hoeze opened #731 "json output: option to return ref and alt allele"
Hi, is there an option to return JSON with two additional items: `"ref": <str>` and `"alt": <str>` for the reference and alternative allele?
This allele string is hard to parse and match with my input file.

[2020-04-08 08:28] daffay opened #732 "VEP use refseq gff got error: Transcript has unexpected type of child record"
## Describe the issue
hello,I'm trying to use VEP annotate vcf file ,and I use  refseq gff file update refseq transcipts ; I got an error : Transcript has unexpected type of child record;

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 98.3
- VEP Cache version:  98
- Perl version: 5.24
- OS

[2020-04-08 09:28] aparton commented on #732
Hi @daffay,

Thanks for this report, could you please email a copy of your GFF file to helpdesk@ensembl.org so that I can take a closer look?

Kind Regards,
Andrew

[2020-04-08 09:41] daffay commented on #732
Hi @aparton,
thanks for the help; I will send you it .

[2020-04-08 10:00] dglemos commented on #731
Hello @Hoeze,
At the moment there's no option to return ref and alt alleles separately. In case there was that option, the ref and alt would be exactly the same as the allele string but splited.
Maybe you could give us a small example of what you expect to see in the output.

[2020-04-08 12:47] aparton commented on #732
Hi,

Thanks for this report. Unfortunately, it looks as if our GFF code is not expecting entries of type 'miRNA' to have parents of type 'transcript'. It's expecting miRNA rows to be attached to the gene.

However, this behaviour should be supported. We'll improve our GFF file handling to support this, however I'm unable to provide an estimate of how long this will take. I'll let you know when thi

[2020-04-08 13:19] daffay commented on #732
Hi.
Thank you very much for your answer. Yes my gff is taken from NCBI.I'm very happy  you update GRCh37 transcript set for Ensemble 100. I will update until then .Thank you.
Best wishes
daffay

[2020-04-12 23:40] GenomicsPrograms opened #733 "VEP installation error with Bio::DB::HTS"
I have all the pre-requisite packages installed g++, etc and bioperl but nothing resolves this error.

root@avi:/home/ensembl-vep/# perl INSTALL.pl --SPECIES homo_sapiens,homo_sapiens_refseq --ASSEMBLY GRCh38 --AUTO alcfp --PLUGINS all
curl failed (000), trying to fetch using LWP::Simple

Setting up directories
 - fetching BioPerl
 - unpacking ./Bio/tmp/release-1-6-924.zip
 - moving files
Attempti

[2020-04-14 10:00] DarioS commented on #728
Great. Just for comparison, ANNOVAR already has [such functionality](http://annovar.openbioinformatics.org/en/latest/user-guide/gene/#output-file-2-refseq-gene-annotation) built in. It would be nice to see VEP catch up to this.

[2020-04-14 11:08] aparton commented on #733
Hi,

Thanks for this report, VEP seems to be unable to build Bio::DB::HTS, and I suspect that this is caused by one of two issues.

1) Could you please check that the path to your manually downloaded BioPerl is included in your PERL5LIB?

2) Could you please check that you have the perl module Module::Build installed with:

_perl -MModule::Build -le 'print $Module::Build::VERSION'_

Thanks,
Andrew

[2020-04-14 19:42] etapanari commented on #725
Hi Andrew,

Thanks a lot for your help!
I have edited the GFF to include transcript and exon lines and now it works!

Best regards,
Electra

[2020-04-15 11:20] etapanari opened #734 "VEP ignores programmed frameshift in gene annotation of Covid-19"
Hi there,

I am using a GFF for covid-19 that has a gene with 2 CDSs (frameshift)
I ran VEP and in the variation result file I see that it ignores the second CDS while it spans the first CDS until the end of the gene.
The lines of the GFF regarding the gene in question are as follows:
 NC_045512v2	RefSeq	gene	13442	16236	.	+	.	ID=gene-nsp12;Name=nsp12;gene=nsp12;gbkey=Gene;gene_biotype=protein_cod

[2020-04-15 15:26] matmu commented on #603
I issue came up again today:

[code]

[2020-04-15 16:27] aparton commented on #603
Hi @matmu,

Thanks for this report. This error message is normally seen when our database servers are under increased load, and we are currently running in a reduced functionality mode as described here: http://www.ensembl.info/2020/02/18/reduced-functionality-16th-25th-march-2020/

If you try again at another time when our database server is less busy then it should resolve your problem. If not,

[2020-04-16 13:04] aparton commented on #734
Hi Electra,

I've investigated this issue this morning, and it's not something that our GFF parser currently supports. Within our current transcript model, this would usually be described as two separate transcripts. Some comments:

1) The easiest workaround for this would be to add the second CDS in as an additional transcript (and associated exon). VEP would then report overlaps and associated a

[2020-04-17 03:22] wenh06 opened #736 "How is the column "IMPACT" computed?"
The VEP outcome has a column "IMPACT", which is described as "Subjective impact classification of consequence type" on [this page](https://asia.ensembl.org/info/docs/tools/vep/vep_formats.html#defaultout), while in the paper "The Ensembl Variant Effect Predictor", it might be inferred that it is adopted and processed using data from GENCODE and RefSeq but without any further details.

I think this

[2020-04-17 10:51] aparton commented on #736
Hi,

Thanks for your query. As you've noted, the IMPACT column is a subjective classification of the severity of the variant consequence, based on agreement with SNPEff. You can find detailed information on all of our consequences and the associated impact values here: https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html

Kind Regards,
Andrew

[2020-04-17 15:22] #726 closed

[2020-04-17 15:58] wenh06 commented on #736
OK, I see. Thanks~

[2020-04-17 15:58] #736 closed

[2020-04-18 19:26] jejacobs23 opened #737 "Can't locate Try/Tiny.pm in @INC"
## Describe the issue
I'm trying to install and run VEP for the first time and I get an error when running it that states "Can't locate Try/Tiny.pm in @INC".  Initially, I had some difficulties with the installation and had to use the --NO_HTSLIB option.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- V

[2020-04-18 22:13] antonkulaga opened #738 "Use of uninitialized value $ensembl_metadata_db nighmare"
For some reason, vep always throws:
[code]
I have no idea what this error is about. I've tried to change parameters multiple times but without any success. It is also very weird that the vep does not terminate with proper code, so the docker container keeps running forever despite VEP beeing crashed

Here is how my command looks like
[code]
I run it from Cromwell with ensemblorg/ensembl-vep:releas

[2020-04-19 13:34] antonkulaga opened #739 "constant gzip: stdout: Broken pipe"
I constantly get:
[code]
However Vep manages to run annotations on that vcf.gz file and the files do not look corrupted :(

[2020-04-20 08:30] aparton commented on #739
Hi,

Thank you for your query. Could you please send me on a copy of your VCF and I can attempt to reproduce the issue? You can either attach it to this ticket, or email it to helpdesk@ensembl.org

Alternatively, as a workaround, decompressing the input VCF file before running VEP should resolve this issue.

Kind Regards,
Andrew

[2020-04-20 08:45] aparton commented on #737
Hi,

Thanks for this report - installing the perl module Try::Tiny should resolve this issue. This can be done by running the command:

`cpanm Try::Tiny` (if you have cpan-minus installed, otherwise you can run `cpan Try::Tiny` and follow the instructions)

Let me know if this resolves your issue, and if not we'll take a closer look.

Kind Regards,
Andrew

[2020-04-20 08:58] etapanari commented on #734
Hi there,

Any luck with this yet?

Thanks so much,
Electra

[2020-04-20 09:44] jejacobs23 commented on #737
Thank you so much for your reply.  I tried `cpanm Try::Tiny` and got the following warning:

[code]
I was able to locate the installed module in /home/users/jacojam/perl5, but when I run VEP, I still get the same error message
[code]

I will say that I'm using a cluster computing environment and I don't have root access so it may be an issue of the module not being installed in the proper location

[2020-04-20 10:26] aparton commented on #738
Hi,

Thanks for this report. While I can't reproduce your issue currently, I think I can see what's going on and there are a few things to consider here.

1) The message that you're seeing is a warning rather than an error - VEP is unable to find an associated metadata database and is failing to print a warning message. This should be a purely cosmetic issue, and is not the reason why your VEP kee

[2020-04-20 10:32] aparton commented on #737
Hi,

If the module has been installed locally (and directly in the `/home/users/jacojam/perl5` folder and not any subdirectories), then you should be able to add its directory to your $PERL5LIB variable and VEP should find it from there. If you run:

`export PERL5LIB=${PERL5LIB}:/home/users/jacojam/perl5`

And then try running VEP again then it should pick it up. If it's been installed in a subdir

[2020-04-20 16:05] etapanari commented on #734
Hi Andrew,
Thanks a lot for your answer. I followed your advice and now I get variation results for both CDSs.
The only issue I have is that this gene codes for 1 protein while VEP considers that there are 2 proteins because of the 2 transcripts and 2 CDSs. So, in the "Protein_position" field the second transcript starts from 1 instead of 10 (the first transcript has 9 codons), so I had to manuall

[2020-04-20 20:08] jejacobs23 commented on #737
OK.  That worked!  The module was in `/home/users/jacojam/perl5/lib/perl5` so I added that to the PERL5LIB environment variable as instructed.

[code]

Then VEP failed due to not being able to access tabix so I located it (previously installed from htslib) and added it to my PATH environment variable.

[code]

Now, VEP is failing due to the following error:
[code]
I assume this is all part of the

[2020-04-21 11:06] aparton commented on #737
Hi James,

Assuming that you have mysql installed already on the cluster, then all you should need to do is install the perl module DBD::mysql in the same way as before.

Let me know how it goes, and if it doesn't work then I'll see what else we can do to help.

Kind Regards,
Andrew

[2020-04-21 12:35] genomics-geek commented on #674
Hi @at7,  Just curious if there will be an update for this?  I know it was expected for early April.  Is there an update for this?

[2020-04-21 14:08] at7 commented on #674
Hi,
we are scheduled to have the new Ensembl release 100 by the end of April.

Best wishes,
Anja

[2020-04-21 14:14] genomics-geek commented on #674
Awesome! thank you so much.

[2020-04-21 18:31] jejacobs23 commented on #737
I tried that with the command cpanm DBD::mysql and got the following error:

[code]
At the very end of the above file (build.log) this was the error message:

[code]

[2020-04-23 01:17] winni-liu opened #741 "Use of uninitialized value in hash element at /psd/biosoft/anaconda/envs/ensembl-vep/share/ensembl-vep-95.0-1/modules/Bio/EnsEMBL/VEP/AnnotationType/Transcript.pm"
## Describe the issue
Use of uninitialized value in hash element at /psd/biosoft/anaconda/envs/ensembl-vep/share/ensembl-vep-95.0-1/modules/Bio/EnsEMBL/VEP/AnnotationType/Transcript.pm line 276, <__ANONIO__> line 8364.
Use of uninitialized value in hash element at /psd/biosoft/anaconda/envs/ensembl-vep/share/ensembl-vep-95.0-1/modules/Bio/EnsEMBL/VEP/AnnotationType/Transcript.pm line 276, <__ANONI

[2020-04-24 09:36] fgvieira opened #743 "Restrict VEP annotation to a subset of the variants"
Is it possible to restrict VEP annotation to only the variants that match a certain criteria? For example, only annotate those where `FILTER == PASS`, or where `SV_length < 1000000`.

thanks,

[2020-04-24 10:19] #701 closed

[2020-04-24 10:23] dglemos commented on #638
I'm going to close this issue. Feel free to open a new issue if you have more questions.

[2020-04-24 10:23] #638 closed

[2020-04-24 13:03] dglemos commented on #743
Hi,
It's not possible to annotate only the variants that match specific criteria. However, you can first filter the variants using filter_vep and then only annotate those with vep.

[2020-04-24 13:12] dglemos commented on #741
Hi,
You're using vep version 95 and cache 99, you should use the same version for both.
Can you also send your input file to try to replicate the issue?

[2020-04-26 02:29] winni-liu commented on #741
hi,
I change the vep version to 99:
`  ensembl              : 99.d3e7d31
  ensembl-funcgen      : 99.0832337
  ensembl-io           : 99.441b05b
  ensembl-variation    : 99.642e1cd
  ensembl-vep          : 99.2`
and I use this command run it again,
`vep --cache --dir_cache ../database/ --species canis_familiaris --force_overwrite --hgvs --refseq --cache_version 99 -i sample.vcf -o sample.ncbi.vep

[2020-04-26 11:01] jejacobs23 commented on #737
Update:

I was able to fix the issue with the libmysqlclient.so.18.  Here is my understanding of this issue -

VEP has the ability to interact with the relational database, mysql.  However, if you use the --cache
option, you don't need this feature.  by adding the --offline flag in the VEP command line, you can
run an analysis without having the perl module needed for relational databases.  This w

[2020-04-27 06:37] fgvieira commented on #743
Hi,

but I'd like to still keep all the variants in the VCF and just restrict the annotations to a subset.

The way you suggest, I'd have to split the VCF in two files, annotate one, merge them, and sort them. I was just hoping for an easier way... :)

[2020-04-27 18:38] #417 closed

[2020-04-28 01:00] DarioS commented on #739
Probably a duplicate of #720

[2020-04-28 02:29] mikpom opened #744 "HGVSc inconsistency with actual variants"
HGVSc notation is inconsistent with the actual variants analyzed.
### Details
I get `"hgvsc":"ENST00000379236.4:c.371-36T>G"` while the actual variant is  `chr1:1212740 A>C`

### System
- VEP version: built from 94d889077c983d39cfc784fccd2f4f830037db85
- VEP Cache version: 99
- Perl version: v5.30.2
- OS: Ubuntu 18.04, Arch
- tabix installed yes

### Full VEP command line
[code]

### Data file to

[2020-04-28 02:30] mikpom commented on #744
Just realized about the opposite strand. That was quick, haha

[2020-04-28 02:30] #744 closed

[2020-04-29 02:58] Chitanda-Satou commented on #683
Hi, thanks for finding out the problem, dear @aparton . I'm facing the same issue in the Wildtype.pm.
**Will this issue induce to serious problems?**

[2020-04-29 04:25] GSYongWu commented on #519
Hi @aparton ,
Are there any changes to the plan for the April release?

[2020-04-29 08:30] iranmdl opened #745 "Empty "contributing variants" field."
I am running haplosaurus using a home made database with custom GTF and reference fasta file.
I have noticed that "contributing variants" field is empty when the input contains an indel that generates a frameshift + an early stop codon (see attached the output JSON that haplosaurus is reporting). Is this an expected behaviour?
- VEP/haplosaurus version: 95

[missing_contributing_variants.json.gz](

[2020-04-29 09:54] at7 commented on #745
Hello,
what you describe sounds like a [bug](https://github.com/Ensembl/ensembl-vep/issues/671) which we have fixed for release/99. Would it be possible for you to upgrade to release/99 and run haplosaurus again? You could also try and integrate the bugfix into your current checkout. It is only a small change: https://github.com/Ensembl/ensembl-variation/pull/519
I would also be happy to test it f

[2020-04-29 15:54] aparton commented on #519
Hi @GSYongWu,

Ensembl 100 has just been released! After updating, you can now apply this normalisation by adding the option `--shift_3prime 1` to your VEP command.

If you have any more questions/issues, please feel free to open a new issue.

Kind Regards,
Andrew

[2020-04-29 16:03] aparton commented on #683
Hi @Chitanda-Satou,

A bugfix has just been released for this issue with Ensembl 100. Updating and running should resolve this problem.

I don't believe that this issue was causing any serious problems in older VEP, it was just a warning that was safe to ignore, however I suggest updating to the latest VEP version if possible.

Kind Regards,
Andrew

[2020-04-29 17:02] dglemos commented on #741
I can reproduce the issue. It looks like there's a problem with some of the RefSeq transcripts, some gene symbols are missing. That means that in your output, some variants are missing the gene, for example: 1 5070565 G/T
We are looking into the issue and we'll let you know of any updates.

[2020-04-30 07:20] znikasz opened #746 "./INSTALL.pl for version 100 does not work"
Hi there,

I'm not sure if it's a correct place for submitting the issue, as it may not concern VEP but rather fhe Ensembl FTP maintainers, but anyway:

Installing VEP cache with release 100 fails:

Command:
[code]

Gives an error:
[code]

Which is correct, as there is no file `ftp://ftp.ensembl.org:21/pub/release-100/variation/indexed_vep_cache/CHECKSUMS` on the server. Is it a VEP bug, and it sh

[2020-04-30 09:01] aparton commented on #746
Hi,

Thanks for this report. Indeed, VEP is looking for a file that is missing, we’ll get that fixed as soon as possible.

In the meantime, you can download the cache file manually from ftp://ftp.ensembl.org/pub/release-100/variation/indexed_vep_cache/homo_sapiens_merged_vep_100_GRCh38.tar.gz <ftp://ftp.ensembl.org/pub/release-100/variation/indexed_vep_cache/homo_sapiens_merged_vep_100_GRCh38.tar.

[2020-04-30 09:23] #698 closed

[2020-04-30 12:19] aparton commented on #746
Hi,

Just to let you know, this issue has been resolved now and the installer should work as normal. If you see any other issues, please let us know.

Kind Regards,
Andrew

[2020-04-30 12:19] #746 closed

[2020-04-30 12:23] aparton commented on #737
Hi @jejacobs23,

Glad to hear that you were able to resolve your issue. Your understanding of how our database/cache system works is correct - if you're interested then you can find more information about our cache files and databases here: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache

I'm going to close this issue now, however if you have any more questions then please

[2020-04-30 12:23] #737 closed

[2020-04-30 12:24] aparton commented on #732
Hi @daffay,

Just to let you know, Ensembl 100 has just been released, including the updated GRCh37 transcript set.

Kind Regards,
Andrew

[2020-04-30 12:26] aparton commented on #724
@d2389758 - excellent, I'm glad you were able to get VEP up and running within singularity.

@ranijames - were you able to resolve your issue?

Kind Regards,
Andrew

[2020-04-30 12:26] at7 commented on #674
Hi Michael,

Just to let you know, Ensembl 100 has just been released, including the updated GRCh37 RefSeq transcript set.

Best wishes,
Anja

[2020-04-30 12:28] aparton commented on #711
Hi @martbro,

Are you still seeing this issue? Ensembl services should now be fully up and running, so this issue should be resolved. If not, please let me know and I'll see what we can do to help.

Kind Regards,
Andrew

[2020-04-30 12:28] #694 closed

[2020-04-30 12:29] aparton commented on #691
Hi @crispgc,

Just to let you know, Ensembl 100 has now been released, so this issue should now be resolved. If you still see any issues, please let us know and we'll see what we can do to help.

Kind Regards,
Andrew

[2020-04-30 12:29] #691 closed

[2020-04-30 12:30] aparton commented on #688
Hi @cruckert,

Just to let you know, Ensembl 100 has now been released, so this issue should now be resolved. If you still see any issues, please let us know and we'll see what we can do to help.

Kind Regards,
Andrew

[2020-04-30 12:30] #688 closed

[2020-04-30 12:31] aparton commented on #667
Hi @sabrunel,

Just to let you know, Ensembl 100 has now been released, so this issue should now be resolved. If you still see any issues, please let us know and we'll see what we can do to help.

Kind Regards,
Andrew

[2020-04-30 12:32] #667 closed

[2020-04-30 12:43] Hoeze commented on #731
I needed this as a way to join back on the input, but I did not want to parse the variant string myself.
Anyway, I found a better way by providing a unique ID in the "name" column and joining on this one.

[2020-04-30 14:22] martbro commented on #711
Hi Andrew, thank you very much for looking into this

This query perl vep -id rs699 --database -o test_output.txt
as well as my query now works ! Thanks a lot

[2020-04-30 14:22] #711 closed

[2020-05-01 17:31] YalithKBK opened #747 "Clinvar annotation column blank"
## Describe the issue
VEP is not filling in the CLIN_SIG column. I tried annotating the same file with snpSift and got Clinvar results for multiple entries, so I know there should be data in the column. I have tried the command with both a 1 and 0 for the --clin_sig_allele flag.

## Additional information
Downloaded (and unzipped) homo_sapiens_refseq_vep_100_GRCh37.tar.gz as my cache file. I tried

[2020-05-02 23:13] MaximilianStammnitz opened #748 "Building custom RefSeq cache files from GFF"
Hi,

We are currently working on variant annotation comparisons between an old and new assembly of the same species (Tasmanian devil).

One of these references has been completed very recently, and so far annotations are only available via RefSeq (ENSEMBL following later in the year). Tried to find this in the VEP description/tutorial pages, and hope I didn't simply miss this part: for command lin

[2020-05-04 09:49] aparton commented on #747
Hi @YalithKBK,

Thank you for this query, you can resolve this issue by adding the `--check_existing` flag to your VEP command.

The `--clin_sig_allele` option was designed as a filter for `--check_existing`, telling VEP to return only allele-specific annotations rather than all annotations for a particular location. However, looking at the documentation now, then this is not clear. I'll update th

[2020-05-04 10:44] aparton commented on #748
Hi @MaximilianStammnitz,

You can integrate annotations from standard format files into your VEP results by using the --custom flag. You can read more about this functionality and it's limitations here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html
https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gfftypes

If you have any more questions, please don't hesitate

[2020-05-04 11:02] genomics-geek commented on #674
Great! Thank you :)

[2020-05-04 13:26] MaximilianStammnitz commented on #748
Hi @aparton,

Many thanks. I just realised that the external GFF usages works when _only_ relying on the basic flags, rather than additionally trying to specify a --cache file, i.e.:
./vep -i -o --custom --fasta

Since it is an NCBI based GFF, I have now also hit [issue 732](https://github.com/Ensembl/ensembl-vep/issues/732) regarding miRNA annotations with parent transcripts, please keep us poste

[2020-05-04 15:22] genomics-geek commented on #674
hi @at7 - I am trying to install using `-s homo_sapiens_refseq` like I used to, but now get this error:
[code]

[2020-05-04 17:06] at7 commented on #674
Hi,
I just tested it by running perl INSTALL.pl  -a c -s homo_sapiens_refseq -assembly GRCh38 and it is working. Could you please try running again or send me your full command?

Thank you,
Anja

[2020-05-04 17:09] genomics-geek commented on #674
Hi @at7 sorry, I should have been more clear...

Here is my full command:

[code]

[2020-05-04 17:52] YalithKBK commented on #747
That did the trick. Thank you!

Yeah, the documentation was a bit confusing. I really couldn't tell what
commands I needed to get what I was looking for so I guessed. 😅

On Mon, May 4, 2020 at 5:49 AM Andrew Parton <notifications@github.com>
wrote:

[2020-05-05 08:47] at7 commented on #674
Hi,
thank you for your full command. I'm able to install the homo sapiens RefSeq cache file with your command. Have you tried running it again? Are you using a fresh checkout of the ensembl-vep release/100 repo? Another option would be to install the new cache file manually by following the instructions from here: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache

Best regard

[2020-05-05 13:19] genomics-geek commented on #674
so I think we were having a FTP access issue (it was timing out..).  Seems that our admins want us to use http:// instead. SO, I tried this:

[code]

This is the error I get:

[code]

I wonder if it is because I have been forced to use the http:// url instead?

[2020-05-05 15:31] at7 commented on #674
Hi,
the installer doesn't support cache urls starting with http://. We will look into it and improve it very likely for our 101 release. In the meantime could you please try and installing the new cache files manually?
Thank you,
Anja

[2020-05-05 16:06] Hoeze commented on #658
@aparton I created a package which does the job of defining a schema by hand:
https://github.com/Hoeze/firefly/blob/5b9dbed0b81ba3a84cda7ac767a43665570f5357/firefly/vep.py#L41
Maybe the yaml schema in `firefly/resources/vep/` is helpful to push this issue :)

[2020-05-06 11:37] ranijames commented on #724
@aparton Thanks for the support, I generated a new VEP docker image and with that this issue is solved.
Thanks once agagin

[2020-05-07 09:46] #734 closed

[2020-05-07 09:59] aeoeue commented on #712
Hi, I stumbled across the same problem.

Sorry if the following is already known:

Maybe it's just a coincidence, but for the variants I tested, the conversion was incorrect only for multi nucleotide duplications and only for genes on the minus strand.
That sounds like an incorrect conversion of start and end position from antisense to sense. Maybe the HGVS 3’ rule also plays a part ...

Maybe tha

[2020-05-08 09:10] marc-sturm commented on #641
@aparton
Hi Andrew,

is the GeneSplicer runtime problem fixed in release 100?
I will test it then...

Best,
  Marc

[2020-05-08 10:42] sigven opened #749 "GENCODE version (32/33/34) inconsistencies"
## Describe the issue
From what I can see, it seems there is some misleading information regarding GENCODE release in version 100 (grch38). In the VCF output file from version 100, VEP outputs `gencode="GENCODE 32"`, while in the website describing [contents of the pre-indexed cache](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#database), it states that GENCODE v33 is used for

[2020-05-08 12:05] GSYongWu opened #750 "IKBKE exon variant annotated intergenic_variant"
## Describe the issue
an indel in exon of IKBKE gene, but consequence annotated intergenic_variant

## Additional information
variant: 1	206651501	.	AG	A
annotated:
hgvsc = NM_001193321.2:c.561del
hgvsp = NP_001180250.1:p.Leu188CysfsTer60
Consequence = intergenic_variant
EXON is blank
INTRON is blank
### System
- VEP version: [100]
- VEP Cache version: [100]
- Perl version: [5.16.3]
- OS: [redhat]

[2020-05-08 14:51] seunghun23 opened #751 "Outdated Gene name from HGNC for GRCh37"
Hi,

I am using the latest version and cache for VEP (v.100) on GRCh37 and noticed that when using --SYMBOL option, some of the gene names in the SYMBOL column are outdated one. I learned from another thread here that it is because the HGNC gene symbols hadn't been updated since the release 76 and you recommended that people use HGNC_ID instead as a gene identifier. However, when l searched gene n

[2020-05-08 16:37] MattBashton commented on #734
@etapanari would you be able to share the working .gff file?  I also have the same issue, but if  you've already ironed out the kinks in your .gff this would save me and many other people the effort in getting some rudimentary nCov2 annotation out of VEP.

[2020-05-11 10:10] aparton commented on #734
Hi,

@MattBashton Just incase it's useful to you, Ensembl will be releasing Sars-COV-2 data, including a GFF file that is fully supported by VEP, at the beginning of next week.

@etapanari Apologies for the delay in getting back to you. Gene symbol information can be added from your GFF file to your VEP output with the `--symbol` flag, and the data itself will be taken from the `Name` key from the

[2020-05-11 10:52] aparton commented on #658
Hi @Hoeze,

Thank you for this - I'm glad you were able to resolve your issue, even if did take a significant amount of work!

I've added your schema to the associated ticket, I'm sure it'll be useful when we look closer at developing this feature.

Kind Regards,
Andrew

[2020-05-11 13:36] helensch commented on #751
Hi

Information on gene naming is available at:
https://grch37.ensembl.org/info/genome/genebuild/gene_names.html
As noted:
"..previous symbols will be maintained as ‘synonyms’, however we recommend using the
HGNC ID to ensure stability in your pipelines and analyses."

The approved symbol for HGNC_ID: 7171 is  MMP23B
The approved symbol for HGNC_ID: 1729 is CDK11B

https://www.genenames.org/data/g

[2020-05-11 15:28] ima23 commented on #749
Hi @sigven,

Thanks for your message, indeed the correct version is Gencode 34, the corresponding meta data will be updated to reflect this. We'll let you know when the update is in.

Kind regards,
Irina

[2020-05-11 16:07] aparton commented on #641
Hi @marc-sturm,

Yes, the GeneSplicer slowdown should be resolved in release 100. Please let me know if you see any issues with it.

Kind Regards,
Andrew

[2020-05-11 16:15] aparton commented on #750
Hi @GSYongWu,

Thank you for this report. I've looked into this issue this afternoon, and it seems to be an edge case caused by the combination of the --shift_3prime and --vcf options.

I'll prepare a fix as quickly as possible. As a workaround in the meantime, removing the --shift_3prime option should prevent this issue from happening.

I'll let you know when there's a fix in place. Thank you for

[2020-05-12 06:17] seunghun23 commented on #751
Hi Helen,

Thank you for your response, but in my output of VEP, it only has the first feature of downstream_gene_variant in MMP23B, but not the correct one in CDK11B. Below is how I run VEP, and is there an option I need to have the VEP report the two transcripts instead of the one I have?

vep -v -i /cromwell_root/fc-secure-ab48ab79-898a-4ab9-91de-f4a1f119d67c/reference_files/test.vcf.gz -o RCC_

[2020-05-12 08:35] GSYongWu commented on #750
I really like  --shift_3prime  parameter, because I think hgvs and consequence can correspond, and I look forward to seeing you fix this bug.

[2020-05-12 09:26] conanyangqun opened #754 "VEP R100 installation error with Bio::DB::HTS (libhts.so) and a solution"
A similar question to #733 ,but not the same.

Hi,
I am installing vep R100 from a fresh start, and follow all steps in documentation.
Briefly,
1. Installing 3 perl modules (Archive::Zip, DBI, DBD::mysql)
2. Installing VEP API using INSTALL.pl.

The installation ends with a warning for lib/Bio/DB/HTS.xs and an Error: **Cannot use format gff without Bio::DB::HTS::Tabix module installed**.

Because

[2020-05-12 11:16] helensch commented on #751
Hi

Your VEP options include the --pick option

This option picks one line or block of consequence data per variant, including transcript-specific columns.

If you run without the --pick option VEP will provide annotation on every genomic feature that each input variant overlaps.

Information and examples on using this option are available at:
https://www.ensembl.org/info/docs/tools/vep/script/vep

[2020-05-13 11:41] seunghun23 commented on #751
Hi Helen,
Thank you for your kind help. I turned off the pick option and could find more features for the same variant, including one with CDK11B. After reading more about the pick option, I learned that the default setting of VEP without the option is that it tries to annotate every genomic feature. Now a related question on this is, how exactly does VEP assign a gene name for SYMBOL column? For

[2020-05-13 17:03] helensch commented on #751
Hi

For each line of VEP output we find the gene associated with the relevant transcript and
give the corresponding gene name.

For merged cache files, the gene symbol is still linked in the same way,
so a variant that overlaps both an Ensembl and a RefSeq transcript
will take symbol info from the gene linked to each transcript.

For your example variant (chr1:1571464-1571465) using the merged Ens

[2020-05-14 04:23] seunghun23 commented on #751
I see. Things are clear now. Thank you so much for your help!

Best,
Seunghun

[2020-05-15 10:21] aparton commented on #754
Hi @conanyangqun,

Thank you for this report. Could you please tell me which operating system you're using?

Kind Regards,
Andrew

[2020-05-15 10:41] aparton commented on #750
Hi @GSYongWu,

Just to let you know, we've just release VEP 100.1, which should resolve this issue.

Kind Regards,
Andrew

[2020-05-15 10:46] GSYongWu commented on #750
Thank you very much, very happy to see this news.

[2020-05-17 19:42] EugeneEA opened #759 "ClinVar fields not consistent"
## Describe the issue
I'm trying to annotate a toy example of two SNP and get CLIN_SIG and CLNREVSTAT fields.
here is the input vcf wo header:
`#CHROM	POS	ID	REF	ALT	QUAL	FILTER
chr7	140749365 	.	A	T	50	PASS
chr7	140753339	.	G	C	50	PASS
`

both SNP are in BRAF protein, Pathogenic and have a clinVar records (I'm using latest version of clinvar as custom annotation, and check it there).

But the pro

[2020-05-18 02:46] MatthewP-Newbee opened #760 "perl INSTALL.pl failed due to connetion?"
I have internet access and already installed `curl`, `LWP::Simple` and `HTTP::Tiny` what may the problem?
[code]

[2020-05-18 06:32] conanyangqun commented on #754
Hi, @aparton
I am using Centos7.6.1810.

[2020-05-18 10:17] aparton commented on #760
Hiya,

To help us better diagnose your problem, could you please tell us:

1) What happens when you run `curl -0 https://api.github.com/repos/Ensembl/ensembl-vep`?

2) Which operating system and perl version are you using?

Kind Regards,
Andrew

[2020-05-18 15:35] aparton commented on #759
Hi,

Thank you for this report. This issue is caused by a whitespace character attached to the coordinate column of the first variant in your file. This has caused VEP to miss some colocated variants.

I'll let you know when there is a fix in place. In the meantime, removing the whitespace from your input file should resolve your issue.

If you have any more questions, please get in touch.

Kind R

[2020-05-18 15:36] #750 closed

[2020-05-18 15:37] aparton commented on #747
Excellent, I'm glad that we were able to resolve your issue.

I'm going to close this issue now, if you have any other questions please feel free to reopen it or create a new one.

Kind Regards,
Andrew

[2020-05-18 15:37] #747 closed

[2020-05-18 15:42] EugeneEA commented on #759
Thaks a lot and sorry for bothering you with such a newbie mistake (

[2020-05-18 15:42] #759 closed

[2020-05-18 15:52] helensch commented on #751
Hi

Thanks for letting me know that helped.

I am going to close this issue now. If you have any other queries please do open an new issue.

Regards
Helen

[2020-05-18 15:52] #751 closed

[2020-05-18 17:18] cccnrc opened #763 "VEP 100 extremely slow in an high performant machine"
I installed VEP 100 and optional perl modules following [website instructions](http://useast.ensembl.org/info/docs/tools/vep/script/vep_download.html).

I am working on a

A also tabixed all caches with
`perl convert_cache.pl -species all -version all --remove`

that outputted at first time:

Now I am trying to see performance and they are awful! Based on `examples/homo_sapiens_GRCh38.vcf` that ar

[2020-05-18 19:13] aparton commented on #763
Hi @cccnrc,

That is remarkably slow - I've attempted to run the same query on my local machine and it runs in 4 seconds, so there's clearly an issue here.

Our caches should all be tabix converted by default, so converting them should no longer be necessary. It may be worth redownloading all of your cache files with the installer.

To help us diagnose this, could you please run the following and

[2020-05-18 20:03] cccnrc commented on #763
Hi @aparton thanks for your reply!

`tabix --version`

`perl -e 'use Bio::DB::HTS::Tabix'`
I got no output

`sum /home/enrico/.vep/homo_sapiens/100_GRCh38/22/all_vars.gz`

(what's the last command for?)

With unzipped fasta i spare just 2 minutes:
`time perl vep -v -i examples/homo_sapiens_GRCh38.vcf --format vcf --cache --dir_cache /home/enrico/.vep --cache_version 100 --fasta /home/enrico/.vep/f

[2020-05-19 01:35] MatthewP-Newbee commented on #760
`curl -0 https://api.github.com/repos/Ensembl/ensembl-vep` prints very long json format output, I will just paste a few lines unless you want to see all of them.
[code]
My system is `centos7` and perl is `perl 5`
[code]
My perl is installed in conda environment.

[2020-05-19 13:34] cccnrc commented on #763
Hi @aparton  any update on this?

[2020-05-19 19:15] cccnrc opened #764 "VEP doesn't catch gnomAD AF"
I found some inconsistencies between VEP annotated VCF gnomAD fields and gnomAD actual DB.

I am using VEP v98 on a Debian 9 machine. dbNSFP v4.0a.

As example, variant 12-116398626-A-C ([here gnomAD page](https://gnomad.broadinstitute.org/variant/12-116398626-A-C)) is reported with a genome AF of 0.378 (37.8%).

If I isolate this variant only from VCF file (attached
[161618.normalized.vcf.ch12_11

[2020-05-20 10:03] dglemos commented on #764
Hi,
The variant you're looking at comes from gnomAD genomes and VEP caches only have gnomAD exome frequency data.
To add gnomAD genomes data you can use custom annotation as explained here: https://www.ensembl.org/info/docs/tools/vep/script/vep_example.html#gnomad

[2020-05-20 10:58] aparton commented on #763
Hi @cccnrc,

Thank you for running those commands. Unfortunately, there's nothing out of the ordinary in your results, and I'm still none-the-wiser as to why you're seeing VEP run so slowly.

1) Could you please try and run `time perl vep -id '1 1234567 . A G' --cache --dir /home/enrico/.vep --cache_version 100 --fasta /home/enrico/.vep/fasta/Homo_sapiens.GRCh38.dna.toplevel.fa --offline --assembl

[2020-05-20 14:11] seunghun23 opened #765 "Way to customize VEP cache file"
Hi,

I am using VEP and Cache version of 100 on GRCh37 and recently got help regarding
outdated gene name issue at issue #751. From the conversation, I learned that the current
cache has transcripts with outdated information and when I use --pick option to select only
one variant based on the selection criteria, sometimes VEP picks outdated transcripts, and I would miss variants on some important

[2020-05-20 15:16] cccnrc commented on #763
Hi @aparton , thank you for that.

1.
`
time perl vep -id '1 1234567 . A G' --cache --dir /home/enrico/.vep --cache_version 100 --fasta /home/enrico/.vep/fasta/Homo_sapiens.GRCh38.dna.toplevel.fa --offline --assembly GRCh38 --force_overwrite
`

2. `--database` version:
`
time perl vep -v -i examples/homo_sapiens_GRCh38.vcf --format vcf --database --fasta /home/enrico/.vep/fasta/Homo_sapiens.GRCh38

[2020-05-20 15:20] cccnrc commented on #764
Hi Diana @dglemos , thank you for the explanation, but this does not explain why it's not caught by `dbNSFP` that has gnomAD genomes fields and flagged in my command:
`
gnomAD_genomes_POPMAX_AF
gnomAD_genomes_POPMAX_nhomalt
gnomAD_genomes_AN
gnomAD_genomes_AC
gnomAD_genomes_controls_AC
gnomAD_genomes_controls_AN
gnomAD_genomes_AFR_AF
gnomAD_genomes_AMR_AF
gnomAD_genomes_ASJ_AF
gnomAD_genomes_EAS_A

[2020-05-20 15:32] aparton commented on #765
Hi @seunghun23,

Unfortunately it is not possible to create a customisable cache in this manner. However, depending on exactly how you identify which transcripts are outdated, there may be a way to do this with filtering.

Instead of the --pick option, you could potentially use the --flag_pick option (https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_flag_pick), which would a

[2020-05-20 15:39] aparton commented on #763
Hi @cccnrc,

I'm glad to hear that the issue has been resolved, however unsatisfying a spontaneous resolution is! Potentially there was something else running on the machine/node at the same time that was taking up resources, or an issue with the filesystem?

If the issue pops up again, I can take a closer look again if you send me NYTProf data.

Kind Regards,
Andrew

[2020-05-20 15:55] cccnrc commented on #763
Great to know there is this chance with `NYTProf`, absolutely no idea of what could have been...

Thank you again @aparton !!!

[2020-05-20 15:55] #763 closed

[2020-05-20 16:13] aparton commented on #760
Hi @MatthewP-Newbee,

If your host machine is able to successfully use curl, I suspect it is a permissions issue related to your conda environment installation of perl. Unfortunately, this is not something that we will be able to provide detailed support for.

If you continue to have issues, may I suggest taking a look at our docker image, which you can find here: https://www.ensembl.org/info/docs

[2020-05-20 17:48] dglemos commented on #764
The variant 12-116398626-A-C is a 3_prime_UTR_variant (c.*445T>G) and dbNSFP only covers missense mutations. From the website: 'dbNSFP is a database developed for functional prediction and annotation of all potential non-synonymous single-nucleotide variants'.

[2020-05-21 09:41] ranijames opened #766 "VEP output prints duplicate of each variants twice"
## Describe the issue
I am running VEP tool for predicting the variant consequence. The input is a VCF file and my output is a txt file.
However, the tool generates a duplicated line for each variant. For example,
[code]
Here for each variant it has a line with `Homo_sapiens.GRCh38.97.gtf.gz` and without `Homo_sapiens.GRCh38.97.gtf.gz`. All other column values are same.

## Additional information

[2020-05-21 14:44] robackem opened #768 "Issue with finding chromosome identifier in synonym file"
### Description of the issue:
I am running multiple _Astyanax mexicanus_ VCF files through VEP using the ensembl cache for the species. My VCFs denote location using NW numbers while the GTF annotation uses chromosome number and APWO, so I have been using a synonym file. I have a VCF file for each chromosome, which have run through VEP no problem. But, I also have a few VCF files of unplaced scaff

[2020-05-21 15:34] at7 commented on #768
Hi,
the reason you see the warning message is because we don't have any transcripts for the specified unplaced scaffold and therefore cannot calculate any overlaps with your input variants. We create a folder for each assembly component (e.g. chromosome, contigs or scaffolds) in the cache directory but only include components with annotated transcripts. I can see that the message  is misleading an

[2020-05-21 15:37] dglemos commented on #766
Hi,
Thanks for the detailed explanation.
You are using two annotation sources: the cache (--cache) and the gtf file (--gtf) and the output contains one line for each source. That's why the output has duplicated variants:
[code]
Let me know if you have further questions.

[2020-05-21 15:40] dglemos commented on #730
The new update has been released.
I'm going to close this ticket but feel free to open a new one if you have more questions.

[2020-05-21 15:40] #730 closed