[2020-05-21 15:52] robackem commented on #768
Ah, that totally makes sense. Thank you!

[2020-05-21 15:52] #768 closed

[2020-05-21 19:50] #764 closed

[2020-05-22 10:33] ranijames commented on #766
hi
Thanks for the reply.
I ran agagin without `--cache` parameter.
Still the output looks the same.
Here is what I tried ,
[code]

[2020-05-22 12:36] dglemos commented on #766
Try to run again without using `--offline` option.
`--offline` switches on `--cache` which is why you are still getting both annotations.

[2020-05-26 01:40] rtyb91 opened #770 "Error in unpacking release-1-6-924.zip without Archive in cygwin"
Dear community members,

I am trying to run the install.pl in the unzipped file of VEP100 through  cygwin terminal using a windows 10. I am aware that I should be installing perl.exe, perl dbd sql and perl-dbi, which I have selected for the latest issue when installing using cygwin64.exe.

After running install.pl via perl.exe, the error shown below popped out:.

ERROR: Unable to unpack file ./Bio

[2020-05-26 02:51] rtyb91 commented on #770
Dear community members,

I have managed to identify the issue and the installer went well from thereafter.

I sincerely apologize for the ruckus caused.

[2020-05-26 02:51] #770 closed

[2020-05-26 10:25] rtyb91 commented on #675
Dear Andrew,

I am having the same issue as nroak does, and I will paste my output from the command you have prompted below:

My problem was:
[code]

For the run of curl https://api.github.com/repos/Ensembl/ensembl-vep | grep default_branch, I got

[code]

Lastly I tried running  lsb_release -a  but it wouldn't work on cygwin, hence I have no idea how to proceed from there after.

I am currently t

[2020-05-27 07:26] seunghun23 commented on #765
Hi Andrew,

Thank you for your detailed answer. Following your suggestion, I ran VEP using --flag_pick option, and using the output, I tried to mimic what pick option does to select one transcript for each variant. I started with a small test dataset with 6809 transcripts for 305 unique variants, and after running my own filtering scripts using the same default order of pick option
- 1.Canonical

[2020-05-27 10:12] eyeamnice opened #772 "Customized Sift/Polyphen scores with VEP"
I downloaded cache files from ensemblgenomes which does not contain sift/polyphen scores. The info.txt files in the cache directory does not contain sift b or polyphen b. How do I generate those scores and make sure VEP can use the scores for annotation? Specifically, what are the steps to follow to customize VEP to annotate my variants with those scores?

[2020-05-27 10:33] ranijames commented on #766
Thanks it helped.!!

[2020-05-27 12:18] at7 commented on #772
Hello,

we calculate SIFT scores for a selection of species listed [here](https://www.ensembl.org/info/genome/variation/prediction/protein_function.html#sift). For which species would you like to obtain SIFT scores? Maybe it would be possible to include them in a future release. If you have annotations available outside of the cache files you could make use of VEP's custom annotation option which

[2020-05-27 14:53] eyeamnice commented on #772
Actually, I am working with plants. I need to calculate scores for Glycine max. I have looked at the link you provided, but nothing describes how I can use my own calculated scores. How do I ensure that VEP uses any scores I may have calculated? I also thought VEP recognizes to annotate with a score only if the info.txt file contains entries of shift b and polyphen b. If possible, could you provid

[2020-05-27 16:38] at7 commented on #772
Dear Peter,
we run an internal pipeline to calculate SIFT scores for all possible missense variants for a set of species. The scores are stored in our databases and where available dumped into VEP cache files. I can check if there are any plans to create a variation database for Glycine max in the future.

I'm also sorry for providing the wrong link to our custom annotation documentation. The corr

[2020-05-28 10:12] aparton commented on #765
Hi Seunghun,

Thanks for your query. To answer your questions:

1) When selecting a transcript by length, `--pick` initially compares the length of the translation, and then the length of the transcript if these are identical. This does not directly correspond with any of the cDNA/Protein_position output fields, as `--pick` is choosing based off the features of the transcript rather than the locat

[2020-05-29 01:50] seunghun23 commented on #765
Hi Andrew,

According to your answer, I believe that the four transcript with Pick=1 would be selected over the other transcript due to length rather than CCDS status, and that's what I thought too.
Following your answer for 1, where does VEP get the length of translation and transcript? Are there output fields for these values?

Thanks,
Seunghun

[2020-05-29 16:20] rollf opened #773 "MaxEntScan without cache"
## Describe the issue
When providing a custom GFF file and no cache, there is no MaxEntScan result in the output. I am not sure whether this is expected behaviour.

### System
VEP docker image as of 29th May 2020. This should be VEP 100 I believe.

### Full VEP command line
[code]

### Output

[code]

I'm happy to provide further details.

Notes:
- I ran into #732 / #748 and simply created a new G

[2020-05-29 16:43] at7 commented on #773
Hi Rolf,

I will need to run this myself to be able to debug why you are missing the scores when you only run with the GFF option. Can I double check that it is fine to use https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.25_GRCh37.p13/GCF_000001405.25_GRCh37.p13_genomic.gff.gz ? Did you have to modify this GFF file?

Thank you,
Anja

[2020-06-01 19:57] jazberna1 opened #774 "GERP discrepancies between hg19 and hg38"
## Describe the issue
Dear VEP team,

I have noticed the following discrepancies when calculating GERP values on two variants with hg19 and hg38.
In summary I have two variants for which GERP values vary significantly between the two builds.
I thought to send the ticket here too to as I used a VEP plugin to get the GERP values.

## Additional information
First these are the two variants in the hg3

[2020-06-02 10:41] rollf commented on #773
Hi @at7,

sorry for the delay. Yes, is the GFF file I used. I modified it like so (see #732 / #748):

[code]

Thanks in advance!

[2020-06-02 16:15] eyeamnice commented on #772
Hi Anja,
I am wondering if it was possible to put out information on how VEP calls or is able to find and use the calculated SIFT scores stored in your database. Since I am working on an organism that you do not have scores for, I have generated a sift database and calculated the score. Right now, VEP still does not use these scores. In what format are the scores stored or dumped in the cache file

[2020-06-02 16:35] eyeamnice commented on #772
I also noticed that issue 776 raised a question about creating cache files. If more people are asking such questions, maybe it will be helpful to create some documentation that will help. That way users can create their own cache files if they have all the data required especially for non-model organisms to run custom VEP

[2020-06-02 16:48] at7 commented on #772
Hi Peter,
you can read about how we store the SIFT scores [here](https://www.ensembl.org/info/genome/variation/prediction/protein_function.html#nsSNP_data_format). When we generate our VEP cache files we dump the prediction matrix for each translation into the cache files.

I think for your use case it would be worth trying to store your SIFT scores in a VCF file and then use our custom annotation

[2020-06-02 17:52] at7 commented on #773
Hi,
thank you for the details. I can reproduce the missing score when only using the gff option. The reason for this is a mismatch between the chromosome names that are used in the GFF and FASTA files. If your input looks like this NC_000017.10  1968983  rs2232486  T  C, you need to create a synonym file mapping NC_000017.10 to chr17. You need to specify the location with --synonyms [file]. The op

[2020-06-02 22:07] iranmdl commented on #745
Hey! Sorry for the delay! Your suggestion fixed the bug, thanks!
Unfortunately, I have just jumped into another error.
 I've as input a VCF with a set of variants, all of them phased as `0|1`. So, I expect to obtain two `protein_haplotypes` after running `haplosaurus`, one with the variants applied and with "`contributing_variants`" field filled with the variants applied, and another one with the

[2020-06-03 10:06] rollf commented on #773
Ah, thank you very much Anja!

[2020-06-03 10:06] #773 closed

[2020-06-03 10:46] ima23 commented on #774
Hi Jorge,

The difference in GERP scores are most likely due to the different GERP analysis and alignments used for the two assemblies.
To find out how the GERP files are generated by Compara team you can send an email to helpdesk@ebi.ac.uk, where this will get picked up.
For the UCSC GERP files, UCSC might be able to give you more info on how the files were generated and why this position had the

[2020-06-03 11:10] jazberna1 commented on #774
Hi,

Thanks for the information.

Jorge

[2020-06-03 11:10] #774 closed

[2020-06-03 15:03] rollf commented on #773
Just for reference, I used [GRCh37_NCBI2UCSC.txt](https://github.com/dpryan79/ChromosomeMappings/blob/master/GRCh37_NCBI2UCSC.txt) as input for ``--synonyms``. I also added the following lines to this file
[code]

(I copied ``NC_000001.10    chr1`` and removed "chr". Same for all other chromosomes.)

[2020-06-03 15:28] rollf commented on #680
Hi @aparton,

I can confirm the same behaviour. With ``--offline --gff --fasta`` the error is raised ("MSG: ERROR: Cache directory <...>/.vep/homo_sapiens not found"). Without ``--offline`` but with ``--gff --fasta`` it "works". I also want to run in offline mode but do not want to have a cache available.

[2020-06-03 15:57] aparton commented on #680
Hi @rollf,

Thank you for this report. When you run with `--gff` and `--fasta` without `--offline`, then you are currently working offline as long as you do not also specify `--cache`.

Having just had a look at the documentation, it implies otherwise though, so I'll make some edits to the documentation for the next release.

If you have any more questions, please feel free to open a new ticket.

[2020-06-03 15:59] rollf commented on #680
Perfect, thanks for the quick reply!

[2020-06-03 16:21] stefanches7 commented on #725
Hello @etapanari,

can you share this updated annotation with "transcipt" and "exon" lines?

Thanks in advance and best regards,
Stefan

[2020-06-03 16:30] aparton commented on #725
Hi @stefanches7,

Just incase you're interested, we now have an Ensembl COVID-19 site where you can find a gff file that is supported in VEP - https://covid-19.ensembl.org/info/data/ftp/index.html

Kind Regards,
Andrew

[2020-06-03 16:32] at7 commented on #773
Thank you for sharing this. It is helpful to know.

[2020-06-03 16:42] at7 commented on #745
Hi,
this might be related to your input annotation file. Could you please change the exon and CDS phase (8th field) from 2 to 0 and then run haplosaurus again? Thank you for providing the input data which made it very easy for me to replicate the problem.

Thank you,
Anja

[2020-06-03 18:56] iranmdl commented on #745
Hello!
Thank you for quick answer! You are 100% right, the mistake was on my side, and not in haplosaurus, with a wrong annotation of the exon and CDS frame.
Thank you very much, you have been really helpful.
Regards,

Irantzu

[2020-06-04 09:00] at7 commented on #745
I'm glad it fixed the problem. I will close the ticket now.

[2020-06-04 09:00] #745 closed

[2020-06-04 17:33] hsiaoyi0504 opened #775 "COSMIC information in cached file isn't annotated"
## Describe the issue

I am trying to annotate a vcf with this record:
[code]

With following commands:

[code]

I will get the following result. However, it seems to me that the matched COSMIC records aren't annotated.

[code]

I did check this variant exists in COSMIC's mutation data (v90).
[code]

## Additional information

I am pretty sure the VEP did annotate some other variants correctly. Fo

[2020-06-04 20:53] petrsh opened #776 "Plugin 'NearestGene' can not find internal name for species 'homo_sapiens'"
## Describe the issue
Hi, I can't figure out what's wrong here. The issue seems to be specific for this plugin as I tried to use NearestExonJB and it works properly.

## Additional information
I tried it for both "conda installation" and "classical installation" and got same error.

### System
- VEP version: 100
- VEP Cache version: 100
- Perl version: v5.26.2
- OS: Ubuntu
- tabix installed - yes

[2020-06-05 10:28] at7 commented on #772
Dear Peter,

I was reminded of a [VEP plugin](https://github.com/Ensembl/VEP_plugins/blob/release/100/PolyPhen_SIFT.pm) which retrieves PolyPhen and SIFT predictions from a locally constructed sqlite database. Here is a [module](https://github.com/Ensembl/ensembl-variation/blob/release/100/modules/Bio/EnsEMBL/Variation/Pipeline/ProteinFunction/RunSift.pm) from our internal pipeline which is used t

[2020-06-05 18:36] helensch commented on #776
Hi

The NearestGene plugin does not work in --offline mode.

I will update the documentation for the plugin for future releases.

Thank you for flagging this issue.

Helen

[2020-06-05 19:20] petrsh commented on #776
Hi

Thank you, that was easy.

I have two more questions:
1 - Is it possible to make the plugin return only the nearest protein-coding genes? And ideally as symbols?
2. How is the distance to the nearest gene calculated? Does it look for the nearest transcription start site or any part of the gene?

Petr

[2020-06-05 20:38] helensch commented on #776
Hi

I will look into you questions regarding the plugin.

The VEP --nearest option retrieves the transcript or gene with the nearest protein-coding transcription start site (TSS) to each input variant. Use "transcript" to retrieve the transcript stable ID, "gene" to retrieve the gene stable ID, or "symbol" to retrieve the gene symbol.

https://www.ensembl.org/info/docs/tools/vep/script/vep_options

[2020-06-06 19:29] tskir opened #778 "Enabling shift_3prime option results in strange consequences (start_retained_variant in the middle of transcript?)"
I'm trying to normalise VEP output so that the consequences for a given variant are always the same, regardless of how it is shifted compared to the repeat region. However, the option **shift_3prime**, which was introduced in Ensembl/VEP 100 and could solve this issue, appears to produce very strange results in certain cases.

## Running with default parameters

Request:
[code]

Response:
[code]

[2020-06-06 19:33] tskir commented on #778
Link to the region in Ensembl: https://www.ensembl.org/Homo_sapiens/Location/View?db=core;g=ENSG00000198626;r=1:237674073-237674114;t=ENST00000366574;mr=1:237674094-237674096, with the deletion variant highlighted (one of three possible locations)

[2020-06-06 22:09] eyeamnice commented on #772
Hi Anja,

My sift results are in text format currently. They are tab delimited. I can also generate sift scores in vcf format. I should be okay with a code that can help me populate the database from any of the sift score format (text or vcf). Custom annotation with VEP could get tricky, without some degree of carefulness, for non-model organisms e.g certain plants. The code to populate the db and

[2020-06-08 11:27] aparton commented on #778
Hi @tskir ,

Thank you for this report. I've looked into this issue this morning, and I've been able to reproduce the issue and find a fix.

I'll let you know when the REST server has been updated with this change.

Kind Regards,
Andrew

[2020-06-08 15:19] at7 commented on #772
Dear Peter,

did you get your SIFT scores from https://sift.bii.a-star.edu.sg/sift4g/public//Glycine_max/? If that is the case have you tried using the VCF annotation option: https://sift.bii.a-star.edu.sg/sift4g/AnnotateVariants.html? You could run VEP first and then use the output, which you can specify to be VCF, as input for the SIFT annotation step.

Best wishes,
Anja

[2020-06-08 16:00] eyeamnice commented on #772
Thanks @at7 for that information. I think that is doable. I will give it a try. If that works, how do I generate the summary report in html format? Will that still be possible? You know when I run VEP first, it generates the html summary. By the time I run sift on the output of VEP, I will not have an updated summary report. Do you know if I can generate that in a standalone method?

[2020-06-08 17:51] eyeamnice commented on #772
Hi Anja,
I used the output of vep as input to sift4g but it did not generate the desired result. The results from vep were not annotated in the SIFT result. At this point, I am not sure what to try next.

[2020-06-08 18:13] at7 commented on #772
I'm not familiar with sift4G. However, there are two things you could check: Is your VEP output file a VCF file? Did you run VEP with --vcf? And secondly, it could be related to an assembly version difference. The latest version in https://sift.bii.a-star.edu.sg/sift4g/public//Glycine_max/ is V1.0.28. But the latest assembly version in [Ensembl](https://plants.ensembl.org/Glycine_max/Info/Index) i

[2020-06-08 19:57] aparton commented on #775
Hi,

Thank you for this report. We're looking into it, and we'll get back to you once we know more.

Kind Regards,
Andrew

[2020-06-09 14:35] eyeamnice commented on #772
Hi Anja,
My VEP output and SIFT outputs are vcf files and both are now same version - V2.1. Assuming I want to use bed file for the annotation, VEP has an input format shown below:
[code]
I tried a format with sift score results  where column 4 are the sift scores in this form:
[code]
and used ```--custom mysiftscore.bed.gz,bed,,SIFT, 0`` in my vep command, the title SIFT was added to the header o

[2020-06-09 16:37] at7 commented on #772
Have you tried --custom mysiftscore.bed.gz,bed,exact,0? You also need to be careful how you provide the coordinates in your bed file. The start is 0 based and the end is not included. For the first row in your example bed file it would mean: 1 9999 10000. And then you can use the custom option: --custom mysiftscore.bed.gz,SIFT,bed,exact,0 and in your output you should see SIFT=0.01.

However, a be

[2020-06-10 09:29] dglemos commented on #766
Glad to know it worked. I'm closing this ticket but if you have more questions feel free to open a new one.

[2020-06-10 09:29] #766 closed

[2020-06-13 22:51] amizeranschi opened #782 "ERROR: Can't detect input format"
Hi!

Could you please help me figure out why VEP won't parse the attached VCF file?

[code]

I can't find anything wrong with the VCF file that I'm using.

[testingVC-struct-var.zip](https://github.com/Ensembl/ensembl-vep/files/4775628/testingVC-struct-var.zip)

[2020-06-13 23:19] amizeranschi commented on #782
The genome is Bos Taurus Ensembl v94, UMD3.1:
ftp://ftp.ensembl.org/pub/release-94/fasta/bos_taurus/dna_index/Bos_taurus.UMD3.1.dna.toplevel.fa.gz

The GTF is:
ftp://ftp.ensembl.org/pub/release-94/gtf/bos_taurus/Bos_taurus.UMD3.1.94.chr.gtf.gz

[2020-06-14 11:06] tiramisutes opened #783 "Use of uninitialized value $phase in numeric eq (==) at.... and empty Variant classes etc in html file"
Hi,
I used follows a command to annotation the vcf file. The gff file has bgzipped and indexed as suggestion in https://uswest.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff .
[code]
But, there is many stdout like this:
[code]
And finally, the table of Variant classes, Consequences (most severe), Consequences (all), Coding consequences, Variants by chromosome, Position in protein are al

[2020-06-15 09:51] cagaser opened #784 "Missing SYMBOL field from VEP TAB output"
## Describe the issue
I was trying to convert the VEP generated VCF to TAB format. However, I was
missing the SYMBOL field from the TAB output.

## Additional information
VEP VCF:
[code]

VEP TAB:
[code]
### System
- VEP version: 100
- VEP Cache version: 98
- tabix installed ?: yes

### Full VEP command line
[code]

[2020-06-15 09:58] aparton commented on #783
Hi @tiramisutes,

VEP seems to be having an issue finding the exon phase for some variants. If you are able to send me a copy of your GFF file, then I can take a closer look.

You can either attach the gff file to this ticket, or email it to helpdesk@ensembl.org

Kind Regards,
Andrew

[2020-06-15 09:59] aparton commented on #782
Hi @amizeranschi,

Unfortunately VEP currently does not support structural variants in breakend format. You can see the full list of SV types that VEP supports here: https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#sv

I'm sorry that I am unable to provide a more satisfactory conclusion to this issue. If you have any further questions, please don't hesitate to get in touch.

Kind Regar

[2020-06-15 10:06] aparton commented on #784
Hi @cagaser,

Thank you for your query. If you add the flag `--symbol` to your VEP command then VEP should successfully add the gene symbol to your tab output.

If you have any further questions, please let me know.

Kind Regards,
Andrew

[2020-06-15 10:15] cagaser commented on #784
Thank you @aparton,

Is it also possible to include, for example ``` DP=955;MQ=59.99;MQ0=0;NT=ref;QSS=614;QSS_NT=3070;ReadPosRankSum=0.28``` from the ```INFO``` field in the tabulated format?

Kind regards,
Cedrick

[2020-06-15 11:11] aparton commented on #784
Hi @cagaser,

You can add information included in the info field with our custom annotation functionality. You can find out more about this here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html

Kind Regards,
Andrew

[2020-06-15 11:32] amizeranschi commented on #782
Thanks a lot for the reply. Removing variants with `SVTYPE=BND` got things working indeed.

By any chance, is there a plan to include support for this type of variants as well?

[2020-06-15 11:59] tiramisutes commented on #783
Hi,
Thanks for your replay. The following is gff file in my command.
[code]

[2020-06-15 13:14] helensch commented on #776
Hi @petrsh

Apologies for the delay in replying to you.

The NearestGene plugin searches for nearest gene that overlaps the variant.
The plugin parameters that can be altered are described at
https://www.ensembl.org/info/docs/tools/vep/script/vep_plugins.html#nearestgene

The NearestGene plugin uses a database connection.

The VEP --nearest option described at
https://www.ensembl.org/info/docs/too

[2020-06-15 17:38] eyeamnice commented on #772
I wrote a custom script to integrate SIFT scores into VEP result. I will mark this as resolved based on the output. I wish I could still generate a html summary report after adding the SIFT score. I may have to write another custom script for that.

[2020-06-16 09:36] #776 closed

[2020-06-19 09:35] amizeranschi opened #786 "Different results when (a) annotating with --cache and (b) annotating with --custom from GTF of the same assembly and Ensembl version"
Hello,

I've annotated a set of variants for Bos Taurus based on assembly UMD3.1 from Ensembl v. 94.

I've run VEP in two ways, using the following FASTA reference:
ftp://ftp.ensembl.org/pub/release-94/fasta/bos_taurus/dna/Bos_taurus.UMD3.1.dna.toplevel.fa.gz

### (a) using --cache and --offline, with the archived cache from Ensembl:
ftp://ftp.ensembl.org/pub/release-94/variation/VEP/bos_taurus_ve

[2020-06-20 08:14] student-t commented on #683
My command was

    docker run -v $PWD:/data w19 vep --vcf --force_overwrite --everything --offline \
			   -i /data/CTRL-NEUZW913DKF-03734-G_1.recalibrated.haplotypeCalls.vcf.gz \
			   -o /data/output.vcf \
			   --fasta /data/Homo_sapiens.GRCh38.dna.primary_assembly.fa.bgz \
			   --plugin REVEL,/data/revel.tsv.gz     \
			   --plugin TSSDistance				     \
			   --plugin MaxEntScan,/data/fordow

[2020-06-20 10:27] amizeranschi commented on #786
Thanks @dglemos for the reply. Seeing how using the cache brings more information available to VEP than using the GTF file alone, I'll consider its results to be more "trustworthy".

[2020-06-20 10:27] #786 closed

[2020-06-22 10:33] at7 commented on #772
I'm happy to hear that you successfully added the SIFT scores to your VEP results. We don't have any plans to customise the html summary report script for including scores that have been added after VEP was run. I did check for any available tools that could help you with this and found [vcfstats](https://pypi.org/project/vcfstats/). I haven't worked with vcfstats before but from reading the docum

[2020-06-24 09:45] xbarvazx opened #788 "probelm running VEP with gff caused by Bio::DB::HTS::Tabix"
Hi,
I ran `perl -e "use Bio::DB::HTS::Tabix"` because I get an error `MSG: ERROR: Cannot use format gff without Bio::DB::HTS::Tabix module installed` when trying to run vep with gff annotation
and I get
[code]
Any help will be useful,
Thanks!

[2020-06-24 10:21] aparton commented on #788
Hi @xbarvazx,

It looks as if you have multiple versions of Bio::DB::HTS on your machine. Updating your PERL5LIB to point to v2.11, the version installed by VEP, should hopefully resolve your issue.

Assuming that you don't have another version of Bio::DB::HTS included within your PERL5LIB, could you please run:

`export PERL5LIB=$PERL5LIB:/storage/raz/ensembl-vep-release-100/`

If you're still ha

[2020-06-24 13:04] xbarvazx commented on #788
Hi Andrew,

Nope this isn't working. This is the VEP installation output [vep_install_out.txt](https://github.com/Ensembl/ensembl-vep/files/4825512/vep_install_out.txt)
.
I use Ubuntu 18.04
perl 5, version 26, subversion 1 (v5.26.1) built for x86_64-linux-gnu-thread-multi

I assume by PERL5LIB you mean '/storage/raz/ensembl-vep-release-100/'
the contents are:
[code]

Best,
Raz

[2020-06-25 13:19] aparton commented on #788
Hi @xbarvazx,

Thanks for sending on your installation output. Everything looks normal and successful there.

Apologies, buy your PERL5LIB I mean the environment variable. If you run:

`echo $PERL5LIB`

and send me the output then we should be able to see what's going on.

Kind Regards,
Andrew

[2020-06-25 13:23] aparton commented on #783
Hi,

Apologies for the delay in getting back to you. I've been unable to reproduce this issue, could you please send me a copy of your input file and the fasta file you're using?

Kind Regards,
Andrew

[2020-06-25 13:25] aparton commented on #782
Hi,

Yep, we are looking into ways of improving support for structural variations. We don't have a timescale for when we expect these improvements to be available, but it is something that we are looking at.

Kind Regards,
Andrew

[2020-06-25 13:25] #778 closed

[2020-06-25 13:26] aparton commented on #760
Hi @MatthewP-Newbee,

I'm going to close this issue now. If you have any further questions, please feel free to reopen it or create a new one.

Kind Regards,
Andrew

[2020-06-25 13:26] #760 closed

[2020-06-25 13:27] aparton commented on #738
Hi,

I'm going to close this ticket now. If you have any further questions, please feel free to reopen it or create a new one.

Kind Regards,
Andrew

[2020-06-25 13:27] #738 closed

[2020-06-25 13:28] aparton commented on #732
Hi,

I'm going to close this ticket now. If you have any further questions, please feel free to reopen it or create a new one.

Kind Regards,
Andrew

[2020-06-25 13:36] aparton commented on #725
Hi @stefanches7,

Thank you for your feedback, I've passed it on to the appropriate people.

I'm going to close this ticket now. If you have any further questions, please feel free to reopen it or open a new one.

Kind Regards,
Andrew

[2020-06-25 13:36] #725 closed

[2020-06-25 13:36] aparton commented on #724
Hi,

I'm going to close this ticket now. If you have any further questions, please feel free to reopen it or open a new one.

Kind Regards,
Andrew

[2020-06-25 13:43] aparton commented on #765
Hi @seunghun23,

The length of the translation and transcript is taken using the underlying Ensembl API. Currently there is no way to get VEP to report this information.

For individual genes/transcripts/proteins, you can see this information on our website. For example:
http://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000139618;r=13:32315086-32400266

If you would like a way to ac

[2020-06-26 05:00] xbarvazx commented on #788
Hi Andrew,

Here's the output of `echo $PERL5LIB`
`:/storage/raz/cpanm/lib/perl5:/storage/raz/ensembl-vep-release-100/`

Best,
Raz

[2020-06-26 06:08] rollf commented on #732
Hi @aparton,

my understanding is that one can still not use any GFF with these problematic miRNA entries (as you described above) but for the specific case of the GCF_000001405.25_GRCh37.p13_genomic.gff.gz the problem is "solved" by using the appropriate cache from VEP 100, right? If that is the case, I think the ticket should stay open since the actual issue is not resolved.

Best,
Rolf

[2020-06-26 12:58] amizeranschi commented on #782
Alright, good luck with the updates and thanks for your assistance.

[2020-06-26 12:58] #782 closed

[2020-06-26 13:27] jvolanen opened #789 "Vep dies when annotating variants in HLA-DRB1*01:01:01"
Hi

We noticed that VEP cannot handle colons in chromosome names introduced in GRCh38. The problem reproduces when using both `--dont_skip` and `--custom` command line parameters as in the example below:

    $ cat /tmp/problem.vcf
    ##fileformat=VCFv4.2
    ##INFO=<ID=SVTYPE,Number=1,Type=String,Description="Type of structuralvariant">
    ##INFO=<ID=END,Number=1,Type=Integer,Description="End p

[2020-06-26 14:47] aparton commented on #789
Hi Jussi,

Thanks for reporting this one to us, seems easy to reproduce. I'll have a chat with the team next week to see if there's any workaround we can put in place and get back to you.

Kind Regards,
Andrew

[2020-06-29 05:15] yangyxt commented on #345
Dear aparton,

Can I ask why you set PERL5LIB to ${PERL5LIB}:${HOME}/src/bioperl-1.6.924. I'm using macOS Catalina and I don't have this src directory under my $HOME.

[2020-06-29 20:15] oldguyeric commented on #775
I've also seen the behaviour described here also with deletions not only insertions. It seems it just annotates with whatever COSMIC mutations there are at the specific position. I've seen it in both VEP 99 and VEP 100 which are the 2 versions that I've used. I can give lots of examples if it helps

[2020-06-29 21:17] aparton commented on #775
Hi @oldguyeric,

Thank you for this report. We've been able to find multiple examples of this issue, and we're currently investigating further.

I'll let you know once we have an estimated timeline for a fix.

Kind Regards,
Andrew

[2020-06-29 21:34] aparton commented on #788
Hi,

Multiple versions of Bio::DB::HTS on your machine seem to be giving VEP some issues. As far as I can tell, your options are:

1) Remove the `ensembl-vep/Bio/DB/HTS/` folder, leaving your currently installed version (3.01).
2) Remove your currently installed version (you should be able to find its location with `perldoc -l Bio::DB::HTS::Tabix`)

If you already have a full installation of Bio::

[2020-06-30 06:05] xbarvazx commented on #788
Hi Andrew,

Actually did option 2 before you replayed and it works.
Thanks for all the help!

Raz

[2020-07-02 01:37] davmlaw opened #790 "Feature request: option for --pick with merged annotation to separately pick Ensembl and RefSeq transcripts"
Thanks for VEP, it's great! Some groups using data I've annotated with VEP want to use RefSeq, and some Ensembl.

I tried using the merged annotations, but as Ensembl is much larger than RefSeq, almost all of the choices from --pick are for Ensembl. This means if someone only wants to use RefSeq or Ensembl (and only Ensembl or RefSeq's pick choice) I have to separately annotate them rather than be

[2020-07-02 05:03] GSYongWu opened #791 "A CHEK1 variant caused the program to break"
## Describe the issue
A clear and concise description of what the bug is.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: [100.1]
- VEP Cache version: [100]
- Perl version: [e.g. 5.16]
- OS: [redhat]
- tabix installed

### Full VEP command line
[code]

### Full error message

Died in forked

[2020-07-02 09:52] dglemos commented on #791
Hi,
It seems that VEP is breaking with the flag `--shift_3prime 1`. We are looking into the issue and we'll let you know more.

[2020-07-02 13:20] dosshra opened #792 "Erorr running local vep"
Hello
I am getting this error running vep -custom with local gff files and local genome file. VEP  runs OK with my.gff file but not with my_1.gff file. The code is `ensembl-vep/vep -i my.vcf --gff my.gff.gz --fasta my.fa -o my_vep_annotation.txt`  The error is
`Can't use an undefined value as an ARRAY reference at /home/ensembl-vep/Bio/EnsEMBL/Transcript.pm line 1613, <__ANONIO__> line 640.`

my.g

[2020-07-02 14:31] ima23 commented on #790
Thanks for the suggestion @davmlaw, indeed such an option would be useful and we'll look into including one as soon as possible. For a specific timeline I will need to check with the team and come back to you.
Will keep you updated on the plans.
Thanks,
Irina

[2020-07-02 14:50] ima23 commented on #792
Hi @dosshra,

I understand you have 2 gff files and vep is running ok for one and not the other.

Could you please share a small snippet of your data that would replicate the issue?
Also, if you could let me know what vep version you are using, that would also be useful for checking your case.

Thanks,
Irina

[2020-07-02 20:13] mudappathir commented on #733
Hi,

I get same error while installing VEP on GNU/linux.
error building lib/Bio/DB/HTS.o from 'lib/Bio/DB/HTS.c' at /.../perl/perl-5.28.3/lib/5.28.3/ExtUtils/CBuilder/Base.pm line 185.
ERROR: Shared Bio::DB:HTS library not found

As suggested I have checked for the BioPerl path included in PERL5LIB. Here is the output of perl -MModule::Build -le 'print $Module::Build::VERSION' > 0.4231

[2020-07-02 22:04] Toseph opened #793 "Unable to run vep without hitting "Can't locate object method "new" via package" for GTF"
## Describe the issue
I have tried to install VEP using both "auto a" option and using specified directories on a machine I full access to.
Each time the below test is run, the GTF annotation portion fails and cannot find "Bio::EnsEMBL::VEP::AnnotationSource::File::GTF". The file exists and the folder is in my PERL5LIB.

/usr/local/software/ensembl-tools/ensembl-tools-100.2/Bio -> API Installed by

[2020-07-03 09:30] ima23 commented on #793
Hi @Toseph,

Just to double check, have all the tests part of the installation passed?
Could you please share a small snippet of your gtf that can reproduce the error?

Thanks,
Irina

[2020-07-05 11:32] dosshra commented on #792
Hi
I have uploaded a snippet of the data. The good gff file is chinese1A60mb.gff and the bad is chr1A1mbt.gff. The version of VAP is the last version.  The difference I could see is that in the bad file there are no definitions of exons.
Thank you
[snippets_vep.tar.gz](https://github.com/Ensembl/ensembl-vep/files/4874820/snippets_vep.tar.gz)

[2020-07-06 10:31] oalavijeh opened #794 "Filtering with AND/OR"
## Describe the issue
When using filter_vep on an annotated vcf I would like to pull those annotations that are annotated to have a 'MAX_AF' <0.01 and an "IMPACT" that  is moderate or high. I am finding my syntax is not getting the correct result, I am getting Moderate only and high impact variants are being ignored.

 filter_vep -i VCF - filter 'MAX_AF <0.01 or not MAX_AF' and 'IMPACT is MODERATE

[2020-07-06 13:19] aparton commented on #733
Hi @mudappathir,

Thanks for your query. It looks at if the installer is unable to build Bio::DB::HTS for some reason. Could you please send me the full output of INSTALL.pl and I can take a closer look?

Kind Regards,
Andrew

[2020-07-06 17:13] at7 commented on #794
Hello,
adding parentheses around your filter constraints will allow the filter script to identify them and apply them in conjunction:
--filter "(MAX_AF < 0.01 or not MAX_AF) and (IMPACT is MODERATE or IMPACT is HIGH)"

You can also specify each filter separately:
--filter "MAX_AF < 0.01 or not MAX_AF" --filter "IMPACT is MODERATE or IMPACT is HIGH"

Please let me know if this is not giving you the

[2020-07-06 18:38] aparton commented on #345
Hi @yangyxt,

In the above case, the manually downloaded version of BioPerl should be added to PERL5LIB, wherever that may be. The above commands are just an example.

If you're installing VEP on MacOS Catalina, have you followed the MacOS specific installation instructions found here? https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#macos - Installing VEP on MacOS requires a c

[2020-07-07 06:44] ayusyarif opened #795 "Can't locate Try/Tiny.pm in @INC"
## Describe the issue
I have run the API installation and all was good as this command said:

[code]
also, I managed to install VEP and download the cache without getting any errors.
However, when I tried to run vep with example provided, I got errors:

`./vep -i examples/homo_sapiens_GRCh38.vcf --cache`

it said:
[code]

Could someone help me to explain these errors?

### System
- VEP version: 10

[2020-07-07 07:10] ertanyilmaz38 commented on #795
check please https://metacpan.org/pod/Module::Build::Tiny

[2020-07-07 08:15] oalavijeh commented on #794
Brilliant thanks. I will run it and reopen if there is an issue. Many thanks

[2020-07-07 08:15] #794 closed

[2020-07-07 09:20] at7 commented on #795
Hi @ayusyarif,

you need to install Try::Tiny manually using `cpanm Try::Tiny`. We have documentation on how to run [VEP on Mac OS](https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#macos) and will add the Try::Tiny dependency to it. Please let me know if installing the module is not fixing the issue.

Best regards,
Anja

[2020-07-07 11:37] danilovkiri opened #796 "VEP Ubuntu 16.04 Testing VEP installation aborted"
## Describe the issue
I've been trying to install VEP using `perl INSTALL.pl` for ages. All dependencies are in place as far as I can see. However, it keeps aborting the testing procedure at its very beginning.

## Additional information
$PERL5LIB variable is set in `.zshrc` and sourced in the same session prior to running `perl INSTALL.pl`.
[code]

[code]

### System
- VEP version: 100
- Perl ver

[2020-07-07 11:43] ertanyilmaz38 commented on #795
@at7 Will my answer solve the problem?

[2020-07-07 12:20] at7 commented on #796
Hi @danilovkiri,

it could be that your are missing the Try::Tiny module. Could you please check if you can run `perl -e "use Try::Tiny"` without getting any errors? If you get something like "Can't locate Try/Tiny.pm..." could you please install the module with e.g. `cpanm Try::Tiny`?

Thank you,
Anja

[2020-07-07 12:24] at7 commented on #795
Dear Ertan,

I don't think that Try::Tiny is installed as part of the Module::Build::Tiny installation. But please correct me if that is not the case.

Best regards,
Anja

[2020-07-07 12:26] #772 closed

[2020-07-07 12:36] at7 commented on #267
I will close this issue now. But please create a new issue or reopen this issue if you still need help with running the plugin.

[2020-07-07 12:36] #267 closed

[2020-07-07 13:00] DarioS opened #797 "Connection to ENSEMBL MySQL Server Failing"
I am getting an error from Variant Effect Predictor

[code]

I tried a couple of the debugging suggestions on the website. `mysql --host=ensembldb.ensembl.org --port=3306 --user=anonymous` works and I get to the mySQL command prompt. However, the ping suggestion `ping -c 5 ensembldb.ensembl.org` fails.

[code]

Why do I need an internet connection in the first place? I specified `--cache --dir_cac

[2020-07-07 13:08] at7 commented on #797
Hello,
you need to specify --offline if you want to run without connecting to the ensembl database. Even if you specify using cache files VEP will still set up some database connections which can be used during the annotation step if offline is not set. I don't have any problems connecting to the ensembl database. Could you please share your full VEP command line? I will try and replicate the prob

[2020-07-07 13:15] DarioS commented on #797
The complete command is

[code]

[2020-07-07 13:20] ayusyarif commented on #795
Hi Anja,

many thanks for the suggestion. I installed the Try::Tiny as you suggested. But, then I was wondering whether that fixed the issue or not. do you have any thoughts on how to check if it's working or not?

I run the command again:
`./vep -i examples/homo_sapiens_GRCh38.vcf --cache --force_overwrite`

this time, it didn't generate any statement. I checked the directory in which I run the c

[2020-07-07 13:25] at7 commented on #795
It looks to me that you have solved the problem. The message "Can't locate Try/Tiny.pm in @INC..." which you have seen before is not returned anymore. You can now use VEP for your work. But please let me know if you get any error messages again.

[2020-07-07 13:44] at7 commented on #797
I just tested the database connection again and it seems to be working fine. We have an [FAQ](http://www.ensembl.org/Help/Faq?id=567) on database connection errors. Scroll to the bottom of the page for the error message you get. It could indicate that your local network prohibits the database connection. Could this be the case?
However, for your use case I would recommend that you just add the --o

[2020-07-07 15:49] ima23 commented on #749
Hi @sigven,

the info field in the cache has been updated and the live website is also now up to date. Thanks for letting us know about the discrepancy. I will close the ticket now.

Kind regards,
Irina

[2020-07-07 15:49] #749 closed

[2020-07-07 16:08] david-a-parry opened #798 "Duplicated variants in VCF output when run with --minimal flag"
## Describe the issue
The --minimal flag causes variants to be duplicated in VCF output for multiallelic sites with at least one insertion/deletion allele and an '*' allele.

In these cases, it appears that the variant line is written once for each ALT allele, with each VCF output line having CSQ annotations for one allele only, or in the case of '*' alleles, no CSQ field at all (error in rejoin_v

[2020-07-07 17:47] ayusyarif commented on #795
Hi anja,

yes, it worked! but, there's something that bothered me. I run VEP with 79444 snvs, but the result only generated 76111 snvs. I wonder what happen with the remaining snvs. I received a warning message, prior to the deep recursion:

[code]
do you think this may cause a reduction in the results?

best,

ayu

[2020-07-07 19:19] danilovkiri commented on #796
@at7 Thank you, it worked.

[2020-07-07 19:19] #796 closed

[2020-07-08 00:00] DarioS commented on #797
I got the server administrator to test it. Firstly, I can't use `ping` because he has set up a transparent proxy which doesn't work with ICMP, and only allows TCP and UDP. He explained that he tried the command `telnet ensembldb.ensembl.org 3306` and that showed him the server is actually unreachable.

[code]

I have finished my analysis using `--offline`, but it would be good to sort this out for

[2020-07-08 08:32] at7 commented on #795
Hi Ayu,

is NA a valid chromosome? VEP uses the chromosome name or a chromosome synonym to look up transcripts in the cache file directory. However not providing a valid chromosome shouldn't cause the 'Deep recursion on subroutine' message you are also getting. I would be happy  to run your input file and try to see for myself where the problem lies if you can share your input and input command.

[2020-07-08 08:53] at7 commented on #797
Thank you for providing more details. I'm checking just now and there are no database connection problems for ensembldb.ensembl.org. I can connect with `mysql -h ensembldb.ensembl.org -uanonymous`. Are you still having connection problems today?

[2020-07-08 12:27] at7 commented on #798
Dear David,
thank you for the report. You have uncovered a bug here. The variants should be joined together where possible. I haven't fully investigated how much work is involved in fixing the bug. But I will get back to you by next week and let you know by when we can provide the fix.

Thank you,
Anja

[2020-07-08 15:48] ayusyarif commented on #795
Hi Anja,

Many thanks for your help.

Here's the input (as attached) and the command that I used yesterday.

[snvs.vep.input.txt](https://github.com/Ensembl/ensembl-vep/files/4891741/snvs.vep.input.txt)
`./vep -i WGS_smoking/snvs.vep.input.txt -o WGS/Smoking/snvs.vep.output.txt --cache --offline`

[2020-07-08 17:12] at7 commented on #795
Thank you for the input file. I can confirm that the problem is that NA is not a valid chromosome. You can add --dont_skip to your VEP command line which means that VEP doesn't skip input variants that fail validation and will in your case add variants with the NA chromosome to your output file. I also noticed that your file is not sorted which slows down the runtime a lot. I just sorted the file

[2020-07-08 17:23] at7 commented on #798
I should mention that allele matching for assigning e.g. allele frequencies occurs independently of any allele transformations carried out by --minimal.

[2020-07-08 20:00] DarioS commented on #797
The department's server doesn't have mySQL, so I tried the university's HPC and your command worked there. Also, the `telnet` command works. It must be something about the proxy or port settings on our department's server.

[2020-07-08 20:00] #797 closed

[2020-07-09 08:50] david-a-parry commented on #798
Thanks Anja. My main motivation for using the --minimal flag was that the documentation for the [UTRannotator plugin](https://github.com/ImperialCardioGenetics/UTRannotator) claims it is necessary for it to function properly, otherwise I have always run VEP happily without this flag.

[2020-07-09 20:24] ayusyarif commented on #795
Hi Anja,

Many thanks for your help.
It does the magic part of this task!
is there any negative consequences of putting the --dont_skip into my future commands?

Best,

Ayu

[2020-07-10 09:25] at7 commented on #795
Hi Ayu,

VEP has a validation step where it checks that:
-- start and end look like numbers
-- start/end are valid (start <= end + 1) and corresponds to ref allele
-- chr is in valid list

If one of those checks fail, like for your example where NA is not a valid chromosome, and --dont_skip is used VEP will attempt to calculate the variant consequence and write the result to the output. This might

[2020-07-10 16:51] eyeamnice opened #800 "VEP error with large chromosome"
## Issue
I am running VEP version 100 in local mode and ran into an issue of Deep recursion on subroutine "Bio::EnsEMBL::VEP::Runner::_buffer_to_output" at ensembl-vep/modules/Bio/EnsEMBL/VEP/Runner.pm line 419, <$fh> line 495334. My chromosomes are large so I could only tabix index my files via csi rather than tbi. I am not sure if that counts. I also modified chromosome names according to https:

[2020-07-11 20:40] ngslabex opened #801 "How to see Read Depth(DP) and Allelic depths(AD) at output?"
Is it possible to see Read Depth(DP) and Allelic depths(AD) at output as tabs?

[2020-07-12 19:14] ayusyarif commented on #795
Hi Anja,

Many thanks for the explanation.

Best,

Ayu

[2020-07-12 19:14] #795 closed

[2020-07-13 16:03] helensch commented on #800
Hi

The vep command used has the option `-gff S_gene.gtf.gz`

The **-gff** option is used and the filename has **gtf** in name. If the file being used is a gtf file, can you try using the `-gtf` option.

Information on the VEP gtf and gff options is available at:
https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#other

Information on the gtf and gff data formats is available at:

[2020-07-13 16:55] helensch commented on #801
Hi

When using VEP, if the input file is VCF and the output format is VCF (--vcf)  the file will remain unchanged save for the addition of the CSQ field (unless using any filtering). If Read Depth(DP) and Allelic Depth(AD) are in the input VCF, they will be in the output VCF.

If the output format is tab-delimited (--tab) the fields output are described at:
https://www.ensembl.org/info/docs/tools/

[2020-07-14 12:37] at7 commented on #798
Hi David,
this has been fixed for release/100. Could you please pull the latest changes from the release/100 branch?

Best wishes,
Anja

[2020-07-14 12:50] david-a-parry commented on #798
Great, that seems to be working fine now. Thank you for the quick fix!

[2020-07-14 12:50] #798 closed

[2020-07-14 15:59] danilovkiri opened #804 "VEP runs out of RAM"
## Describe the issue
I was able to run VEP on separate chromosome-specific VCFs with germline calls and REF HOM sites. However, once I decided to use custom annotation with PhyloP and PhastCons, I installed Bio::DB::BigFile as was requested by VEP interface. The installation of Bio::DB::BigFile caused a completely different approach to RAM memory usage. Now VEP uses all available 64GB of RAM and

[2020-07-14 16:15] aparton commented on #804
Hi @danilovkiri,

If you reduce the buffer size from the default of 5000 to 500 with the option `--buffer_size 500`, then it should resolve your issue. You can read more about the buffer_size option here: https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_buffer_size

If there's anything else we can do to help, please don't hesitate to ask.

Kind Regards,
Andrew

[2020-07-14 16:41] danilovkiri commented on #804
@aparton

Thank you. I forgot to mention in the original post that I have tried this option (`--buffer_size 100`) and it does not have any influence on the memory usage at all. Besides, I did explicitly state that I was able to run VEP with the exact same arguments without specifying `--buffer_size` previously and it was OK. The memory usage roughly exceeded 3GB at that time. The only thing change

[2020-07-14 16:47] aparton commented on #804
Hi @danilovkiri,

That's disappointing! I'll take a closer look to see if I can reproduce the error and get back to you when I've done so.

Can I check, was it version 100 that you used when the analysis was running successfully, or was it a previous version of VEP?

Kind Regards,
Andrew

[2020-07-14 16:51] danilovkiri commented on #804
Yes, it was the same version 100. Thank you.

[2020-07-14 21:44] danilovkiri commented on #804
Hi @aparton

I've been running some test and found out that it has nothing to do with the Perl module. Sorry for misleading. The described memory-exhausting behaviour can be observed when running VEP on chr22-specific VCF file (also chr21, possibly several others). Some chromosome-specific VCF files are processed normally (e.g. chrX, chr11, chr18, chr1) with 2-3 GB RAM used per single Perl thread.

[2020-07-15 16:00] aparton commented on #804
Hi @danilovkiri,

I've been unable to reproduce this issue this afternoon, could you please send me a copy of your VCF file and I can take a closer look? You can either attach it to this issue, or email it to helpdesk@ensembl.org and I can pick it up from there.

Kind Regards,
Andrew

[2020-07-16 08:45] danilovkiri commented on #804
Hi @aparton

Here is the [link](https://drive.google.com/file/d/13maEH1Vy_bxlsn7Zc2woaF7hM4RXCElV/view?usp=sharing). Thank you.

[2020-07-19 08:15] jazberna1 opened #805 "help to interpret the Allele Frequency reported by VEP"
Hello,

## Describe the issue
This is not an issue. I am rather asking for help to interpret the --af (allele frequency) option in VEP.
The documentation says:
_For this and all --af\_* flags, the frequency reported is for the **input allele** only, not necessarily the non-reference or derived allele._

My understanding is that the allele frequency reported is for the ALT allele in the input VCF f

[2020-07-19 22:44] danilovkiri commented on #804
Hi @aparton

Any news on the issue?

[2020-07-20 09:39] david-a-parry opened #806 "Using both --minimal and --fork options with plugins causes VEP to die"
## Describe the issue
Using both `--minimal` and `--fork` options with plugins causes VEP to die:

[code]
This is not specific to any particular plugin; I have tried running with several plugins including LoFtool, SpliceRegion and TSSDistance and the same issue arises.

The issue only occurs when using BOTH `--minimal` and e.g. `--fork 4`. I do not get the error when running with `--minimal` flag

[2020-07-20 11:05] aparton commented on #804
HI @danilovkiri,

Nothing yet I'm afraid, we're still investigating. I'll let you know when I know more.

Kind Regards,
Andrew

[2020-07-20 13:45] dglemos commented on #805
Hello Jorge,
It's correct, the allele frequency reported is for the input allele which means it's the alternative allele from the input file.
Best wishes,
Diana

[2020-07-20 14:28] danilovkiri opened #807 "dbNSFP plugin does not annotate"
Hi!

I use GRCh38-based everything including the dbNSFP4.0c (version 4.1 is not supported as far as I know and the plugin does not recognize it) version processed as follows:
[code]

When a try to run VEP on the following entries
[code]
I get the first entry (chr18:36199933) annotated with entries chosen via dbNSFP plugin, while the chr18:36260036 variation gets `-` in all the dbNSFP-selected fiel

[2020-07-20 17:06] dglemos commented on #807
Hi @danilovkiri,
dbNSFP version 4.1 is not supported in release 100 but it's going to be supported in the next release.
About the consequences, you can use the option `consequence` to add more consequence types. For your example you can run:
`--plugin dbNSFP,consequence='splice_acceptor_variant&missense_variant',/home/wgs/.vep/dbNSFP_4.0c/dbNSFP4.0c_hg38.gz,LRT_pred,MutationTaster_pred,FATHMM_pred

[2020-07-20 17:29] danilovkiri commented on #807
Thank you!

[2020-07-20 17:29] #807 closed

[2020-07-20 20:39] aparton commented on #804
Hi @danilovkiri,

Thank you for your data file, I've been able to reproduce this issue this afternoon.

The issue is related to how VEP skips over invalid variants. In your data file, there are a collection of variants in the format `22 12345 . N .`, which VEP is unable to process without an alternate allele. VEP is recognising this, however it's moving onto the next variant without correctly disp

[2020-07-20 21:10] jazberna1 commented on #805
Hi Diana,
Thanks a lot!
Jorge

[2020-07-20 21:10] #805 closed

[2020-07-21 09:17] danilovkiri commented on #804
@aparton Thank you so much!

[2020-07-21 17:39] dglemos commented on #806
Hello David,
thank you for reporting this error. We are looking into it and we'll let you know when we know what is causing the sudden stop.
Best wishes,
Diana

[2020-07-21 20:31] mkinnaman opened #808 "SIFT not available"
## Describe the issue
I am aware this issues has been reported in the past but I downloaded the following for my vep cache:
ftp://ftp.ensembl.org/pub/release-100/variation/indexed_vep_cache/homo_sapiens_merged_vep_100_GRCh37.tar.gz

and after extraction there was no info.txt in the folder to provide the SIFT

## Additional information
Please fill in the following sections to help us find the sourc

[2020-07-22 10:12] dglemos commented on #808
Hello @mkinnaman,
I checked and the VEP cache that you downloaded contains `info.txt` with SIFT inside. Which command did you use to extract the cache?
I noticed that the cache you downloaded is the merged version but in your VEP command you don't use the option `--merged`, you need this option to use it.

[2020-07-23 15:14] sumageb opened #810 "triticum_aestivum is not a valid species name"
Hi,
I used vep to determine the effect of variants in the wheat cultivars. I manually downloaded the cache file from ftp://ftp.ensemblgenomes.org/pub/plants/release-47/variation/vep/triticum_aestivum_vep_47_IWGSC.tar.gz. I used the following command:
./vep -i file.vcf --format "vcf" -o ~/VEP_OUTPUT/output.txt --species triticum_aestivum --cache --cache_version 47
But I received the following warni

[2020-07-23 15:44] dglemos commented on #810
Hi @sumageb,
As you are using a non-vertebrate species, you need to add the flag `--genomes` to point to the protist public database server.

Best wishes,
Diana

[2020-07-23 15:55] sumageb commented on #810
Thanks, Diana. I have another followup question. If I use the flag --genomes, do I need to use the cache? In the manual, I read that if I use public sever performance will be slow.

[2020-07-23 16:26] dglemos commented on #810
If you use --genomes you don't need to use --cache but --genomes establishes a connection to the public database servers which is slower.
The fastest way is to use VEP in offline mode. In offline mode no connection is established with the public database, the data in the cache is used for the annotation (`--offline` switches on the flag --cache).

[2020-07-23 17:28] sumageb commented on #810
I understand your solution. For using vep offline, this species should be in the cache file if I do not use the server. So I manually downloaded the file the `~/.vep` directory. My problem is that when I used vep command, I received the above-mentioned error. Is it because vep could not catch the cache? If it happens how can vep work offline?

[2020-07-24 10:07] dglemos commented on #810
Did you try to run vep pointing to the right public database? `./vep -i file.vcf --format "vcf" -o ~/VEP_OUTPUT/output.txt --species triticum_aestivum --cache --cache_version 47 --genomes`

Your error is related to the database connection, not the cache. In your command vep gets the data from the cache but vep still uses a database connection to fetch data that is not in the cache like fetching re

[2020-07-24 14:49] sumageb commented on #810
Thank you so much for your excellent clarification.

[2020-07-27 16:47] at7 commented on #806
Dear David,

this one is a more complex bug where the rejoining of intergenic variants with more than one alternative allele is causing a problem. We have written a fix for the bug which still needs to be reviewed. Because of the slightly more complex nature of the bug this might take some time. But we will keep you updated about any progress and then distribute the fix as soon as possible.

Best

[2020-07-28 11:40] leonschuetz opened #812 "No CADD score if --hgvs is provided"
## Describe the issue
If the --hgvs parameter is provided, the CADD phred score is missing for some Indels.

## Additional information
It seems to be the case only for Indels which are inframe_insertions. On version 96 all Indels are annotated with a CADD score.

### System
- VEP version: 100.3
- VEP Cache version: 100
- Perl version: v5.26.1
- OS: Ubuntu 18.04.4 LTS
- tabix installed: yes

### Fu

[2020-07-29 15:25] aparton commented on #812
Hi @leonschuetz,

Thanks for reporting this one to us. I've been able to reproduce the issue, and we're in the process of putting a fix in place.

I'll let you know when the fix is live.

Kind Regards,
Andrew

[2020-07-29 15:53] at7 commented on #806
Dear David,

this has been fixed now for release/100. Could you please pull the latest changes from the release/100 branch? Thank you for providing your vep command and input data. This really helped us to reproduce the error and work on a fix. Please let us know if you continue seeing any problems.

Best wishes,
Anja

[2020-07-29 16:12] david-a-parry commented on #806
Great, I will give that a go and check it behaves properly with the rest of my data.

Thank you

Dave

[2020-07-30 14:50] jazberna1 opened #815 "retrieve NCBI NM_ accession numbers with VEP"
Hello,

## Describe the issue
This is not an issue. I would like to know if there is an option in VEP to retrieve NCBI NM_ accession numbers (i.e. NM_001173454)

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 98
- VEP Cache version: 98
- Perl version: v5.26.1
- OS: Ubuntu 18.04.3 LTS
- tabi

[2020-07-30 16:10] peranti opened #816 "Error while installing VEP on Windows"
## Describe the issue
Installation error

## Additional information
I have followed the instructions as mentioned on the below webpage:
https://grch37.ensembl.org/info/docs/tools/vep/script/vep_download.html#windows

DWIM Perl link is not working and so I have installed another Perl distribution: http://strawberryperl.com/ Hope it is okay.

Then I downloaded and unpacked the zip of the **ensembl-v

[2020-07-30 17:40] moldach opened #817 "ERROR: Input file is not bgzipped, cannot use tabix"
### System
- VEP version:
[code]
- Perl version: 5.32.0
- OS: CentOS
- tabix installed yes
[code]

I'm getting an error that VCF files are not bgzipped (even though they are):

Here is a head of the file:

[code]

## Method 1:

[code]

## Method 2:

[code]

Both give the error with the following command:

Here is the command for `vep`:
[code]

[2020-07-30 17:50] dglemos commented on #815
Hi Jorge,
It's possible to get NM_ accession numbers running VEP with a  cache file (--cache).
You have to download the RefSeq cache file (e.g. homo_sapiens_refseq), or a merged file of RefSeq and Ensembl transcripts (e.g. homo_sapiens_merged). After you have the correct cache file, run VEP with --refseq (RefSeq cache) or --merged (merged cache).

[2020-07-31 07:53] sarahhunt commented on #817
Hi @moldach,

That error is a little missleading - it is the GFF3 file that needs to be indexed, rather than the variants you wish to annotate. VEP goes through the variant input file reading a chunk of lines at a time then pulls out features at the relevant coordinates using the index on the GFF. There are details on preparing the file and the information required here:

http://www.ensembl.org/in

[2020-07-31 08:29] helensch commented on #816
Hi

Thanks for letting us know about the broken link. We will update our documentation.

From your error message it looks like the installation successfully unpacked and moved some of the Ensembl API files but
failed on the ensemb-io.

Please could you check if file exist in './Bio/tmp/ensembl-io-release-100/'

There may have been a download error. Do you get the same error on re-running the insta

[2020-07-31 08:48] jazberna1 commented on #815
Hello Diana,

I have installed the merged cache and enabled the --merged option (as shown on the Full VEP command line section below). I haved observed that some variants get annotated with NM_ accession numbers while others have ENST identifiers. I have attached a vcf file (with txt extention) that contains two variants, one showing NM_ and the other ENST ids.

I checked in biomart that the NM_ c

[2020-07-31 11:48] dglemos commented on #815
You're using the option --pick which picks once line of consequence data per variant according to the criteria described here: https://www.ensembl.org/info/docs/tools/vep/script/vep_other.html#pick
In your example, for the variant `chrX 19373555 C/A ` the consequence picked is for transcript ENST00000379806. If you want to keep using `--pick` then you should run VEP with `--refseq` cache (only Ref

[2020-07-31 13:57] david-a-parry commented on #806
This seems to be working fine now, thanks. Should I close this?

Dave

[2020-07-31 14:01] at7 commented on #806
Thank you for letting us know. I close the ticket now but don't hesitate to reopen it if you encounter any issues or to start a new issue.

Best wishes,
Anja

[2020-07-31 14:01] #806 closed

[2020-07-31 14:13] david-a-parry opened #818 "VEP crashing when retrieving display_codon when using --no_stats"
## Describe the issue
When running VEP with the --no_stats and --everything flags it crashes when encountering a specific multiallelic variant. VEP processed several million variants prior to the problem variant, so it seems like an edge case. The test file provided contains the problem variant.

Running without the --no_stats flag solves the problem, so there is an easy workaround, but thought th

[2020-07-31 14:16] dglemos commented on #810
I'm glad it's clear now. I'm going to close the ticket but if you have further questions feel free to open a new ticket.
Best wishes,
Diana

[2020-07-31 14:16] #810 closed

[2020-07-31 14:26] aparton commented on #818
Hi @david-a-parry,

Thanks for letting us know. I've been able to reproduce this issue, and I'll take a look at getting a fix in place. I'll let you know when we have a solution prepared.

Kind Regards,
Andrew

[2020-08-01 13:24] jazberna1 commented on #815
Hello Diana,

I understand that --pick returns one transcript only. I was asking if there is the option to for instance have the NM_ accession number alongside with the ENST, in the same way that both ENSG and HGNG are annotated for the  same variant. In this case NM_032504 is the NCBI equivalent to EBI ENST00000439458.

https://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=CCDS&DATA=CCDS46504

[2020-08-01 15:00] DarioS opened #819 "Pick Chooses Intronic Variant of Overlapping Antisense Gene Instead of Deleterious Missense Variant"
Why is the variant

[code]

assigned to the gene AL359922.1 as intron_variant,NMD_transcript_variant rather than CDKN2A as a deleterious missense_variant if I used `--pick`? The two genes are on opposite strands and overlapping. AL359922.1 has a single isoform with transcript support level 5 and most of CDKN2A's transcripts have transcript support level of 1.

[2020-08-02 01:00] DarioS commented on #819
I believe that I figured it out. The gene AL359922.1 has only one annotated transcript isoform; ENST00000404796.3. Because there's only one, that one is confidently assigned to be the canonical APPRIS isoform and has tag `appris_principal_1`. In contrast, CDKN2A has 12 different transcripts and the highest APPRIS support is `appris_principal_4`. Therefore there is no tie, and AL359922.1's transcip

[2020-08-03 10:56] aparton commented on #819
Hi @DarioS,

As you've noted, the APPRIS transcript status is used to decide which transcript is selected by pick in this situation, leading to the results you see. However, there are options to change how VEP selects individual transcripts that may be useful to you:
- You can use `--pick_order` to reprioritise transcripts using alternative criteria (including TSL or consequence rank) - you find f

[2020-08-04 11:35] hsiaoyi0504 opened #820 "Location of the bam file required for correcting transcript models has been changed"
## Describe the issue

The location of bam files listed on this page: http://apr2020.archive.ensembl.org/info/docs/tools/vep/script/vep_other.html seems to have been changed to https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/annotation_releases/109/GCF_000001405.38_GRCh38.p12/RefSeq_transcripts_alignments/

However, in the current web page: ftp://ftp.ncbi.nlm.nih.gov/

[2020-08-04 12:22] at7 commented on #820
Hi @hsiaoyi0504,

thank you very much for pointing this out. We have updated the link as part of our new release 101 which will be out soon. I will let you know here when the new release 101 is out.

Best wishes,
Anja

[2020-08-04 13:40] kaloyan-marinov opened #821 "Error when using the VEP Docker image for cache installation"
Hello,

I am unable to use the VEP Docker image for cache installation. My machine is running Ubuntu 18.04.4 LTS.

Following the example given under "Cache and Plugins installation" on http://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#docker, I executed
[code]
which gave me the following error:
[code]

The only thing that came to my mind was to troubleshoot whether `curl` actuall

[2020-08-04 13:57] at7 commented on #821
Hi @kaloyan-marinov,
Could you please let me know if you created the vep_data directory as per description in our documentation?:
--Create a directory on your machine:
mkdir $HOME/vep_data
--Make sure that the created directory on your machine has read and write access granted so the docker container can write in the directory (VEP output):
chmod a+rwx $HOME/vep_data

Thank you,
Anja

[2020-08-04 18:15] YalithKBK commented on #724
I am having the same issue. I don't have vep in a container of any sort. My command line is:
`vep --port 3337 --refseq --cache --dir home/network/T/Labs/NGS/program_files --vcf --fields "Allele,Consequence,IMPACT,SYMBOL,BIOTYPE,VARIANT_CLASS,EXON,INTRON,HGVSc,HGVSp,cDNA_position,SIFT,PolyPhen,CLIN_SIG" --variant_class --numbers --hgvs --sift b --polyphen b --clin_sig_allele 1 --check_existing -a G

[2020-08-05 08:00] at7 commented on #724
Hello @YalithKBK,
could you please let me know how you installed VEP and could you please share your error message with me?

Thank you,
Anja

[2020-08-05 08:56] kaloyan-marinov commented on #821
Hi Anja,

I checked what you suggested, and it turned out that I had done the former but not the latter.

After changing the permissions on the `$HOME/vep_data` folder, I was able to execute the command successfully.

Many thanks for your help!

[2020-08-05 09:19] at7 commented on #724
Hi @YalithKBK,
we noticed that you are missing the '/' at the beginning of your --dir parameter. Could you please check that you are using --dir /home/network/T/Labs/NGS/program_files?

Thank you,
Anja

[2020-08-05 09:22] at7 commented on #821
I'm glad to hear that it is working for you now. I will close this issue but feel free to reopen the issue or create a new issue for any future problems you might encounter.

[2020-08-05 09:22] #821 closed

[2020-08-05 09:30] peranti commented on #816
Hi,

Yes, the issue remains after reinstallation too!

Meanwhile, I will try the Docker option and update the thread!

[2020-08-05 13:42] moldach commented on #817
Hi @sarahhunt thanks for clearing this up and for suggesting to omit those three params.

After indexing the GFF3 I've tried the following:

[code]

I got an e-mail from the SLURM job scheduler after **4 hours and 23 minutes** that the job **FAILED** with ExitCode 1

In the `.err` file I see:

[code]

Any idea what went wrong or how to troubleshoot this?

[2020-08-05 16:00] at7 commented on #817
Hi @moldach,

we do see the `Broken pipe` error occasionally but don't really have an explanation for how the error is caused. The other message is more like a warning message and shouldn't be the failure reason.
Could you please check your output file? I wonder if the `Broken pipe` message causes your job scheduler to return a  non-zero code despite VEP completing the annotations successfully.
I'

[2020-08-05 18:29] moldach commented on #817
The output file only has the header lines but not annotations.

I would appreciate if you could try to reproduce the problem on your end.

I'm sending you an e-mail to your ebi account with instructions for downloading the references (fa/gff3) and a dropbox link to my `Pindel` VCF file.

[2020-08-06 09:27] at7 commented on #817
Thank you for sending all the input files. I have downloaded them and will start debugging the problem you described now. I get back to you when I know more.

[2020-08-06 10:13] dglemos commented on #815
Hello Jorge,
There's no option to return both Ensembl and RefSeq transcript IDs in the same annotation because not all RefSeq completely match Ensembl transcripts.
If you want to know which transcripts have a complete match with RefSeq you can use the option --mane which will indicate if the transcript is the [MANE](https://www.ensembl.org/info/genome/genebuild/mane.html) Select transcript for the

[2020-08-06 11:11] jazberna1 commented on #815
Hello Diana,

ok, that is clarifying .

Thanks so much
Jorge

[2020-08-06 11:15] #815 closed

[2020-08-06 12:34] at7 commented on #817
I tried to index your GFF3 file and got an error: Not a BGZF file: c_elegans.PRJNA13758.WS265.annotations.gff3.gz.
I then uncompressed and ran the following commands:
grep -v "#" data.gff | sort -k1,1 -k4,4n -k5,5n -t$'\t' | bgzip -c > data.gff.gz
tabix -p gff data.gff.gz
The steps are described here: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff

After that I was able to r

[2020-08-07 14:27] MaguelonneR opened #824 "Error while using NCBI bam file for refseq annotation"
I would like to predict the effect of my WGS variants based on RefSeq transcripts.

My understanding is that I should use NBCI bam file to properly annotate the variants. So I downloaded the .bam et .bam.bai files from this link (https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/annotation_releases/105.20190906/GCF_000001405.25_GRCh37.p13/RefSeq_transcripts_alignments/)

[2020-08-07 15:15] ima23 commented on #824
Hi @MaguelonneR,

Starting with version 90, the NCBI bam files for human are already accounted for within the VEP code and does not need the `-bam ` parameter.
More information can be found here: http://www.ensembl.org/info/docs/tools/vep/script/vep_other.html#refseq.
Could you try without the `-bam` parameter and let me know i

[2020-08-08 13:25] NextGenBioinformatics opened #825 "Attempt to reload Bio/EnsEMBL/IO/Parser.pm aborted"
Hi there,

I am attempting to install the latest version of VEP by executing the following command line:

`perl INSTALL.pl`

The error message:

Downloading required Ensembl API files
 - fetching ensembl
 - unpacking ./Bio/tmp/ensembl.zip
 - moving files
 - getting version information
 - fetching ensembl-variation
 - unpacking ./Bio/tmp/ensembl-variation.zip
 - moving files
 - getting version info

[2020-08-10 07:52] MaguelonneR commented on #824
It worked. Thank you for your help!

[2020-08-10 07:52] #824 closed

[2020-08-10 12:52] ima23 commented on #825
Hi Tom,

The issue seems related to `reload Bio/EnsEMBL/IO/Parser.pm`. Can you check for me please if you have the following 2 libs installed: `Carp`, `Try::Tiny`?

Thanks,
Irina

[2020-08-11 18:31] kaloyan-marinov commented on #683
Hello,

May I ask for a follow-up on this issue?

It seems that I have encountered the same issue as @student-t . However, instead of `/data/dbNSFP4.0.gz`, I was using the following version of the dbNSFP plugin: ftp://dbnsfp:dbnsfp@dbnsfp.softgenetics.com/dbNSFP4.1c.zip

Specifically, I created a Docker container and obtained access to its interactive shell by running:
[code]
and then I executed:

[2020-08-11 22:13] moldach commented on #817
Hi @at7 thank you very much for all of that information.

The only thing I can surmise is that there was likely a segmentation fault (OOM) when I was running `grep -v "#" data.gff | sort -k1,1 -k4,4n -k5,5n -t$'\t' | bgzip -c > data.gff.gz` interactively which resulted in a truncated file and that's why it wouldn't index.

Running these steps again has solved the issue.

[2020-08-11 22:45] moldach commented on #817
Could you please clear up the following:

What is the difference between using `--cache` or `--offline`?

[2020-08-11 22:55] moldach commented on #817
WARNING: Unable to determine biotype of ..
WARNING: Parent entries with the following IDs were not found or skipped due to invalid types ..
We describe VEP's GFF format expectations here as well: http://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff

The [reference genome and annotation (GFF3) are from WormBase](ftp://ftp.wormbase.org/pub/wormbase/releases/WS265/species/c_elegans/PR

[2020-08-12 08:48] at7 commented on #817
With regard to your question about the --offline and --cache options:
If you only use --cache VEP will get all transcript information from the cache files. VEP will still use a database connection to fetch data that is not in the cache like fetching reference sequence for HGVS calculations. If you also use --offline VEP won't get the reference sequence from the database. In which case you also nee

[2020-08-12 14:42] tuncayseker opened #827 "Missing transcripts in VEP output"
Some transcripts are not seen in the VEP output (local run with the cache and custom GFF file) and also in the web interface.

Example:
variant :  4:187209227:G:A
genome_version : hg19

In the output,
for  F11 gene  (NM_001354804)
for F11-AS1   (NR_033900, ENST00000510172, ENST00000508110, ENST00000508287) are not listed when I run VEP in my local or in web interface.
These transcripts are present

[2020-08-13 10:21] jo6fu3 commented on #825
Hi,

I was encountered the same error message:

Testing VEP installation
ERROR: Testing VEP script failed with the following error
Attempt to reload Bio/EnsEMBL/IO/Parser.pm aborted.
Compilation failed in require at /usr/share/perl5/vendor_perl/parent.pm line 20.
BEGIN failed--compilation aborted at /pkg/bioinfo_pkg/ensembl-vep/Bio/EnsEMBL/IO/TextParser.pm line 45.
Compilation failed in require at

[2020-08-13 13:05] ima23 commented on #827
Hi Tuncay,

can you let me know what VEP parameters have you used? Some of the options can pick only one to display, see `-pick`:
https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html

Thanks,
Irina

[2020-08-13 14:00] tuncayseker commented on #827
Hi Irina,

Thanks for the quick response. I'm sharing the vep output (
http://grch37.ensembl.org/Homo_sapiens/Tools/VEP/Results?tl=8jmiHzxuYTeHvkJb-6475901
)

Here is the summary for the comparison between the output and the
transcripts in the related gff files (transcript gff versions are same as
indicated in the website). I didn't use --pick or any other filter in the
command line.

*Gene-id*:EN

[2020-08-14 06:24] leonschuetz commented on #812
Hi @aparton,

Thanks for the answer. I found another variant where the ``--hgvs`` parameter leads to different CADD scores:

``chr13	32972743	.	G	GTGAATTATA``

Here the ``infame_insertion`` reports a CADD score of 24.4 instead of 8.612 which the other transcripts report.

If you take a look in the CADD file it reports for this position 3 variants/indels:

``13      32972743        G       GGAATTAT

[2020-08-14 13:25] mvheetve opened #829 "HGVS output for some but not all variants"
Hi,

using vep to annotate variants from genetic screening. After converting vep output (vcf) to a more readable format I noticed a large number of variants do not include HGVS annotation. I get that for some variants c. or p. annotation is not possible or not yet implemented, but how come a large number of HGVSg annotations are also missing? It seems that all variants missing HGVSg strings are al

[2020-08-14 15:57] dglemos commented on #829
Hi @mvheetve,
I tried to reproduce your issue but when I run VEP the output contains HGVSg for all of the variants.
About the error message, it seems to be a BioPerl warning message. You should make sure you only have one version installed.
I have a few questions/suggestions:
 - Which fasta file are you using?
 - Run the same vep command but without the `--stats_file` option.
 - If the suggestion

[2020-08-16 16:50] Caro-Ca opened #830 "test failure: loadable library and perl binaries are mismatched"
Dear,
I have a problem testing VEP. This is the code used:
[code]
Hope you could help me out.
Thank in advance.

[2020-08-17 14:25] mvheetve commented on #829
Hi,

thank you for your quick reply. Tried `--offline`, without `--stats_file` but no luck. Fasta came with cache installation, currently it is `Homo_sapiens.GRCh38.dna.toplevel.fa.gz`. I think I know what's going on, you've probably used my example file to build an input file for VEP. I'm running a multi-sample vcf as input, but I've noticed there's a mixture of vcf and gvcf formatted samples (`<

[2020-08-17 14:31] dglemos commented on #830
Hi @Caro-Ca,
The issue seems to be related to your perl and Bio::DB::HTS installation, Bio::DB::HTS was probably built against a different perl than you use.
How did you install this module? Which perl version do you have installed?

[2020-08-17 14:45] Caro-Ca commented on #830
I installed VEP a long time ago, but I remember I followed:
[code]
and then I downloaded multiple species library.
[code]
I am sorry for not giving enough details, but ultimately I can do the installation process again.

[2020-08-17 15:29] dglemos commented on #830
Running the installation again seems to be a good idea. Make sure to delete ensembl-vep directory and the HTS installation before running it. Let us know if you find any issue.

[2020-08-18 08:26] ima23 commented on #825
Thanks for letting us know @jo6fu3 and glad it fixed the issue.
I will close this ticket now. If this issue is not fixed for you @NextGenBioinformatics, please feel free to reopen it.
Thanks,
Irina

[2020-08-18 08:26] #825 closed

[2020-08-18 08:34] nguyenthucquanghung opened #831 "Different annotation results of one variant"
## Describe the issue
I got two different annotation results of one variant in two cases:
 - The first case is when I run vep tool to annotate a 12gb vcf file.
 - The second case is when I run vep tool to annotate a single variant from STDIN.
The differences between two case is in these annotated fields: Allele, CDS Position .

## Additional information
 - The input file in the first case is a vcf

[2020-08-18 14:13] ima23 commented on #827
Hi Tuncay,

hank you for the link and examples.

The Ensembl VEP will output consequences for transcripts overlapping the variation. For variation: `4:187209227:G:A` that means location `4:187,209,227`.

For the first example, gene ENSG00000251165 (F11-AS1), only one of the 4 transcripts overlaps the variation, namely ENST00000505103.1. See below the gene/transcripts and their location:

http://gr

[2020-08-18 19:03] aparton commented on #831
Hi @nguyenthucquanghung,

Thank you for this report. I've been unable to reproduce this issue today, however I have a couple of questions that might help us get to the bottom of this.

Could you please confirm the subversion of VEP you're using? If you run `./vep` then VEP will report to you its subversion.

Additionally, could you please try running the whole file without the `--no_stats` and `--

[2020-08-18 20:02] Caro-Ca commented on #830
yes, it worked. Thank for your time.

[2020-08-18 20:02] #830 closed

[2020-08-19 07:42] jeongmeani opened #832 "HGVSp position is different to Protein_position"
Hi, nice to meet you.
my system is below

### System
- VEP version: 98
- VEP Cache version: 98

and i got problem getting peptide sequence of mutation.
but it seems strange of position.

for example
`chr1    240370913       rs71170718      TGCCCCCTCTACCCGGAGCGGGAATACCTCCTCC      T       0       REJECT  MVDLK=0,1,0,0,0;NUM_TOOLS=1;LC=12.8;CSQ=-|inframe_deletion|MODERATE|FMN2|ENSG00000155816|Transcr

[2020-08-19 10:41] dglemos commented on #832
Hi Jeongmin,

HGVS rules require a change to be described at the 3' most position. In the meantime by default VEP reports the consequences, including the protein positions, without any shifting -> `p.934` corresponds exactly to genomic position `240370913`.
In release 100 we introduced new flags so that VEP can optionally convert variant alleles to their most 3’ representation before consequence c

[2020-08-20 01:19] davmlaw opened #833 "Feature request: VCF header should contain gene GTF version"
I need to know the gene annotation release version used, but this is not possible to automate at the moment.

**Ensembl**

You know the Ensembl release (eg 100)

GRCh38 is being updated, so you know it's release 100.
GRCh37 is not being updated, so going to ftp://ftp.ensembl.org/pub/grch37/release-100/gtf/homo_sapiens/Homo_sapiens.GRCh37.87.gtf.gz - you find out it's v87

**RefSeq**

For VEP relea

[2020-08-21 08:19] dglemos commented on #833
Hi @davmlaw,
Thank you for the explanation and the suggestion. We will look into it and will let you know of any changes made.
Best wishes,
Diana

[2020-08-21 08:26] dglemos commented on #808
I'm going to close this ticket. If this issue is not fixed please feel free to reopen it.
Best wishes,
Diana

[2020-08-21 08:26] #808 closed

[2020-08-24 05:04] nguyenthucquanghung commented on #831
Hi @aparton,
Thank you for the quick reply.
My VEP version is 100.3
I had tried as you said, but the result was the same.

Thank you.

[2020-08-24 08:51] stephan-hutter commented on #712
Hi Andrew,

I just saw that Ensembl 101 was released, but it didn't seem to contain a fix resolving this issue.
Do you have an update on when this will be fixed?

Thanks!
Stephan

[2020-08-24 12:16] aparton commented on #712
Hi @stephan-hutter,

Thanks for getting in touch. We discovered an unexpected side effect of our initial fix, and as such were unable to release a fix for release 101. We're still looking into it, and I'll let you know when we know more.

Kind Regards,
Andrew

[2020-08-24 13:12] ima23 commented on #519
Hi @lituan,

 I will close this ticket now. The Ensembl 100 release updates annotated now the example as 'splice donor variant'. Please feel free to re-open the ticket if the issue is still there.

Kind regards,
Irina

[2020-08-24 13:12] #519 closed

[2020-08-24 22:37] aditisk opened #835 "Error linked to the Downstream plugin"
Hi,

I am running into an error linked to the Downstream plugin when I try to run the VEP command. I'm using VEP v101.0. My error message is pasted below:

`Possible precedence issue with control flow operator at /ihome/rferris/adk85/.conda/envs/pvactools/lib/site_perl/5.26.2/Bio/DB/IndexedBase.pm line 805.
Use of uninitialized value in numeric lt (<) at /ihome/rferris/adk85/.conda/envs/pvactools/

[2020-08-25 02:44] pinmarch opened #836 "ERROR: Out of memory error when using cache"
Hi, I sometimes get the OOM error at the line below.
https://github.com/Ensembl/ensembl-vep/blob/bf8fce94cfe1889c92771695bb57931b43b72484/modules/Bio/EnsEMBL/VEP/AnnotationSource.pm#L134

I think "$self->clean_cache" is required not after that line but before.
https://github.com/Ensembl/ensembl-vep/blob/bf8fce94cfe1889c92771695bb57931b43b72484/modules/Bio/EnsEMBL/VEP/AnnotationSource.pm#L136

[2020-08-25 07:17] aparton commented on #836
Hi,

Thanks for this report. Could you please send me your VEP command and input data used that produced this issue, so that I can take a closer look?

Kind Regards,
Andrew

[2020-08-25 07:51] 007vasy commented on #256
any news on this issue? we are experiencing this twice a month while running VEP in AWS Batch

[2020-08-25 10:10] pinmarch commented on #836
Thanks for your reply.

Command:
`vep -i input.vcf --assembly GRCh38 --offline --merged --everything --cache_version=100`
(VEP API version = 101, and RAM is limited to 4g or 8g with the option of docker container)

chr1 is processed without problems, but chr2 causes the OOM error.
(so input.vcf contains chr1 to 3)

Sincerely yours,
[input.zip](https://github.com/Ensembl/ensembl-vep/files/5123037/i

[2020-08-25 10:23] aparton commented on #256
Hi @007vasy,

Unfortunately we have nothing concrete to report yet on fixing this issue. The only time we're able to reproduce this issue is when VEP trying to setup more forks than there are cores on the machine.

Could you please tell us more about how you're running VEP? What input command are you using? How many forks are you requesting on which type of AWS infrastructure? There may be some sm

[2020-08-25 10:30] aparton commented on #836
Hi @pinmarch,

I suspect this is due to the regulatory data being switched on as part of --everything. If you try running VEP with the additional flag `--buffer_size 500`, then it should prevent your out of memory error from occurring.

Let me know if this solves your issue, if not then I can take a closer look.

Kind Regards,
Andrew

[2020-08-25 10:46] ima23 commented on #835
Hi @aditisk,

Thanks for the error log. Can you please share your VEP command and an example that triggers this error for me to reproduce it?

Thanks,
Irina

[2020-08-25 12:37] pinmarch commented on #836
Thanks for your suggestion.

I did not checked `--buffer_size` option. I tried `--buffer_size=500` and `--buffer_size=300`, but I got same results.

https://github.com/Ensembl/ensembl-vep/blob/bf8fce94cfe1889c92771695bb57931b43b72484/modules/Bio/EnsEMBL/VEP/AnnotationSource/Cache/BaseSerialized.pm#L125
I confirmed the caching process; it appears to be loading a file for one entire chromosome.
Afte

[2020-08-25 13:14] at7 commented on #820
Hi @hsiaoyi0504,
the links has now been updated.

Best wishes,
Anja

[2020-08-25 16:58] aditisk commented on #835
Hi @ima23,

Thank you for the prompt response. Here is my command:

`/ihome/rferris/adk85/.conda/envs/pvactools/bin/vep \
--input_file /zfs1/rferris/adk85/Zandberg_0001-WES/results/Mutect2/ZAN173A15_vs_ZAN173A16/filtered_somatic_ZAN173A15_vs_ZAN173A16.vcf \
--output_file ./VEP_Test/HN9080_vep.vcf \
--format vcf \
--vcf \
--symbol \
--terms SO \
--tsl \
--hgvs \
--fasta /zfs1/rferris/adk85/Zandberg

[2020-08-25 18:34] moldach opened #837 "Problem with the VEP ANNOTATE snakemake wrapper"
I'm trying to adapt my regular `VEP` code to use the snakemake wrapper instead but am running into an issue.

I want to make sure that a) the wrapper works for me and b) it produces the same results as the following:

[code]

[In order to use `VEP` with wrappers there are 3 different rules](https://snakemake-wrappers.readthedocs.io/en/stable/wrappers/vep.html). I have got the following two working

[2020-08-25 20:50] pinmarch commented on #836
Hi, Andrew,

I figured out it passed with `--buffer_size=30` after reconsidering.
Thanks for your advice.

[2020-08-25 20:59] dglemos commented on #690
Hi @fgvieira,
Recently we added a new option to filter_vep to flag variants failing the filter instead of deleting them from the final file. This new option adds a flag to the FILTER value in the VCF file. This flag does not specify which parameters failed, it only indicates if the variant fails or not: `filter_vep_pass` means the variant passed the filter; `filter_vep_fail` variant failed the fil

[2020-08-26 11:23] ima23 commented on #837
Hi @moldach,

If I understand correctly, the command line VEP runs as expected and you are looking into using snakemake to run VEP.
In this case the page below might be of help to you on how to set up the wrappers:
 https://snakemake-wrappers.readthedocs.io/en/stable/wrappers/vep.html .

Kind regards,
Irina

[2020-08-26 11:52] ima23 commented on #835
Hi @aditisk,

Thank you for the VEP command. Given the error, it looks like one of the transcripts that overlaps one of the input variation is not leading to a translation, to be able to reproduce and check the case I would need to know what variation that is.

Potentially the VCF is annotated to completion with the lines related to the error containing empty annotations from Downstream plugin.

I

[2020-08-26 14:43] aditisk commented on #835
Hi @ima23, I can make a small input example and share it with you. Could you please give me your email ID ? I would prefer sending the file privately rather than uploading it here.

Thanks a lot.

[2020-08-26 15:42] moldach commented on #837
Hi @ima23 I included all three of those links in my message...

Please read again and see the part:

[2020-08-26 16:56] ima23 commented on #835
Hi @aditisk,

Sounds good. Can you send it to  helpdesk@ensembl.org please. I will pick it up from there.

Thanks,
Irina

[2020-08-26 17:21] ima23 commented on #837
Hi @moldach,

I understand your issue and sorry for not following the links to the posts to see it was the same related post.

Have you tried contacting the authors of the snakemake wrapper to check if they can help you with it? Unfortunately it sounds like it is a snakemake setup issue, when the file is not found before it is sent to VEP for analysis, and not a VEP issue; in which case they shoul

[2020-08-26 18:39] moldach commented on #837
Hi @ima23 thanks for your feedback. I've followed up with the author @johanneskoester

[2020-08-26 19:20] aditisk commented on #835
Hi @ima23, just sent the file over. I'm closing this issue, we can continue via email. Thanks.

[2020-08-26 19:20] #835 closed

[2020-08-27 16:23] ima23 commented on #837
Thanks @moldach. I will close this ticket for now, do open it if you have related questions or open a new one.
Kind regards,
Irina

[2020-08-27 16:23] #837 closed

[2020-08-28 10:15] Dwooi7417 opened #838 "How to include ref allele and AD:DP (info fields) in --tab format"
## Describe the issue
I used the command

vep -i Cap1_index14.g.vcf -o Cap1_index14_vep_tab.g.tsv --tab --format vcf --symbol --everything --terms SO --tsl --hgvs --fasta /home/danwoo/.vep/homo_sapiens/101_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz --cache --plugin Downstream --force_overwrite --fields "Location,REF_ALLELE,Allele,SYMBOL,IMPACT,Consequence,gnomAD_AF"

However REF_ALLELE is empty

[2020-08-28 13:48] mvheetve commented on #829
Hi,

justed wanted to update in case anyone else comes across this issue.

So it was the format that caused the issue. I've converted to biallelic variants instead of multi-allelic `bcftools norm -m-any`, next used removed all `<NON_REF>` alleles with `bcftools view -e ALT="<NON_REF>` and used the exact same command as before
`vep --input_file $input --stats_file $stats --output_file $output --cac

[2020-08-28 13:48] #829 closed

[2020-08-30 14:52] edmundlth commented on #256
Hello @aparton Thanks for responding. I will provide the context to @007vasy questions.
We run the `vep` command using Esembl docker image via cromwell workflow engine using AWS Batch as compute backend and querying our own mirror VEP database running as a AWS RDS service. The commandline is as follow.
[code]

The error occur only once in the few months after the system is productionised and we ha

[2020-08-31 22:07] ipstone opened #840 "haplo runs to a halt with a large phased VCF file to annotate"
Hello,

I am running to annotate a very large phased VCF file (~500GB) with haplo, but it runs to a stall after about 2 days, with only 140k lines annotated (memory usage is around 32GB - which is the allocated max memory for the computation node.

Might this issue be the result of 'norma' haplo run, due to the large input vcf used?
(I have searched the issues, and noticed: https://github.com/Ense

[2020-09-01 12:23] aparton commented on #256
Hi @edmundlth,

Thanks for providing this information. My AWS knowledge is slim but workable, so please correct me if I'm wrong, however I think your experience of this bug fits with what we already know about this issue.

I think this is related to the docker image and the AWS setup and is independent of the Cromwell workflow system. We are able to reproduce this issue when we ask VEP to fork int

[2020-09-01 15:57] at7 commented on #840
Hello,

haplo doesn't have an option to be run in parallel/multi-threaded mode. You need to split your input in order to run haplo in parallel. Be careful to split your input in a way that variants that overlap the same protein coding gene are not separated.
I would also recommend that you use the --offline option and install the cache files for looking up transcript information.
Finally, haplosau

[2020-09-02 09:57] ima23 commented on #838
Hi @Dwooi7417,

Thank you for the message.
I can replicate your issue with the empty REF_ALLELE. It looks like a bug and will update you when a fix is ready.

Relating to your question on keeping `AD:DP` from INFO, if these are in your input vcf, then they would be left unchanged in output if the output format is `vcf`.
There are a few examples of how to add data with custom flag [here](https://ww

[2020-09-02 10:55] aparton commented on #836
Hi @pinmarch,

I'm glad you've been able to resolve your issue - however `--buffer_size 30` is very small and would probably slow your analyses down a reasonable amount.

I'd like to investigate a little further just to make sure that there isn't something more concerning going on - could you please tell me a little about the input data you're using that's causing this issue? Are they primarily st

[2020-09-02 14:23] ipstone commented on #840
Thanks Anja for the all the info. I got my problem solved by splitting the file. I also tried to install bioperl-ext, but on my system it doesn't compile, the error part is as the following. I am guessing it could be the issue of the linker ld setup with the conda and linuxbrew environment - if you have tips on how to get around this, it will be also very helpful as well.

Thanks again and feel fr

[2020-09-03 02:41] stellaoh opened #843 "VEP output"
Dear vep team,

I used VEP version 101.

Q1. Can I get multi allelic variant to splited variants using VEP?

ex. original vcf
![image](https://user-images.githubusercontent.com/33537478/92065582-f22e5e80-edda-11ea-89dd-0cacaa218f71.png)

ex. like this
chr1    54712 TTTTCTTTCTTTCTTTCTTTC TTTTCTTTCTTTCTTTC CSQ=xxx
chr1    54712 TTTTCTTTCTTTCTTTCTTTC TTTTCTTTC CSQ=xxx
chr1    54712 TTTTCTTTCTTTCTTTCT

[2020-09-03 14:40] at7 commented on #840
Hi Isaac,
I cannot help with the bioperl-ext question and will close this issue. But please reopen or create a new issue if you have any other questions.
Best wishes,
Anja

[2020-09-03 15:13] at7 commented on #843
Hi,
it is not possible to present each allele of a mutliallelic variant separately in the output if the output format is --vcf. You could post process your output VCF file with bcftools and its [norm --multiallelics](http://samtools.github.io/bcftools/bcftools.html#norm) option.
It is unfortunately also not possible to include the GT value into the CSQ info field. However, if you run VEP with the

[2020-09-04 03:15] eat1000 opened #846 "Access denied when downloading data from ftp site"
I am downloading data from ftp.ensembl.org and received error message about "Permission denied". I was using
wget ftp://ftp.ensembl.org/pub/release-101/variation/vcf/homo_sapiens/homo_sapiens-chr1.vcf.gz
Other method I tried such as using rsync did not work either. Any advice will be highly appreciated!

[2020-09-04 06:25] eat1000 commented on #846
It works after another try in a few hours.

[2020-09-04 06:25] #846 closed

[2020-09-04 13:21] jpofmars opened #847 "VEP 101 - MERGE CACHE VERSION - REFSEQ MISSING for some gene"
Dear Ensembl Team ,

here my issue :

## Describe the issue
When I perform annotation with VEP **merged** **101** cache version on my VCF I get for some genes as  BRCA1 and RUNX1  only Ensembl transcript.
For other genes as TP53 for exemple it seems to be ok.

I perform the annotation with VEP (v101) on previous cache version 95 and for the same variants I get Ensembl and Refseq Transcrits.

I per

[2020-09-04 14:02] at7 commented on #847
Hi @jpofmars,

unfortunately, we noticed a problem with our RefSeq data load for release 101. We recommend to revert to release 100 code and cache files if you are working with RefSeq transcripts. This will be fixed for our autumn release 102 and I will update you here as soon as the new release is out. I apologise for any inconvenience caused by this.

Best wishes,
Anja

[2020-09-04 15:29] #820 closed

[2020-09-04 16:44] alicecanid opened #848 "Error: Failed to parse command line flags"
## Describe the issue
When attempting to annotate my vcf files I'm getting the error Failed to parse command line flags (see below)

## Additional information

### System
- VEP version: 101
- VEP Cache version: 101
- Perl version: 5.26
- OS: Redhat
- tabix installed yes

### Full VEP command line
[code]

### Full error message

Unknown option: sift b
Unknown option: ccds --uniprot --hgvs --symbol

[2020-09-05 03:17] pinmarch commented on #836
Hi, Andrew,

Thanks for your reply.
I used short variants, and mount with `-v vcffiles:/mnt/data -v /path/to/cache:/root/.vep` option.
Docker containers are running on the VirtualBox, Core i7 1 core.

Thank you.

[2020-09-07 09:33] alicecanid commented on #848
Sorry, have managed to fix this myself by just retyping out the code- must have been hidden characters or something

[2020-09-07 09:40] #848 closed

[2020-09-15 04:07] mikpom opened #850 "Vep hangs with no error"
## Describe the issue
Vep hangs with no error

## Additional information
I recently tried to update VEP version (up to 101) but it hangs with not response or output. All tests on installation passed. If I run my previously installed vep ver. 98 with its corresponding cache the command finishes successfully.

### System
- VEP version: 101
- VEP Cache version: 101
- Perl version: 5.26
- OS: Ubuntu
-

[2020-09-16 08:36] dglemos commented on #850
Hi @mikpom,
Can you run the same command but connecting to the database?

[2020-09-16 08:50] mikpom commented on #850
Hi @dglemos
hope you asked the following.
In this case it also hangs on the last line you can see below.

[code]

[2020-09-16 08:53] mikpom commented on #850
Hi @dglemos
hope you meant the following.
In this case it finishes succesesfully after some time.

[code]

[2020-09-16 09:32] dglemos commented on #850
Yes, that's what I meant.
Can you please list what you have in the directory `/home/mikpom/.vep101`.

[2020-09-16 09:53] mikpom commented on #850
Here is the output of `tree -L 3 /home/mikpom/.vep101`

[code]

[2020-09-17 10:15] dglemos commented on #850
The fasta file is inside your cache directory maybe you should remove `Homo_sapiens.GRCh38.dna.toplevel.fa.gz.vep.lock` and move `Homo_sapiens.GRCh38.dna.toplevel.fa.gz` somewhere else and if you want to use the fasta file run vep with the option `--fasta dir/Homo_sapiens.GRCh38.dna.toplevel.fa.gz`. After you move the files, run vep again with your first vep offline command.

[2020-09-18 01:16] mikpom commented on #850
I moved the genome to ~/.vep101/FASTA and  tried to run

`/home/mikpom/apps/ensembl-vep-release-101/vep --force_overwrite --format vcf --polyphen b --uniprot --json --symbol --offline --cache --canonical --mane --hgvs --numbers --variant_class --allele_number --fork 4 -i dup.vcf -o dup.annot.vepout --dir /home/mikpom/.vep101 --verbose --fasta /home/mikpom/.vep101/FASTA/Homo_sapiens.GRCh38.dna.topl

[2020-09-18 09:31] smw1414 opened #851 "Wrong HGVSc position?"
## Describe the issue
Hi VEP team,
I found a incorrect HGVSc nomenclature for SNV chr9:16437210A>T. VEP reported this variant as NM_017637.6:c.1006A>T, a stop_gained mutation. However, I counted the position of chr9:16437210T>A and realized that this mutation locate at 1006 of NM_017637.6. But, this transcript CDS start from 23, Therefore, the correct position should be 984 and the consequences sh

[2020-09-18 10:37] dglemos commented on #850
Let's try to run vep with minimal options to be sure it's not one of the flags that is stalling vep:
`/home/mikpom/apps/ensembl-vep-release-101/vep -i dup.vcf -o dup.annot.vepout --offline --cache --dir_cache /home/mikpom/.vep101 --fasta /home/mikpom/.vep101/FASTA/Homo_sapiens.GRCh38.dna.toplevel.fa.gz `

[2020-09-18 17:01] dglemos commented on #851
@smw1414,
You are right, the HGVS should be `NM_017637.6:c.984A>T`. This issue has been fixed for later releases.
In the meantime, if you run vep with Ensembl transcripts the HGVS has the correct CDS position.

[2020-09-19 01:37] mikpom commented on #850
Looks like it's not, no success with minimal options : - (

[2020-09-20 17:43] boyangzhao opened #852 "possible to run in offline mode for filter_vep with ontology?"
## Describe the issue
I'm trying to filter my vcf with filter_vep with ontology option. However, it seems that this requires a database connection, which I would then get a `Can't connect to MySQL server on 'ensembldb.ensembl.org' (111)` error. Is it possible to run filter_vep with --ontology in offline mode? In our upstream workflow, we can run vep in offline mode.

## Additional information
Plea

[2020-09-21 12:57] ima23 commented on #852
Hi @boyangzhao,

Unfortunately there is no offline option to run `filter_vep`. We are aware there were some connectivity issues with the MySQL server, could you please try again and see if it is working now.

Thanks,
Irina

[2020-09-21 16:58] boyangzhao commented on #852
I see, thanks. We are running our workflows in a completely closed environment, so everything thus far are offline only. We will have to see if we can open a port for this. Is there any plan to also develop an offline version of filter_vep?

[2020-09-22 12:19] gpalou4 opened #855 "ERROR: No matching species found at INSTALL.pl line 808."
## Describe the issue
I can't install VEP release 84. I downloaded the corresponding release [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#toolsversions). I've tried with the options --NO_HTSLIB and --PREFER_BIN, but still don't know what is going on. I think I have installed everything correctly, because there are no more errors about package dependencies.

### Syste

[2020-09-22 14:00] ima23 commented on #855
Hi @gpalou4,

Is there a particular reason why you want to use version 84 from March 2016? We strongly recommend using more recent versions, for example e101 from August 2020 is the latest. The code and data has significantly improved in the past 4 years.

Kind regards,
Irina

[2020-09-22 14:10] gpalou4 commented on #855
Hello Irina,

Thanks for the fast answer. Yes, the reason is that GCD used this particular version to make the gene annotations on all TCGA data in their most recent version (Harmonized database) for hg38. I have to liftover and re-annotate a .maf file from a paper that used WES data from an old TCGA version (Legacy database, hg19), and match the genes with the RNA-seq from the current TCGA versio

[2020-09-22 14:26] gpalou4 commented on #855
Hi again,

The annotation is not working, here's the code.

[code]

The input file looks like this:

[code]

I follow the indications from [here](https://www.ensembl.org/info/docs/tools/vep/vep_formats.html#default)

[2020-09-22 16:12] ima23 commented on #855
Hi Guille,

can you try using `#` in front of the header line or removing the header line all together?

In respect to your larger use case context, I do wonder if there is another way for you to do what you want. It might be worth sending a query to helpdesk@ensembl.org to check there is an alternative than using VEP 84 as a proxy.

Irina

[2020-09-22 16:21] ima23 commented on #852
You could install a local instance of the ontology db to use within the environment. The ontology db mysql dump can be found here: ftp://ftp.ensembl.org/pub/release-101/mysql/ensembl_ontology_101.
I have added this feature request to our backlog, however depending on the existing tasks it might be some time until we get to develop this.

[2020-09-22 17:00] anderspitman opened #857 "Installing VEP into a self-contained directory"
For [iobio](https://iobio.io/), we've been running VEP as a singularity container, installed from your Dockerfile. This has worked quite well, but we're now looking into changing our architecture in such a way that it's no longer ideal to use containers at that level.

Has anyone successful installed VEP into a self-contained directory, ie with Perl and all the dependencies contained in a director

[2020-09-23 08:37] dglemos commented on #850
Do you have Bio::DB::HTS installed?

[2020-09-23 10:50] ima23 commented on #857
Hi @anderspitman,

As long as the environment variables contain the correct paths, VEP will work from a self-contained directory where all the VEP code is based. There should not be any issues, but please do let us know if you encounter any.

Kind regrads,
Irina

[2020-09-23 12:00] ima23 commented on #827
Hi, I will close this issue but feel free to reopen it or create a new issue for any future problems.

[2020-09-23 12:00] #827 closed

[2020-09-23 12:01] ima23 commented on #793
Hi, I will close this issue but feel free to reopen it or create a new issue for any future problems.

[2020-09-23 12:01] #793 closed

[2020-09-24 13:06] mikpom commented on #850
Looks like it was not installed system-wide (don't know why VEP v98 worked fine). So I did and now `perl -e use Bio::DB::HTS` gives no errors. Still not responsive.

PS. Not sure if this is even relevant information but if I add `-fasta /home/mikpom/.vep101/FASTA/Homo_sapiens.GRCh38.dna.toplevel.fa.gz ` to VEP 98 command, it also hangs.

[2020-09-24 13:11] dglemos commented on #850
If you run with an unzipped fasta (for both vep versions) does it still hangs with no output?

[2020-09-24 13:49] mikpom commented on #850
Both work!

[2020-09-24 13:59] dglemos commented on #850
That's good news! When you downloaded the fasta did you unzipped and then recompressed with bgzip? To use compressed files in vep first you need to do those steps, like this:
[code]
On this page you can read more about fasta files in vep: https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#fasta

[2020-09-25 01:30] mikpom commented on #850
I answered "yes" to the installer when asked whether to download FASTA files so I believe the very first FASTA I used should be automatically downloaded. Don't know why it caused problems.
Uncompressing the file solves the problem though.

[2020-09-25 01:30] #850 closed

[2020-09-25 01:48] mikpom opened #858 "Missing HGVSp annotation for a variant"
## Describe the issue
HGVSp field is empty on a variant while it is a protein-coding transcript and a nonsense mutation (e.g. see transcript ENST00000394672 in the output file below)

### System
- VEP version: 101
- VEP Cache version: 101
- Perl version: 5.26.1
- OS: Ubuntu
- tabix installed ? yes

### Full VEP command line
[code]

### Data files (if applicable)
- The input file
[input.zip](https:

[2020-09-25 11:20] dglemos commented on #858
Hi @mikpom,
The variant `chr3 56557250 T/TGGGGTAAGCA` is a duplication in the exon/intron border but its consequence is in the intron.
By default, VEP reports the consequences exactly in the position of the duplication but this change should be described at the 3' most position. In release 100 we introduced new flags so that VEP can optionally convert variant alleles to their most 3’ representatio

[2020-09-25 11:23] dglemos commented on #832
I'm going to close the ticket but if you have further questions feel free to open a new ticket.
Best wishes,
Diana

[2020-09-25 11:23] #832 closed

[2020-09-28 01:58] #858 closed

[2020-09-30 11:25] nitha26 commented on #733
@aparton
I am trying to install VEP in Centos7, but i am getting the same error. I had checked the following things

##installed bioperl by
``perl -MCPAN -e 'install Bio::Perl'``

``ensembl-vep]# perl -MModule::Build -le 'print $Module::Build::VERSION'``
``0.4005``

`` [root@bratatilab Bio-DB-HTS]# cpan Bio::DB::HTS
Reading '/root/.cpan/Metadata'
  Database was generated on Wed, 30 Sep 2020 00:17:

[2020-09-30 12:54] aparton commented on #733
Hi @nitha26,

Could you please update your Module::Build to version 4.2 or higher, and then try again?

If this doesn't work, if you send me the output of your input script then I can take a closer look.

Kind Regards,
Andrew

[2020-10-02 12:31] Alexander-Stuckey opened #859 "VEP --custom annotation typs is always String, regardless of inupt type"
## Describe the issue
When using the --custom flag to annotate a VCF, the type of the annotation is always set to String, regardless of the input type.

## Additional information
We are annotating VCFs to add in gnomAD allele frequencies. Despite having type Float in the source VCF, they have type String in the output annotation VCF. I believe that it is due to this section of code in the outputFa

[2020-10-05 08:50] rawi2 opened #860 "VEP-101 - INSTALL.pl failing tests"
## Describe the issue
VEP 101 fails to proper install and post-install tests are failing
First time this is happening -  since many versions  - on the same machine.

### System
- VEP version: [101]
- Perl version: [ 5.26.1]
- OS: [Ubuntu 18.04.5 LTS]
- tabix installed: yes

### Full VEP command line
[code]

### Full error message
Result: FAIL
Failed 29/41 test programs. 32/789 subtests failed.

Un

[2020-10-05 12:20] parlar opened #861 "hgvs compliance"
## Describe the issue
VEP is reporting predicted protein variants in the form p.AaaNumAaa , for example p.Ile2106Thr .

However,  the hgvs nomenclature prescribes that "predicted consequences, i.e. without experimental evidence (no RNA or protein sequence analysed), should be given in parentheses, e.g. p.(Arg727Ser)"

I guess that it is difficult for VEP to know whether DNA or RNA sequence data is

[2020-10-05 12:20] at7 commented on #859
Thank you for reporting this problem. I will need to look into it in more detail to decide how best to assign the correct type value. I will keep you updated here about any progress on this issue.

Best regards,
Anja

[2020-10-05 13:36] helensch commented on #860
Hi

The install log reports , "It looks like you have an older version (87) of the API installed.".

Please could you check your PERL5LIB  environment variable to make sure that it does not include references to VEP version 87.

The logs have reference to /usr/local/lib/site_perl/BioPerl-1.6.924/Bio/DB/IndexedBase.pm
The VEP installation installs BioPerl.  Please could you check your PERL5LIB  to

[2020-10-05 14:46] rawi2 commented on #860
Hi Helen,

thank you for looking into this so quick!

Yes indeed, PERL5LIB points to an old superfluous BioPerl installation.

[code]

However - since years I didn't bother with the old BioPerl and let each version of VEP install it's own BioPerl, which is also been actually used instead of the old one, without any glitch - untill now.

Thanks and best regards
   Rawi

[2020-10-05 15:14] helensch commented on #860
Hi Rawi

Were you able to get the tests to run successfully when removing the any refrences to the old API from PERL5LIB and specifying the BioPerl to use?

Regards
Helen

[2020-10-05 15:42] rawi2 commented on #860
Sorry, but I'm unsure where to point the variable; so I did like this:

[code]

INSTALL.pl returns now:

[code]

[2020-10-06 06:33] KevinMer opened #862 "[WARNINGS] Length of reference allele does not match co-ordinates"
## Describe the issue
Trying to convert my VCF to ensembl format, some position remain discarded when running VEP.

## Additional information
Hi everybody,

I'm not sure to understand how to convert some position and I would like more precision about complex VCF entries.

I have three examples to show you.

**First one :**

**VCF format :**
chr1	154869723	.	GGCT	GGCTGCTGCTGCTGCTGCTGCT,GGCTGCTGCTGC

[2020-10-06 08:57] helensch commented on #861
Hi

Thank you for for raising this issue.

We are looking at representing predicted protein changes with parentheses in a future release.

Thanks
Helen

[2020-10-06 09:34] aparton commented on #862
Hi Kevin,

Thanks for your query. Can I ask, why are you looking to convert your VCF into VEP format? VEP will annotate your VCF files as they are, so you shouldn't need to convert your input data to successfully use VEP.

To answer your questions specifically, for cases 1 & 2 then your start/end coordinates need to match your reference sequence, so your VEP input would be:
-chr1 154869723 1548697

[2020-10-06 10:27] KevinMer commented on #862
Hi Andrew,

thanks a lot for your answer. Thanks to you, I just realized that I misunderstood the documentation.
I thought that using a VCF as input only led to VCF format as output. But it's not the case. I used my VCF to get a "tab" output and all worked perfectly.

Thanks again and have a nice day.

Best regards,

Kevin

[2020-10-06 10:27] valemirici opened #863 "MSG: ERROR: Could not write to FASTA lock file /opt/vep/.vep/Sars_cov_2.ASM985889v3.dna_sm.toplevel.fa.gz.vep.lock"
I run the following command
`docker run -t -i -v /root/Documenti/Valeria/1_campioni_17092020/9_VEP/:/opt/vep/.vep ensemblorg/ensembl-vep ./vep -i /opt/vep/.vep/AV09_S31_filter.vcf.gz -o /opt/vep/.vep/s_output.txt --gff /opt/vep/.vep/Sars_cov_2.ASM985889v3.100.primary_assembly.MN908947.3.gff3.gz -fasta /opt/vep/.vep/Sars_cov_2.ASM985889v3.dna_sm.toplevel.fa.gz`

and this is the output

`-----------

[2020-10-06 10:31] aparton commented on #862
Hi Kevin,

No problem at all, glad that we were able to resolve your issue quickly. If you have any other issues, please feel free to open a new ticket.

Kind Regards,
Andrew

[2020-10-06 10:31] #862 closed

[2020-10-06 10:53] aparton commented on #863
Hi @valemirici,

Looks like a permissions issue within the bind mount. With the --fasta flag, VEP regenerates the associated index file to avoid partial index issues and VEP is unable to do so inside your docker container.

The good news is that the fix should be as simple as adding `:Z` onto the end of your `-v` command to force docker to set all of the appropriate flags, so your input becomes:

[2020-10-06 11:15] aparton commented on #860
Hi @rawi2,

It looks as if you have multiple perl installations on your machine that are not cleanly separated. The VEP output refers to perl installations in `/usr/lib/x86_64-linux-gnu/perl/5.26/`, `/usr/bin/perl` and `/usr/share/perl/5.26/`.

Running `which -a perl` should give you a list of perl installations included within your PATH. Including only one perl version should prevent this instabi

[2020-10-06 12:39] rawi2 commented on #860
Hi Andrew

I never installed different versions of perl and - like I said - all former VEP installs including version 100 went smooth on the same machine.
I have only the last perl version from the Ubuntu (18.04.5) repositories.
[code]

Best Regards
   Rawi

[2020-10-06 13:17] valemirici commented on #863
Hi Andrew,

Thanks for your reply.

I've added `:Z` in the end of  `-v` but I have still the same problem

`(base) [root@localhost 9_VEP]# docker run -t -i -v /root/Documenti/Valeria/1_campioni_17092020/9_VEP/:/opt/vep/.vep:Z ensemblorg/ensembl-vep ./vep -i /opt/vep/.vep/AV09_S31_filter.vcf.gz -o /opt/vep/.vep/s_output.txt --gff /opt/vep/.vep/Sars_cov_2.ASM985889v3.100.primary_assembly.MN908947.3.

[2020-10-06 14:11] aparton commented on #863
Hi @valemirici,

Thanks for letting me know. Apologies, I should have specified that the original suggestion requires root permissions and Docker 1.7 or higher.

Alternatively, you should also be able to fix the issue by running `chmod -R a+rwx /opt/vep/.vep/` inside the container. This requires neither the root permissions or Docker version.

Please let me know if this fixes your issue.

Kind Reg

[2020-10-06 15:09] aparton commented on #860
Hi @rawi2,

Thanks for sending on your root installation output and your perl installation information. Your remaining issues seem to be related to HTSLib. Could you please try:

1) Removing the `htslib` directory within `ensembl-vep` and rerunning the installer?

2) Removing the `htslib` directory within `ensembl-vep` and rerunning the installer with the `--NO_HTSLIB` flag?

Kind Regards,
Andrew

[2020-10-06 15:49] rawi2 commented on #860
Hi Andrew

many thanks for your perseverance

- Removing the htslib directory within ensembl-vep and rerunning the installer?

Result is the same as normal user and root

- Removing the htslib directory within ensembl-vep and rerunning the installer with the --NO_HTSLIB flag?

As normal user (fewer failed tests ):
Failed 24/41 test programs. 28/883 subtests failed (plus the many warnings)

As root

[2020-10-06 18:17] marionamujal commented on #683
Hello,

May I ask for a follow-up on this issue as well?
Many thanks!

[2020-10-07 10:50] valemirici commented on #863
Hi @aparton,

I fixed the issue.
it was permission problem.

Actually this operation `chmod -R a+rwx /opt/vep/.vep/` is not permitted in the docker.
I'm using Centos8 and Docker version 19.03.13 and I've root permission.

I solved the problems changing permission before running the docker or from the properties folder (not by command line).

Thanks for your support!

Kings Regards,
Valeria

[2020-10-07 14:59] #863 closed

[2020-10-07 15:01] aparton commented on #860
Hi @rawi2,

We're making progress! Slowly, but surely.

Could you please:

- Check that the Bio::DB::HTS::Tabix module is located in the ensembl-vep directory at: /ensembl-vep/Bio/DB/HTS/Tabix.pm

- Check that your ensembl-vep folder is included within your PERL5LIB. If not, you can add it with:

export PERL5LIB=${PERL5LIB}:ENSEMBL-VEP_PATH

- Rerun your initial command, and send me the output if

[2020-10-07 15:35] rawi2 commented on #860
Hi Andrew

Thank you for your patience and support

- Check that the Bio::DB::HTS::Tabix module is located in the ensembl-vep directory at: /ensembl-vep/Bio/DB/HTS/Tabix.pm

Yes, it is there (after the first run of the INSTALL.pl )

- Check that your ensembl-vep folder is included within your PERL5LIB. If not, you can add it with: export PERL5LIB=${PERL5LIB}:ENSEMBL-VEP_PATH

- Rerun your initial

[2020-10-08 14:26] marionamujal opened #864 "Argument"." isn't numeric in numeric eq (==) at ........../vep_data/Plugins//dbNSFP.pm line 323, <__ANONIO__> line 14869295"
Hi,
kindly requesting for your help on this?
I am using docker to run VEP, when I don't use the dbNSFP plugin, it runs successfully, however, when I use it (dbSNFP plugin), it still runs though does not have any results for the dbNSFP plugin. Instead, I get the error;
Argument "." isn't numeric in numeric eq (==) at ........../vep_data/Plugins//dbNSFP.pm line 323, <__ANONIO__> line 148692

I am us

[2020-10-09 04:11] davmlaw opened #865 "HGVS uses fasta reference, not reference from input file (may be documentation issue)"
## Describe the issue

When you run VEP against a VCF record with a reference that is different from the fasta sequence, the consequences are calculated against provided base, while HGVS is calcualted from the fasta reference sequence.

Example (GRCh37) - provided ref different from fasta reference:

[code]

Expected result: HGVS would match provided reference and other annotations
Actual result:

[2020-10-09 16:04] madzayasodara opened #866 "Updated zebra finch assembly"
Hi I have generated vcfs using the most recent Zebra finch assembly bTaeGut2.pat.W.v2
available at https://www.ncbi.nlm.nih.gov/genome/?term=txid59729[orgn]
I would like to use vep to annotate synonymous and nonsynonymous substitutions using the corresponding annotation (GCF_008822105.2_bTaeGut2.pat.W.v2_genomic.gff)
However, Ensenbl has an older version of the assembly, bTaeGut1_v1.p,
https://usw

[2020-10-09 16:39] dglemos commented on #866
Hi @madzayasodara,

You can integrate annotations from standard format files into your VEP results by using the --custom flag.
You can read more about this functionality here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html and
https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gfftypes

Best wishes,
Diana

[2020-10-09 16:41] dglemos commented on #866
Hi @madzayasodara,

You can integrate annotations from standard format files into your VEP results by using the --custom flag.
You can read more about this functionality here: https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html and
https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gfftypes

Best wishes,
Diana

[2020-10-09 20:26] helensch commented on #864
Hi

From the VEP command assembly GRCh37 is being used.

Release 4.1a of dbNSFP uses GRCh38/hg38 coordinates and GRCh37/hg19 coordinates. Different parameters for sorting and indexing need to be used depending on the assembly.

For GRCh37, columns 8 and 9 are used. In addition the "." in column 8 need to be removed.  To process the file:

[code]

The plugin docs contain information on using Releas

[2020-10-10 14:31] a1aks commented on #818
Has this been fixed?

My error is:

Use of uninitialized value in addition (+) at /Users/ensembl-vep/modules/Bio/EnsEMBL/VEP/AnnotationSource/Cache/VariationTabix.pm line 184, <VARS> line 1.
substr outside of string at /Users/ensembl-vep/Bio/EnsEMBL/Variation/TranscriptVariationAllele.pm line 906.
Died in forked process 34464

Furthermore:

ERROR: Failed to run the VEP annotator! Command: /Users/p

[2020-10-10 19:50] madzayasodara commented on #866
Hi Diana,
thanks for the reply!
I'm just a little confused about which exact cmd to run. Right now, I'm running
`vep  -i vcf.gz --gff tabixprep.gz --fasta genomic.fa -o vcf.vep.gz --symbol --tab --compress_output gzip --force_overwrite`

using the costumized fasta and gff

Is this what I should be doing? Or I have to also include the custom flag to the cmd above? As in:

[code]

[2020-10-10 20:31] madzayasodara commented on #866
I'm also running into the issue "Transcript has unexpected type of child record" [#732](https://github.com/Ensembl/ensembl-vep/issues/732) , see bellow.
Would excluding all miRNA from my gff be a workaround?

-------------------- EXCEPTION --------------------
MSG: ERROR: Transcript has unexpected type of child record: $VAR1 = {
  'strand' => '1',
  'start' => '4288835',
  'source' => 'BestRefSeq'

[2020-10-11 14:26] marionamujal commented on #864
Thank you Helen for the reply!
However, after successfully installing the dbNSFP plugins, I now get the error.
WARNING: Failed to instantiate plugin dbNSFP: ERROR: Could not read headers from /opt/vep/.vep/Plugins/dbNSFP4.1a_grch37.gz.
Note: I also renamed the readme file to dbNSFP4.1a_grch37.readme.txt from dbNSFP4.1a.readme.txt

[2020-10-12 09:47] aparton commented on #836
Hi @pinmarch,

Thank you for providing that information. As everything is now working at your end, I'm going to close this issue now. If you have any further questions, please feel free to reopen it or create a new issue.

Kind Regards,
Andrew

[2020-10-12 09:47] #836 closed

[2020-10-12 09:48] aparton commented on #819
Hi @DarioS,

I'm going to close this issue now. If you have any further questions, please feel free to reopen this issue or create a new one.

Kind Regards,
Andrew

[2020-10-12 09:48] #819 closed

[2020-10-12 09:52] aparton commented on #818
Hi @a1aks,

Unfortunately we do not currently have a fix in place for this issue. As a workaround, if you run VEP without the `--no_stats` flag then this should allow you to carry on with your analyses in the meantime.

Kind Regards,
Andrew

[2020-10-12 09:54] aparton commented on #804
Hi,

I'm going to close this issue now. If you have any further questions, please feel free to reopen this issue or create a new one.

Kind Regards,
Andrew

[2020-10-12 09:54] #804 closed

[2020-10-12 10:13] aparton commented on #788
Hi,

Glad to hear that VEP is now working correctly. I'm going to close this issue now. If you have any further questions, please feel free to reopen this issue or create a new one.

Kind Regards,
Andrew

[2020-10-12 10:13] #788 closed

[2020-10-12 10:13] aparton commented on #784
Hi,

I'm going to close this issue now. If you have any further questions, please feel free to reopen this issue or create a new one.

Kind Regards,
Andrew

[2020-10-12 10:13] #784 closed

[2020-10-12 10:45] aparton commented on #783
Hi,

I'm going to close this issue now. If you're able to send me on your input and fasta files, please reopen this ticket and I'm happy to take another look.

Kind Regards,
Andrew

[2020-10-12 10:45] #783 closed

[2020-10-12 10:45] aparton commented on #765
Hi,

I'm going to close this issue now. If you have any further questions, please feel free to reopen this issue or create a new one.

Kind Regards,
Andrew

[2020-10-12 10:45] #765 closed

[2020-10-12 12:37] helensch commented on #864
Hi

The error suggests that running tabix on your dbNSFP input file did not work.

Please could you check if tabix is working for the file by running:
tabix -fh dbNSFP4.1a_grch37.gz 1:1-1

Regards
Helen

[2020-10-12 14:31] marionamujal commented on #864
When i run tabix, this is the result
`ayesDel_noAF_rankscore  BayesDel_noAF_pred      ClinPred_score  ClinPred_rankscore      ClinPred_pred   LIST-S2_score   LIST-S2_rankscore       LIST-S2_predAloft_Fraction_transcripts_affected      Aloft_prob_Tolerant     Aloft_prob_Recessive    Aloft_prob_Dominant     Aloft_pred      Aloft_Confidence        CADD_raw     CADD_raw_rankscore      CADD_phred

[2020-10-12 15:07] helensch commented on #864
Hi

Thank you for the headers. It looks like tabix is working for you. I assume that the headers you posted have just been truncated as I would expect them to start: #chr pos(1-based) ref

Was the tabix command run on docker where you run vep from?

Have you tried re-running VEP command after running the tabix command?

Are there any other warning messages returned by VEP?

Regards
Helen

[2020-10-12 15:45] marionamujal commented on #864
Was the tabix command run on docker where you run vep from?
No, i didn't run it in docker

When i run tabix in docker this is the output
`tabix -fh dbNSFP4.1a_grch37.gz 1:1-1`
[E::hts_open_format] Failed to open file dbNSFP4.1a_grch37.gz
Could not read dbNSFP4.1a_grch37.gz
Thank you

[2020-10-13 08:58] dglemos commented on #866
Hi @madzayasodara,
To answer your first question, the first command you're running is right. `vep -i vcf.gz --gff tabixprep.gz --fasta genomic.fa -o vcf.vep.gz`
About the issue you're running into, currently our GFF file handling doesn't support entries of type 'miRNA'. We have plans to support this however, it will take some time to be implemented. In the meantime, as you suggested you could excl

[2020-10-13 10:47] helensch commented on #864
Hi

The error message from  tabix in docker ```tabix -fh dbNSFP4.1a_grch37.gz 1:1-1``` suggests it cannot find the file.

Please can you run the tabix command in docker giving the full path to the file e.g.
```tabix -fh /opt/vep/.vep/Plugins/dbNSFP4.1a_grch37.gz 1:1-1```

The error message from VEP suggests that the tabix command is not working when called in the dbNSFP plugin and so it cannot get

[2020-10-13 12:51] ima23 commented on #669
I am closing this ticket,  if you have any more questions please feel free to reopen it.

Best regards,
Irina

[2020-10-13 12:51] #669 closed

[2020-10-14 10:41] aparton commented on #865
Hi,

Thanks for this report. You're correct, there's an underlying inconsistency and documentation issue here that we can improve.

Currently, our HGVSg and HGVSc descriptions take their underlying reference sequence directly from our internal sequence lookups, rather than from what's given by the user. This is designed to limit any problems with downstream analyses by ensuring our HGVS is accurat

[2020-10-16 06:06] segoerge opened #867 "RefSeq annotation release"
## Describe the issue
Dear VEP team,

we have a problem to infer the actual NCBI RefSeq annotation release, your cache files are using. I've seen your table in the documentation (http://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html - Data in cache), but I'm not able to make a connection between this dates stated there (2019-11-01 and 2020-03-24) and the data on the NCBI FTP (https://ft

[2020-10-16 13:21] a1aks commented on #818
Hi Andrew,

Thank you for responding in such short notice. I had done the following especially "commenting the loop at line 900-906" in the TranscriptVariationAllele.pm file. Attached Screenshot.

After this it worked fine for me and I was able to discovery more variants in a single exon. I should and will use the --no_stats flag in the next set of samples and see how the results look like.

Kind

[2020-10-16 15:05] dglemos commented on #867
Hi @segoerge,
The date in our cache files is not the exact date from the RefSeq release. The date `2020-03-24` means that the RefSeq file was imported into Ensembl on 2020-03-24.
The GRCh38 cache info is `refseq version 2020-03-24 16:45:50 - GCF_000001405.39_GRCh38.p13_genomic.gff` the file used for the annotation was the one with the closest date before the 24th March: https://ftp.ncbi.nlm.nih.go

[2020-10-19 06:52] segoerge commented on #867
Hi @dglemos,

thanks for your help! It would be very helpfull, if you could possibly also track the annotation release version (e.g. 109.20200228) in the cache description table of the Ensembl web documentation.

Best wishes,

Sebastian

[2020-10-20 06:50] fbemm opened #868 "_record_get_biotype for GFF3 does not support "transcript_biotype" compared to GTF"
Currently transcript_biotype is not supported for GFF3 but for GTF.
I think there is no particular reason why it should not allow it.

From Bio/EnsEMBL/VEP/AnnotationSource/File/GFF.pm

[code]

From Bio/EnsEMBL/VEP/AnnotationSource/File/GTF.pm

[code]

Would be great to keep those two function in sync concerning the parsing behaviour.

[2020-10-21 10:04] dglemos commented on #868
Hi @fbemm,
Thanks for the suggestion. I can't see a particular reason why "transcript_biotype" is not supported for both GFF and GTF. We'll review the implementation within the team and I'll let you know.
Best wishes,
Diana

[2020-10-22 08:14] ima23 commented on #792
Hi @dosshra,

Apologies for the delay and thank you for the example data.
Thanks to the example data I could replicate the issue and find out why one gff was running as expected and the second one was landing on that error.

The error is due to the second gff not defining any exons for mRNA transcripts. I have made a code update to highlight this in a 'warning message' and for the transcript to be

[2020-10-23 22:14] DafniG opened #874 "vep with custom gff3 returns 'substr outside of string at'"
I have supplemented the gencode.v26 gff3 protein-coding genes with new transcripts that I have found. I make sure that each transcript has a CDS and exons. I increase some gene co-ordinates if the new transcripts have boundaries greater than the ones in the GFF3. When I attempt to vep my VCF using the new gff3 file I get this error:
substr outside of string at /nfs/sw/ensembl-tools/ensembl-tools-1

[2020-10-27 05:31] davmlaw commented on #867
I think this is a duplicate of #833 - Feature request: VCF header should contain gene GTF version

[2020-10-27 09:23] ima23 commented on #838
Hi @Dwooi7417,

Just to let you know there is a fix in place for the missing REF_ALLELE and it should be available with the next release.
Will let you know when the next release is out.

Kind regards,
Irina

[2020-10-27 10:46] at7 commented on #874
Hi,
could you please send me a sample of the files which reproduce the error message to our [helpdesk](https://www.ensembl.org/Help/Contact)? Our helpdesk team will forward the files to me and I will get back to you as soon as I know more.

Thank you,
Anja

[2020-10-27 15:25] DafniG commented on #874
Hi Anja,
I seem to only be able to upload a single file on the helpdesk link you provided to me. Is there a specific address that I could use instead?
Best,
Dafni

[2020-10-27 15:49] at7 commented on #874
Hi Dafni,
could you please send the files to this address helpdesk [at] ensembl.org? The outreach team will then forward the files to me.

Thank you,
Anja

[2020-10-28 06:36] jd3234 opened #875 "Variants on scaffolds without entry in gff3 are removed from output"
I am trying to annotate a BCF with a custom gff3 but I am getting the `... not found in annotation sources of synonyms` error.  Variants on these scaffolds are not written in the output of VEP. The "problem" with the gff3 is, that some scaffolds have no gene annotation and hence there is no entry for the scaffold in the gff3.
A workaround I found is to add a chromosome annotation in the gff3. But

[2020-10-28 12:44] rawi2 commented on #860
Hi Helen and Andrew

sorry to come back with this issue.

Is this happening only to me? VEP should work correctly despite this failing tests?

Kind regards
   Rawi

[2020-10-28 13:25] at7 commented on #874
Hi Dafni,
I was able to reproduce the error. The error is caused when VEP calculates the coding sequence for a transcript using the CDS and exon information. VEP cannot deal with a CDS element which covers several coding exons of the same transcript. The transcript model needs to provide a separate CDS element foreach coding exon. The [GFF specification](https://github.com/The-Sequence-Ontology/Sp

[2020-10-28 14:07] at7 commented on #875
Hi,

using --dont_skip will still write variants, that for example fall on unrecognised sequences, into the output file.

Best wishes,
Anja

[2020-10-28 16:25] jd3234 commented on #875
Dear Anja,

thanks for your reply. Unfortunately using --dont_skip does not help. I also tried using a gtf but no success either. I also updated to version 101 but didn't help either.

[2020-10-28 16:54] at7 commented on #875
You are correct that you still get the warning message but the variant should be written into your output file. You could try to use [cache files](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache) as an additional annotation source. Could you please send me some of the scaffold names and I can check if the cache files contain them?
Thank you,
Anja

[2020-10-28 21:32] aparton commented on #860
Hi @rawi2,

Apologies for the delay in getting back to you. It looks as if the offending file is `/mnt/SRVDATA/lib/ensembl-vep/HTS.so`, although if you haven't updated your perl version recently then I'm unsure why.

Can you please remove your entire `/mnt/SRVDATA/lib/ensembl-vep` directory, reclone with `git clone` (or however you downloaded VEP in the first instance), and rerun the installer?

K

[2020-10-29 10:17] jd3234 commented on #875
Hi Anja,
but unfortunately the variants are not in the output. I can not use cache files as I am working with unpublished data.
I can send a test example if you can share an email address.
Best,
Janina

[2020-10-30 09:33] at7 commented on #875
Hi Janina,
it would help me to debug the problem if you could send some example data. Could you please send the files to this address helpdesk [at] ensembl.org and refer to vep-issue 875? Our outreach team will forward the files to me.
Thank you,
Anja

[2020-10-30 10:46] dosshra commented on #792
Thank you Irina for the reply
I will try to use a file with exons.
Hanan Sela PhD
Institute of Evolution
University of Haifa
hans@evo.haifa.ac.il
mobile: +972-50-5727458

On Thu, Oct 22, 2020 at 11:44 AM Irina Armean <notifications@github.com>
wrote:

[2020-10-30 16:22] rawi2 commented on #860
HI Andrew,

thank you.
Yes, I did it with the same result - unfortunately.

But I tested the installation on a test Debian Buster last stable and by installing the most of the "additional" perl modules I got a proper 100% test victory.

The same steps didn't do the trick on the first machine with Ubuntu 18.04

I have no clue, where is the difference, but since the whole world is using VEP 101 with

[2020-10-31 19:02] madzayasodara opened #876 "Filtering vep annotations for canonical transcript only"
I've annotated 2 vcfs each for 2 different populations, each with 11 individuals
And this is the part of the output for synonymous_variant  within the gene DRD3 for one of my vcfs.

[code]
I noticed that for example the allele at 1_20861343 is repeated 6 times, which seems to be according with the transcript form where it potentially happens happens. Bellow are the exon annotations extracted from

[2020-11-02 12:35] helensch commented on #876
Hi

The VEP --canonical option can be used to add a flag indicating if the transcript is the canonical transcript for the gene.
https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_canonical

filter_vep can be used to filter for canonical transcripts.

Examples on filtering on canonical transcripts can be found in the VEP tutorial
https://www.ensembl.org/info/docs/tools/vep/scri

[2020-11-02 14:30] at7 commented on #875
Hi Janina,
I received the files and will get back to you when I know more.
Best wishes,
Anja

[2020-11-03 12:23] ea-ea commented on #441
Hi @ima23 , I am working with VEP (web interface) and trying to annotate MANTA (v.1.6) output vcf containing BND tagged variants, and VEP throws error as not recognizing the input format. Input vcf format as follows:

#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	SAMPLE
chr1	3412098	MantaBND:2:0:1:0:0:0:1	A	A]chr13:80221222]	.	PASS	SVTYPE=BND;MATEID=MantaBND:2:0:1:0:0:0:0;IMPRECISE;CIPOS=-66,67;BN

[2020-11-03 14:59] ima23 commented on #838
Hi @Dwooi7417,

After checking within the team our docs seem not to reflect the intended use of `--fields`, will update this for our future release.

To use `--fields` to show the Extra columns, the appropriate data needs to be made available first.
For your example you would need to add  `--show_ref_allele`, `--symbol`, `--af_gnomad` to the vep command :

`vep -i Cap1_index14.g.vcf -o Cap1_index1

[2020-11-03 16:36] Dzhan4 opened #877 "filter_vep error: does not look like a binary file"
## Describe the issue
Error when running filter_vep,
File "input file" does not look like a binary file

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 94.5
- VEP Cache version: 94
- Perl version: 5.14
- OS: CentOS
- tabix installed - Yes

### Full VEP command line
[code]

### Full error me

[2020-11-03 17:00] janrehker commented on #236
Hello everyone,

Sorry for bringing this issue up again... It seems this bug still exists

Here is my command:
vep -id '10 89711987  . CTA C' --offline --tab --hgvs --force_overwrite --dir Data/miniconda3/envs/vep2/.vep/ --assembly GRCh37 --refseq --fasta /home/rehkerj/Data/miniconda3/envs/vep2/.vep/homo_sapiens/101_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz --shift_hgvs 0 --symbol

[2020-11-03 17:21] janrehker opened #878 "--shift_hgvs does not seem to work"
Hello,

Added on https://github.com/Ensembl/ensembl-vep/issues/236?_pjax=%23js-repo-pjax-container as my issue is basically the same as the one reported in the closed thread. Sorry for spamming but I was not sure if anyone reads and reopens the closed threads.
It seems that the issue of vep ignoring the --shift_hgvs option is still around in later vep versions.

### System
- VEP version: 101
- VEP

[2020-11-03 18:31] dglemos commented on #877
Hi @Dzhan4,
the header you posted is missing:
[code]
Can you send some examples of lines containing the variants and the data?
How did you compress the file?

[2020-11-03 19:03] Dzhan4 commented on #877
These were TOPMED vcf.gz files that I annotated with VEP. To be fair, I output the files as .vcf.gz, but just learned that this does not compress the file - so I don't actually think they're compressed.

The CHROM POS, etc was on the very bottom and I forgot to paste it over. It's there. Here is a sample line:
[code]

[2020-11-03 19:07] Dzhan4 commented on #877
I just noticed the header is ANN and it worked after I included:

```--vcf_info_field ANN ```

Closing the ticket for now!

[2020-11-03 19:07] #877 closed

[2020-11-04 13:14] aparton commented on #878
Hi Jan,

I've taken a look into this issue this morning, and it seems to be a bug that occurs when the `--offline` flag is used in conjunction with `--shift_hgvs 0`.

I'll take a look at getting a fix in place, and I'll let you know when we have a timescale in mind. Thank you for bringing this issue to our attention.

Kind Regards,
Andrew

[2020-11-04 16:18] helensch commented on #860
Hi @rawi2

Thank you for the update. Was your installation on a second Debian installation successful?

We would recommend installing VEP on the Operating System you intend to run VEP on.

An alternative option may to run VEP using docker
https://www.ensembl.org/info/docs/tools/vep/script/vep_download.html#docker

All tests are in `t` folder. You can run all the tests with the command `prove t/*.t

[2020-11-04 23:44] madzayasodara commented on #876
Hi Helen thanks for the reply.
I've run this
`vep -i vcf --gff ZFgenomic_tabixprep_nomiRNA.gff.gz --fasta ZFgenomic.fa -o vep.gz --fork 4 --symbol --tab --compress_output gzip --force_overwrite --canonical --sift b`

But I only get - in the columns referring to both `--canonical --sift b`

I'm using a custom gff file bc I am using the most recent Zebra finch assembly bTaeGut2.pat.W.v2
available at

[2020-11-04 23:52] madzayasodara commented on #866
Got it. I filtered miRNAs from mi file and followed up the analysis with it. Thank you.

[2020-11-04 23:52] #866 closed

[2020-11-05 02:12] onebeingmay opened #879 "All SNPs are annotated as intergenic_variant"
Hi VEP team,
I am trying to use VEP to annotate a custom VCF file with a custom GTF file using local human genome fasta file. In the VEP summary html all my vairants were annotated as intergenic_variant (there are SNPs I know for sure on CDS). I am wondering if my VCF and GTF file format are correct as they are created myself. Here are the first few lines of my GTF file:
[code]

And VCF file:
[cod

[2020-11-05 09:47] at7 commented on #879
Hi,
I noticed a few things when checking your input files:

-- The GTF file is missing the gene entity
-- The transcript_biotype is missing
-- The variant positions don't overlap any of the coordinates in the GTF file
Could you please try updating the GTF file? You can take a look at the [GTF format description](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff) which is suppor

[2020-11-05 14:31] dglemos commented on #867
My colleagues who load the RefSeq data are looking into this request to integrate the annotation release version. I'll let you know when we have any updates.
Best wishes,
Diana

[2020-11-06 12:41] rawi2 commented on #860
HI @Helen

thank you for still looking into my issue!

Sorry to be late. The second test computer had other general issues, so I could test the VEP install only today.

Starting from zero (Debian Buster, Perl v5.28.1), then with the recommended perl modules installed I got

[code]

... but no tests had been really run. Seemingly I needed also Test::Exception and Test::Warnings

After installing th

[2020-11-06 17:50] helensch commented on #876
Hi @madzayasodara

Apologies, in my initial reply I did not see you were using a GFF file.

Using a GFF or GTF file as VEP's annotation source limits access to some auxiliary information available when using a cache. Currently most external reference data such as gene symbols, transcript identifiers and protein domains are inaccessible when using only a GFF/GTF file.

See "Limitations of the cache

[2020-11-06 19:56] onebeingmay commented on #879
Hi @at7 ,
Thank you for the prompt response. I tried fixing my GTF file by adding gene entity and transcript_biotype. I reran the program and still all SNPs were annotated as intergenic_variant. I also noticed warnings like this:
`WARNING: Parent entries with the following IDs were not found or skipped due to invalid types: Hum_TCONS_00008259:chr1:-|53|9903:1197:1485|noncoding|ATG, ENST00000471223

[2020-11-10 11:57] at7 commented on #879
Hi @onebeingmay,
I will take a look now and get back to you when I know more about why the variants are only annotated as intergenic_variant.

Best wishes,
Anja

[2020-11-10 15:09] at7 commented on #879
Hi @onebeingmay,
I think I spotted the problem with your GTF file: Your transcript_id needs to be different from the gene_id. We describe the GTF format which is supported by VEP in the [GFF/GTF file section](https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#gff) of our documentation.
Secondly, the variant coordinates don't overlap the transcript coordinates. I added this variant t

[2020-11-10 19:37] onebeingmay commented on #879
Hi Anja @at7 ,
Thank you for the response. I renamed the gene_id and the sorted and bgzipped GTF looks like this:
[code]
I input `SNP chr1	783080	NA	A	C	NA	NA	NA`, which is on the CDS `chr1	master_genepred.txt	CDS	783034	783240	.	+	0	gene_id	"Gene_Hum_TCONS_00000031:chr1:+|41|10129:436:670|noncoding|ATG";	transcript_id	"Hum_TCONS_00000031:chr1:+|41|10129:436:670|noncoding|ATG";	exon_number	"4";	ex

[2020-11-10 20:38] at7 commented on #879
Hi,
It should work if your gene_id is different from your transcript_id which it is in your updated GTF file. I attach the GTF file with my modifications for you to use. I wonder if the spacing could be the issue. A GTF file has 9 columns which are separated by tab and the attributes in the 9th column must be only separated by a space. This is what I did for my test GTF file.
Let me know if you ge

[2020-11-11 13:17] ima23 commented on #855
I am closing this ticket now. If you have any related questions please feel free to reopen it.

Kind regards,
Irina

[2020-11-11 13:17] #855 closed

[2020-11-11 13:18] ima23 commented on #857
I am closing this issue now. If you have any related questions please feel free to reopen it.

Kind regards,
Irina

[2020-11-11 13:18] #857 closed

[2020-11-11 13:21] at7 commented on #843
Hi,
I'm going to close the ticket now but please reopen it in case you have any more questions related to the issue.
Best wishes,
Anja

[2020-11-11 13:21] #843 closed

[2020-11-11 14:25] gpalou4 commented on #855
Thank you irina!

On Wed, Nov 11, 2020 at 2:17 PM Irina Armean <notifications@github.com>
wrote:

[2020-11-11 18:01] ChrisMoth opened #882 "Use of uninitialized value in subtraction (-) and (+) at ..../VEP/AnnotationSource/Cache/VariationTabix.pm line 184, <VARS> line 1."
## Describe the issue

When the --pubmed flag is given to vep, perl 5.32 now issues a warning about variable scope:

Use of uninitialized value in subtraction (-) at ...../Bio/EnsEMBL/VEP/AnnotationSource/Cache/VariationTabix.pm line 184, <VARS> line 1.
Use of uninitialized value in addition (+) at ...../Bio/EnsEMBL/VEP/AnnotationSource/Cache/VariationTabix.pm line 184, <VARS> line 1.

The warning

[2020-11-12 13:53] dglemos commented on #882
Hi @ChrisMoth,
I'm unable to replicate the warning message. The warning you're getting is caused by undef values `$existing->{start}` and `$existing->{end}` in L184 which shouldn't be empty.
- Did you run the same command with a different Perl version?
- Can you check what is inside variable [$existing](https://github.com/Ensembl/ensembl-vep/blob/10932fab1e9c113e8e5d317e1f668413390344ac/modules/Bi

[2020-11-12 16:45] onebeingmay commented on #879
Thank you Anja. I make sure attributes in the 9th column must be only separated by a space. Now the program works perfectly!

[2020-11-12 16:45] #879 closed

[2020-11-12 17:01] ima23 commented on #441
Hi @ea-ea,

[2020-11-13 06:09] mikpom opened #883 "Chromosomes not found in reference"
## Describe the issue
Variants on **chrUn_KI270467v1** and **chrUn_KI270746v1** are skipped by VEP though these contigs can be found in `chr_synonyms.txt`

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: 101
- VEP Cache version: 101
- Perl version: 5.26.1
- OS: Ubuntu 18.04
- tabix installed

[2020-11-13 07:18] seunghun23 opened #884 "Custom VEP annotation using not only coordinates but also alt ref?"
Hi I am trying to custom-annotate M-CAP scores, and the data file I downloaded from M-CAP website
has following 6 columns-
#grch37_chrom 	pos     ref   alt 	 mcapv1.4 	mcap_sensitivityv1.4

From https://asia.ensembl.org/info/docs/tools/vep/script/vep_custom.html,
I learned that I need to change this file into a BED format where the first three columns are
chromosome,pos1,and pos2, and I did that,

[2020-11-13 11:40] dglemos commented on #884
Hi @seunghun23,
The easiest way to add variant data is to use custom annotation with a VCF file, details [here](https://www.ensembl.org/info/docs/tools/vep/script/vep_custom.html).
VEP will add the data from the INFO field of your custom VCF to the VEP output.

Best wishes,
Diana

[2020-11-13 14:17] dglemos commented on #883
Hi @mikpom,
Thank you for reporting the issue. Both contigs are in `chr_synonyms.txt` however, the contigs data is missing from the cache. We'll have a look to understand why the data is missing and I will get back to you as soon as I know more.

Best wishes,
Diana

[2020-11-13 16:54] at7 commented on #875
Dear Janina,
we investigated further but are still not certain how the different results can be explained depending on the perl version used. I get the full output when I run under

but not under

We have a proposed fix https://github.com/Ensembl/ensembl-vep/pull/881 which we sill need to review and test further. it is likely that we will only be able to provide a fix by the beginning of next year

[2020-11-16 04:46] seunghun23 commented on #884
Hi Diana,

Thank you for the answer, but even when I choose to use a VCF file to do custom annotation,
it still doesn't solve my issue I wrote above. The link you gave me says "VCF : a format used to describe genomic variants. VEP will use the **3rd column of the file as the identifier.** INFO fields from records may be added to the VEP output."
But what is the format of this identifier in the 3rd

[2020-11-16 12:36] dglemos commented on #884
Hi,
The 3rd column is just an identifier of the variant, it's not a mandatory field and it's not used to map the variants. You can use the input file you have the way it is (without the ID).
If you want to assign annotation based on genomic location and ALT allele then you need to create a VCF file from the M-CAP scores and use it as a custom file, like the example below.

Example of a variant in

[2020-11-16 13:35] aparton commented on #860
Hi @rawi2,

Ensembl 102 will not contain any changes to the installation procedures I'm afraid.

Regarding `prove` not working correctly, you may also require `Test::Harness` and `App::Prove`. Can you also please confirm that the file `/mnt/merger_volumes/sda1/lib/ensembl-vep/Bio/EnsEMBL/VEP/VariantRecoder.pm` exists?

Kind Regards,
Andrew

[2020-11-16 14:01] LenkaSeg opened #886 "Use of uninitialized value in subtraction (-)"
## Describe the issue
When running VEP this message appears:

`Use of uninitialized value in subtraction (-) at /opt/vep/src/ensembl-vep/Bio/EnsEMBL/TranscriptMapper.pm line 384, <__ANONIO__> line 1.`

The output is fine.

## Additional information
Happens only for the hgvs form of input: example: AKT1:Asp46Glu

There was some remotely similar issue here #636
I tried everything mentioned there, in

[2020-11-16 15:54] rawi2 commented on #860
Hi @aparton,

thank you for returning to this issue, though I'm sure the cause is on my side.

VariantRecoder.pm is not in ./Bio/EnsEMBL/VEP/VariantRecoder.pm but in ./modules/Bio/EnsEMBL/VEP/VariantRecoder.pm
[code]

Trying to install the two modules you suggested:

[code]

But instmodsh wouldn't show them
[code]

What's important, is that all the tests on this machine passed OK when run from ins

[2020-11-16 18:52] aparton commented on #886
Hi @LenkaSeg,

Thank you for this report. Unfortunately, we do not support HGVS in this format as it is missing a variant descriptor (i.e. `:p.`, `:g.` or `:c.`). Additionally, we do not recommend using gene symbols as the reference sequence, as this gives ambiguity for which transcript or translation is intended.

If you use the associated Ensembl protein identifier instead, and add the variant d

[2020-11-16 19:18] aparton commented on #860
HI Rawi,

Thanks for that report, I think we're getting there. Could you please add `/mnt/merger_volumes/sda1/lib/ensembl-vep/modules` to your PERL5LIB and try again?

Thanks,
Andrew

[2020-11-16 22:32] LenkaSeg commented on #886
Oh, sorry, I made a mistake, the variant descriptor was actually part of the input.
example: ```AKT1:p.Asp46Glu```
Ok, I will use the protein identifier.
Thank you very much for your reply and help!

[2020-11-17 09:21] janrehker commented on #878
Thanks a bunch for digging into it.

Jan

[2020-11-17 12:35] rawi2 commented on #860
Hi Andrew

yes, this did the trick on both Debian computers; I could run and pass all tests with `prove t/*.t`.

The errors on the main Ubuntu computer remained, but this is no more an issue at this time.
That computer went berserk after doing an in place upgrade from 18.04 to 20.04 and having snaps all over the place

So first I'll install there also a Debian (testing) and I hope the default Mari

[2020-11-17 14:34] seunghun23 commented on #884
This really helps! Thank you so much

[2020-11-18 12:46] dglemos commented on #883
Hi again,
I had a look at your query and it's not an issue of missing data. These two contigs are not in the cache because they don't overlap any features (variants, transcripts, or regulatory features). The warning in the output is just a message that indicates there is no data for chrUn_KI270467v1 and chrUn_KI270746v1. The variants can be interpreted as intergenic.
We understand the message is n

[2020-11-18 12:47] dglemos commented on #884
I'm glad to know it helps! I'm going to close this ticket but feel free to open a new one if you have more questions.
Best wishes,
Diana

[2020-11-18 12:47] #884 closed

[2020-11-19 01:18] mikpom commented on #883
The situtation about the variants on those contigs is clear now.
Thanks Diana.

[2020-11-19 15:53] xiechao-lucence opened #888 "Variant Recoder fails on specific HGVSp"
## Describe the issue
Variant Recoder fails with certin HGVSp, for example: http://rest.ensembl.org/variant_recoder/human/ENSP00000380860.3:p.D1010H
It complains that that "Sequence translated from reference (G -> ) does not match input sequence (D)", even though D is the correct amino acid at position 1010.
The (G -> ) seems to be due to truncation at exon-exon boundary, and Variant Recoder faile

[2020-11-19 17:11] dglemos commented on #888
Hi @xiechao-lucence,
Thank you for reporting the issue. Unfortunately, variant recoder doesn't handle HGVS protein within two different exons. We are trying to find a solution to this problem but it's not a trivial fix. I'll let you know more once we know more.
Best wishes,
Diana

[2020-11-21 16:11] ea-ea commented on #441
Hi @ima23,

Thank you very much for your reply. We are going to try changing ALT value with`.`.

Meanwhile, I noticed that this error that we encountered is happening when we use candidateSV file outputted from MANTA-in which unscored SV and indel candidates present and no Format info exist, so that file is not recognized by VEP. Even though when we add format column with `./.`, it is not working.

[2020-11-21 18:57] jejacobs23 opened #889 "Failed to compile plugin dbNSFP"
Hello,

I am attempting to run VEP with the dbNSFP plugin and have run into some problems.  Any help would be greatly appreciated.

Additional information

Please fill in the following sections to help us find the source of your issue as quickly as possible.
System

    VEP version: 99
    VEP Cache version: 99
    Perl version: v5.15.3
    OS: CentOS 7.5.1804
    tabix installed ?: Yes

Full VEP

[2020-11-23 09:51] at7 commented on #889
Hi,
you also need to specify the plugins directory  with --dir_plugins and in your case it should be --dir_plugins  /home/users/jacojam/.vep/Plugins. The option is described in our [documentation](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#cacheopt).
Best wishes,
Anja

[2020-11-23 11:02] jejacobs23 commented on #889
Thank you so much for your response.  Unfortunately, the file, dbNSFP.pm, does not appear to exist anywhere in my system.  Was it supposed to be part of the process of unzipping "dbNSFP4.0a.zip" or is there a separate step that I missed where I was supposed to install dbNSFP.pm?
Thank you again for your help,
James.

[2020-11-23 12:01] at7 commented on #889
There is an option to choose which plugins you want to install during running the VEP installer script. You can still run the installer script and only choose to install plugins following the instructions from here: https://www.ensembl.org/info/docs/tools/vep/script/vep_plugins.html
Alternatively, you can also clone the VEP_plugins repository from github https://github.com/Ensembl/VEP_plugins and

[2020-11-25 15:32] seunghun23 opened #890 "Way to use older version of VEP"
Hi,

I am using "ensemblorg/ensembl-vep" docker to run VEP and recently updated my Terra method for VEP and Cache v101.
Then, to run some old VEP plug-in, I tried to run VEP with cache v85 (GRch37), but it seems that the VEP docker installs latest VEP and the older cache wasn't compatible. Is there an easy way to run older version of VEP using the same docker?
or should I build a new docker instal

[2020-11-25 16:38] madzayasodara opened #891 "Are vep variant categories redundant?"
I've annotated some vcfs and noticed some variants are annotated using overlapping/redundant categories, for example:
[code]
or
[code]

Is the same variant annotated multiple times?
If I count how many variants annotated `intron_variant `for  given gene, am I counting the total of intronic variants, or I should sum up the occurrence of anything annotated `intron_variant + intron_variant,non_coding

[2020-11-25 17:55] at7 commented on #890
Hi,
the current github VEP repository only goes back to release 87. If you would like to update the dockerfile to work with version 85 you need to use a different repository: https://github.com/Ensembl/ensembl-tools/tree/release/85/scripts/variant_effect_predictor
Best wishes,
Anja

[2020-11-25 18:00] at7 commented on #891
Hi,
could you please send me your VEP command? It is possible to choose options which allow you to summarise consequence annotations across all transcripts that overlap your variant. Taking a look at the command should hopefully help me to explain your results better.

Best wishes,
Anja

[2020-11-25 19:07] madzayasodara commented on #891
Hi this is the command I used

vep -i vcf --gff ZFgenomic_tabixprep_nomiRNA.gff.gz --fasta ZFgenomic.fa -o vep.gz --fork 4 --symbol --tab --compress_output gzip --force_overwrite

But I would prefer not to have to annotate it again, as it consumes a lot of time.
I comfortable with text processing.
No problem if the only way it's annotating again though.
thank you!

[2020-11-25 20:25] jejacobs23 commented on #889
Thank you.  That appears to have worked, but now I get the following error:

`WARNING: Failed to instantiate plugin dbNSFP: ERROR: Could not read headers from /home/exacloud/lustre1/jjacobs/programs/VEP/dbNSFP4.0a.gz`

[2020-11-26 09:51] at7 commented on #889
Hi James,
this error usually means that there is a problem with tabix.

Please could you check if tabix is working for the file by running:
tabix -fh dbNSFP4.0a.gz 1:1-1

Thank you,
Anja

[2020-11-26 10:06] at7 commented on #891
Thank you for providing the command. I just wanted to make sure that you are not using --summary which outputs only a comma-separated list of all observed consequences per variant.

It is possible that you get different consequence annotations for the same variant. The consequence is calculated per overlapping transcript and if a variant overlaps several transcripts you can end up with different c

[2020-11-26 16:12] rawi2 commented on #860
Hi Andrew and Helen,

Thank you very much for all your help, supplementary informations and patience.

After three successes on two Debian Buster and now on one Debian testing Bullseye I think we'll close successful this issue.

Lessons learned:
- the git cloned directory ensembl-vep and ensembl-vep/modules must be in $PERL5LIB
- different versions of Perl and may be linux packages could bringing

[2020-11-26 16:12] #860 closed

[2020-11-26 17:27] madzayasodara commented on #891
Hello Anja, thanks for the reply!
I manually filtered my annotations to only contain the longest transcript. So, yes I'm analyzing one transcript per gene.
In this case, would the same variant be annotated with different terms, for example intron_variant  and intron_variant,non_coding_transcript_variant? Or different intronic variants will have non-overlapping labels, specific to them?
Thanks agai

[2020-11-26 17:31] madzayasodara commented on #876
Hi Helen,
thank you for the clarifications. I coded a little something to filter the longest transcript.
I guess this is working so far.
It would be nice if VEP would have something built in to filter for that when using customized gff/gtf ;)
Thanks again,
-mdz

[2020-11-26 17:31] #876 closed

[2020-11-26 17:40] at7 commented on #891
I hope I understand you correctly but if you only annotate the longest transcript you should only get one annotation for your variant. The reason why you see for example intron_variant and intron_variant,non_coding_transcript_variant is that: if you only get intron_variant it means the the variant overlaps the intron region of a protein coding transcript. If you see intron_variant,non_coding_trans

[2020-11-26 21:29] jejacobs23 commented on #889
Looks like your were correct.  When I run that command, I get the following error:

[code]

[2020-11-27 10:22] at7 commented on #889
I'm not familiar with the error. How did you install VEP? Have you installed tabix separately?

[2020-11-27 17:20] jejacobs23 commented on #889
I installed VEP via the instructions at: https://uswest.ensembl.org/info/docs/tools/vep/script/vep_download.html

tabix was installed as part of the htslib package that is part of Samtools.

[2020-11-27 17:33] at7 commented on #889
Do you remember if you installed htslib as part of the VEP installation process? If you have installed htslib as part of samtools and also installed it as part of the VEP installation, I wonder if this is causing the problem. It is possible to install VEP without installing htslib with the --NO_HTSLIB option when running the VEP installer and something I would recommend if you have installed samto

[2020-11-27 20:45] jejacobs23 commented on #889
I used the "--NO_HTSLIB" option

[2020-11-29 06:07] jejacobs23 commented on #889
I went ahead and re-installed htslib (the newest version) and got the following warning during the configure step:

`configure: WARNING: libcurl not enabled: library not found
`
Could this be the problem?

[2020-11-30 13:13] at7 commented on #889
It looks like as if this could be the problem but I don't know how to fix it and I would recommend that you ask for help on the samtools issue tracker.

[2020-11-30 13:36] at7 commented on #674
Hi,
contrary to my last message we haven't been able to implement the request for downloading cache files from http with the VEP installer. However, we have added your request to our feature request list. I cannot give you an estimate for when the functionality will be added. But we will be highlighting any new developments when we tag a new release [here](https://github.com/Ensembl/ensembl-vep/ta

[2020-11-30 13:36] #674 closed

[2020-11-30 17:24] ima23 commented on #792
Hi @dosshra,

The next release is out. I will close this ticket now. Please feel free to open it if you have other related questions.

Kind regards,
Irina

[2020-11-30 17:24] #792 closed

[2020-12-01 00:11] jejacobs23 commented on #889
I went ahead and installed the most recent version of htslib (version 1.11).  This overwrote the previous binaries (including tabix) with the newer version.  Now VEP appears to be working correctly with the plugin.

[2020-12-01 10:01] at7 commented on #889
Thank you for letting me know. That's good news. I will close the issue but please reopen it for any related questions.

Best wishes,
Anja

[2020-12-01 10:01] #889 closed

[2020-12-01 13:14] dglemos commented on #690
The new Ensembl release is out. For this release, we added the option `soft_filter` to filter_vep that doesn't exclude the failing variants from the output. Instead, it adds a flag to the FILTER value in the VCF.
I'm going to close this issue now but if you have related questions feel free to reopen it.
Best wishes,
Diana

[2020-12-01 13:14] #690 closed

[2020-12-02 06:41] segoerge commented on #847
Hi,

is this fixed in release 102 ? Could't find anything about this in the change log.

Best wishes,
Sebastian

[2020-12-02 08:54] at7 commented on #847
Hello,
yes the missing RefSeq transcripts have been added back into the 102 cache files. I will close this issue but please reopen it if there are any related questions.

Best wishes,
Anja

[2020-12-02 12:07] Stikus opened #892 "VEP 102 cache is older then 101"
Hello, VEP team.
As we can see on FTP:

ftp://ftp.ensembl.org/pub/release-101/variation/indexed_vep_cache/
homo_sapiens_vep_101_GRCh37.tar.gz | 13.1 GB | 09.09.2020, 13:56:00
-- | -- | --
homo_sapiens_vep_101_GRCh38.tar.gz | 14.3 GB | 09.09.2020, 13:55:00

ftp://ftp.ensembl.org/pub/release-102/variation/indexed_vep_cache/
homo_sapiens_vep_102_GRCh37.tar.gz | 13.1 GB | 03.09.2020, 22:53:00
-- | --

[2020-12-02 12:50] aparton commented on #892
Hi @Stikus,

Thanks for getting in touch. Yes, this is correct - we had an issue with missing RefSeq transcripts in 101 that we had to fix after release, so the 101 date is later than expected.

If you have any further questions, please don't hesitate to ask.

Kind Regards,
Andrew

[2020-12-02 13:03] Stikus commented on #892
Thank you for info, no more questions. Closing.

[2020-12-02 13:03] #892 closed

[2020-12-02 19:51] fescudie opened #893 "Cache problem for annotations on insertions"
## Describe the issue
Hi,

I worked with VEP release 94 and Human GRCh38 RefSeq cache and recently installed the release 101. When I compare results, insertions have missing annotations values: `existing variant` for dbSNP and populations AF (`gnomAD_AF`, ...). The concerned variants are known in dbSNP and gnomAD and the results are correct in VEP 94 and with online VEP.

As example, with VEP 94 t

[2020-12-02 23:13] anderspitman opened #894 "Merged cache vs normal+refseq caches"
Hi there. Thanks for your work on VEP.

For our real-time annotation tool, [iobio](https://iobio.io/) has used VEP for quite a while. For performance reasons we exclusively use a local cache. Up until this point, we've defaulted to the normal cache, and switch to the refseq cache for specific queries when needed.

I'm working on reducing the size of the data directory required for running the iobi

[2020-12-03 10:39] helensch commented on #876
Hi @madzayasodara

Thank you for the update.

The --flag_pick option can be used to flag one line or block of consequence data per variant,
including transcript-specific columns.

The criteria used include: translated, transcript or feature length (longer preferred)

The VEP results can then filtered with filter_vep.

These options can be used with gff files e.g.

[code]

The --pick option can be

[2020-12-03 22:35] anderspitman opened #895 "Is the indexed cache the same thing as running convert_cache.pl?"
Basically what the title says. If I download `ftp://ftp.ensembl.org/pub/release-102/variation/indexed_vep_cache/`, would that be the same as downloading `ftp://ftp.ensembl.org/pub/release-102/variation/vep/` and running `convert_cache.pl` on it?

[2020-12-04 12:19] worker000000 opened #896 "Use of uninitialized value in numeric lt (<) at"
linux ; docker vep; vep cache version 99

docker run  --rm --user  `id -u`:`id -g` -v /:/data ensemblorg/ensembl-vep vep  --input_file /data//data/neo/test/test_vep/vcf_merge/phased.vcf.gz  --output_file /data/test.vep.vcf  --dir_cache /data//database/vep_data_release_99/  --dir_plugins /data//database/vep_data_release_99/VEP_plugins-release-99 --symbol  --fasta /data/database/genomeV37/BWAIndex/h

[2020-12-04 12:26] dglemos commented on #895
Hello,
The pre-indexed caches should be the same as downloading the cache and running the script `convert_cache.pl`.
Diana

[2020-12-04 13:04] dglemos commented on #896
Hi,

1) The message `INFO: BAM-edited cache detected...` is not a warning. By default, VEP uses the reference allele provided in the input file to calculate consequences for the provided alternate allele(s). Using RefSeq cache enables `--use_transcript_ref` which forces VEP to replace the provided reference allele with sequence derived from the overlapped transcript. But you can choose to override

[2020-12-04 16:28] helensch commented on #893
Hi

Thank you for providing example data and the commands used to describe the issue you are having.
This has helped looking into this issue.

For e101 I have run the example variant provided with the e101 VEP indexed cache downloaded
from
`ftp://ftp.ensembl.org/pub/release-101/variation/indexed_vep_cache/homo_sapiens_refseq_vep_101_GRCh38.tar.gz`

I am able to extract frequency data for 1000 Geno

[2020-12-04 21:33] helensch commented on #894
Hi

Thank you for your query.

Usually it is fine to use a merged cache as you have been testing.

However we are investigating a bug that affects the merge option in some cases.
This will be fixed as soon as possible for e102.

Therefore for e102 I would recommend to continue using separate e102 Ensembl and e102 RefSeq caches.

As noted there is a known bug for e101 (http://www.ensembl.info/known

[2020-12-04 22:29] anderspitman commented on #895
Excellent, thanks!

[2020-12-04 22:29] #895 closed

[2020-12-05 04:22] 2236529177 commented on #896
after many tests of combinations with different arguments
I found it maybe caused by the arguments --hgvs --hgvsg. because after deleting it, the errors disappears. why this happens.

how can I send my vcf to you

thanks a lot

[2020-12-05 16:11] fescudie commented on #893
Hi,

Indeed, the indexed cache does not have this bug.

Thank you for your help.

[2020-12-05 16:11] #893 closed

[2020-12-07 17:02] ima23 commented on #838
Hi @Dwooi7417,

our documentation of the [--fields](https://www.ensembl.org/info/docs/tools/vep/script/vep_options.html#opt_fields) option has been updated with the release of e102 last week.
I will close this ticket now. If you have any related questions feel free to reopen it.

Kind regards,
Irina

[2020-12-07 17:02] #838 closed

[2020-12-07 22:56] anderspitman commented on #894
Thanks @helensch. So if I understand correctly, there are 2 separate bugs at play here: one affects RefSeq for all caches on version e101, and the other affects RefSeq only for the merged cache?

So would your recommendation be to use e100 until e103 is released, regardless of whether we're using the merged cache or not?

[2020-12-09 13:46] KevinMer opened #898 "HGNC_ID column is empty using symbol"
## Describe the issue
Hi,

I have a problem with the symbol option. SYMBOL and SYMBOL_SOURCE contain informations but not the HGNC_ID which is empty.

Thanks a lot.

## Additional information
Please fill in the following sections to help us find the source of your issue as quickly as possible.

### System
- VEP version: [102]
- VEP Cache version: [102]
- Perl version: [5.26.1]
- OS: [Ubuntu]
- tab

[2020-12-09 15:15] helensch commented on #894
Hi

We recommend that you use the VEP Cache version which corresponds to your Ensembl VEP installation,
i.e. the VEP Cache version 102 should be used with the Ensembl VEP tool version 102.

https://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html

For e102 I would recommend using the caches for e102. The Ensembl cache for e102 is complete.
The RefSeq cache for e102 has some missing data t

[2020-12-09 16:11] 2236529177 commented on #896
any response?
thanks a lot

[2020-12-09 17:44] dglemos commented on #896
I'm looking into the issue now. In the meantime, you can send your input file to this address helpdesk [at] ensembl.org and refer to vep issue 896.

[2020-12-09 18:28] dglemos commented on #898
Hi @KevinMer,
The HGNC id is only returned when it's available. Can you send an example of an input variant for which you expect an HGNC?

[2020-12-09 19:51] dglemos commented on #896
I found it maybe caused by the arguments --hgvs --hgvsg. because after deleting it, the errors disappears. why this happens.

Can you tell which errors you mean? Are they the message `Use of uninitialized value in numeric lt (<) at (...)`?

[2020-12-09 20:45] heuermh opened #899 "vcf_info_field ANN output does not adhere to VCF ANN Specification"
Hello,

Is it the intention of `--vcf_info_field ANN` to adhere to the VCF ANN specification?  While some fields do match, there are several that do not, and more troublesome for consumers some that do match are formatted differently (e.g. cDNA position should be `start(optionally /length)` and instead appears to be `start-end`).

http://grch37.ensembl.org/info/docs/tools/vep/script/vep_options.ht

[2020-12-10 01:03] 2236529177 commented on #896
thanks a lot
_errors emphasised in bold_

' **ERROR: There was a mismatch between the actual wildtype amino acid sequence (L) and the expected amino acid sequence (V). Did you use the same reference build version for VEP that you used for creating the VCF?**
OrderedDict([('chromosome_name', '2'), ('start', '38298202'), ('stop', '38298203'), ('reference', 'C'), ('variant', 'G'), ('gene_name', 'CYP1

[2020-12-10 07:10] KevinMer commented on #898
Hi @dglemos,

thanks for your reply.

Here is an example of an input variant :

chr1	924533	.	A	G	1371.06	PASS	.	GT:AD:DP:GQ:PL	1/1:0,44:44:99:1385,131,0

For this one I get the following result :

chr1_924533_A/G | chr1:924533 | G | 148398 | NM_152486.4 | Transcript | upstream_gene_variant | - | - | - | - | - | rs112703963 | 1 | A | MODIFIER | 1198 | 1 | - | SNV | 1 | SAMD11 | EntrezGene
-- | --

[2020-12-10 12:03] dglemos commented on #896
The error is thrown by a tool that we don't support. If you have specific questions about that tool I recommend you to ask the team responsible for pvactools. But I can see that you are using the RefSeq cache. When using this cache for the variant `2 38298202 C/G` the amino acid change is NP_000095.2:p.**Leu**432Pro, however if you use the Ensembl cache the change is `ENSP00000260630.3:p.**Val**43

[2020-12-10 12:16] dglemos commented on #898
Thank you for sending a detailed example. It's very helpful to understand the issue.
Unfortunately, I can't reproduce the issue. For chr1_924533_A/G I get `HGNC:28706`.
Could you please run VEP with the minimal options? Something like this:
`./vep -i /home/OutputFiles/VCF_PASS/193156_pass.vcf.gz --format vcf --species homo_sapiens --output_file /home/OutputFiles/VEPoutput/test.txt --dir_cache /hom

[2020-12-10 13:33] aparton commented on #899
Hi @heuermh,

By default, VEP uses the `CSQ` key in the INFO field to write consequence and other annotation data. Due to consumers having issues with some downstream tools requiring INFO fields with a specific key, we introduced the `--vcf_info_field` flag to allow users to change this key for ease of integration with these downstream tools.

Setting this value to ANN does not change the formatti

[2020-12-10 13:57] 2236529177 commented on #896
thanks  a lot
yes, this tool need vep annotate first, I used vep annotation, there is no error,
but when pass vep annotation result to the tools, it gives such errors

I used all the files from ensemble, but I used human_g1k_v37.fasta as reference to call variant by varscan

here is my command  of vep
`
docker run  --rm --user  `id -u`:`id -g` -v /:/data ensemblorg/ensembl-vep vep  --input_file /d

[2020-12-10 14:24] KevinMer commented on #898
I ran VEP with the minimal options (adding symbol) as you asked for and I can see the HGNC_ID in the results for all the variants.

Should I add options one by one until the HGNC_ID disappear ?

[2020-12-10 14:26] dglemos commented on #898
Yes, can you start testing the flags `--shift_hgvs`, `--hgvsg` and `--hgvs`?

[2020-12-10 14:29] 2236529177 commented on #896
when I want to use vep Homo_sapiens.GRCh37.dna.primary_assembly.fa. it has 2 errors
1 the order of the chromosome is not right, so I rewrite the genome by command
`perl -e 'use File::Temp qw/tempdir/; use IO::File; $d=tempdir; $fh; map{if(m/^\>(\S+)\s/){$fh=IO::File->new(">$d/$1.fa");} print $fh $_;}`cat Homo_sapiens.GRCh37.dna.primary_assembly.fa`; foreach $c(1..22,X,Y,MT){print `cat $d/$c.fa`};

[2020-12-10 14:32] aparton commented on #878
Hi,

We've been able to identify the problem and a fix will be in place for Ensembl 103, currently scheduled for release at the end of January.

Kind Regards,
Andrew

[2020-12-10 14:40] KevinMer commented on #898
HGND_ID still present. What other flags you want me to add ?

[2020-12-10 14:51] dglemos commented on #898
I can reproduce the issue when using the `--refseq`. Can you test VEP with that flag?

[2020-12-10 15:03] dglemos commented on #896
I didn't see any email with your input file. Can you send it again to his email helpdesk [at] ensembl.org and refer to vep issue 896?

[2020-12-10 15:10] KevinMer commented on #898
I confirm, HGND_ID has disappeared with the refseq flag. Is it a bug ?

[2020-12-10 16:21] 2236529177 commented on #896
thanks a lot
I have sent it yo you now by a gmail
![image](https://user-images.githubusercontent.com/25199946/101799163-cabc0000-3b46-11eb-92ad-6634e146bb34.png)

[2020-12-10 17:05] dglemos commented on #896
In your email, you forgot to annex the VEP input vcf (phased.vcf.gz). You only sent a file with the commands you run.
I can see from your commands that you ran several tools we don't support (ex: pvactools and GATK4). If your errors are generated by tools other than VEP, then you should ask for help directly from the teams responsible for those tools.

[2020-12-10 17:17] dglemos commented on #898
It's not a bug, for the RefSeq data we get the gene symbols from EntrezGene. Unfortunately, we don't store the corresponding HGNC IDs in the RefSeq geneset at the moment. But you can get these IDs using the merged cache. This is the output I get using `--merged`:
`1_924533_A/G    1:924533        G       148398  NM_152486.4     Transcript      upstream_gene_variant   -       -       -       -

[2020-12-11 01:13] 2236529177 commented on #896
thanks a lot
could you refresh, I have send that file, here is the screeshoot
![image](https://user-images.githubusercontent.com/25199946/101848674-0aa7d500-3b91-11eb-8cd3-dad92cd6669c.png)

[2020-12-11 08:04] 2236529177 commented on #896
Here I want to give a extremely important issue.
This time I used the vep Homo_sapiens.GRCh37.dna.primary_assembly.reordered.fa(the downloaded chromosome order is not right, so I reorder it) to use as reference to call variant by varscan, and I use the vep to annotate with the same release, but it really surprised me, the same error haeppens, I really can not understand this. because I think vep t

[2020-12-11 08:05] KevinMer commented on #898
Fine, I will use the merged flag.

Do you envisage to store HGNC IDs in the geneset Refseq in future release ?

Thanks a lot for your help @dglemos ! Thanks to you I can now use the HGNC ID.

Have a nice day !

[2020-12-11 11:11] dglemos commented on #896
I can see the files now.
- Could you please run your VEP command again but this time using the flag `--use_given_ref` to allow VEP to use the provided reference allele from your input file?
- After that try to run pvactools, this time with the new output from VEP.

[2020-12-11 11:18] dglemos commented on #898
At the moment we don't have plans to include the HGNC IDs in the RefSeq cache as it depends on data from other teams.
I'm glad the solution works for you. I'm going to close this ticket now but feel free to reopen it if you have more questions.
Best wishes,
Diana

[2020-12-11 11:18] #898 closed

[2020-12-11 11:21] 2236529177 commented on #896
docker run --rm --user `id -u`:`id -g` -v /:/data ensemblorg/ensembl-vep vep --input_file /data//data/neo/test/test_vep/vcf_merge/new_genome_vcf/KR618V200516FFPE/varscan/new_genome/KR618V200516FFPE_phased.vcf.gz  --output_file /data//data/neo/test/test_vep/vcf_merge/new_genome_vcf/KR618V200516FFPE/varscan/new_genome/KR618V200516FFPE.vep.vcf --dir_cache /data/database/vep_data_release_99/  --dir_pl

[2020-12-11 12:14] dglemos commented on #896
I'm sorry I didn't notice you were already using the flag. Can you send your VEP output file?

[2020-12-11 12:15] 2236529177 commented on #896
I have sent a new email to you, it contains more detailed information of the error.

the theme of the email is   **vep issue 896, thanks ma lot**

[2020-12-11 12:18] 2236529177 commented on #896
![image](https://user-images.githubusercontent.com/25199946/101902682-02ca4e00-3bee-11eb-91cc-b80f86c088d5.png)

[2020-12-11 12:29] dglemos commented on #896
I can see you are using the flag `--use_given_ref`.
It would be helpful to see what is in your VEP output. Can you just send your VEP output file that contains the variant `2 38298203 C/G`?

[2020-12-11 12:33] 2236529177 commented on #896
thanks  a lot
<br>
2	38298203	.	C	G	.	PASS	ADP=1477;HET=0;HOM=1;NC=0;WT=0;CSQ=G|missense_variant|MODERATE|CYP1B1|1545|Transcript|NM_000104.3|protein_coding|3/3||||1697|1294|432|V/L|Gtg/Ctg|||-1||SNV|EntrezGene|||||||MGTSLSPNDPWPLNPLSIQQTTLLLLLSVLATVHVGQRLLRQRRRQLRSAPPGPFAWPLIGNAAAVGQAAHLSFARLARRYGDVFQIRLGSCPIVVLNGERAIHQALVQQGSAFADRPAFASFRVVSGGRSMAFGHYSEHWKVQRRAAHSMMRNFFTRQPRSRQVLEGHVLSEARELVALLVRG

[2020-12-11 12:56] dglemos commented on #896
I'm not familiar with the Wildtype plugin but it seems to have an `L` in position 432 of the protein. Using the flag `--use_given_ref` VEP predicts a `V` in that position. Can you try running VEP again without `--use_given_ref` and see if pvactools still throws the error?

[2020-12-11 15:21] olszewskip opened #902 "dbNSFP, length of MutationTaster_pred collection"
## Describe the issue
The lengths of collections that are annotated by dbNSFP plugin to a single "vep-feature" are not equal. Specifically the collection requested by "MutationTaster_pred " flag is of different length than the collection requested by "Ensembl_transcriptid" (there is no analogous problem for other "*_pred" flags, e.g. "SIFT_pred")

## Additional information
Vep outputs annotations

[2020-12-11 16:00] 2236529177 commented on #896
thanks a lot
can you have a look at this issue https://github.com/griffithlab/pVACtools/issues/611
it talks about the issuse confusions in vep. here is some screen shot.
so the main question is for grch37, which release of vep cache and dna should I use
![image](https://user-images.githubusercontent.com/25199946/101925471-dd007180-3c0c-11eb-9170-885754909052.png)

[2020-12-14 13:05] helensch commented on #720
Hi

I am going to close this issue now. If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2020-12-14 13:05] #720 closed

[2020-12-14 13:47] helensch commented on #800
Hi

I'm going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards
Helen

[2020-12-14 13:47] #800 closed

[2020-12-14 13:49] #801 closed

[2020-12-14 13:51] helensch commented on #816
Hi

I'm going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards,
Helen

[2020-12-14 13:51] #816 closed

[2020-12-14 13:54] helensch commented on #864
Hi

I'm going to close this issue now.

If you have any further questions, please feel free to reopen it or create a new issue.

Regards,
Helen

[2020-12-14 13:54] #864 closed

[2020-12-14 16:53] dglemos commented on #902
Hi @olszewskip,
For specific questions about the output scores, I advise you to ask the authors of Mutation Taster. They will explain more accurately the meaning of each output value and why do some variants have more than one prediction/model.
But looking at your example, MutationTaster seems to have a prediction value for each model. This particular variant only has one model `MutationTaster_mod

[2020-12-14 21:16] olszewskip commented on #902
Thanks so much for answering @dglemos!
I would hate to stretch Your patience, but I don't fully follow Your answer, I'm embarrassed to admit. Was my assumption - that predictions from MutationTaster should be in one-to-one correspondence with Ensembl-transcript-ids annotated by dbNSFP - wrong? Does it mean that even if the number of those predictions and of the transcripts do happen to much, I sho

[2020-12-15 23:59] Martaprf opened #903 "Problems with cache files"
I am installing the vep and I can not install cache files, I get the followed message:
Do you want to install any cache files (y/n)? y
 - getting list of available cache files
ERROR: Could not connect to FTP host ftp.ensembl.org
Connection timed out

Someone can help solving this issue.

Tanks

[2020-12-16 06:13] ertanyilmaz38 commented on #903
I have the same problem

[2020-12-16 06:25] ertanyilmaz38 opened #904 "Is this a mistake?"
I am runned command is:
`perl INSTALL.pl`

`
- making Bio::DB:HTS
Created MYMETA.yml and MYMETA.json
Creating new 'Build' script for 'Bio-DB-HTS' version '2.11'
Building Bio-DB-HTS
x86_64-linux-gnu-gcc -I/home/detagen/Desktop/ensembl-vep/htslib -I/usr/lib/x86_64-linux-gnu/perl/5.26/CORE -DVERSION="2.11" -DXS_VERSION="2.11" -fPIC -D_IOLIB=2 -D_FILE_OFFSET_BITS=64 -Wno-error -Wno-unused-result -c -D

[2020-12-16 08:59] ima23 commented on #903
Hi @Martaprf , @ertanyilmaz38 ,

Yesterday there was an issue with ensembl.org which likely affected ftp.ensembl.org too. Could you try again please and let me know if it's still an error? ftp.ensembl.org should work now.

Thank you,
Irina

[2020-12-16 09:07] ima23 commented on #904
Hi @ertanyilmaz38,

Can you expand on your question please.
If you want to install VEP then yes, `perl INSTALL.pl` is the way forward. If you are asking about the warnings, they are warnings and not errors and will not interfere with VEP running.

Kind regards,
Irina

[2020-12-16 09:10] ertanyilmaz38 commented on #903
I am trying again but get same error

`The VEP can either connect to remote or local databases, or use local cache files.
Using local cache files is the fastest and most efficient way to run the VEP
Cache files will be stored in /home/detagen/.vep
Do you want to install any cache files (y/n)? y
 - getting list of available cache files
ERROR: Could not connect to FTP host ftp.ensembl.org
Connection

[2020-12-16 09:14] ima23 commented on #903
Hi @ertanyilmaz38 ,

Are you looking for a specific cache? Can you please try the direct link to a cache and let me know what message you get?
http://www.ensembl.org/info/docs/tools/vep/script/vep_cache.html#cache
For human e102 GRCh38 would be: `curl -O ftp://ftp.ensembl.org/pub/release-102/variation/indexed_vep_cache/homo_sapiens_vep_102_GRCh38.tar.gz`.

Thanks,
Irina

[2020-12-16 09:19] ertanyilmaz38 commented on #903
my using ensembl vep version is : 102
ı runned command: ./vep
ı getting output is:
#----------------------------------#
# ENSEMBL VARIANT EFFECT PREDICTOR #
#----------------------------------#

Versions:
  ensembl              : 102.347f9ed
  ensembl-funcgen      : 102.6bd93a0
  ensembl-io           : 102.ff1cf96
  ensembl-variation    : 102.2716d2e
  ensembl-vep          : 102.0

Help: dev@ensem

[2020-12-16 09:19] Martaprf commented on #903
I try again install da catch file and I get the same error:
The VEP can either connect to remote or local databases, or use local cache files.
Using local cache files is the fastest and most efficient way to run the VEP
Cache files will be stored in /home/mferreira/.vep
Do you want to install any cache files (y/n)? y
 - getting list of available cache files
ERROR: Could not connect to FTP host ftp

[2020-12-16 09:30] ima23 commented on #903
Thanks @ertanyilmaz38,  @Martaprf, for checking. What environment are you running this in? I wonder if this is a firewall issue setup that prevents the connection to be established.

[2020-12-16 09:35] Martaprf commented on #903
I am using a ubuntu server of my institution, maybe they block this.

[2020-12-16 09:40] ertanyilmaz38 commented on #903
i am using a ubuntu (18.04.5 LTS) and my institution using a firewall but i am configured firewall not blocking this ftp link. i trying access link with google chrome web browser and this succesfull but not accesing with bash (perl INSTALL.pl).

[2020-12-16 09:44] ertanyilmaz38 commented on #904
I am runned perl INSTALL.pl command and get this output
[vep-log.txt](https://github.com/Ensembl/ensembl-vep/files/5701711/vep-log.txt)

[2020-12-16 10:28] Martaprf commented on #903
Hi,
I spoke with the people that administrate the server and they tell that it is because our firewall doesn´t allow FTP servers only HTTP, there are some manner to access by HTTP?

Thanks

[2020-12-16 10:30] ima23 commented on #903
Thanks for checking @Martaprf, @ertanyilmaz38 , as it is an institution server I would suggest you contact the systems administrators as it looks like the connection is not allowed via scripts or curl. They will be able to confirm this and let you know if such connections will be allowed in the future.

It's good news that the cache is available via google chrome browser. Can you download it manua

[2020-12-16 10:37] ertanyilmaz38 commented on #903
I can download it with the browser, but why can't I access a link that I can access with the browser with the curl command, if the firewall is blocking it, it should block all of them.

[2020-12-16 11:25] dglemos commented on #902
SIFT has multiple scores corresponding to the different Ensembl transcript ids and amino acid positions, so it makes more sense to assume there's a one-to-one correspondence with the transcript IDs. However, Mutation Taster is different and we can't make the same assumption. [Here](http://www.mutationtaster.org/info/documentation.html) is the Mutation Taster documentation where it's explained the

[2020-12-16 17:08] dglemos commented on #896
We advise updating your VEP version to the latest version 102.
As for the fast file, you could use [Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz](http://ftp.ensembl.org/pub/release-102/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz)  to align your reads and run VEP using the Ensembl transcript set instead of RefSeq.
Here you can find the latest VEP caches: http://ftp.ensem

[2020-12-17 07:52] worker000000 commented on #896
thanks a lot.

here geneset refer to what

<br>
ftp://ftp.ensembl.org/pub/grch37/release-99/variation/vep/homo_sapiens_refseq_vep_99_GRCh37.tar.gz
ftp://ftp.ensembl.org/pub/grch37/release-99/fasta/homo_sapiens/dna/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz
<br>
ftp://ftp.ensembl.org/pub/grch37/release-99/variation/vep/homo_sapiens_vep_99_GRCh37.tar.gz  refer ro

bur what regulation refer to

[2020-12-17 09:08] ima23 commented on #903
@ertanyilmaz38 , different security permissions can be set for different tools/access points. It is a lot more dangerous to allow tools to fetch files without control than allowing users to access files via browser.

[2020-12-17 09:14] ertanyilmaz38 commented on #903
I am understand. thank you your solvation

[2020-12-17 09:18] ima23 commented on #904
Thanks for the log file @ertanyilmaz38. The most important line is the `Result: PASS` which means the needed libraries were installed and test run has passed.

The messages of `Possible precedence issue with control flow operator at /usr/share/perl5/Bio/DB/IndexedBase.pm` are relating to having the default BioPerl in your path and not the one installed during installation, see line `Do you want to

[2020-12-17 09:35] sagitaninta opened #905 "REVEL plugin is not outputting numeric score"
I am trying to call REVEL score for "bos_taurus" with a bed input from coding sequence like this.

[code]

vep runs perfectly and the output got out nicely. What I don't understand is why the field for REVEL score is filled with capital letters instead of numeric scores? It is neither the ref or alt amino acid symbol:

[code]

I have downloaded the REVEL score and treated it as mentioned [in the d

[2020-12-17 14:57] janrehker commented on #878
Hi Andrew,

That is nice to hear! Will check back then.

Happy Holidays!
Jan

[2020-12-17 15:15] dglemos commented on #833
We have updated the VEP cache RefSeq info, it now lists `2019-10-24 23:10:14 - GCF_000001405.25_GRCh37.p13_genomic.gff` instead of `01_2015`. The date `2019-10-24` indicates when the RefSeq file was imported into Ensembl.
I'm going to close the ticket but if you have more questions feel free to reopen it.
Best wishes,
Diana

[2020-12-17 15:15] #833 closed

[2020-12-17 15:19] dglemos commented on #882
I'm going to close this issue but if you have more questions feel free to reopen it.
Best wishes,
Diana

[2020-12-17 15:22] dglemos commented on #883
Good to know it helped. I'm going to close this issue but feel free to create a new issue if you have more questions.
Best wishes,
Diana

[2020-12-17 15:40] mikpom commented on #883
Your reply did clarify the situation, however it is not obvious that the issue is closed. Would it be better to still put such variants in output without gene features making their intergenic state explicit?

[2020-12-17 17:21] ChrisMoth commented on #882
Thanks for trying to replicate this.  I still get this loud warning, and will try to dig deeper in the new year.
________________________________
From: Diana Lemos <notifications@github.com>
Sent: Thursday, December 17, 2020 9:19 AM
To: Ensembl/ensembl-vep <ensembl-vep@noreply.github.com>
Cc: Moth, Christopher W <chris.moth@vanderbilt.edu>; Mention <mention@noreply.github.com>
Subject: Re: [Ensemb

[2020-12-17 20:55] ima23 commented on #905
Hi @sagitaninta,

REVEL data is provided only for homo sapiens GRCh38 or GRCh37 assemblies. I can only assume that in this context coordinates from `bos taurus` are matched by chance to human genomic coordinates and data retrieved. In any case this will not lead to meaningful data. We will improve our documentation in the plugin to highlight it is available only for homo sapiens.

Kind regards,
Ir

[2020-12-18 09:37] sagitaninta commented on #905
Thanks for the clarification! So I suppose none of the plugins are available for non-human species?

[2020-12-18 09:56] iab-bioinformatics opened #906 "Vep returns a tsv file with just a header"
## Describe the issue
Running the command given below I see a tsv file with just a header and html file with 0 variants processed (the output is attached).
## Additional information
* vcf contains 59 CNVs
* vcf file was generated by Illumina TSO500 app
* vcf is readable by bcftools
* vcf contains header with ##fileformat=VCFv4.1

### System
- VEP version: 100.4
- VEP Cache version: 100
- Perl vers

[2020-12-18 10:12] ima23 commented on #905
There are plugins available for non-human species, this information is either in the plugin documentation or at the external source of the data that are being used.

For example the REVEL plugin uses the scores provided by https://sites.google.com/site/revelgenomics/downloads and they only provide scores for GRCh38 and GRCh37 which are human assemblies.

One example of plugin that is available for

[2020-12-18 12:36] dglemos commented on #883
We will improve the output at some point in the future. Either VEP writes a warning saying these contigs don't have any data or the variants will have the intergenic consequence. I'll keep the ticket open until we know what's the plan. Sorry for closing it so soon.
Best wishes,
Diana

[2020-12-18 15:57] dglemos commented on #896
The transcript annotations.

Regulatory features are also included in the cache. The cache contains all transcript models, regulatory features and variant data for a species. Here you can see which data is stored in the cache files: https://m.ensembl.org/info/docs/tools/vep/script/vep_cache.html

[2020-12-18 17:29] ima23 commented on #906
Hi @iab-bioinformatics,

Thank you for the description and examples, we are looking into it and will get back to you as soon as possible.

Kind regards,
Irina

[2020-12-19 15:11] worker000000 commented on #896
thanks a lot.
I am still confused. I mean I can download
homo_sapiens_vep_99_GRCh37.tar.gz
homo_sapiens_refseq_vep_99_GRCh37.tar.gz
homo_sapiens_merged_vep_99_GRCh37.tar.gz
all this labeled version 99

1  and you said transcript annotations  stopped updating the geneset on GRCh37 at release 75, so you mean from 75 to 102 , it is the same of this?
2  and does  transcript annotations mean the file h

[2020-12-21 21:58] aparton commented on #906
Hi @iab-bioinformatics,

Thank you for your query. VEP does not support deletions in VCF format with a `.` as the alternate allele. According to the VCFv4.1 specification, alternate alleles are required to be A,C,G,T or N - https://samtools.github.io/hts-specs/VCFv4.1.pdf

So for example, the first variant in your file:
`'1    40356095        .       C       . `
will work if it is rewritten as:
`'

[2020-12-22 06:07] davmlaw commented on #894
FYI @anderspitman  - you may want to know about issue #790 - if you use the "--pick" option - there's no way to get a separate  Ensembl or RefSeq pick at the moment

[2020-12-23 10:57] iab-bioinformatics commented on #906
Thanks! It worked.

[2020-12-23 10:57] #906 closed